@import '../note-status.scss';

.scope-notes-container{
  padding: 1rem;
  background: $gray-bg;
  min-height: 25vh;
  h2.scope-notes-header{
    text-transform: uppercase;
    font-size: .85rem;
    .scope-notes-name{
      text-transform: capitalize;
      font-size: .75rem;
      color: $font-gray-dark;
    }
  }

  .scope-notes-main{
    margin: .75rem 0 1rem;
    .scope-notes-row{
      .scope-notes-cell{
        padding: .5rem .4rem;

        p.note-date{
          font-size: .7rem;
        }

        .note-desc-box{
          .note-desc-row{
            padding: .1rem 0;
            .note-desc-text{
              font-size: .7rem;
            }
          }
        }
      }
    }
  }
  .scope-note-show-btn{
    text-decoration: underline;
    font-size: .75rem;
    text-align: right;
    color: $font-gray-dark;
    margin-top: 1.5rem;
  }

  @media (max-width: 768px) {
    margin-top: 2rem;
  }
}
