<section class="scope-notes-container">
  <h2 class="scope-notes-header">Tablón <span class="scope-notes-name" [innerHtml]="getBoardTitle()"></span></h2>

    <section class="scope-notes-main">
      <article *ngFor="let note of getNotes()"
               class="scope-notes-row"
               [ngClass]="{'is-note-task': isNoteTypeCommunication(note)}">

      <section class="scope-notes-cell"
               [ngClass]="getNoteStatusStyle(note)">
        <h6 class="note-title"
            [innerHtml]="note.title"></h6>

        <p class="note-date"
           [innerHtml]="getNoteDate(note.end_date)"
           [ngClass]="getNoteDateStyle(note.end_date)"></p>

        <div class="note-desc-box text-overflow">
          <section class="note-desc-row row no-gutters align-items-center"
                   *ngFor="let noteTeam of note.teams">
            <aside class="note-desc-status col-auto"
                   [style.background]="getNoteTeamColor(noteTeam)"></aside>
            <span class="note-desc-text col text-overflow"
                  [innerHtml]="noteTeam.name"></span>
          </section>
        </div>
      </section>

        <aside *ngIf="isNoteTypeCommunication(note)"
               class="scope-note-flag">
          <i class="fa fa-flag-o"></i>
        </aside>
      </article>
    </section>

    <section  *ngIf="!hasNotes()">
      <aside class="scope-note-empty">
        <ng-container *ngIf="isLoading(); else emptyNoteBoard">
          Cargando datos <i class="fa fa-right text-muted fa-spinner fa-pulse fa-fw text-center"></i>
        </ng-container>
        <ng-template #emptyNoteBoard>
          No hay mensajes a mostrar
        </ng-template>
      </aside>
    </section>

    <aside *ngIf="hasTeams()"
           class="scope-note-show-btn cursor-pointer hover-blue"
           (click)="showFullNotes($event)">
      Ver todas las entradas del tablón
    </aside>

</section>
