<section [id]="getComponentId()"
         [hidden]="!visible"
         class="mt-4 tab-profile-area">

  <p-tabView (onChange)="onChangeTab($event)"
             [activeIndex]="selectedTab">

    <p-tabPanel header="Información básica">
      <app-tab-basic-info-component [person]="person"></app-tab-basic-info-component>
    </p-tabPanel>

    <p-tabPanel header="Laboral y académico">
      <app-tab-laboral-academic-component [person]="person"></app-tab-laboral-academic-component>
    </p-tabPanel>

    <p-tabPanel header="Administrativo">
      <app-tab-administrative-component [person]="person"
                                        (onUpdatePersonEvent)="onUpdatePerson($event)"></app-tab-administrative-component>
    </p-tabPanel>

  </p-tabView>

</section>
