@import "../../tabs.scss";

.edit-role-category-component {
  .tab-header {
    padding: 0.75rem 0.75rem;
    display: inline-block;
    clear: both;

    header {
      font-size: 1.1rem;
      font-weight: bold;
      margin: .25rem 0 .75rem;
      &:first-child{
        margin-top: 0;
      }
    }

    .add-role-category-button {
      font-size: .95rem;
      padding-top: 0.75rem;
      padding-bottom: .75rem;
      margin: 0;
      i {
        font-size: 1rem;
        position: absolute;
        right: .25rem;
      }
    }
  }

  .status-filters {
    background: transparent;
    width:100%;
    padding: 0.5rem;

    ul {
      background: transparent;
      list-style: none;
      padding: 0;
      text-align: center;

      li {
        display:inline-block;
        list-style:none;
        position:relative;
        background: transparent;
        font-size: .8rem;
        padding: .5rem;
        border: 1px solid $border-color;
        cursor: pointer;
        margin-right: 0.75rem;
        &:hover {
          background: $light-blue;
          border-color: $blue;
        }

        &.active {
          background: $light-blue;
          border-color: $blue;
        }
      }
    }
  }

  .datatable {
    float:left;
    width:100%;
    cursor: default;

    .edit-team-link {
      background: transparent;

      &.has-team {
        cursor: pointer;

        &:hover {
          color: $blue;

          .fa {
            color: $blue;
            visibility: visible;
            position: relative;
            margin-left: 1rem;
          }
        }

        &.without-assigned-team {
          color: $red;
          text-decoration: underline;
          &:hover {
            color: $blue;
            text-decoration: none;
          }
        }
      }

      .fa {
        visibility: hidden;
        position: relative;
        margin-left: 1rem;
      }
    }

    .fa {
      &.fa-check {
        &.active {
          color: $green;
        }
        &.inactive {
          color: $gray;
        }
      }
      &.fa-exclamation-circle {
        color: $orange;
      }
    }
  }
}
