button {
  cursor: pointer;

  .is-input-group-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    &:hover {
      border-left: 1px solid #adadad;
      i {
        font-weight: 600;
      }
    }
  }

  .btn {
    &.btn-regular {
      padding: 0.5625rem 1rem;
    }
    &.btn-fat {
      padding: 1rem 0.5rem;
    }
    &.btn-icon {
      &:hover {
        color: #217BE5;
        border-color: #217BE5;
        background: #ECF5FF;
      }
      &:active {
        color: #ECF5FF;
        border-color: #217BE5;
        background: #1057AA;
      }
    }
  }
}
