<div [ngClass]="{'btn-group': false}">

  <button [disabled]="isDisabled()"
          [ngClass]="getClasses('button')"
          (click)="onClickEvent()">

    <span *ngIf="showTextButton()"
        [innerHtml]="getTextButton()"></span>
    <i *ngIf="showIconButton()"
       [ngClass]="getClasses('icon')"></i>
  </button>

</div>
