button {
  cursor: pointer; }
  button .is-input-group-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0; }
    button .is-input-group-button:hover {
      border-left: 1px solid #adadad; }
      button .is-input-group-button:hover i {
        font-weight: 600; }
  button .btn.btn-regular {
    padding: 0.5625rem 1rem; }
  button .btn.btn-fat {
    padding: 1rem 0.5rem; }
  button .btn.btn-icon:hover {
    color: #217BE5;
    border-color: #217BE5;
    background: #ECF5FF; }
  button .btn.btn-icon:active {
    color: #ECF5FF;
    border-color: #217BE5;
    background: #1057AA; }
