@import "../../../../assets/sass/sass.files";


.confirm-dialog-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $black_05;
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include opacity(0);
  section {
    max-width: 10vw;
    min-width: 350px;
    margin: 40vh auto 0;
    padding: 1.5rem;
    background: $white;
    border: 1px solid $border-color;
    box-shadow: 1px 1px 1px 1px $gray;
    text-align: left;
    z-index: 1100;
    @include border-radius(5px);
    p {
      margin: 0 0 .5rem;
    }
    footer {
      margin: .5rem 0 0;
    }
    button {
      cursor: pointer;
    }
    @media (max-width: 544px) {
      min-width: 290px;
    }
  }

  &.fade-in{
    @include opacity(100);
  }
  &.hidden-dialog{ // class for ChangeDetectionStrategy.OnPush
    display: none;
  }
}
