<section #confirmDialog
         [id]="getId()"
         class="confirm-dialog-component {{getCss()}}"
         [hidden]="!isVisible()">
  <section class="row no-gutters justify-content-center align-items-center">
    <p class="col-12" [innerHtml]="getHeader()"></p>
    <p class="col-12" [innerHtml]="getMessage()"></p>
    <footer class="col-12 row no-gutters justify-content-end align-items-center btn-group btn-group-justified">
      <div class="col-12 col-md-8 row no-gutters justify-content-end align-items-center" role="group">
        <div *ngIf="getShowButton('accept')"
             class="col-6">
          <button type="button"
                  class="btn btn-secondary btn-block iblue"
                  [ngClass]="getButtonClasses('accept')"
                  [innerHtml]="getButtonTtext('accept')"
                  (click)="onClick(true)">Left</button>
        </div>
        <div *ngIf="getShowButton('reject')"
             class="col-6">
          <button type="button"
                  class="btn btn-secondary btn-block iblue"
                  [ngClass]="getButtonClasses('reject')"
                  [innerHtml]="getButtonTtext('reject')"
                  (click)="onClick(false)"></button>
        </div>
      </div>
    </footer>
  </section>
</section>
