@import '../note-status.scss';

.scope-notes-list-container{
  padding: 1rem 1.5rem 2.5rem;
  background: $gray-bg;

  .close-notes-list{
    margin-bottom: 1.5rem;
  }
 .scope-notes-header{
   position: relative;
   margin-bottom: 2rem;
   h2{
     font-size: .85rem;
   }
  }

  .scope-notes-main{
    margin: .75rem 0 1rem;

    .scope-notes-row{
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      .scope-notes-cell{
        padding: .5rem .4rem .5rem 1rem;

        p.note-info {
          font-size: .85rem;
          margin-bottom: .5rem;
        }
        p.note-date{
          font-size: .8rem;
        }

        .note-desc-box{
          .note-desc-row{
            li.list-inline-item{
              padding-right: .5rem;
              .note-desc-text{
                font-size: .8rem;
              }
            }

          }
        }
        .note-status-btn-box{
          margin-top: 1rem;
          margin-bottom: .5rem;
          .note-status-btn-over{
            text-align: center;
            margin-bottom: .25rem;
            .note-status-btn{
              width: 95%;
            }
            @media (min-width: 554px){
              margin-bottom: 0;
            }
          }
        }
      }

      &:last-child{
        margin-bottom: 0;
      }
      .scope-note-trash{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        &.trash-second-icon{
          right: calculateRem(30px);
        }
      }
      &:hover{
        .scope-note-trash{
          display: block;
        }
      }
      &.delete{
        @include opacity(0);
        height: 0;
      }
    }
    .scope-note-scroll{
      margin-top: 1.5rem;
      font-size: .8rem;
      text-align: center;
      padding: .5rem .25rem;
      border: 1px solid $border;
      background: $gray200;
      .scope-note-loading{

      }
      .scope-note-paginator{

      }
    }
  }
  .scope-note-show-btn{
    text-decoration: underline;
    font-size: .75rem;
    text-align: right;
    color: $font-gray-dark;
  }
}
