/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, ul, li,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
.section-area {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }
  .section-area.container {
    max-width: 1400px;
    width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.hover-blue:hover {
  color: #2196F3;
  border-color: #2196F3 !important; }

.hover-blue.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-hover-blue {
  cursor: pointer; }
  .btn-hover-blue.btn-secondary:hover {
    color: #2196F3;
    border-color: #2196F3 !important;
    background-color: #FFF; }
  .btn-hover-blue.btn-secondary:focus {
    box-shadow: none; }
  .btn-hover-blue.btn-secondary:active {
    color: #FFF;
    border-color: #0277BD !important;
    background-color: #2196F3; }

.hover-blue-no-border:hover {
  color: #2196F3; }

.hover-blue-no-border.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-link-default {
  color: #555555 !important;
  text-decoration: underline !important; }
  .btn-link-default:hover {
    color: #2196F3 !important; }

.text-overflow {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; }
  .text-overflow.h1 {
    line-height: 1.5; }
  .text-overflow:hover {
    white-space: inherit; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.relative-area {
  position: relative; }

.thumbnail {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid #FFF; }
  .thumbnail.img-avatar {
    width: 35px;
    height: 35px;
    background: #FFF; }

.no-visibility {
  visibility: hidden; }

.hidden {
  display: none; }

.btn.btn-regular {
  padding: 0.5625rem 1rem; }

.btn.btn-fat {
  padding: 1rem 0.5rem; }

.btn.btn-simple {
  background: transparent;
  font-size: .8rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #9E9E9E;
  padding: .5rem .25rem;
  text-align: center; }

input.itext, textarea.itext {
  background: none;
  border: none;
  border-bottom: 1px solid #3b3b3b;
  padding: .25rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  /* firefox 19+ */ }
  input.itext::-webkit-input-placeholder, textarea.itext::-webkit-input-placeholder {
    font-style: italic; }
  input.itext::-moz-placeholder, textarea.itext::-moz-placeholder {
    font-style: italic; }
  input.itext:-ms-input-placeholder, textarea.itext:-ms-input-placeholder {
    font-style: italic; }
  input.itext input:-moz-placeholder, textarea.itext input:-moz-placeholder {
    font-style: italic; }
  input.itext.name-input, textarea.itext.name-input {
    font-size: 1.5rem;
    margin: 0 0 .75rem; }
  input.itext:active, textarea.itext:active {
    background: #E3F2FD;
    color: #2196F3; }
  input.itext:focus, textarea.itext:focus {
    background: #E3F2FD;
    border-color: #2196F3;
    outline: none; }
  input.itext:hover, textarea.itext:hover {
    background: #E3F2FD;
    border-color: #2196F3; }
  input.itext.description-input, textarea.itext.description-input {
    font-size: .85rem; }
  input.itext.capitalize, textarea.itext.capitalize {
    text-transform: capitalize; }
  input.itext.invalid-field, textarea.itext.invalid-field {
    border-color: #d9534f; }
    input.itext.invalid-field:active, textarea.itext.invalid-field:active {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:focus, textarea.itext.invalid-field:focus {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:hover, textarea.itext.invalid-field:hover {
      border-color: #d9534f;
      background: #F5DBD9; }
  input.itext:read-only, input.itext:disabled, input.itext.disabled, textarea.itext:read-only, textarea.itext:disabled, textarea.itext.disabled {
    background: #ececec;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    /* firefox 19+ */ }
    input.itext:read-only::-webkit-input-placeholder, input.itext:disabled::-webkit-input-placeholder, input.itext.disabled::-webkit-input-placeholder, textarea.itext:read-only::-webkit-input-placeholder, textarea.itext:disabled::-webkit-input-placeholder, textarea.itext.disabled::-webkit-input-placeholder {
      font-size: inherit; }
    input.itext:read-only::-moz-placeholder, input.itext:disabled::-moz-placeholder, input.itext.disabled::-moz-placeholder, textarea.itext:read-only::-moz-placeholder, textarea.itext:disabled::-moz-placeholder, textarea.itext.disabled::-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:-ms-input-placeholder, input.itext:disabled:-ms-input-placeholder, input.itext.disabled:-ms-input-placeholder, textarea.itext:read-only:-ms-input-placeholder, textarea.itext:disabled:-ms-input-placeholder, textarea.itext.disabled:-ms-input-placeholder {
      font-size: inherit; }
    input.itext:read-only input:-moz-placeholder, input.itext:disabled input:-moz-placeholder, input.itext.disabled input:-moz-placeholder, textarea.itext:read-only input:-moz-placeholder, textarea.itext:disabled input:-moz-placeholder, textarea.itext.disabled input:-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:active, input.itext:disabled:active, input.itext.disabled:active, textarea.itext:read-only:active, textarea.itext:disabled:active, textarea.itext.disabled:active {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only:focus, input.itext:disabled:focus, input.itext.disabled:focus, textarea.itext:read-only:focus, textarea.itext:disabled:focus, textarea.itext.disabled:focus {
      background: #ececec;
      color: inherit; }
    input.itext:read-only:hover, input.itext:disabled:hover, input.itext.disabled:hover, textarea.itext:read-only:hover, textarea.itext:disabled:hover, textarea.itext.disabled:hover {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only.invalid-field, input.itext:disabled.invalid-field, input.itext.disabled.invalid-field, textarea.itext:read-only.invalid-field, textarea.itext:disabled.invalid-field, textarea.itext.disabled.invalid-field {
      border-color: #3b3b3b; }
      input.itext:read-only.invalid-field:active, input.itext:disabled.invalid-field:active, input.itext.disabled.invalid-field:active, textarea.itext:read-only.invalid-field:active, textarea.itext:disabled.invalid-field:active, textarea.itext.disabled.invalid-field:active {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:focus, input.itext:disabled.invalid-field:focus, input.itext.disabled.invalid-field:focus, textarea.itext:read-only.invalid-field:focus, textarea.itext:disabled.invalid-field:focus, textarea.itext.disabled.invalid-field:focus {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:hover, input.itext:disabled.invalid-field:hover, input.itext.disabled.invalid-field:hover, textarea.itext:read-only.invalid-field:hover, textarea.itext:disabled.invalid-field:hover, textarea.itext.disabled.invalid-field:hover {
        border-color: #3b3b3b;
        background: #ececec; }
  input.itext:disabled, input.itext.disabled, textarea.itext:disabled, textarea.itext.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: alpha(opacity=50); }

textarea.itext {
  border: 1px solid #3b3b3b;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem; }

input.iblue.iblue:active, button.iblue.iblue:active {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:focus, button.iblue.iblue:focus {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:hover, button.iblue.iblue:hover {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue-light:active, button.iblue.iblue-light:active {
  background: #E3F2FD;
  color: #2196F3; }

input.iblue.iblue-light:focus, button.iblue.iblue-light:focus {
  background: #E3F2FD;
  border-color: #2196F3; }

input.iblue.iblue-light:hover, button.iblue.iblue-light:hover {
  background: #E3F2FD;
  border-color: #2196F3; }

label.col-form-label.label-itext {
  padding-top: calc(.5rem - 3px * 2);
  padding-bottom: calc(.5rem - 1px * 2);
  margin-bottom: 0; }

label.invalid-label {
  color: #d9534f; }

.not-allowed.cursor-pointer {
  cursor: not-allowed; }

.not-allowed.not-allowed-cover {
  position: relative; }
  .not-allowed.not-allowed-cover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 0; }
  .not-allowed.not-allowed-cover::after {
    content: "No disponible";
    position: absolute;
    color: #D0011B;
    left: 50%;
    top: 40%;
    font-size: 1.2rem;
    z-index: 11;
    -webkit-transform: rotate(-22.5deg) translate(-50%, -50%);
    -moz-transform: rotate(-22.5deg) translate(-50%, -50%);
    -ms-transform: rotate(-22.5deg) translate(-50%, -50%);
    -o-transform: rotate(-22.5deg) translate(-50%, -50%);
    transform: rotate(-22.5deg) translate(-50%, -50%); }

.error-field {
  color: #d9534f;
  font-size: .8rem;
  position: absolute;
  line-height: 1.1;
  margin-top: 0.125rem; }

.datatable-leyend {
  padding: .35rem 2rem .35rem .5rem;
  border: 1px solid #FAFAFA;
  box-shadow: 1px 4px 7px 1px #bac0ca;
  display: inline-block;
  font-size: .95rem; }
  @media (max-width: 768px) {
    .datatable-leyend {
      padding: .35rem .5rem;
      display: block;
      margin-top: .5rem; } }

.scope-notes-row {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  position: relative; }
  .scope-notes-row .scope-notes-cell {
    margin-left: .5rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #9E9E9E; }
    .scope-notes-row .scope-notes-cell h6.note-title {
      font-size: .95rem;
      font-weight: 600;
      margin-bottom: .2rem; }
    .scope-notes-row .scope-notes-cell p.note-date {
      color: #555555;
      margin-bottom: .3rem;
      display: inline;
      padding: .15rem .5rem; }
      .scope-notes-row .scope-notes-cell p.note-date.date-today {
        color: #FFF;
        background: #2196F3;
        -moz-border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem; }
      .scope-notes-row .scope-notes-cell p.note-date.date-tomorrow {
        color: #FFF;
        background: #65B500;
        -moz-border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem; }
      .scope-notes-row .scope-notes-cell p.note-date.date-expired {
        color: #D0011B; }
    .scope-notes-row .scope-notes-cell .note-desc-box .note-desc-row .note-desc-status {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 0.625rem;
      height: 0.625rem;
      margin-right: .25rem; }
    .scope-notes-row .scope-notes-cell .note-desc-box .note-desc-row .note-desc-text {
      color: #555555; }
    .scope-notes-row .scope-notes-cell.note-communication {
      border-left-color: #FFF; }
    .scope-notes-row .scope-notes-cell.note-task-not-started::before {
      content: "";
      border-left: 5px solid #bdbdbd;
      height: 16px;
      width: 1px;
      position: absolute;
      left: 6px;
      top: 0; }
    .scope-notes-row .scope-notes-cell.note-task-ongoing::before {
      content: "";
      border-left: 5px solid #bdbdbd;
      height: 16px;
      width: 1px;
      position: absolute;
      left: 6px;
      margin-top: -8px;
      top: 50%; }
    .scope-notes-row .scope-notes-cell.note-task-blocked::before {
      content: "";
      border-left: 5px solid #bdbdbd;
      border-right: 5px solid #bdbdbd;
      height: 16px;
      width: 15px;
      position: absolute;
      left: 1px;
      margin-top: -8px;
      top: 50%; }
    .scope-notes-row .scope-notes-cell.note-task-ended::before {
      content: "";
      border-left: 5px solid #bdbdbd;
      height: 16px;
      width: 1px;
      position: absolute;
      left: 6px;
      top: 100%;
      margin-top: -24px; }
    .scope-notes-row .scope-notes-cell.note-task-cancelled::before {
      content: "Cancelled";
      position: absolute;
      color: #D0011B;
      left: 50%;
      font-size: 1.2rem;
      top: 10%;
      -webkit-transform: rotate(-22.5deg) translate(-50%, -50%);
      -moz-transform: rotate(-22.5deg) translate(-50%, -50%);
      -ms-transform: rotate(-22.5deg) translate(-50%, -50%);
      -o-transform: rotate(-22.5deg) translate(-50%, -50%);
      transform: rotate(-22.5deg) translate(-50%, -50%); }
    .scope-notes-row .scope-notes-cell.note-task-cancelled > h6, .scope-notes-row .scope-notes-cell.note-task-cancelled > p, .scope-notes-row .scope-notes-cell.note-task-cancelled > div {
      opacity: 0.6;
      filter: alpha(opacity=60); }
  .scope-notes-row .scope-note-flag {
    position: absolute;
    right: 0;
    top: 0; }
  .scope-notes-row.is-note-task .scope-notes-cell h6.note-title {
    margin-right: 1.1rem; }

.scope-note-empty {
  font-size: .75rem;
  color: #555555; }

.scope-notes-list-container {
  padding: 1rem 1.5rem 2.5rem;
  background: #F7F7F7; }
  .scope-notes-list-container .close-notes-list {
    margin-bottom: 1.5rem; }
  .scope-notes-list-container .scope-notes-header {
    position: relative;
    margin-bottom: 2rem; }
    .scope-notes-list-container .scope-notes-header h2 {
      font-size: .85rem; }
  .scope-notes-list-container .scope-notes-main {
    margin: .75rem 0 1rem; }
    .scope-notes-list-container .scope-notes-main .scope-notes-row {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell {
        padding: .5rem .4rem .5rem 1rem; }
        .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell p.note-info {
          font-size: .85rem;
          margin-bottom: .5rem; }
        .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell p.note-date {
          font-size: .8rem; }
        .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell .note-desc-box .note-desc-row li.list-inline-item {
          padding-right: .5rem; }
          .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell .note-desc-box .note-desc-row li.list-inline-item .note-desc-text {
            font-size: .8rem; }
        .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell .note-status-btn-box {
          margin-top: 1rem;
          margin-bottom: .5rem; }
          .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell .note-status-btn-box .note-status-btn-over {
            text-align: center;
            margin-bottom: .25rem; }
            .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell .note-status-btn-box .note-status-btn-over .note-status-btn {
              width: 95%; }
            @media (min-width: 554px) {
              .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-notes-cell .note-status-btn-box .note-status-btn-over {
                margin-bottom: 0; } }
      .scope-notes-list-container .scope-notes-main .scope-notes-row:last-child {
        margin-bottom: 0; }
      .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-note-trash {
        display: none;
        position: absolute;
        right: 0;
        top: 0; }
        .scope-notes-list-container .scope-notes-main .scope-notes-row .scope-note-trash.trash-second-icon {
          right: 1.875rem; }
      .scope-notes-list-container .scope-notes-main .scope-notes-row:hover .scope-note-trash {
        display: block; }
      .scope-notes-list-container .scope-notes-main .scope-notes-row.delete {
        opacity: 0;
        filter: alpha(opacity=0);
        height: 0; }
    .scope-notes-list-container .scope-notes-main .scope-note-scroll {
      margin-top: 1.5rem;
      font-size: .8rem;
      text-align: center;
      padding: .5rem .25rem;
      border: 1px solid #636c72;
      background: #EEEEEE; }
  .scope-notes-list-container .scope-note-show-btn {
    text-decoration: underline;
    font-size: .75rem;
    text-align: right;
    color: #4A4A4A; }
