<section class="scope-notes-list-container">
  <aside class="close-notes-list">
    <span (click)="hideFullNotes($event)"
          class="cursor-pointer hover-blue">
      <i class="fa fa-angle-left mr-1"></i> volver
    </span>
  </aside>

  <article class="scope-notes-header">
    <h2>Comunica con tus equipos, o define fechas de entregas a un equipo específico</h2>
  </article>

  <section class="scope-notes-main">

    <div class="row col-12 no-gutters align-items-center justify-content-center note-filter px-0">

      <div class="col-xl-4 col-lg-5 col-md-6 col-12 px-0">
        <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                    [options]="statusDropdownOptions"
                    [(ngModel)]="selectedStatusDropdownOptions"
                    (ngModelChange)="resetComponent()">
        </p-dropdown>
      </div>

      <div class="col-xl-4 col-lg-5 col-md-6 col-12 px-0 offset-lg-1">
        <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                    [options]="dateDropdownOptions"
                    [(ngModel)]="selectedDateDropdownOptions"
                    (ngModelChange)="resetComponent()">
        </p-dropdown>
      </div>

    </div>

    <section *ngIf="hasNotes()">

      <article *ngFor="let note of getNotes()"
               #noteListCell
               [id]="getNoteCellId(note.id)"
               class="scope-notes-row"
               [ngClass]="{'is-note-task': isNoteTypeCommunication(note)}">

        <section class="scope-notes-cell"
                 [ngClass]="getNoteStatusStyle(note)">
          <h6 class="note-title"
              [innerHtml]="note.title"></h6>

          <p class="note-info"
             [innerHtml]="note.description"></p>

          <p class="note-date"
             [innerHtml]="getNoteDate(note.end_date)"
             [ngClass]="getNoteDateStyle(note.end_date)"></p>

          <div class="note-desc-box text-overflow">
            <ul class="note-desc-row list-inline">
              <li class="list-inline-item"
                  *ngFor="let noteTeam of note.teams">
                <section class="row no-gutters align-items-center">
                  <aside class="note-desc-status col-auto"
                         [style.background]="getNoteTeamColor(noteTeam)"></aside>
                  <span class="note-desc-text col text-overflow"
                        [innerHtml]="noteTeam.name"></span>
                </section>
              </li>
            </ul>
          </div>

          <section *ngIf="!isNoteTypeCommunication(note)"
                   class="note-status-btn-box no-gutters row d-flex justify-content-end align-items-center">
            <div *ngFor="let action of getActionAvailables(note.workflow_available_actions)"
                 class="note-status-btn-over col-xl-2 col-md-4 col-sm-3 col-12">
              <aside
                class="btn btn-simple note-status-btn cursor-pointer hover-blue"
                [ngClass]="{'not-allowed': isNoteExpired(note.end_date)}"
                [innerHtml]="getActionTitle(action)"
                (click)="onNoteStatusUpdate($event, note, action)"></aside>
            </div>

          </section>
        </section>

        <aside *ngIf="isNoteTypeCommunication(note)"
               class="scope-note-flag">
          <i class="fa fa-flag-o"></i>
        </aside>

        <aside class="scope-note-trash"
               [ngClass]="{'trash-second-icon': isNoteTypeCommunication(note)}">
          <i class="fa fa-trash-o cursor-pointer hover-blue"
             (click)="onDeleteNoteEvent($event, note)"></i>

        </aside>

      </article>
    </section>


    <section  *ngIf="!hasNotes()">
      <aside class="scope-note-empty">
        <ng-container *ngIf="isLoading(); else emptyNoteList">
          Cargando datos <i class="fa fa-right text-muted fa-spinner fa-pulse fa-fw text-center"></i>
        </ng-container>
        <ng-template #emptyNoteList>
          No hay mensajes a mostrar
        </ng-template>
      </aside>
    </section>


    <section *ngIf="thereAreMostNotesToShow()"
             class="scope-note-scroll"
             [ngClass]="{'cursor-pointer hover-blue': !isLoadingNotes()}">
      <aside *ngIf="isLoadingNotes(); else notePaginator"
             class="scope-note-loading">
        Cargando datos <i class="fa fa-right text-muted fa-spinner fa-pulse fa-fw text-center"></i>
      </aside>

      <ng-template #notePaginator>
        <aside class="scope-note-paginator"
               (click)="OnNextNotes($event)">
          Ver siguientes notas
        </aside>
      </ng-template>
    </section>

  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>
</section>
