@import '../../../../assets/sass/sass.files';

.mate-quick-view-component {
  position: relative;
  cursor: default;
  padding-top: 1rem;
  background: $gray-light2;

  .expansion-button {
    cursor: pointer;
    border-bottom: 2px solid $white;
  }

  .mate-quick-view-container {
    height: auto;
    overflow: visible;
    max-height: 1020px;
    -webkit-transition: max-height .3s ease-in-out, .3s overflow .1s ease-in-out;
    -moz-transition: max-height .3s ease-in-out, .3s overflow .1s ease-in-out;
    -ms-transition: max-height .3s ease-in-out, .3s overflow .1s ease-in-out;
    -o-transition: max-height .3s ease-in-out, .3s overflow .1s ease-in-out;
    transition: max-height .3s ease-in-out, .3s overflow .1s ease-in-out;
    &.toggle-up {
      max-height: 10px;
      overflow: hidden;
    }

    .team-element {

      .team-header {

        .mate-team-role {
          font-weight: bold;
        }
      }

      .team-body {
        .team-circle-element{
          font-size: 0.75rem;
          i.fa{
            padding: 0.25rem 0.35rem 0 0;
          }
        }
      }
    }
  }

}
