<section [id]="getComponentId()"
         [hidden]="!visible"
         class="mate-quick-view-component">

  <article class="container-fluid pb-2">

    <section class="row col-12 no-gutters align-items-center justify-items-end expansion-button"
             (click)="toggleExpandedStatus()">
      <span class="col-11 text-overflow">{{getExpansionButtonText()}}</span>
      <i *ngIf="isExpanded()" class="col-1 fa fa-minus"></i>
      <i *ngIf="!isExpanded()" class="col-1 fa fa-plus"></i>
    </section>

    <section *ngIf="hasTeams()"
             class="row no-gutters mate-quick-view-container"
             [ngClass]="{'toggle-up': !isExpanded()}">

      <article *ngFor="let teamPerson of person.team_persons; let i = index;"
               class="row col-12 no-gutters mt-2 team-element">

        <div class="row col-12 no-gutters align-items-start team-header">

          <div class="col-12  mt-2 no-gutters">
            <span class="mate-team-role pero"
                  [innerHtml]="getRulePersonRoleHeader(teamPerson.rule_person_role)"></span>
          </div>

        </div>

        <div class="row col-12  mt-2 no-gutters team-body">

          <aside class="col-auto team-circle-element">
            <i class="fa fa-circle"
               [style.color]="getTeamColor(teamPerson.team.name)"></i>
          </aside>

          <div class="col-8 no-gutters">

            <div class="row no-gutters">
              <span>{{teamPerson.team.name}}</span>
            </div>

            <div class="row no-gutters">
              <span>{{getTeamPersonDates(teamPerson)}}</span>
            </div>

          </div>

        </div>

      </article>

      <article class="row no-gutters mt-4 align-items-start">
        <i class="fa fa-lg fa-map-marker"></i>
        <span class="ml-2">{{getMateLocation()}}  </span>
      </article>

    </section>

  </article>

</section>
