/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, ul, li,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
.section-area {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }
  .section-area.container {
    max-width: 1400px;
    width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.hover-blue:hover {
  color: #2196F3;
  border-color: #2196F3 !important; }

.hover-blue.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-hover-blue {
  cursor: pointer; }
  .btn-hover-blue.btn-secondary:hover {
    color: #2196F3;
    border-color: #2196F3 !important;
    background-color: #FFF; }
  .btn-hover-blue.btn-secondary:focus {
    box-shadow: none; }
  .btn-hover-blue.btn-secondary:active {
    color: #FFF;
    border-color: #0277BD !important;
    background-color: #2196F3; }

.hover-blue-no-border:hover {
  color: #2196F3; }

.hover-blue-no-border.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-link-default {
  color: #555555 !important;
  text-decoration: underline !important; }
  .btn-link-default:hover {
    color: #2196F3 !important; }

.text-overflow {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; }
  .text-overflow.h1 {
    line-height: 1.5; }
  .text-overflow:hover {
    white-space: inherit; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.relative-area {
  position: relative; }

.thumbnail {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid #FFF; }
  .thumbnail.img-avatar {
    width: 35px;
    height: 35px;
    background: #FFF; }

.no-visibility {
  visibility: hidden; }

.hidden {
  display: none; }

.btn.btn-regular {
  padding: 0.5625rem 1rem; }

.btn.btn-fat {
  padding: 1rem 0.5rem; }

.btn.btn-simple {
  background: transparent;
  font-size: .8rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #9E9E9E;
  padding: .5rem .25rem;
  text-align: center; }

input.itext, textarea.itext {
  background: none;
  border: none;
  border-bottom: 1px solid #3b3b3b;
  padding: .25rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  /* firefox 19+ */ }
  input.itext::-webkit-input-placeholder, textarea.itext::-webkit-input-placeholder {
    font-style: italic; }
  input.itext::-moz-placeholder, textarea.itext::-moz-placeholder {
    font-style: italic; }
  input.itext:-ms-input-placeholder, textarea.itext:-ms-input-placeholder {
    font-style: italic; }
  input.itext input:-moz-placeholder, textarea.itext input:-moz-placeholder {
    font-style: italic; }
  input.itext.name-input, textarea.itext.name-input {
    font-size: 1.5rem;
    margin: 0 0 .75rem; }
  input.itext:active, textarea.itext:active {
    background: #E3F2FD;
    color: #2196F3; }
  input.itext:focus, textarea.itext:focus {
    background: #E3F2FD;
    border-color: #2196F3;
    outline: none; }
  input.itext:hover, textarea.itext:hover {
    background: #E3F2FD;
    border-color: #2196F3; }
  input.itext.description-input, textarea.itext.description-input {
    font-size: .85rem; }
  input.itext.capitalize, textarea.itext.capitalize {
    text-transform: capitalize; }
  input.itext.invalid-field, textarea.itext.invalid-field {
    border-color: #d9534f; }
    input.itext.invalid-field:active, textarea.itext.invalid-field:active {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:focus, textarea.itext.invalid-field:focus {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:hover, textarea.itext.invalid-field:hover {
      border-color: #d9534f;
      background: #F5DBD9; }
  input.itext:read-only, input.itext:disabled, input.itext.disabled, textarea.itext:read-only, textarea.itext:disabled, textarea.itext.disabled {
    background: #ececec;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    /* firefox 19+ */ }
    input.itext:read-only::-webkit-input-placeholder, input.itext:disabled::-webkit-input-placeholder, input.itext.disabled::-webkit-input-placeholder, textarea.itext:read-only::-webkit-input-placeholder, textarea.itext:disabled::-webkit-input-placeholder, textarea.itext.disabled::-webkit-input-placeholder {
      font-size: inherit; }
    input.itext:read-only::-moz-placeholder, input.itext:disabled::-moz-placeholder, input.itext.disabled::-moz-placeholder, textarea.itext:read-only::-moz-placeholder, textarea.itext:disabled::-moz-placeholder, textarea.itext.disabled::-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:-ms-input-placeholder, input.itext:disabled:-ms-input-placeholder, input.itext.disabled:-ms-input-placeholder, textarea.itext:read-only:-ms-input-placeholder, textarea.itext:disabled:-ms-input-placeholder, textarea.itext.disabled:-ms-input-placeholder {
      font-size: inherit; }
    input.itext:read-only input:-moz-placeholder, input.itext:disabled input:-moz-placeholder, input.itext.disabled input:-moz-placeholder, textarea.itext:read-only input:-moz-placeholder, textarea.itext:disabled input:-moz-placeholder, textarea.itext.disabled input:-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:active, input.itext:disabled:active, input.itext.disabled:active, textarea.itext:read-only:active, textarea.itext:disabled:active, textarea.itext.disabled:active {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only:focus, input.itext:disabled:focus, input.itext.disabled:focus, textarea.itext:read-only:focus, textarea.itext:disabled:focus, textarea.itext.disabled:focus {
      background: #ececec;
      color: inherit; }
    input.itext:read-only:hover, input.itext:disabled:hover, input.itext.disabled:hover, textarea.itext:read-only:hover, textarea.itext:disabled:hover, textarea.itext.disabled:hover {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only.invalid-field, input.itext:disabled.invalid-field, input.itext.disabled.invalid-field, textarea.itext:read-only.invalid-field, textarea.itext:disabled.invalid-field, textarea.itext.disabled.invalid-field {
      border-color: #3b3b3b; }
      input.itext:read-only.invalid-field:active, input.itext:disabled.invalid-field:active, input.itext.disabled.invalid-field:active, textarea.itext:read-only.invalid-field:active, textarea.itext:disabled.invalid-field:active, textarea.itext.disabled.invalid-field:active {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:focus, input.itext:disabled.invalid-field:focus, input.itext.disabled.invalid-field:focus, textarea.itext:read-only.invalid-field:focus, textarea.itext:disabled.invalid-field:focus, textarea.itext.disabled.invalid-field:focus {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:hover, input.itext:disabled.invalid-field:hover, input.itext.disabled.invalid-field:hover, textarea.itext:read-only.invalid-field:hover, textarea.itext:disabled.invalid-field:hover, textarea.itext.disabled.invalid-field:hover {
        border-color: #3b3b3b;
        background: #ececec; }
  input.itext:disabled, input.itext.disabled, textarea.itext:disabled, textarea.itext.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: alpha(opacity=50); }

textarea.itext {
  border: 1px solid #3b3b3b;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem; }

input.iblue.iblue:active, button.iblue.iblue:active {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:focus, button.iblue.iblue:focus {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:hover, button.iblue.iblue:hover {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue-light:active, button.iblue.iblue-light:active {
  background: #E3F2FD;
  color: #2196F3; }

input.iblue.iblue-light:focus, button.iblue.iblue-light:focus {
  background: #E3F2FD;
  border-color: #2196F3; }

input.iblue.iblue-light:hover, button.iblue.iblue-light:hover {
  background: #E3F2FD;
  border-color: #2196F3; }

label.col-form-label.label-itext {
  padding-top: calc(.5rem - 3px * 2);
  padding-bottom: calc(.5rem - 1px * 2);
  margin-bottom: 0; }

label.invalid-label {
  color: #d9534f; }

.not-allowed.cursor-pointer {
  cursor: not-allowed; }

.not-allowed.not-allowed-cover {
  position: relative; }
  .not-allowed.not-allowed-cover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 0; }
  .not-allowed.not-allowed-cover::after {
    content: "No disponible";
    position: absolute;
    color: #D0011B;
    left: 50%;
    top: 40%;
    font-size: 1.2rem;
    z-index: 11;
    -webkit-transform: rotate(-22.5deg) translate(-50%, -50%);
    -moz-transform: rotate(-22.5deg) translate(-50%, -50%);
    -ms-transform: rotate(-22.5deg) translate(-50%, -50%);
    -o-transform: rotate(-22.5deg) translate(-50%, -50%);
    transform: rotate(-22.5deg) translate(-50%, -50%); }

.error-field {
  color: #d9534f;
  font-size: .8rem;
  position: absolute;
  line-height: 1.1;
  margin-top: 0.125rem; }

.datatable-leyend {
  padding: .35rem 2rem .35rem .5rem;
  border: 1px solid #FAFAFA;
  box-shadow: 1px 4px 7px 1px #bac0ca;
  display: inline-block;
  font-size: .95rem; }
  @media (max-width: 768px) {
    .datatable-leyend {
      padding: .35rem .5rem;
      display: block;
      margin-top: .5rem; } }

.tab-header {
  padding: 0.75rem 0.75rem;
  display: inline-block;
  clear: both; }
  .tab-header .add-team-group-backto {
    position: absolute;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    z-index: 3; }
    .tab-header .add-team-group-backto span {
      font-size: 1.2rem; }
  .tab-header h5 {
    font-size: 1.2rem; }

.edit-teams-area {
  font-family: 'roboto';
  padding: 0 .5rem;
  max-width: 1400px;
  margin: 1rem auto 0; }
  .edit-teams-area app-search-component {
    width: 100%; }
  .edit-teams-area .header-creation-new-team .subtitle-creation-new-team {
    color: #9E9E9E;
    margin: .25rem 0 0; }
  .edit-teams-area .header-creation-new-team .search-team-types-template-area .search-team-types-center {
    margin: 0 auto; }
  .edit-teams-area .team-creation-work-area {
    margin: 2rem 0 2rem; }
    .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types {
      max-height: 75vh;
      overflow: auto; }
      .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type {
        padding: 0 0 .2rem 0;
        margin: 0 0 .5rem;
        border-bottom: 1px solid #212121; }
        .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type header {
          border-left: 2px solid #9E9E9E;
          padding: .25rem .75rem .25rem .75rem; }
          .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type header i {
            font-size: 1.15rem;
            background: #E0E0E0;
            padding: .25rem;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%; }
        .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type.active {
          background: #F5F5F5;
          border-bottom: 2px solid #2196F3;
          margin: 1rem 0; }
          .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type.active header.resume-element-team-type {
            color: #2196F3;
            border-left-color: #2196F3;
            padding: .5rem .75rem .5rem .75rem; }
            .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type.active header.resume-element-team-type i {
              background: none;
              padding: 0; }
        .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type .content-collapsible {
          padding: .5rem .75rem; }
          .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type .content-collapsible .subteams-area-team-type-element {
            margin: .25rem 0 0; }
          .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type .content-collapsible .roles-team-types-area {
            margin: .75rem 0; }
            .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type .content-collapsible .roles-team-types-area .roles-team-types-area-child p {
              background: #E0E0E0;
              font-size: .9rem;
              color: #424242;
              padding: .25rem .75rem;
              -moz-border-radius: 25px;
              -webkit-border-radius: 25px;
              border-radius: 25px; }
              .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type .content-collapsible .roles-team-types-area .roles-team-types-area-child p.quantity {
                text-align: center; }
              .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type .content-collapsible .roles-team-types-area .roles-team-types-area-child p.name-team-type-child {
                font-weight: 600;
                color: #212121; }
            .edit-teams-area .team-creation-work-area .team-type-area-selector .list-team-types .ul-element-collapsible-team-type .content-collapsible .roles-team-types-area .roles-team-types-area-child h6 {
              margin-bottom: .25rem; }
    .edit-teams-area .team-creation-work-area .work-table-area {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background: #F5F5F5;
      min-height: 75vh; }
      .edit-teams-area .team-creation-work-area .work-table-area.is-valid-team {
        background: #FFF; }
      .edit-teams-area .team-creation-work-area .work-table-area .placeholder-not-team-type-selected {
        margin: 2rem 0;
        color: #464a4c;
        padding: 0 1rem;
        text-align: center;
        font-size: 1.05rem; }
      .edit-teams-area .team-creation-work-area .work-table-area .placeholder-empty {
        text-align: center;
        margin: 1rem 0;
        font-size: 1.15rem;
        width: 100%; }
        @media (max-width: 768px) {
          .edit-teams-area .team-creation-work-area .work-table-area .placeholder-empty {
            font-size: .95rem; } }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team h4 {
        color: #757575;
        margin: 0 0 1rem;
        text-align: center; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team p {
        margin: .25rem 0 .75rem;
        font-size: .9rem;
        color: #424242;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team p:hover {
          text-overflow: initial;
          white-space: initial;
          overflow: visible;
          overflow-wrap: break-word; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team input {
        background: none;
        font-style: italic;
        border: none;
        border-bottom: 1px solid #3b3b3b;
        padding: .25rem;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team input:hover {
          text-overflow: initial !important;
          white-space: initial !important;
          overflow: visible !important;
          overflow-wrap: break-word !important; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team input.name-input {
          font-size: 1.5rem; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team input.description-input {
          font-size: .85rem; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team label {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        line-height: 1.2; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team label:hover {
          white-space: inherit; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .save-button {
        width: 100%;
        font-size: .95rem;
        padding: .5rem .5rem;
        align-items: center; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .save-button .button-text {
          display: inherit;
          width: inherit;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .save-button i {
          font-size: 1rem;
          margin: 0 0 0 1rem; }
          @media (max-width: 220px) {
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .save-button i {
              display: none; } }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .border-right {
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid black; }
        @media (max-width: 1199px) {
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .border-right {
            border: none; } }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .border-right.last-col {
          border: none; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .header-info-team .multiselect-row {
        position: relative; }
      @media (max-width: 768px) {
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .group-area {
          margin: 1rem 0 0; } }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .group-area i.fa-tag {
        transform: rotate(90deg);
        font-size: 1.1rem; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .group-area i.fa-tag:hover {
          color: #0277BD; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element.mask-class.assignedFlag div.element-rol-list-roles-edit-team-content {
        border: 2px solid #FFC107; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element:nth-child(4n+1) {
        padding-right: .5rem; }
        @media (max-width: 992px) {
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element:nth-child(4n+1) {
            padding: 0; } }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element:nth-child(4n+2) {
        padding: 0 .5rem; }
        @media (max-width: 992px) {
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element:nth-child(4n+2) {
            padding: 0; } }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element:nth-child(4n+3) {
        padding: 0 .5rem; }
        @media (max-width: 992px) {
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element:nth-child(4n+3) {
            padding: 0; } }
      @media (max-width: 992px) {
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element:nth-child(4n+4) {
          padding: 0; } }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element .box-element-content-card {
        padding: .5rem .75rem .75rem;
        background: #F5F5F5;
        color: #424242;
        min-height: 3.3rem; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element .box-element-content-card.active {
          border: none;
          background: #0277BD;
          color: #FFF; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element .box-element-content-card.active p {
            color: #FFF; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element .box-element-content-card.no-border {
          background: #E0E0E0;
          border: 0; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element .box-element-content-card .roles-card-alias {
          margin-top: .5rem; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .box-element .box-element-content-card .roles-card-alias input.itext {
            width: 100%;
            background: #FFF; }
      .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team {
        margin: 1rem 0; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child {
          position: fixed;
          top: 0;
          margin: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100vh;
          width: 100vw;
          background: transparent;
          z-index: 6; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .header-deep-levels {
            background: #E0E0E0;
            color: #424242; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .header-deep-levels li {
              border-bottom: 1px solid #9E9E9E;
              padding: .5rem 2vw; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .header-deep-levels li h6 {
                font-size: 1.35rem; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .header-deep-levels li i {
                font-size: 1.5rem; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .edition-team-child-section {
            width: 98vw;
            margin: 0 auto;
            box-shadow: 0 0 5px #9E9E9E;
            background: #FFF;
            height: 100vh;
            overflow: auto; }
            @media (max-width: 768px) {
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .edition-team-child-section {
                width: 100vw; } }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .edition-team-child-section .header-edit-child-team {
              border-bottom: 2px solid #ccc;
              padding: .5rem 1.5rem; }
              @media (max-width: 768px) {
                .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .edition-team-child-section .header-edit-child-team {
                  padding: .5rem; } }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .edition-team-child-section .header-edit-child-team h4 {
                color: #0277BD; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .edition-team-child-section article.article-element-edition-team {
              padding: 1rem 1.5rem; }
              @media (max-width: 768px) {
                .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team.layer-on-edition-team-child .edition-team-child-section article.article-element-edition-team {
                  padding: 1rem; } }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team {
          margin: 2rem 0; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card {
            background: #FFF;
            border: 1px solid #ccc;
            margin: 0 0 .5rem;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px; }
            @media (min-width: 768px) {
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card {
                min-height: 200px;
                margin: 0 .25rem .5rem; } }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card .header-of-card {
              margin: 0 0 .5rem;
              min-height: 24px; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card:hover {
              border-color: #2196F3;
              box-shadow: 0 0 4px 0 #0277BD; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card:hover .header-of-card h6 {
                color: #2196F3; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card p {
              background: #F5F5F5;
              -moz-border-radius: 25px;
              -webkit-border-radius: 25px;
              border-radius: 25px;
              font-size: .8rem;
              color: #424242;
              padding: 0 .5rem; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card p.quantity {
                text-align: center; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .article-element-edition-team.teamts-edition-team .element-rol-list-roles-edit-team-content-card .subteams-area-team-type-element {
              margin: .5rem 0 0; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles {
          background: white;
          border: 1px solid #0277BD;
          padding: 2rem; }
          @media (max-width: 768px) {
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles {
              padding: 1rem; } }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .toggle-area {
            margin: 1rem 0; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .toggle-area .divider-toggle {
              height: 1px;
              background: #9E9E9E; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .toggle-area .show-area {
              padding: 0 1rem; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .toggle-animation {
            position: relative;
            max-height: 500px;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .toggle-animation .hover-layer-rule-complete {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              z-index: 8;
              background: rgba(255, 255, 255, 0.7);
              text-align: center;
              padding: 3rem 0;
              font-style: italic;
              color: #424242;
              text-shadow: 0 0 3px #9E9E9E; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .toggle-animation.closed {
              max-height: 0; }
          @media (max-width: 768px) {
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles {
              padding: 1rem; } }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .search-area header {
            padding: .35rem 0;
            color: #424242;
            width: auto;
            font-size: .95rem;
            font-style: italic;
            max-width: 15rem; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .search-area header i {
              color: #0277BD;
              font-size: 1.1rem; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area {
            font-size: .9rem; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area .legend-border {
              height: 1px;
              background: #E0E0E0; }
              @media (max-width: 768px) {
                .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area .legend-border {
                  display: none; } }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area .header-recommended-area {
              margin: 1.5rem 0 1.25rem; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area .suggestion-element-list {
              padding: .5rem;
              border: 1px solid transparent; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area .suggestion-element-list:hover {
                border-color: #0277BD;
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
                border-radius: 25px; }
                .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area .suggestion-element-list:hover i {
                  color: #0277BD; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .suggestions-area .placeholder-empty {
              font-size: .85rem; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role {
            margin: 0 0 2rem; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team {
              margin-right: .75rem;
              margin-bottom: 0.75rem; }
              @media (max-width: 768px) {
                .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team {
                  margin: 0 0 .5rem 0; } }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team div {
                background: #DCEDC8;
                padding: .5rem .75rem;
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
                border-radius: 25px; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team h6.valid {
                color: #FF9800; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team h6.complete {
                color: #689F38; }
              .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team .action-bar-rol {
                padding: 0;
                margin: 0 0 0 .5rem; }
                .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team .action-bar-rol i {
                  padding: 0;
                  background: transparent;
                  color: #757575;
                  text-align: center;
                  height: 2rem;
                  font-size: 1.75rem;
                  line-height: 2rem;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  border-radius: 50%; }
                .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .section-to-edit-roles .roles-rule-person-role .list-roles-rule-person-role .element-rol-list-roles-edit-team .action-bar-rol i:not(.i-delete) {
                  background: #FFFfff; }
        .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .list-roles-edit-team .element-rol-list-roles-edit-team {
          font-size: .9rem;
          padding: .5rem .25rem 0; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .list-roles-edit-team .element-rol-list-roles-edit-team p.min-max-rule-person {
            background: transparent;
            padding: .1rem .25rem;
            text-align: center;
            color: #424242;
            min-width: 35px; }
            .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .list-roles-edit-team .element-rol-list-roles-edit-team p.min-max-rule-person.active {
              -moz-border-radius: 25px;
              -webkit-border-radius: 25px;
              border-radius: 25px;
              background: #FFF; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .list-roles-edit-team .element-rol-list-roles-edit-team.incomplete p.min-max-rule-person {
            color: #D32F2F; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .list-roles-edit-team .element-rol-list-roles-edit-team.valid p.min-max-rule-person {
            color: #FF9800; }
          .edit-teams-area .team-creation-work-area .work-table-area .edition-team-area .content-edition-team .roles-edition-team .list-roles-edit-team .element-rol-list-roles-edit-team.complete p.min-max-rule-person {
            color: #689F38; }
  .edit-teams-area .team-filter-work-area {
    margin: 2rem 0 0; }
    .edit-teams-area .team-filter-work-area .tabs-component .tab-option {
      border: 2px solid #3b3b3b;
      border-right-width: 0;
      background: #fff;
      cursor: pointer; }
      .edit-teams-area .team-filter-work-area .tabs-component .tab-option.active {
        background: #E0F2F1;
        color: #009688; }
      .edit-teams-area .team-filter-work-area .tabs-component .tab-option.search-disabled {
        opacity: 0.2;
        background: #fff;
        cursor: not-allowed; }
    .edit-teams-area .team-filter-work-area .tabs-component .tab-option:last-child {
      border-right-width: 2px; }
  .edit-teams-area .no-visible {
    visibility: hidden; }

.api-loader {
  font-size: .75rem;
  color: #636c72; }
