<div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

  <aside class="row no-gutters align-items-center add-team-group-backto cursor-pointer hover-blue"
         (click)="goBackTo()">
    <i class="fa fa-angle-left mr-1"></i>
    <span class="text-overflow">Listado de equipos</span>
  </aside>
</div>

<section class="edit-teams-area" *ngIf="isAllowed()">

  <header class="text-center header-creation-new-team row no-gutters align-items-center justify-content-center"
          [hidden]="isTeamCreated()">
    <section class="col-12">
      <h3 class="title-creation-new-team"
          [innerHtml]="getTagTranslated('create_team_title')"></h3>
      <h5 class="subtitle-creation-new-team"
          [innerHtml]="getTagTranslated('subtitle_wizard_step_one')"></h5>
    </section>
    <section class="mt-3 col-12 row no-gutters search-team-types-template-area">
      <section class="col-12 col-lg-6 col-md-9 search-team-types-center">
        <app-search-component #searchTeamTypesTemplate
                              [data]="serializeTeamTypesList()"
                              [externalConfig]="searchTeamTypeTemplatesConfig()"
                              (outputEvent)="filterTeamTypeTemplates($event)"></app-search-component>
      </section>

      <section class="filter-by-class-section mt-3 text-center row no-gutters justify-content-start align-items-start search-team-types-center">
        <article class="col text-left">

          <app-filter-component #teamGroupFilter
                                [externalConfig]="getTeamGroupFilterConfig()"
                                (outputEvent)="onChangeTeamGroupFilter($event)">

          </app-filter-component>

        </article>
      </section>
    </section>
  </header>

  <section
    class="row no-gutters justify-content-between align-content-center align-items-start team-creation-work-area">
    <article [hidden]="isTeamCreated()"
             class="col-sm-4 col-12 team-type-area-selector">
      <ul class="list-unstyled list-team-types">
        <li *ngFor="let tt of teamTypesFiltered; let i = index;"
            [ngClass]="{'active' : showWhenThisTeamTypeIsSelected(tt['id'])}"
            class="ul-element-collapsible-team-type">
          <header class="resume-element-team-type row no-gutters justify-content-between align-items-center">
            <h6 class="m-0 col pr-2 text-overflow"
                [innerHtml]="tt['name']"></h6>
            <i (click)="showTeamTypeCollapsibleArea(tt)"
               class="fa cursor-pointer fa-eye col-auto"></i>
          </header>
          <section [hidden]="!showWhenThisTeamTypeIsSelected(tt['id'])"
                   class="content-collapsible">
            <div class="roles-team-types-area">
              <article
                class="roles-area-team-type-element roles-team-types-area-child row no-gutters align-items-start">
                <div class="col-1">
                  <i class="fa fa-user-o fa-lg"></i>
                </div>
                <article class="col-11">
                  <div *ngIf="teamTypeHasRuleP(tt); else noRulePersonsTooltip">
                    <div *ngFor="let rulePerson of tt['rule_person']"
                         class="row no-gutters align-items-center mb-2">
                      <div class="col-10 pr-2">
                        <p class=""
                           [innerHtml]="getAllRolesFromRulePerson(rulePerson)"></p>
                      </div>
                      <div class="col-2">
                        <p class="quantity"
                           [innerHtml]="getQuantityFromRulePerson(rulePerson)"></p>
                      </div>
                    </div>
                  </div>
                  <ng-template #noRulePersonsTooltip>
                    <p class="placeholder-empty px-3">No hay roles</p>
                  </ng-template>
                </article>
              </article>
              <div *ngIf="teamTypeHasOneSubTeamAtLeast(tt); else noSubTeamsTooltip">
                <article *ngFor="let rulett of tt['rule_teamt']"
                         class="subteams-area-team-type-element roles-team-types-area-child row no-gutters align-items-start">
                  <div class="col-1">
                    <i class="fa fa-users fa-lg"></i>
                  </div>
                  <article class="col-11">
                    <div class="row no-gutters align-items-center mb-2">
                      <div class="col-10 pr-2">
                        <p class="name-team-type-child"
                           [innerHtml]="getNameTeamTeamtRule(rulett)"></p>
                      </div>
                      <div class="col-2">
                        <p class="quantity"
                           [innerHtml]="getQuantityTeamTypesChildren(rulett)"></p>
                      </div>
                    </div>
                  </article>
                </article>
              </div>
              <ng-template #noSubTeamsTooltip>
                <article
                  class="subteams-area-team-type-element roles-team-types-area-child row no-gutters align-items-start">
                  <div class="col-1">
                    <i class="fa fa-users fa-lg"></i>
                  </div>
                  <article class="col-11">
                    <p class="placeholder-empty px-3">No hay sub-equipos</p>
                  </article>
                </article>
              </ng-template>
            </div>
            <app-button-component (outputEvent)="createTeam()"
                                  [externalConfig]="setButtonCopyTeamTypeConfig()"></app-button-component>

          </section>
        </li>
      </ul>

    </article>


    <!--EDICION DE EQUIPO-->


    <article [ngClass]="{'is-valid-team': isTeamCreated()}"
             class="col-{{isTeamCreated() ? '12': '8'}} work-table-area">

      <section *ngIf="isTeamCreated()"
               class="edition-team-area">

        <header class="header-info-team">

          <div class="container-fluid row no-gutters align-items-center justify-content-center">

            <div class="row col-12 justify-content-center">

              <div class="row col-12 col-xl-3 no-gutters mt-2 justify-content-center border-right">

                <div class="row col-12 no-gutters">
                  <input id="teamTypeName"
                         #teamTypeName
                         type="text"
                         class="form-control name-input"
                         name="teamTypeNameAttribute"
                         placeholder="{{getTagTranslated('write_team_name')}}"
                         [(ngModel)]="team['name']"
                         (blur)="changeTeamEntity('name')"/>
                  <p [innerHtml]="getTeamTeamType()"></p>
                </div>

                <div class="row col-12 no-gutters">
                  <input type="text"
                         #teamTypeDescription
                         class="form-control description-input"
                         name="teamTypeDescriptionAttribute"
                         [(ngModel)]="team['description']"
                         (blur)="changeTeamEntity('description')"
                         id="teamTypeDescription"
                         placeholder="{{getTagTranslated('write_team_description')}}"/>
                </div>

              </div>

              <div class="row col-12 col-xl-3 no-gutters mt-2 justify-content-center border-right">

                <div class="row col-12 no-gutters align-items-center justify-content-between">

                  <div class="row col-1 no-gutters justify-content-start">
                    <i class="fa fa-user cursor-pointer" pTooltip="Gestor" tooltipPosition="top"></i>
                  </div>

                  <div class="row col-11 no-gutters justify-content-end">
                    <app-search-component #searchGestor
                                          *ngIf="personIsAdmin()"
                                          [externalConfig]="setSearchGestorConfig()"
                                          [restart]="restartSearchGestors"
                                          [data]="gestors"
                                          (outputEvent)="selectedNewGestor($event)"
                                          (onClickElementEvent)="selectedNewGestor($event)"></app-search-component>

                    <span *ngIf="!personIsAdmin()"
                          class="ml-4">{{getGestorName()}}</span>
                  </div>

                </div>

                <div class="row col-12 no-gutters align-items-end">

                  <div class="row col-1 no-gutters justify-content-start">
                    <i class="mb-2 fa fa-tag cursor-pointer" pTooltip="Grupo" tooltipPosition="top"></i>
                  </div>

                  <div class="row col-11 no-gutters justify-content-end multiselect-row">
                    <p-multiSelect #teamGroupList
                                   dropdownIcon="fa fa-lg fa-angle-down"
                                   defaultLabel="Sin grupo"
                                   maxSelectedLabels="{{teamGroups.length}}"
                                   resetFilterOnHide="true"
                                   [options]="teamGroups"
                                   [panelStyle]="{minWidth:'12em'}"
                                   (onChange)="onChangeGroupInput($event)"
                                   [(ngModel)]="selectedGroups">

                    </p-multiSelect>

                  </div>

                </div>
              </div>

              <div class="row col-12 col-xl-2 no-gutters mt-2 justify-content-center">

                <div class="row col-12 no-gutters align-items-center justify-content-center">

                  <button (click)="goBackToList()"
                          [disabled]="apiCalled"
                          class="btn btn-secondary cursor-pointer save-button">
                    <span class="button-text">Guardar<i class="fa fa-check-circle-o"></i></span>
                  </button>

                </div>
              </div>

            </div>
          </div>

        </header>

        <section [ngClass]="{'layer-on-edition-team-child': childTeamEditionViewIsEnabled()}"
                 class="content-edition-team">

          <header *ngIf="childTeamEditionViewIsEnabled()"
                  class="header-deep-levels">
            <ul class="list-unstyled">
              <li *ngFor="let deep of deepTeamsChildRecursivity; let i = index;"
                  class="row no-gutters align-items-center justify-content-between">
                <h6 [innerHtml]="getDeepTeamName(i)"
                    class="col"></h6>
                <div class="col-auto">
                  <i (click)="editRecursiveTeam(i)"
                     class="fa cursor-pointer fa-pencil"></i>
                </div>
              </li>
            </ul>
          </header>

          <section class="edition-team-child-section">

            <article *ngIf="childTeamEditionViewIsEnabled()"
                     class="header-edit-child-team row no-gutters justify-content-between align-items-center">
              <div class="col">
                <h4 [innerHtml]="team['name']"></h4>
              </div>
              <div class="action-bar col-auto row no-gutters justify-content-between align-items-center">
                <button (click)="backToOnDeepArray()"
                        [disabled]="apiCalled"
                        class="btn btn-secondary cursor-pointer mr-3 save-all-info-team-button row no-gutters align-items-center justify-content-between">
                  <span class="col-10">Guardar</span>
                  <i class="fa col-2 fa-check-circle-o"></i>
                </button>
                <i (click)="backToOnDeepArray()"
                   class="fa fa-times-circle-o cursor-pointer fa-2x ml-2"></i>
              </div>
            </article>

            <article class="roles-edition-team article-element-edition-team">

              <ul class="list-roles-edit-team row no-gutters justify-content-center align-items-center">
                <li *ngFor="let personRule of getTeamRulesPerson(); let i = index;"
                    [style.order]="i+1"
                    (click)="onClickRolBox(i)"
                    class="element-rol-list-roles-edit-team box-element col-lg-3 col-md-4 col-12 {{getStatusClassForRule(personRule)}}">
                  <div [ngClass]="{'active': rolBoxIndexIsActive(i)}"
                       class="{{getStatusClassForRule(personRule)}} element-rol-list-roles-edit-team-content-card box-element-content-card cursor-pointer row no-gutters align-items-center justify-content-between">

                    <section class="col-12 row no-gutters align-items-center justify-content-between">
                      <div class="col pr-2 text-overflow">
                        <p class="col text-overflow roles-concatenated"
                           [innerHtml]="getAllRolesConcatenated(personRule)"></p>
                      </div>
                      <p class="col-auto min-max-rule-person"
                         [ngClass]="{'active': rolBoxIndexIsActive(i)}"
                         [innerHtml]="convertRulePersonRoleMaxMin(personRule['rule_person'])"></p>
                    </section>

                    <section class="col-12 roles-card-alias no-gutters">
                      <input [(ngModel)]="personRule['alias']"
                             name="alias"
                             class="itext"
                             (click)="onClickAlias($event)"
                             (change)="onChangeAlias(personRule)"
                             placeholder="introduce un alias"
                             autocomplete="off">
                    </section>

                  </div>

                  <ul class="list-roles-edit-team row no-gutters justify-content-center align-items-center hidden-md-up">
                    <li [hidden]="!isRolBoxActive(personRule)"
                        [style.order]="generateOrderIndexForEditRolSection()"
                        class="section-to-edit-roles col-12">

                      <section *ngIf="hasPersonsOrPseudonyms()"
                               class="roles-rule-person-role">
                        <ul class="list-roles-rule-person-role row no-gutters">

                          <li *ngFor="let person of getRolesFromTeamByRuleSelected()"
                              class="element-rol-list-roles-edit-team col-sm-auto col-12">
                            <div
                              class="element-rol-list-roles-edit-team-content row no-gutters align-items-center justify-content-between">
                              <h6 class="col complete"
                                  [innerHtml]="getFullName(person)"></h6>
                              <div class="action-bar-rol col-auto">
                                <i (click)="deleteRol(person)"
                                   class="fa i-delete fa-times-circle-o cursor-pointer pl-1 fa-lg"></i>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <p *ngIf="hasRolBoxAlias(i) && isEmptyRulePersonBoxSelected()"
                           class="text-warning m-0">
                          <span [innerHtml]="emptyRulePersonBoxSelectedMessage()"></span>
                        </p>

                      </section>

                      <div [ngClass]="{'closed' : !isVisibleSearchSuggestionArea()}"
                           class="toggle-animation">
                        <aside *ngIf="isRolBoxActiveComplete()"
                               class="hover-layer-rule-complete">
                          <p>No es posible añadir más personas porque esta regla ya cumple todas las restricciones.</p>
                        </aside>
                        <article>
                          <section class="search-area">
                            <header *ngIf="hasRolBoxAlias()"
                                    class="row no-gutters justify-content-start align-items-center">
                              <i class="fa col-auto fa-info-circle mr-2"></i>
                              <span class="col"
                                    [innerHtml]="getAliasFromRolBoxSelected() | lowercase"></span>
                            </header>
                            <app-search-component #searchPersonInput
                                                  [data]="persons"
                                                  [externalConfig]="setConfigForPersonsSearch()"
                                                  [restart]="restartSearchPersons"
                                                  (onClickElementEvent)="onSearchClick($event)"
                                                  (onNoResults)="addNewPseudonymRoPersonRule($event)"
                                                  (onRestartEvent)="onRestartSearchComponent($event)"></app-search-component>
                          </section>

                          <section class="suggestions-area">
                            <article class="row no-gutters justify-content-center align-items-center"
                                     *ngIf="generateSuggestionAccordingRolBox().length > 0; else noSuggestionAvailableAreaOne">
                              <div
                                class="header-recommended-area col-11 row no-gutters justify-content-center align-items-center">
                                <aside class="legend-border col"></aside>
                                <span class="col-auto px-3"
                                      [innerHtml]="getTagTranslated('title_recommended_roles') | lowercase"></span>
                                <aside class="legend-border col"></aside>
                              </div>

                              <ul
                                class="list-unstyled suggestion-list row col-12 no-gutters justify-content-center align-content-center align-items-center">
                                <li *ngFor="let rolRecommended of generateSuggestionAccordingRolBox(); let i = index;"
                                    (click)="addRecommendedRolToRulePerson(rolRecommended)"
                                    class="suggestion-element-list cursor-pointer col-auto mx-3">
                                  <div class="text-center no-border">
                                    <span [innerHtml]="rolRecommended['name']"></span>
                                    <i class="fa fa-plus-circle fa-lg ml-2"></i>
                                  </div>
                                </li>
                              </ul>
                            </article>

                            <ng-template #noSuggestionAvailableAreaOne>
                              <section *ngIf="apiLoader.teamTypeRecommendedPersons; else emptySuggestionAvailableAreaOne"
                                       class="api-loader pl-2">
                                <p>Cargando datos <i class="fa fa-refresh fa-spin fa-fw"></i></p>
                              </section>
                              <ng-template #emptySuggestionAvailableAreaOne>
                                <p class="placeholder-empty">No hay sugerencias de personas disponibles para este rol.</p>
                              </ng-template>
                            </ng-template>


                          </section>
                        </article>
                      </div>


                    </li>
                  </ul>
                </li>

                <section *ngIf="isEmptyTeamTypeOfRulePersons()">
                  <section *ngIf="apiLoader.teamTypeRulePersons; else emptyTeamTypeOfRulePersons"
                           class="api-loader pl-2">
                    <p>Cargando datos <i class="fa fa-refresh fa-spin fa-fw"></i></p>
                  </section>
                  <ng-template #emptyTeamTypeOfRulePersons>
                    <p class="placeholder-empty">No hay reglas de personas/roles configuradas.</p>
                  </ng-template>
                </section>

                <li [hidden]="!rolBoxActiveHasRoles()"
                    [style.order]="generateOrderIndexForEditRolSection()"
                    class="section-to-edit-roles col-12 hidden-sm-down">

                  <section *ngIf="hasPersonsOrPseudonyms()"
                           class="roles-rule-person-role">
                    <ul class="list-roles-rule-person-role row no-gutters">

                      <li *ngFor="let person of getRolesFromTeamByRuleSelected()"
                          class="element-rol-list-roles-edit-team col-sm-auto col-12">
                        <div
                          class="element-rol-list-roles-edit-team-content row no-gutters align-items-center justify-content-between">
                          <h6 class="col complete"
                              [innerHtml]="getFullName(person)"></h6>
                          <div class="action-bar-rol col-auto">
                            <i (click)="deleteRol(person)"
                               class="fa i-delete fa-times-circle-o cursor-pointer pl-1 fa-lg"></i>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <p *ngIf="hasRolBoxAlias(i) && isEmptyRulePersonBoxSelected()"
                       class="text-warning m-0">
                      <span [innerHtml]="emptyRulePersonBoxSelectedMessage()"></span>
                    </p>

                  </section>

                  <div [ngClass]="{'closed' : !isVisibleSearchSuggestionArea()}"
                       class="toggle-animation">
                    <aside *ngIf="isRolBoxActiveComplete()"
                           class="hover-layer-rule-complete">
                      <p>No es posible añadir más personas porque esta regla ya cumple todas las restricciones.</p>
                    </aside>
                    <article>
                      <section class="search-area">
                        <header *ngIf="hasRolBoxAlias()"
                                class="row no-gutters justify-content-start align-items-center">
                          <i class="fa col-auto fa-info-circle mr-2"></i>
                          <span class="col"
                                [innerHtml]="getAliasFromRolBoxSelected() | lowercase"></span>
                        </header>
                        <app-search-component #searchPersonInput
                                              [externalConfig]="setConfigForPersonsSearch()"
                                              [data]="persons"
                                              [restart]="restartSearchPersons"
                                              (onClickElementEvent)="onSearchClick($event)"
                                              (onNoResults)="addNewPseudonymRoPersonRule($event)"
                                              (onRestartEvent)="onRestartSearchComponent($event)"></app-search-component>
                      </section>

                      <section class="suggestions-area">
                        <article class="row no-gutters justify-content-center align-items-center"
                                 *ngIf="generateSuggestionAccordingRolBox().length > 0; else noSuggestionAvailableAreaTwo">
                          <div
                            class="header-recommended-area col-11 row no-gutters justify-content-center align-items-center">
                            <aside class="legend-border col"></aside>
                            <span class="col-auto px-3"
                                  [innerHtml]="getTagTranslated('title_recommended_roles') | lowercase"></span>
                            <aside class="legend-border col"></aside>
                          </div>
                          <!--hover-layer-rule-complete-->
                          <ul
                            class="list-unstyled suggestion-list row col-12 no-gutters justify-content-center align-content-center align-items-center">
                            <li *ngFor="let rolRecommended of generateSuggestionAccordingRolBox(); let i = index;"
                                (click)="addRecommendedRolToRulePerson(rolRecommended)"
                                class="suggestion-element-list cursor-pointer col-auto mx-3">
                              <div class="text-center no-border">
                                <span [innerHtml]="rolRecommended['name']"></span>
                                <i class="fa fa-plus-circle fa-lg ml-2"></i>
                              </div>
                            </li>
                          </ul>
                        </article>

                        <ng-template #noSuggestionAvailableAreaTwo>
                          <section *ngIf="apiLoader.teamTypeRecommendedPersons; else emptySuggestionAvailableAreaTwo"
                                   class="api-loader pl-2">
                            <p>Cargando datos <i class="fa fa-refresh fa-spin fa-fw"></i></p>
                          </section>
                          <ng-template #emptySuggestionAvailableAreaTwo>
                            <p class="placeholder-empty">No hay sugerencias de personas disponibles para este rol.</p>
                          </ng-template>
                        </ng-template>

                      </section>
                    </article>
                  </div>

                </li>
              </ul>
            </article>
            <article *ngIf="hasTeamRulesTeam(); else noRuleTeamTeam"
                     class="teamts-edition-team article-element-edition-team">
              <ul class="list-roles-edit-team row no-gutters justify-content-center align-items-start">
                <li *ngFor="let teamRule of getTeamRulesTeam(); let i = index;"
                    [style.order]="i+1"
                    (click)="onClickTeamBox(i)"
                    class="element-rol-list-roles-edit-team box-element col-lg-3 col-md-4 col-12">
                  <div
                    class="element-rol-list-roles-edit-team-content-card box-element-content-card cursor-pointer align-items-start row no-gutters justify-content-start align-content-start">
                    <div class="col-12 row no-gutters header-of-card justify-content-between">
                      <h6 class="col-9 text-overflow"
                          [innerHtml]="getNameTeamRule(teamRule)"></h6>
                      <div class="col-3 text-right"
                           [hidden]="!ruleTeamTeamHasRuleTeamTeam(teamRule)">
                        <i class="fa fa-sitemap"></i>
                        <span class="pl-1"
                              [innerHtml]="getTeamTypeLevels(teamRule)"></span>
                      </div>
                    </div>
                    <div class="roles-team-types-area col-12">
                      <article
                        class="roles-area-team-type-element roles-team-types-area-child row no-gutters align-items-start">
                        <div class="col-1">
                          <i class="fa fa-user-o"></i>
                        </div>
                        <article class="col-11">
                          <div *ngIf="ruleTeamTeamHasTeamtsAndRulePerson(teamRule); else noRulePersonsTooltipTeamTeam">
                            <div *ngFor="let rulePersonTeamTeam of getRulePersonRolesTeamTeam(teamRule)"
                                 class="row no-gutters align-items-center mb-2">
                              <div class="col-10 pr-2">
                                <p [innerHtml]="getCategoryName(rulePersonTeamTeam)"></p>
                              </div>
                              <div class="col-2">
                                <p class="quantity"
                                   [innerHtml]="getQuantityFromRulePerson(rulePersonTeamTeam)"></p>
                              </div>
                            </div>
                          </div>
                          <ng-template #noRulePersonsTooltipTeamTeam>
                            <section *ngIf="apiLoader.teamTypeRuleTeams; else emptyRulePersonsTooltipTeamTeam"
                                     class="api-loader pl-2">
                              <p>Cargando datos <i class="fa fa-refresh fa-spin fa-fw"></i></p>
                            </section>
                            <ng-template #emptyRulePersonsTooltipTeamTeam>
                              <p class="placeholder-empty">No hay roles.</p>
                            </ng-template>
                          </ng-template>
                        </article>
                      </article>

                      <div *ngIf="ruleTeamTeamHasRuleTeamTeam(teamRule)">
                        <article *ngFor="let rulett of teamRule['teamts'][0]['rule_teamt_teamt']"
                                 class="subteams-area-team-type-element roles-team-types-area-child row no-gutters align-items-start">
                          <div class="col-1">
                            <i class="fa fa-users"></i>
                          </div>
                          <article class="col-11">
                            <div class="row no-gutters align-items-center mb-2">
                              <div class="col-10 pr-2">
                                <p class="name-team-type-child"
                                   [innerHtml]="getNameTeamTeamtRule(rulett)"></p>
                              </div>
                              <div class="col-2">
                                <p class="quantity"
                                   [innerHtml]="getQuantityTeamTypesChildren(rulett)"></p>
                              </div>
                            </div>
                          </article>
                        </article>
                      </div>
                    </div>

                  </div>
                </li>
              </ul>
            </article>
            <ng-template #noRuleTeamTeam>
              <section *ngIf="apiLoader.teamTypeRuleTeams; else emptyRuleTeamTeam"
                       class="api-loader pl-2">
                <p>Cargando datos <i class="fa fa-refresh fa-spin fa-fw"></i></p>
              </section>
              <ng-template #emptyRuleTeamTeam>
                <!--<p class="placeholder-empty">No hay reglas de tipos de equipos configuradas</p>-->
              </ng-template>
            </ng-template>
          </section>

        </section>

      </section>
    </article>

  </section>

</section>

