@import '../../../assets/sass/sass.files';

.tab-header {
  padding: 0.75rem 0.75rem;
  display: inline-block;
  clear: both;

  .add-team-group-backto {
    position: absolute;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    z-index: 3;

    span {
      font-size: 1.2rem;
    }
  }

  h5 {
    font-size: 1.2rem;
  }
}

.edit-teams-area {

  app-search-component {
    width: 100%;
  }

  font-family: 'roboto';
  padding: 0 .5rem;
  max-width: 1400px;
  margin: 1rem auto 0;
  .header-creation-new-team {
    .title-creation-new-team {
    }
    .subtitle-creation-new-team {
      color: $gray;
      margin: .25rem 0 0;
    }
    .search-team-types-template-area {
      .search-team-types-center{
        margin: 0 auto;
      }
    }
  }
  .team-creation-work-area {
    margin: 2rem 0 2rem;
    .team-type-area-selector {
      .list-team-types {
        max-height: 75vh;
        overflow: auto;
        .ul-element-collapsible-team-type {
          padding: 0 0 .2rem 0;
          margin: 0 0 .5rem;
          border-bottom: 1px solid $gray-dark;
          header {
            border-left: 2px solid $gray;
            padding: .25rem .75rem .25rem .75rem;
            i {
              font-size: 1.15rem;
              background: $gray300;
              padding: .25rem;
              @include border-radius(50%);
            }
          }
          &.active {
            background: $gray100;
            border-bottom: 2px solid $blue;
            margin: 1rem 0;
            header.resume-element-team-type {
              color: $blue;
              border-left-color: $blue;
              padding: .5rem .75rem .5rem .75rem;
              i {
                background: none;
                padding: 0;
              }
            }
          }
          .content-collapsible {
            padding: .5rem .75rem;
            .subteams-area-team-type-element {
              margin: .25rem 0 0;
            }
            .roles-team-types-area {
              .roles-team-types-area-child {
                //margin: .75rem 0 1.25rem;
                p {
                  background: $gray300;
                  font-size: .9rem;
                  color: $gray800;
                  padding: .25rem .75rem;
                  @include border-radius(25px);
                  &.quantity {
                    text-align: center;
                  }
                  &.name-team-type-child {
                    font-weight: 600;
                    color: $gray-dark;
                  }
                }
                h6 {
                  margin-bottom: .25rem;
                }
              }
              margin: .75rem 0;
            }
          }
        }
      }
    }
    .work-table-area {
      @include border-radius(3px);
      background: $gray100;
      min-height: 75vh;
      &.is-valid-team {
        background: $white;
      }
      .placeholder-not-team-type-selected {
        margin: 2rem 0;
        color: #464a4c;
        padding: 0 1rem;
        text-align: center;
        font-size: 1.05rem;
      }
      .placeholder-empty{
        text-align: center;
        margin: 1rem 0;
        font-size: 1.15rem;
        width: 100%;
        @media(max-width: 768px) {
          font-size: .95rem;
        }
      }
      .edition-team-area {
        .header-info-team {
          h4 {
            color: $gray600;
            margin: 0 0 1rem;
            text-align: center;
          }

          p {
            margin: .25rem 0 .75rem;
            font-size: .9rem;
            color: $gray800;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:hover {
              text-overflow: initial;
              white-space: initial;
              overflow: visible;
              overflow-wrap: break-word;
            }
          }

          input {
            background: none;
            font-style: italic;
            border: none;
            border-bottom: 1px solid #3b3b3b;
            padding: .25rem;
            @include border-radius(0);
            white-space: nowrap !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
            &:hover {
              text-overflow: initial !important;
              white-space: initial !important;
              overflow: visible !important;
              overflow-wrap: break-word !important;
            }
            &.name-input {
              font-size: 1.5rem;
            }
            &.description-input {
              font-size: .85rem;
            }
          }

          label {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
            line-height: 1.2;
            &:hover{
              white-space: inherit;
            }
          }

          .save-button {
            width: 100%;
            font-size: .95rem;
            padding: .5rem .5rem;
            align-items: center;

            .button-text {
              display: inherit;
              width: inherit;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            i {
              font-size: 1rem;
              margin: 0 0 0 1rem;
              @media(max-width: 220px) {
                display: none ;
              }
            }


          }

          .border-right {
            padding-left: 20px;
            padding-right: 20px;
            border-right: 1px solid black;
            @media (max-width: 1199px) {
              border: none;
            }
            &.last-col {
              border: none;
            }
          }

          .multiselect-row {
            position: relative;
            //z-index: 100;
          }
        }
        .group-area {
          @media(max-width: 768px) {
            margin: 1rem 0 0;
          }

          i.fa-tag {
            transform: rotate(90deg);
            font-size: 1.1rem;
            &:hover {
              color: $blue800;
            }
          }
        }
        .box-element {
          &.mask-class.assignedFlag {
            div.element-rol-list-roles-edit-team-content {
              border: 2px solid $amber;
            }
          }
          &:nth-child(4n+1) {
            padding-right: .5rem;
            @media(max-width: 992px) {
              padding: 0;
            }
          }
          &:nth-child(4n+2) {
            padding: 0 .5rem;
            @media(max-width: 992px) {
              padding: 0;
            }
          }
          &:nth-child(4n+3) {
            padding: 0 .5rem;
            @media(max-width: 992px) {
              padding: 0;
            }
          }
          &:nth-child(4n+4) {
            //padding-left: .5rem;
            @media(max-width: 992px) {
              padding: 0;
            }
          }

          .box-element-content-card {
            padding: .5rem .75rem .75rem;
            background: $gray100;
            color: $gray800;
            min-height: 3.3rem;
            &.active {
              border: none;
              background: $blue800;
              color: $white;
              p {
                color: $white;
              }
            }
            &.no-border {
              background: #E0E0E0;
              border: 0;
            }

            .roles-card-alias{
              margin-top: .5rem;
              input.itext{
                width: 100%;
                background: $white;
              }
            }
          }
        }
        .content-edition-team {
          margin: 1rem 0;
          &.layer-on-edition-team-child {
            position: fixed;
            top: 0;
            margin: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            background: transparent;
            z-index: 6;
            .header-deep-levels {
              background: $gray300;
              color: $gray800;
              li {
                border-bottom: 1px solid $gray;
                padding: .5rem 2vw;
                h6 {
                  font-size: 1.35rem;
                }
                i {
                  font-size: 1.5rem;
                }
              }
            }
            .edition-team-child-section {
              width: 98vw;
              margin: 0 auto;
              box-shadow: 0 0 5px $gray;
              background: $white;
              height: 100vh;
              overflow: auto;
              @media (max-width: 768px) {
                width: 100vw;
              }
              .header-edit-child-team {
                border-bottom: 2px solid $border-color;
                padding: .5rem 1.5rem;
                @media (max-width: 768px) {
                  padding: .5rem;
                }
                h4 {
                  color: $blue800;
                }
              }
              article.article-element-edition-team {
                padding: 1rem 1.5rem;
                @media (max-width: 768px) {
                  padding: 1rem;
                }
              }
            }
          }
          .article-element-edition-team {
            margin: 2rem 0;
            &.teamts-edition-team {
              .element-rol-list-roles-edit-team-content-card {
                background: $white;
                border: 1px solid $border-color;
                margin: 0 0 .5rem;
                @media(min-width: 768px) {
                  min-height: 200px;
                  margin: 0 .25rem .5rem;
                }
                @include border-radius(3px);
                .header-of-card {
                  margin: 0 0 .5rem;
                  min-height: 24px;
                }
                &:hover {
                  border-color: $blue;
                  box-shadow: 0 0 4px 0 $blue800;
                  .header-of-card h6 {
                    color: $blue;
                  }
                }
                p {
                  background: $gray100;
                  @include border-radius(25px);
                  font-size: .8rem;
                  color: $gray800;
                  padding: 0 .5rem;
                  &.quantity {
                    text-align: center;
                  }
                }
                .subteams-area-team-type-element {
                  margin: .5rem 0 0;
                }
              }
            }
          }
          .roles-edition-team {
            .section-to-edit-roles {
              background: white;
              border: 1px solid $blue800;
              padding: 2rem;
              @media (max-width: 768px) {
                padding: 1rem;
              }
              .toggle-area {
                margin: 1rem 0;
                .divider-toggle {
                  height: 1px;
                  background: $gray;
                }
                .show-area {
                  padding: 0 1rem;
                }
              }
              .toggle-animation {
                position: relative;
                max-height: 500px;
                .hover-layer-rule-complete {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 8;
                  background: rgba(255, 255, 255, 0.7);
                  text-align: center;
                  padding: 3rem 0;
                  font-style: italic;
                  color: $gray800;
                  text-shadow: 0 0 3px $gray;
                }
                @include transition(all 0.3s ease-out);
                &.closed {
                  max-height: 0;
                }
              }
              @media(max-width: 768px) {
                padding: 1rem;
              }
              .search-area {
                header {
                  padding: .35rem 0;
                  color: $gray800;
                  width: auto;
                  font-size: .95rem;
                  font-style: italic;
                  max-width: 15rem;
                  i {
                    color: $blue800;
                    font-size: 1.1rem;
                  }
                }
              }
              .suggestions-area {
                font-size: .9rem;
                .legend-border {
                  height: 1px;
                  background: $gray300;
                  @media(max-width: 768px) {
                    display: none;
                  }
                }
                .header-recommended-area {
                  margin: 1.5rem 0 1.25rem;
                }
                .suggestion-element-list {
                  padding: .5rem;
                  border: 1px solid transparent;
                  &:hover {
                    border-color: $blue800;
                    @include border-radius(25px);
                    i {
                      color: $blue800;
                    }
                  }
                }
                .placeholder-empty{
                  font-size: .85rem;
                }
              }
              .roles-rule-person-role {
                margin: 0 0 2rem;
                .list-roles-rule-person-role {
                  .element-rol-list-roles-edit-team {
                    margin-right: .75rem;
                    margin-bottom: 0.75rem;

                    @media(max-width: 768px) {
                      margin: 0 0 .5rem 0;
                    }
                    div {
                      background: $light_green100;
                      padding: .5rem .75rem;
                      @include border-radius(25px);
                    }
                    h6 {
                      &.valid {
                        color: $orange;
                      }
                      &.complete {
                        color: $light_green700;
                      }
                    }
                    .action-bar-rol {
                      padding: 0;
                      margin: 0 0 0 .5rem;
                      i {
                        padding: 0;
                        background: transparent;
                        color: $gray600;
                        text-align: center;
                        height: 2rem;
                        font-size: 1.75rem;
                        line-height: 2rem;
                        @include border-radius(50%);
                      }
                      i:not(.i-delete) {
                        background: #FFFfff;
                      }
                    }
                  }
                }
              }
            }
            .list-roles-edit-team {
              .element-rol-list-roles-edit-team {
                font-size: .9rem;
                padding: .5rem .25rem 0;
                p.min-max-rule-person {
                  background: transparent;
                  padding: .1rem .25rem;
                  text-align: center;
                  color: $gray800;
                  min-width: 35px;

                  &.active {
                    @include border-radius(25px);
                    background: $white;
                  }
                }
                &.incomplete {
                  p.min-max-rule-person {
                    color: $red700;
                  }
                }
                &.valid {
                  p.min-max-rule-person {
                    color: $orange;
                  }
                }
                &.complete {
                  p.min-max-rule-person {
                    color: $light_green700
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .team-filter-work-area {
    margin: 2rem 0 0;
    .tabs-component {
      .tab-option {
        border: 2px solid #3b3b3b;
        border-right-width: 0;
        background: #fff;
        cursor: pointer;
        &.active {
          background: #E0F2F1;
          color: #009688
        }
        &.search-disabled {
          opacity: 0.2;
          background: #fff;
          cursor: not-allowed;
        }
      }
      .tab-option:last-child {
        border-right-width: 2px;
      }
    }
  }

  .no-visible {
    visibility: hidden;
  }

}


.api-loader{
  font-size: .75rem;
  color: $gray2;
}
