<section class="container mt-5 mb-5">
  <section class="row">
    <header class="col-12">
      <h1 class="m-0">
        Notification Component
        <h5>
          <span class="badge badge-primary">Component</span>
          <span class="badge badge-success">v0.1</span>
          <span class="badge badge-info">New</span>
        </h5>
      </h1>
      <p>Started by <strong>Sebastian Bayo</strong> on 20 March 2017 8:00AM </p>
      <hr/>
    </header>

    <section class="wiki-content row mt-3 col-12">
      <div class="col-8 text-justify">

        <section id="introduction" class="">
          <h5>Introduction</h5>
          <p>Section to expose component's definition</p>
        </section>

        <hr/>

        <section id="rules">
          <h5>Rules</h5>
          <p>Section to expose the limitations and avoid errors from config and point controverts parts.</p>
        </section>

        <hr/>

        <section id="changelog">
          <h5>Changelog
            <span class="badge badge-primary">v0.1</span>
          </h5>
          <p>Section where changes will be shown like a history</p>
        </section>

        <hr/>

        <section id="examples">
          <h5>Examples</h5>
          <p>Section where different examples of instances of component</p>
        </section>

        <hr/>

        <section id="report">
          <h5>Report</h5>
          <p>Section to report bugs detected pending of or fixed or improvements to accomplish.</p>

          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-controls="collapseOne" aria-expanded="false">
                <h6 class="mb-0">
                  <span class="badge badge-danger">Bug</span>
                  <span class="ml-1">Example</span>
                </h6>
              </div>

              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <ul class="row list-unstyled">
                    <li class="col-4">
                      <p class="text-muted m-0">Date</p>
                      <p class="m-0">17 March 2017</p>
                    </li>
                    <li class="col-4">
                      <p class="text-muted m-0">Reference</p>
                      <p class="m-0">BCB0001</p>
                    </li>
                    <li class="col-4">
                      <p class="text-muted m-0">State</p>
                      <p class="m-0 text-danger">Pending</p>
                    </li>
                  </ul>
                  <p class="text-muted m-0">Description</p>
                  <p>
                    Popover is not able to detect the current position of the button what is creating it. Assigning
                    popover class from bootstrap 4 is not working well because we need to put functionality via
                    Javascript
                  </p>
                  <p class="text-muted m-0">Solution</p>
                  <p>
                    Erase popover class from Bootstrap. Create specific class for popover imitating Bootstrap 4.
                  </p>
                  <p class="text-muted m-0">Author</p>
                  <p class="m-0">
                    <img style="width: 50px;" class="img-thumbnail mr-2 rounded-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAe3AAAAJDkyY2YxOTIyLTQ2MDctNDE2Ny1iMWUzLWEwMmQxY2RkZGNjMw.jpg" alt="avatar"/>
                    Sebastián Bayo Gaspar
                  </p>
                </div>
              </div>
            </div>

          </div>
        </section>

        <hr/>

        <section id="references">
          <h5>References</h5>
          <p>Section with all the links and references used.</p>
        </section>

      </div>
      <div class="col-4">
        <article class="card">
          <ul class="list-unstyled list-group">
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
          </ul>
        </article>
      </div>
    </section>

</section>
