@import "../../../../../assets/sass/sass.files";

.widget-base-component {

  &.dashboard-mode {
    cursor: pointer;
    .widget-value {
      cursor: pointer;
    }

    .widget-text {
      cursor: pointer;
    }
  }

  .widget-close-options {
    text-align: left;
    padding-top: .5rem;
    padding-left: .25rem;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }

  .widget-options {
    text-align: right;
    padding-top: .5rem;
    padding-right: .25rem;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }

  .widget-value {
    cursor: default;
  }

  .widget-text {
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    &:hover{
      text-overflow: initial;
      white-space: initial;
      overflow: visible;
      overflow-wrap: break-word;
    }
  }

  .widget-extend {

    app-widget-type-b-component, app-widget-type-d-component {
      width: 100%;
    }
  }
}
