<section [id]="getComponentId()"
         [hidden]="!visible"
         class="widget-base-component"
         [ngClass]="{'dashboard-mode': isDashboardMode()}"
         (mouseenter)="onEnabledShowOptions()"
         (mouseleave)="onDisabledShowOptions()">

  <!--// ToDo: Al reescalar la pantalla debe ocultarse el overlay-->
  <p-overlayPanel #optionsOverlayPanel
                  appendTo="body"
                  (onBeforeHide)="onBeforeHideOptionsPanel()">

    <p-listbox [options]="widgetOptions">

      <ng-template let-widgetOption let-i="index" pTemplate="item">
        <div class="ui-helper-clearfix"
             (click)="onSelectOption(widgetOption.value, optionsOverlayPanel)">
          <span>{{widgetOption.label}}</span>
        </div>

      </ng-template>

    </p-listbox>

  </p-overlayPanel>

  <article *ngIf="!isDashboardMode()"
           class="row col-12 no-gutters justify-content-start">

    <div class="col-6 no-gutters widget-close-options"
         [ngClass]="{'visible': isEditMode()}">
      <i class="fa fa-lg fa-times border-circle cursor-pointer"
         (click)="closeEditMode()"></i>
    </div>

    <div class="col-6 no-gutters widget-options"
         [ngClass]="{'visible': isShowOptions() && !isEditMode()}">
      <i class="fa fa-lg fa-ellipsis-v cursor-pointer"
         (click)="setShowOptionsPanel($event, optionsOverlayPanel);"></i>
    </div>

  </article>

  <article class="row col-12 no-gutters justify-content-center widget-value">
    <span>{{getWidgetValue()}}</span>
  </article>

  <article class="row col-12 no-gutters justify-content-center widget-text">
    <span>{{getWidgetText()}}</span>
  </article>

  <article class="row col-12 no-gutters justify-content-center widget-extend">

    <app-widget-type-b-component #widgetTypeB
                                 *ngIf="getWidgetType() === 'B'"
                                 [widgetConfig]="widgetConfig"
                                 [editMode]="isEditMode()">
    </app-widget-type-b-component>

    <app-widget-type-c-component #widgetTypeC
                                 *ngIf="getWidgetType() === 'C'"
                                 [widgetValue]="widgetConfig['extend']['value']"
                                 [dashboardMode]="isDashboardMode()">
    </app-widget-type-c-component>

    <app-widget-type-d-component #widgetTypeD
                                 *ngIf="getWidgetType() === 'D'"
                                 [widgetConfig]="widgetConfig"
                                 [options]="widgetConfig['dropdown']['options']"
                                 [editMode]="isEditMode()"
                                 (changeDropdownEvent)="onChangeWidget($event)">
    </app-widget-type-d-component>

  </article>


</section>
