<section class="container mt-5 mb-5">
  <section class="row">
    <header class="col-12">
      <h1 class="m-0">
        Button Component
        <h5>
          <span class="badge badge-primary">Component</span>
          <span class="badge badge-success">v0.1</span>
          <span class="badge badge-info">New</span>
        </h5>
      </h1>
      <p>Started by <strong>Sebastian Bayo</strong> on 16 March 2017 17:58 </p>
      <hr/>
    </header>
    <section class="wiki-content row mt-3 col-12">
      <div class="col-8 text-justify">
        <article class="">
          <h5>Introduction</h5>
          <p>This component has joined features and functionalities of different components predefined on Boostrap 4
            following the idea of make easier the way to developers who wants just create interfaces dismissing the deep
            part of the programming inside it. </p>
          <p>In fact, on this page, we are going to explain mostly the way to <strong>configure the component</strong>,
            because the config part, as I mentioned before, trying to mix differents components in one, has done this
            config file a big config object.</p>
          <p>If we want to create a <strong>single instance of button component</strong> just typing on DOM this: <code>
            < button-component > < /button-component ></code>, we will have this result:</p>
          <aside class="text-center mb-3">
            <app-button-component></app-button-component>
          </aside>
          <p>As we can check, a single button with Bootstrap 4 appearance has been created. If you also, open the
            development console, you can see a <code>console.log('Done')</code> working as click event as default.</p>
        </article>
        <hr/>
        <article>
          <h5>Attributes</h5>
          <p>During instance a button component we have <strong>two</strong> essentials attributes on <code>button-component</code>:
          </p>
          <ul>
            <li>
              <code>[externalConfig]</code>:
              <span>Configuration Json Object what is gonna be mergerd with the basic configuration made on component to override attributes and make a custom button component on demand.</span>
            </li>
            <li>
              <code>[outputEvent]</code>:
              <span>Usually will have to be a method on parent what will caught the response from button with the feedback of any event done on it, like click or select for dropdown configuration.</span>
            </li>
          </ul>
          <p class="mt-1 text-warning"><strong>Note: Response from outputEvent has to be defined. For now, it's getting
            when click
            event is done or element from dropdown has been selected.</strong></p>
        </article>
        <hr/>
        <article>
          <h5>Configuration</h5>
          <p>This component has an extended JSON configuration file what we are going to split in subsections in order
            to make more understandable it. When instancing a button component we have three essentials attributes on
            <code>button-component</code></p>

          <h6>Button configuration:</h6>
          <p>This is the configuration for the button itself. It will have all this attributes:</p>
          <ul>
            <li>
              <span class="badge badge-primary">String</span>
              <code>type</code>:
              <span>The type of the button. It can be chosen between submit, reset, button, ...</span>
            </li>
            <li>
              <span class="badge badge-primary">String</span>
              <code>hasText</code>:
              <span>Flag which control if the button has to show/hide text.</span>
            </li>
            <li>
              <span class="badge badge-primary">String</span>
              <code>text</code>:
              <span>Text of the button.</span>
            </li>
            <li>
              <span class="badge badge-primary">Boolean</span>
              <code>hasText</code>:
              <span>Flag which control if the button has to show/hide text.</span>
            </li>
            <li>
              <span class="badge badge-primary">Boolean</span>
              <code>isDisabled</code>:
              <span>Determine if the button has to be disabled from construction.</span>
            </li>
            <li>
              <span class="badge badge-primary">Object</span>
              <code>classes</code>:
              <ul class="">
                <li>
                  <span class="badge badge-primary">String</span>
                  <code>main</code>:
                  <span>Main class of the button what determine the colour of it.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>hasOutlineBorder</code>:
                  <span>Determine if converts the button on outline button(without background). The colour of outline button is coming from main class.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>isBlockButton</code>:
                  <span>Determine if the button has the property <code>display: block</code> what will display the button all along the parent container.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>isLargeButton</code>:
                  <span>Convert button and font size to large size. Increase the size.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>isSmallButton</code>:
                  <span>Convert button and font size to small size. Decrease the size.</span>
                </li>
                <li>
                  <span class="badge badge-primary">String</span>
                  <code>Extra</code>:
                  <span>Add all the extra classes what we want to button.</span>
                </li>
              </ul>
            </li>
          </ul>

          <h6>Icon configuration:</h6>
          <p>This part of the configuration owns to icon on the button. We allow to insert an icon to the button joining
            text or alone without text. We are using <a href="https://fontawesome.io/icons/" target="_blank"><strong>Font
              Awesome</strong></a> icons to determine which icon insert. The attributes for this configuration are:</p>
          <ul>
            <li>
              <span class="badge badge-primary">Boolean</span>
              <code>has</code>:
              <span>Determine if the button has or not icon.</span>
            </li>
            <li>
              <span class="badge badge-primary">Object</span>
              <code>classes</code>:
              <ul class="">
                <li>
                  <span class="badge badge-primary">String</span>
                  <code>main</code>:
                  <span>Name of the icon (<code>fa-{{main}}</code>). In <a href="https://fontawesome.io/icons/"
                                                                           target="_blank"><strong>Font Awesome</strong></a> we can know the icon we want by adding the suffix.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>isLg</code>:
                  <span>Give to the icon one bigger size than the default</span>
                </li>
                <li>
                  <span class="badge badge-primary">Number</span>
                  <code>faSize</code>:
                  <span>In a range between 2 and 5 increases the default size of the icon multiplying by the number given</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>isAlignLeft</code>:
                  <span class="text-danger"><strong>Not implemented</strong></span>
                </li>
                <li>
                  <span class="badge badge-primary">String</span>
                  <code>extra</code>:
                  <span>Add all the extra classes what we want to the icon.</span>
                </li>
              </ul>
            </li>
          </ul>
          <div class="alert alert-info" role="alert">
            <i class="fa fa-exclamation-triangle fa-lg mr-2 "></i>
            All the information related to icons can be found on FA website by clicking <a
            href="https://fontawesome.io/examples/" target="_blank"><strong>here</strong></a>.
          </div>

          <h6>DropDown configuration:</h6>
          <p>Button admits a configuration convert the button into a DropDown with a determine amount of options. By
            clicking on the button a selectable will appears with a list of options, changing the current text of button
            or executing a event.</p>
          <p>DropDown configuration has next attributes:</p>
          <ul>
            <li>
              <span class="badge badge-primary">Boolean</span>
              <code>has</code>:
              <span>Determine if the button has DropDown.</span>
            </li>
            <li>
              <span class="badge badge-primary">String</span>
              <code>menuAlign</code>:
              <span>By default is set 'left' what shows the list on left. Admit 'right' and 'left'.</span>
            </li>
            <li>
              <span class="badge badge-primary">Boolean</span>
              <code>dropUp</code>:
              <span>If it is active, the list will appears <strong>over</strong>up the button. In other case, will appears down on button like default behaviour.</span>
            </li>
            <li>
              <span class="badge badge-primary">Array[Object]</span>
              <code>options</code>:
              <ul class="">
                <li>
                  <span class="badge badge-primary">Number</span>
                  <code>id</code>:
                  <span>Id of the option to have a control.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>active</code>:
                  <span>Indicate if the option has to be active.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Number</span>
                  <code>disabled</code>:
                  <span>Indicate if the option has to be disabled from beginning.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Object</span>
                  <code>link</code>:
                  <span>Configuration to convert the option into a link in order to redirect another page.</span>
                  <ul class="">
                    <li>
                      <span class="badge badge-primary">Boolean</span>
                      <code>has</code>:
                      <span>Activate/desactivate link redirect function.</span>
                    </li>
                    <li>
                      <span class="badge badge-primary">String</span>
                      <code>href</code>:
                      <span>Address where to redirect the page.</span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="badge badge-primary">Function()</span>
                  <code>action</code>:
                  <span>Override the function to execute by clicking</span>
                </li>
                <li>
                  <span class="badge badge-primary">String</span>
                  <code>callBackFunctionName</code>:
                  <span>Method's name on the parent component given on the response (outputEvent) to be executed on the callBack click.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>isDivider</code>:
                  <span>Convert the option into a divider on the list.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Boolean</span>
                  <code>isModal</code>:
                  <span>Create a modal component after click event.</span>
                </li>
                <li>
                  <span class="badge badge-primary">Object</span>
                  <code>modalConfig</code>:
                  <span>Configuration for <code> < modal-component > < /modal-component></code></span>
                  <a href="/wiki/modalComponent" target="_blank"><i class="fa fa-link"></i></a>
                </li>
              </ul>
            </li>
          </ul>

          <h6>Popover configuration</h6>
          <p>We recommend to activate this option for buttons with icon enabled and no text, to show information in
            tables with long texts or too much information. Anyways allows any kind of
            configuration for text/icon even <strong class="text-warning">we did not test it</strong>. It is totally
            independent from.</p>
          <ul>
            <li>
              <span class="badge badge-primary">Boolean</span>
              <code>has</code>:
              <span>Determine if the button has popover.</span>
            </li>
            <li>
              <span class="badge badge-primary">String</span>
              <code>placement</code>:
              <span>By default is set 'top' what shows the popover on top. Admit 'right', 'left' and 'bottom'.</span>
            </li>
            <li>
              <span class="badge badge-primary">String</span>
              <code>title</code>:
              <span>If user wants to add a title for popover, write here the title text.</span>
            </li>
            <li>
              <span class="badge badge-primary">String</span>
              <span class="badge badge-primary">HTML Element</span>
              <code>content</code>:
              <span>Content of the popover. Can be provided string or HTML Element</span>
            </li>
          </ul>

          <h6>Click event</h6>
          <p>The last point in the configuration of the button is the function that is has to be triggered on click event. By default is showing a message on console.</p>
          <ul>
            <li>
              <span class="badge badge-primary">Function()</span>
              <code>clickEvent</code>:
              <span>Function what is will be triggered after click on button.</span>
            </li>
          </ul>
        </article>


        <hr/>

        <section>
          <h5>Constraints</h5>
          <p>Section to expose the limitations and avoid errors from config and point controverts parts.</p>
        </section>

        <hr/>

        <section>
          <h5>
            Changelog
            <span class="badge badge-primary">v0.1</span>
          </h5>
          <ul class="list-unstyled">
            <li>
              <span class="text-muted">17/03/2017</span>
              <span class="badge badge-success">v0.1</span>
              <p>Creation of the component.</p>
            </li>
          </ul>
        </section>

        <hr/>

        <section>
          <h5>Examples</h5>
          <p>Section where different examples of instances of component</p>
        </section>

        <hr/>

        <section id="report">
          <h5>Report</h5>
          <p>Section to report bugs detected pending of or fixed or improvements to accomplish.</p>

          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-controls="collapseOne" aria-expanded="false">
                <h6 class="mb-0">
                  <span class="badge badge-danger">Bug</span>
                  <span class="ml-1">Popover behaviour</span>
                </h6>
              </div>

              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <ul class="row list-unstyled">
                    <li class="col-4">
                      <p class="text-muted m-0">Date</p>
                      <p class="m-0">17 March 2017</p>
                    </li>
                    <li class="col-4">
                      <p class="text-muted m-0">Reference</p>
                      <p class="m-0">BCB0001</p>
                    </li>
                    <li class="col-4">
                      <p class="text-muted m-0">State</p>
                      <p class="m-0 text-danger">Pending</p>
                    </li>
                  </ul>
                  <p class="text-muted m-0">Description</p>
                  <p>
                    Popover is not able to detect the current position of the button what is creating it. Assigning
                    popover class from bootstrap 4 is not working well because we need to put functionality via
                    Javascript
                  </p>
                  <p class="text-muted m-0">Solution</p>
                  <p>
                    Erase popover class from Bootstrap. Create specific class for popover imitating Bootstrap 4.
                  </p>
                  <p class="text-muted m-0">Author</p>
                  <p class="m-0">
                    <img style="width: 50px;" class="img-thumbnail mr-2 rounded-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAe3AAAAJDkyY2YxOTIyLTQ2MDctNDE2Ny1iMWUzLWEwMmQxY2RkZGNjMw.jpg" alt="avatar"/>
                    Sebastián Bayo Gaspar
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-controls="collapseTwo" aria-expanded="false">
                <h6 class="mb-0">
                  <span class="badge badge-info">Improvement</span>
                  <span class="ml-1">Click event</span>
                </h6>
              </div>

              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                  <ul class="row list-unstyled">
                    <li class="col-4">
                      <p class="text-muted m-0">Date</p>
                      <p class="m-0">17 March 2017</p>
                    </li>
                    <li class="col-4">
                      <p class="text-muted m-0">Reference</p>
                      <p class="m-0">BCI0001</p>
                    </li>
                    <li class="col-4">
                      <p class="text-muted m-0">State</p>
                      <p class="m-0 text-danger">Pending</p>
                    </li>
                  </ul>
                  <p class="text-muted m-0">Description</p>
                  <p>
                    We have limit so much click event just letting only pass a function as value. If the user is using variables on parent component and in that function will crash.
                  </p>
                  <p class="text-muted m-0">Solution</p>
                  <p>
                    Redefine this point at configuration, allowing disable click event, or callBack function as dropDown's options.
                  </p>
                  <p class="text-muted m-0">Author</p>
                  <p class="m-0">
                    <img style="width: 50px;" class="img-thumbnail mr-2 rounded-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAe3AAAAJDkyY2YxOTIyLTQ2MDctNDE2Ny1iMWUzLWEwMmQxY2RkZGNjMw.jpg" alt="avatar"/>
                    Sebastián Bayo Gaspar
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <hr/>

        <section>
          <h5>References</h5>
          <p>Section with all the links and references used.</p>
        </section>

      </div>
      <div class="col-4">
        <article class="card">
          <ul class="list-unstyled list-group">
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
            <li class="list-group-item">Referencia 1</li>
          </ul>
        </article>
      </div>
    </section>

</section>
