<section class="container mt-5 mb-5">
  <section class="row">
    <header class="col-12">
      <h1 class="m-0">
       Welcome to Team Experience Network Wiki (TxNet)
      </h1>
      <p>Started by <strong>Sebastian Bayo</strong> on 16 March 2017 17:58 </p>
      <hr/>
    </header>
    <section class="wiki-content row mt-3 col-12">

      <div class="card text-center" >
        <i class="card-img-top fa text-primary fa-bold fa-5x"></i>
        <div class="card-block">
          <h4 class="card-title">Button component</h4>
          <a href="/wiki/button" class="btn btn-warning">Learn it!</a>
        </div>
      </div>
      <div class="card text-center ml-2">
        <i class="card-img-top fa text-primary fa-comment fa-5x"></i>
        <div class="card-block">
          <h4 class="card-title">Notification component</h4>
          <a href="/wiki/notification" class="btn btn-warning">Learn it!</a>
        </div>
      </div>
      <div class="card text-center ml-2">
        <i class="card-img-top fa text-primary fa-sliders fa-5x"></i>
        <div class="card-block">
          <h4 class="card-title">Slider component</h4>
          <a href="/wiki/slider" class="btn btn-warning">Learn it!</a>
        </div>
      </div>
      <div class="card text-center ml-2">
        <i class="card-img-top fa text-primary fa-columns fa-5x"></i>
        <div class="card-block">
          <h4 class="card-title">SplitPane component</h4>
          <a href="/wiki/split-pane" class="btn btn-warning">Learn it!</a>
        </div>
      </div>
      <div class="card text-center ml-2">
        <i class="card-img-top fa text-primary fa-sort-numeric-asc fa-5x"></i>
        <div class="card-block">
          <h4 class="card-title">Pagination component</h4>
          <a href="/wiki/pagination"
             class="btn btn-warning">Learn it!</a>
        </div>
      </div>

    </section>
  </section>

</section>
