<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters p-0 pr-2 pt-2 add-role-category-component align-items-center justify-content-center">

  <div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

    <aside class="row no-gutters align-items-center add-role-category-backto cursor-pointer hover-blue"
           (click)="goBackTo()">
      <i class="fa fa-angle-left mr-1"></i>
      <span class="text-overflow">Edición de categorias de rol</span>
    </aside>
    <h5 class="row col-12 no-gutters justify-content-center">Crear nuevas categorías de rol</h5>
  </div>

  <div class="row col-6 no-gutters add-role-category-panel align-items-start justify-content-center">

    <section *ngFor="let newRoleCategory of roleCategory; let i = index;"
             class="row col-12 add-role-category-row align-items-start justify-content-center">

      <div class="row col-1 no-gutters p-0 mt-2 delete-role-category justify-content-end">
        <i class="fa fa-times"
           [ngClass]="{'visible': isValidRoleCategory(i)}"
           (click)="deleteRoleCategory(i)"></i>
      </div>

      <div class="row col-4 no-gutters p-0 mt-4 mt-md-0">

        <app-input-validator [externalConfig]="getNameInputValidatorConfig()"
                             (errorEvent)="onInvalidRoleCategory($event, i)"
                             (outputEvent)="onValidRoleCategory($event, i)"></app-input-validator>
      </div>

    </section>

  </div>

  <section class="row col-12 no-gutters add-role-category-buttons align-items-center justify-content-center">

        <span class="cancel-button"
              (click)="goBackTo()">Cancelar</span>

    <button class="btn btn-secondary cursor-pointer"
            (click)="showConfirmDialog()">
      <span>Crear categorías de rol</span>
    </button>
  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>

  <app-confirm-dialog-component #noCreateRoleCategoryDialogComponent
                                [externalConfig]="getNoCreateRoleCategoryDialogSetup()">
  </app-confirm-dialog-component>
</section>
