<section class="container mt-5 mb-5">
  <section class="row">
    <header class="col-12">
      <h1 class="m-0">
        SplitPane Component
        <h5>
          <span class="badge badge-primary">Component (external)</span>
          <span class="badge badge-success">v1.3.1</span>
          <a href="https://github.com/wannabegeek/ng2-split-pane" target="_blank"><span class="badge badge-info">GitHub</span></a>
          <a href="https://www.npmjs.com/package/ng2-split-pane" target="_blank"><span class="badge badge-danger">npmjs</span></a>
        </h5>
      </h1>
      <p>Started by <strong>Elías Romero</strong> on 8 May 2017 8:00AM </p>
      <hr/>
    </header>

    <section class="wiki-content row mt-3 col-12">
      <div class="col-9 text-justify">
        <section id="introduction" class="">
          <h4>Introducción</h4>
          <p>Este componente permite realizar un resize interactivo en un grid de bloques HTML, en horizontal o vertical, según se configure el comportamiento.</p>
          <p>A continuación se detallan los pasos a realizar su <strong>instalación</strong>, <strong>uso  del componente</strong> y las <strong>opciones de configuración permitidas</strong></p>
        </section>

        <hr/>

        <article class="mt-5">
          <h4 id="install">Instalación</h4>
          <div class="bg-faded p-2">
            <code class="text-gray-dark">sudo npm install ng2-split-pane</code>
          </div>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="import">Import</h4>
          <p>Para hacer uso de este componente se debe realizar el siguiente import:</p>
          <div class="bg-faded p-2 mb-5">
            <code class="text-gray-dark"><span class="text-danger">import</span> &#123; SplitPaneModule &#125; <span class="text-danger">from</span> <span class="text-success">'ng2-split-pane/lib/ng2-split-pane'</span><span class="text-danger">;</span></code>
          </div>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="uso">Uso</h4>
          <p>Para crear una instancia de este componente en el DOM se disponen de los siguientes tags:</p>
          <div class="bg-faded p-2 mb-5">
            <ul>
              <li>Split horizontal: <code>&#60;horizontal-split-pane&#62;&#60;/horizontal-split-pane&#62;</code></li>
              <li>Split vertical: <code>&#60;vertical-split-pane&#62;&#60;/vertical-split-pane&#62;</code></li>
            </ul>
          </div>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="attributes">Atributos</h4>
          <ul>
            <li class="my-1">
              <span class="badge badge-primary">pixels</span>
              <code>primary-component-minsize</code>:
              <span>Only allow the primary pane (either top or left) to go as small as this</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">pixels</span>
              <code>secondary-component-minsize</code>:
              <span>Only allow the secondary pane (either bottom or right) to go as small as this</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">pixels</span>
              <code>separator-thickness</code>:
              <span>The thickness of the separator between the primary and secondary components</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">boolean</span>
              <code>primary-component-toggled-off</code>:
              <span>Hide the primary component and the separator</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">boolean</span>
              <code>secondary-component-toggled-off</code>:
              <span>Hide the secondary component and the separator</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">ratio [0-1]</span>
              <code>primary-component-initialratio</code>:
              <span>Hide the secondary component and the separator</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">string</span>
              <code>local-storage-key</code>:
              <span>If this value is present, uses this key withing localstorage to remember the position of the divider bar</span>
            </li>
          </ul>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="events">Eventos</h4>
          <ul>
            <li class="my-1">
              <code>on-change</code>:
              <span>emitted when a change in the size of the component happens</span>
            </li>
            <li class="my-1">
              <code>on-begin-resizing</code>:
              <span>emitted when the user begins dragging the separator</span>
            </li>
            <li class="my-1">
              <code>on-ended-resizing</code>:
              <span>emitted when the user releases the separator after dragging</span>
            </li>
          </ul>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="demos">Ejemplo</h4>
          <p></p>

          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#run01" role="tab">run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#html01" role="tab">html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#typescript01" role="tab">typescript</a>
              </li>
            </ul>
          </div>

          <div class="tab-content bg-faded p-2" style="min-height: 170px">
            <div class="tab-pane active" id="run01" role="tabpanel">
              <div class="m-2 mt-3">
                <vertical-split-pane
                  primary-component-minsize="35"
                  secondary-component-minsize="35"
                  local-storage-key="split-pane"
                  primary-component-initialratio="0.4"
                  [primary-component-toggled-off]="isMobile">

                  <div class="split-pane-content-primary">
                    <div style="height: 100px; padding: 10px;border: 1px lightblue solid">
                      Left pane
                    </div>
                  </div>

                  <div class="split-pane-content-secondary">
                    <div style="height: 100px; padding: 10px;border: 1px lightblue solid">
                      Right pane
                    </div>
                  </div>

                </vertical-split-pane>

              </div>
            </div>
            <div class="tab-pane" id="html01" role="tabpanel">
              <div class="bg-faded p-2">
                <p class="text-gray-dark text-left">
                  &#60;vertical-split-pane
                  <br><span class="ml-3">primary-component-minsize="35"</span>
                  <br><span class="ml-3">secondary-component-minsize="35"</span>
                  <br><span class="ml-3">local-storage-key="split-pane"</span>
                  <br><span class="ml-3">primary-component-initialratio="0.4"</span>
                  <br><span class="ml-3">[primary-component-toggled-off]="isMobile"&#62;</span><br>

                  <br><span class="ml-3">&#60;div class="split-pane-content-primary"&#62;</span>
                  <br><span class="ml-5">&#60;div&#62;Left pane&#60;/div&#62;</span>
                  <br><span class="ml-3">&#60;/div&#62;</span>

                  <br><span class="ml-3">&#60;div class="split-pane-content-secondary"&#62;</span>
                  <br><span class="ml-5">&#60;div&#62;Right pane&#60;/div&#62;</span>
                  <br><span class="ml-3">&#60;/div&#62;</span><br>
                  <br>&#60;/vertical-split-pane&#62;
                </p>
              </div>
            </div>
            <div class="tab-pane" id="typescript01" role="tabpanel">
              <div class="bg-faded p-2">
                <code class="text-gray-dark">
                  <span class="text-danger">public</span> isMobile: <span class="text-danger">boolean</span> = <span class="text-info">false</span><span class="text-danger">;</span><br>
                </code>
              </div>
            </div>
        </div>
        </article>
      </div>

      <div class="col-3">
        <article class="card">
          <ul class="list-unstyled list-group">
            <li class="list-group-item"><a routerLink="/wiki/split-pane/" fragment="install">Instalación</a></li>
            <li class="list-group-item"><a routerLink="/wiki/split-pane/" fragment="import">Import</a></li>
            <li class="list-group-item"><a routerLink="/wiki/split-pane/" fragment="uso">Uso</a></li>
            <li class="list-group-item"><a routerLink="/wiki/split-pane/" fragment="attributes">Atributos</a></li>
            <li class="list-group-item"><a routerLink="/wiki/split-pane/" fragment="events">Eventos</a></li>
            <li class="list-group-item"><a routerLink="/wiki/split-pane/" fragment="demo">Ejemplos</a></li>
          </ul>
        </article>
      </div>
    </section>


  </section>
</section>
