<section class="hidden-sm-down">
  <p-overlayPanel #rowOverlayPanel appendTo="body">
    <div class="btn-group-vertical btn-group-listbox">
      <button (click)="onClickEdit(rowOverlayPanel)"
              class="btn btn-secondary cursor-pointer">
        <span [innerHtml]="editText"></span>
      </button>

      <button *ngIf="removable"
              (click)="onClickDelete(rowOverlayPanel)"
              class="btn btn-secondary cursor-pointer">
        <span [innerHtml]="deleteText"></span>
      </button>
    </div>
  </p-overlayPanel>

  <i class="row-options fa fa-ellipsis-v"
     (click)="onToggleMenu($event, rowOverlayPanel);"></i>
</section>



<section class="hidden-md-up">
  <button (click)="onClickEdit()"
          class="btn btn-secondary cursor-pointer btn-hover-blue">
    <span [innerHtml]="editText"></span>
  </button>

  <button *ngIf="removable"
          (click)="onClickDelete()"
          class="btn btn-secondary cursor-pointer btn-hover-blue">
    <span [innerHtml]="deleteText"></span>
  </button>
</section>

<app-confirm-dialog-component #confirmDialogComponent
                              [externalConfig]="getConfirmDialogSetup()"
                              (outputEvent)="onConfirmDialogResponse($event)"></app-confirm-dialog-component>
