<section [id]="getComponentId()"
         [hidden]="!visible"
         class="widget-container-component">

  <article *ngIf="myDashboardEntries.length > 0"
           class="row col-12 no-gutters justify-content-center">

    <!--<div class="row col-12 no-gutters mt-2 justify-content-center">-->
      <!--<span>{{getMyDashboardTag()}}</span>-->
    <!--</div>-->

    <div *ngFor="let dashboardEntry of myDashboardEntries; let i = index"
         class="row no-gutters">

      <div class="col-12 no-gutters widget-element mt-2 mr-2"
           [ngClass]="{'dashboard-mode': isDashboardMode(),
            'selected': isDashboardMode() && dashboardEntry.position !== 0 || isWidgetEditing(dashboardEntry.id)}"
           (click)="onChangePosition(i)">

        <section *ngIf="isDashboardMode()"
                 class="col-12 no-gutters widget-selected-position"
                 [ngClass]="{'visible': isDashboardMode() && dashboardEntry.position !== 0}">
          <span>{{dashboardEntry.position}}</span>
        </section>

        <section class="col-12 no-gutters">

          <app-widget-base-component [dashboardMode]="isDashboardMode()"
                                     [dashboardEntry]="dashboardEntry"
                                     [widgetConfig]="getWidgetConfig(dashboardEntry)"
                                     (onEditWidgetEvent)="onEditWidgetEvent($event)"
                                     (onDeleteWidgetEvent)="onDeleteWidgetEvent($event)">
          </app-widget-base-component>

        </section>
      </div>

    </div>

  </article>

  <article *ngIf="myDashboardEntries.length === 0"
           class="row col-12 no-gutters justify-content-center">
    No dispone de widgets.
  </article>

</section>


