@import "../../../../assets/sass/sass.files";

.widget-container-component {
  width: 100%;

  .widget-element {
    margin: 0 auto;
    border: solid $gray;
    text-align: center;
    min-width: calculateRem(200px);
    max-width: calculateRem(200px);
    min-height: calculateRem(120px);
    &.dashboard-mode {
      cursor: pointer;
      &:hover {
        background: $light-blue;
        border-color: $blue;
      }
      &.selected {
        background: $light-blue;
        border-color: $blue;
      }

      .widget-selected-position {
        text-align: left;
        padding-top: .5rem;
        padding-left: 1rem;
        visibility: hidden;
        cursor: pointer;
        &.visible {
          visibility: visible;
        }
      }
    }

    &.selected {
      background: $light-blue;
      border-color: $blue;
    }

    app-widget-base-component {
      width: 100%;
      height: auto;
    }
  }
}
