@import '../../../../assets/sass/sass.files';

.scope-notes-row{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $border-light;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  position: relative;
  .scope-notes-cell {
    margin-left: .5rem;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: $gray;

    h6.note-title{
      font-size: .95rem;
      font-weight: 600;
      margin-bottom: .2rem;
    }

    p.note-date{
      color: $font-default;
      margin-bottom: .3rem;
      display: inline;
      padding: .15rem .5rem;
      &.date-today{
        color: $white;
        background: $blue;
        @include border-radius(.25rem);
      }
      &.date-tomorrow{
        color: $white;
        background: $btn-save;
        @include border-radius(.25rem);
      }
      &.date-expired{
        color: $font-alert;
      }
    }

    .note-desc-box{
      .note-desc-row{
        .note-desc-status{
          @include border-radius(50%);
          width: calculateRem(10px);
          height: calculateRem(10px);
          margin-right: .25rem;
        }
        .note-desc-text{
          color: $font-default;
        }
      }
    }

    &.note-communication{
      border-left-color: $white;
    }

    &.note-task-not-started::before{
      content: "";
      border-left: 5px solid $gray500;
      height: 16px;
      width: 1px;
      position: absolute;
      left: 6px;
      top: 0;
    }
    &.note-task-ongoing::before{
      content: "";
      border-left: 5px solid $gray500;
      height: 16px;
      width: 1px;
      position: absolute;
      left: 6px;
      margin-top: -8px;
      top: 50%;
    }
    &.note-task-blocked::before{
      content: "";
      border-left: 5px solid $gray500;
      border-right: 5px solid $gray500;
      height: 16px;
      width: 15px;
      position: absolute;
      left: 1px;
      margin-top: -8px;
      top: 50%;
    }
    &.note-task-ended::before{
      content: "";
      border-left: 5px solid $gray500;
      height: 16px;
      width: 1px;
      position: absolute;
      left: 6px;
      top: 100%;
      margin-top: -24px;
    }
    &.note-task-cancelled{
      &::before{
        content: "Cancelled";
        position: absolute;
        color: $font-alert;
        left: 50%;
        font-size: 1.2rem;
        top: 10%;
        -webkit-transform: rotate(-22.5deg) translate(-50%, -50%);
        -moz-transform: rotate(-22.5deg) translate(-50%, -50%);
        -ms-transform: rotate(-22.5deg) translate(-50%, -50%);
        -o-transform: rotate(-22.5deg) translate(-50%, -50%);
        transform: rotate(-22.5deg) translate(-50%, -50%);
      }
      & > h6, & > p, & > div{
        @include opacity(.6);
      }
    }
  }

  .scope-note-flag{
    position: absolute;
    right: 0;
    top: 0;
  }
  &.is-note-task{
    .scope-notes-cell{
      h6.note-title{
        margin-right: 1.1rem;
      }
    }
  }
}

.scope-note-empty{
  font-size: .75rem;
  color: $font-default;
}
