<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row no-gutters status-periods-component align-items-center justify-content-center">

  <article class="row col-12 col-xl-2 no-gutters mt-2 align-items-center justify-content-around">

      <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                  [options]="dropdownOptions"
                  [(ngModel)]="selectedDropdownOption"
                  (ngModelChange)="onChangeSelectedDropdownOption()">
        <!---->
      </p-dropdown>

  </article>

  <article class="row col-12 col-xl-5 no-gutters mt-2 align-items-center justify-content-around">

    <div class="row col-3 no-gutters justify-content-center">
      <span class="text-center text-overflow">Inicial</span>
    </div>

    <div class="row col-8 no-gutters">
      <app-day-range-datepicker-component #initDayRange
                                          [visible]="!isMonthRange()"
                                          [mode]="'init'"
                                          (onChangeRangeEvent)="onChangeRange($event, 'initDayRange')"></app-day-range-datepicker-component>

      <app-month-range-datepicker-component #initMonthRange
                                            [visible]="isMonthRange()"
                                            [mode]="'init'"
                                            (onChangeRangeEvent)="onChangeRange($event, 'initMonthRange')"></app-month-range-datepicker-component>
    </div>

  </article>

  <article class="row col-12 col-xl-5 no-gutters mt-2 align-items-center justify-content-around">
    <div class="row col-3 no-gutters justify-content-center">
      <span class="text-center text-overflow">comparativo</span>
    </div>

    <div class="row col-8 no-gutters">
      <app-day-range-datepicker-component #endDayRange
                                          [visible]="!isMonthRange()"
                                          [mode]="'end'"
                                          (onChangeRangeEvent)="onChangeRange($event, 'endDayRange')"></app-day-range-datepicker-component>

      <app-month-range-datepicker-component #endMonthRange
                                            [visible]="isMonthRange()"
                                            [mode]="'end'"
                                            (onChangeRangeEvent)="onChangeRange($event, 'endMonthRange')"></app-month-range-datepicker-component>
    </div>

  </article>

  <article class="row col-12 no-gutters align-items-center justify-content-start summary-area mt-lg-4  mt-5">

    <div class="col-xl-3 col-lg-4 col-6 no-gutters">
      <section class="summary-element mr-1">
        <span class="row no-gutters justify-content-center">Jornada</span>
        <div class="row no-gutters justify-content-center">
        <span class="col-auto summary-element-value">{{workingTime}}
          <span class="col-auto ml-1 summary-element-badge">Hrs</span>
        </span>
          <span [hidden]="hasWorkingTime()"
                class="col-12 summary-element-not-value">
        No hay datos para mostrar
        </span>
        </div>
      </section>
    </div>

    <div class="col-xl-3 col-lg-4 col-6 no-gutters">

      <section class="summary-element ml-1">
        <span class="row no-gutters justify-content-center">{{getBillingOrSalaryTitle()}}</span>
        <div class="row no-gutters justify-content-center">
          <span class="summary-element-value">{{cost}}
            <span class="ml-1 summary-element-badge">€</span>
          </span>
          <span [hidden]="hasBillingOrSalary()"
                class="col-12 summary-element-not-value">No hay datos para mostrar</span>
        </div>
      </section>

    </div>

  </article>

</section>
