@import "../../../../assets/sass/sass.files";

.status-periods-component {
  padding: 0;
  margin: 0;

  p-dropdown {
    width: 100%;
  }

  app-day-range-datepicker-component {
    width: 100%;
  }

  app-month-range-datepicker-component {
    width: 100%;
  }

  .summary-area {

    .summary-element {
      padding: 1rem;
      border: 1px solid $gray;
      min-height: 118px;

      .summary-element-value {
        font-size: 1.5rem;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        &:hover {
          text-overflow: initial !important;
          white-space: initial !important;
          overflow: visible !important;
          overflow-wrap: break-word !important;
        }
        .summary-element-badge {
          font-size: 1rem;
        }
      }

      .summary-element-not-value {
        text-align: center;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        font-size: .8rem;
        &:hover {
          text-overflow: initial !important;
          white-space: initial !important;
          overflow: visible !important;
          overflow-wrap: break-word !important;
        }

        @media (max-width: 1024px){
          font-size: .75rem;
        }
      }
    }
  }
}
