<section [id]="getComponentId()"
         class="calendar-component"
         [hidden]="!visible">

  <section class="row no-gutters align-items-start">
    <article class="col-xl-3 col-lg-4 col-12 calendar-leyend-area mb-md-4"
             [ngClass]="{'hide-area': isCalendarFullPage()}">

      <ng-container *ngIf="isNewEntryMode() || isEditEntryMode()">
        <app-entry-form #entryForm
                        [entry]="entrySelected['model']"
                        [updateMode]="isEditEntryMode()"
                        (outputEvent)="onEntryFormEvent($event)"></app-entry-form>
      </ng-container>

      <ng-container *ngIf="isViewEntryMode()">
        <app-entry-detail #entryDetail
                          [entry]="entrySelected['model']"
                          [isEnabledEdition]="isEnabledEdition"
                          (outputEvent)="onEntryFormEvent($event)"></app-entry-detail>
      </ng-container>

    </article>

    <article class="col-xl-9 col-lg-8 col-12 calendar-schedule-area"
             [ngClass]="{'col-xl-12 col-lg-12 schedule-area-expanded': isCalendarFullPage()}">

      <!--(onViewRender)="loadCalendarEntries($event)"-->
      <p-schedule #calendarComponent
                  [events]="entriesList"
                  [header]="schedule.headers"
                  [businessHours]="schedule.businessHours"
                  [slotDuration]="schedule.slotDuration"
                  [minTime]="schedule.minTimeHour"
                  [maxTime]="schedule.maxTimeHour"
                  [nowIndicator]="schedule.nowIndicator"
                  [navLinks]="schedule.navLinks"
                  [locale]="schedule.locale"
                  [editable]="schedule.editable"
                  [droppable]="schedule.droppable"
                  [eventRender]="fnEvRender"
                  [timeFormat]="schedule.timeFormat"
                  (onDayClick)="onCalendarDayClick($event)"
                  (onEventClick)="onCalendarEventClick($event)"
                  (onEventResize)="onCalendarEventChange($event)"
                  (onEventDrop)="onCalendarEventChange($event)"
                  (onEventResizeStart)="onCalendarEventChangeStart($event)"
                  (onEventDragStart)="onCalendarEventChangeStart($event)"></p-schedule>
    </article>

  </section>

  <app-confirm-dialog-component #confirmDeleteDialog
                                [externalConfig]="confirmDeleteDialogConfig"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>

  <app-confirm-dialog-component #confirmChangeDialog
                                [externalConfig]="confirmChangeDialogConfig"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>

</section>
