@import "../../../../assets/sass/sass.files";

.calendar-component{
  position: relative;
  overflow: hidden;
  .calendar-leyend-area{
    position: relative;
    left: 0;
    @include transition(all .3s ease-in-out);
    &.hide-area {
      left: -25%;
      -webkit-box-flex: 0;
      -webkit-flex: 0;
      -ms-flex: 0;
      flex: 0;
      max-width: 0%;
    }
  }

  .calendar-schedule-area{
    position: relative;
    left: 0;
    min-height: 85vh;
    padding: 1rem 0rem 1rem 1rem;
    z-index: 2;
    @include transition(all .3s ease-in-out);

    &.schedule-area-expanded{
      padding-left: 0rem;
    }
  }

}
