<section [id]="getComponentId()"
         [hidden]="!visible"
         class="tab-laboral-academic-rigth-panel-area col-12 row no-gutters">

  <article class="col-12 no-gutters contact-form-area">
    <app-contact-form-component [person]="person"></app-contact-form-component>
  </article>

  <article class="col-12 no-gutters roles-area">
    <app-roles-form-component [person]="person"></app-roles-form-component>
  </article>

  <article class="col-12 no-gutters knowledge-form-area">
    <app-knowledge-form-component [person]="person"></app-knowledge-form-component>
  </article>

</section>
