@import '../../../../../../assets/sass/sass.files';

.tab-laboral-academic-rigth-panel-area {
  width: 100%;

  .contact-form-area {
    border: none;
    border-bottom: 1px solid $gray-dark2;
    padding-top: 0.5rem;
  }

  .roles-area {
    border: none;
    border-bottom: 1px solid $gray-dark2;
    padding-top: 0.5rem;
  }

  .knowledge-form-area {
    border: none;
    padding-top: 0.5rem;
  }
}
