@import "../../../assets/sass/sass.files";

.tab-admin{
  padding: .5rem 0 0;
  .tab-menu{
    text-align: left;
    padding-right: 1rem;
    @media(max-width: 992px) {
      padding-right: 0;
      margin-bottom: 2rem;
    }
  }
  .tab-area{

  }
}

