@import "../../../../assets/sass/sass.files";

.general-domain-widget-container-component {
  position: relative;
  min-height: 24px;
  overflow: hidden;

  .general-widget-toggle{
    position: absolute;
    top: 0;
    right: 0;
    color: $white;
    background: $gray-dark2;
    padding: 0 .5rem;
    span{
      font-size: .9rem;
    }
  }

  .general-widget-block{
    overflow: hidden;
    padding-top: 1.25rem;
    background: $gray-dark2;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &.collapse-off {
      height: 0 !important;
      -ms-transform: translateY(-100%); /* IE 9 */
      -webkit-transform: translateY(-100%); /* Chrome, Safari, Opera */
      transform: translateY(-100%);
    }
  }
}
