<section [id]="getComponentId()"
         [hidden]="!visible"
         class="general-domain-widget-container-component">

  <article #generalWidgetContainer
           class="general-widget-block row col-12 no-gutters justify-content-center"
           [ngClass]="{'collapse-off': collapse}">

    <div class="col-lg-3 no-gutters">
      <app-team-widget-component #teamGeneralWidget></app-team-widget-component>
    </div>

    <div class="col-lg-3 no-gutters">
      <app-person-widget-component #personGeneralWidget></app-person-widget-component>
    </div>

    <div class="col-lg-3 no-gutters">
      <app-team-gestor-widget-component #teamGestorGeneralWidget></app-team-gestor-widget-component>
    </div>

  </article>

  <aside class="general-widget-toggle cursor-pointer"
         (click)="toggleGeneralWidgets()">

    <span>indices globales</span>
    <i class="fa fa-lg"
       [ngClass]="{'fa-angle-up': !collapse, 'fa-angle-down': collapse}"></i>

  </aside>

</section>
