@import "../../../../assets/sass/sass.files";

.general-widget {
  background: $white;
  border: 1px solid $white;
  text-align: center;
  min-height: calculateRem(58px);
  margin: .5rem;
  padding: .25rem .75rem;

  .widget-title {
    color: $gray-dark;
  }

  .widget-value {
    color: $green;
    font-size: 120%;
    line-height: 1.2;
  }

  .widget-description {
    font-size: .8rem;
    font-style: italic;
  }

  .widget-description-value {
    font-size: .8rem;
    font-style: italic;
  }
}
