<section [id]="config.id"
         class="tree-mates-component {{css}}"
         [hidden]="!visible">

  <article *ngIf="!isEmptyData(); else emptyTeamMates"
           class="tree-mates-element">
    <section *ngFor="let team of dataFiltered; let i = index"
             class="team-mates-box">
      <h6 [innerHtml]="team['name']"></h6>
      <section *ngIf="hasMatesTeam(team); else emptyMates"
               class="team-child-mates">

        <ul class="mates-list-area">
          <li *ngFor="let mate of team['team_mates']"
              (click)="onActionSelectedClicked($event, mate)"
              class="mates-element">

            <section class="mate-block row no-gutters align-items-center cursor-pointer hover-blue">
              <section class="mate-name col text-left">
                <h5 [innerHtml]="getMateName(mate)"></h5>
              </section>
              <section class="mate-info col text-right align-content-center">
                <h6 class="col"
                    [innerHtml]="getMateRoles(mate)"></h6>
                <h6 [innerHtml]="getMateLocation(mate)"
                    [ngClass]="{'underline': hasMateLocation(mate)}"></h6>
              </section>
              <i class="mate-action col-auto fa fa-angle-right fa-lg fa-2x"></i>
            </section>

          </li>
        </ul>
      </section>

      <section *ngIf="hasTeamChildTeam(team)"
               class="child-team-mates-box">
        <aside class="child-accordion align-items-center row no-gutters">
          <div class="child-toggle-box">
            <i class="child-toggle-btn fa fa-plus-square-o cursor-pointer"
               [ngClass]="{'fa-plus-square-o': !isExpandedChild(team), 'fa-minus-square-o': isExpandedChild(team)}"
               (click)="onClickToogleEvent($event, team)"
               aria-hidden="true"></i>
            <span class="child-toggle-leyend text-overflow cursor-pointer" (click)="onClickToogleEvent($event, team)">Ver únicamente personas del equipo superior <i class="fa fa-angle-double-left" aria-hidden="true"></i> {{team['name']}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
          </div>
        </aside>

        <div class="child-tree"
             [ngClass]="{'toogle-up': !isExpandedChild(team)}">
          <app-team-mate-tree-component [data]="team['child_mates']"
                                    [parent]="false"
                                    (onActionSelectedClicked)="onActionSelectedClicked($event)"
                                    (onActionChildSelectedEvent)="onActionSelectedClicked($event)"></app-team-mate-tree-component>

          <!--(onActionSelectedEvent)="onActionSelectedClicked($event)"-->
        </div>

      </section>

      <ng-template #emptyMates>
        <p class="placeholder-empty">No hay mates a mostrar.</p>
      </ng-template>

    </section>
  </article>

  <ng-template #emptyTeamMates>
    <article class="dashboard-main-team-mates">
      <p class="placeholder-empty">No hay equipos a mostrar.</p>
    </article>
  </ng-template>
</section>
