@import "../../../assets/sass/sass.files";


.tree-mates-component{
  .tree-mates-element{
    margin: 2rem 0;
    padding: 0 2rem;
    .team-mates-box{
      margin-bottom: 2rem;
      h6{
        font-size: .75rem;
        padding: 0.25rem 0 .5rem;
      }
      .team-child-mates{
        .mates-list-area{
          .mates-element{
            padding: .25rem .5rem .25rem 1rem;
            background: $white;
            border-bottom: 1px solid $gray;
            .mate-block{
              .mate-name{
                font-size: 1.5rem;
              }
              .mate-info{
                padding-right: 1rem;
                h6{
                  &:first-child{
                    padding: .5rem 0 0;
                  }
                  &.underline{
                    text-decoration: underline;
                  }
                }
              }
              .mate-action{
                padding-left: .5rem;
              }
            }
          }
        }
      }
      .child-team-mates-box{
        .child-accordion{
          color: $gray600;
          margin-top: 1.5rem;
          position: relative;
          .child-toggle-box{
            position: relative;
            background: $gray-bg;
            margin: 0 auto;
            padding: 0 1rem;
            z-index: 2;
            .child-toggle-btn{
              padding-right: .5rem;
            }
            .child-toggle-leyend{
              font-size: 0.75rem;
              position: relative;
              top: -1px;
            }
          }
          &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background: $gray600;
            top: 50%;
            z-index: 1;
          }
        }
        .child-tree{
          height: 100%;
          overflow: hidden;
          position: relative;
          z-index: 2;
          .tree-mates-component{
            height: auto;
            overflow: hidden;
            max-height: 9000px;
            @include transform(translateY(0), top);
            -webkit-transition: transform .3s ease-in-out, max-height .3s ease-in-out 0.1s;
            -moz-transition: transform .3s ease-in-out, max-height .3s ease-in-out 0.1s;
            -ms-transition: transform .3s ease-in-out, max-height .3s ease-in-out 0.1s;
            -o-transition: transform .3s ease-in-out, max-height .3s ease-in-out 0.1s;
            transition: transform .3s ease-in-out, max-height .3s ease-in-out 0.1s;
            .tree-mates-element{
              margin-top: 1rem;
              padding: 0;
            }
          }
          &.toogle-up{
            .tree-mates-component{
              transform: translateY(-100%);
              max-height: 0;
            }
          }
        }

      }
    }
  }
}
