<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters mate-scope-analytics-area align-items-center justify-content-center">

  <article class="row col-12 no-gutters mt-2 align-items-center justify-content-start">
    <span>Índices generales de {{person.getNameFirstSurname()}}</span>
  </article>

  <article class="row col-12 no-gutters mt-2 align-items-start justify-content-start">

    <app-status-periods-component [person]="person"
                                  (onChangeStatusPeriods)="onChangeStatusPeriods($event)"></app-status-periods-component>

  </article>

  <article class="row col-12 no-gutters mt-2 align-items-start justify-content-start">

    <app-mate-scope-analytics-chart-component [statusPeriods]="statusPeriods"></app-mate-scope-analytics-chart-component>

  </article>

</section>
