@import '../../../../../assets/sass/sass.files';

.mate-scope-analytics-area {

  app-status-periods-component {
    width: 100%;
  }

  app-mate-scope-analytics-chart-component {
    width: inherit;
  }
}
