/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
.entry-content {
  box-shadow: 1px 3px 7px 1px #bac0ca;
  margin: 1px 3px 5px;
  padding-bottom: 2rem; }
  .entry-content .entry-header {
    text-align: right;
    border-bottom: 1px solid #9E9E9E;
    margin-bottom: .5rem;
    color: #4A4A4A;
    overflow: hidden; }
    .entry-content .entry-header .header-menu {
      margin: 5px 8px; }
      .entry-content .entry-header .header-menu li .fa {
        padding: .15rem; }
        .entry-content .entry-header .header-menu li .fa.active, .entry-content .entry-header .header-menu li .fa.active.hover-blue, .entry-content .entry-header .header-menu li .fa.active.hover-blue:hover {
          background: #2196F3;
          color: white; }
  .entry-content .entry-area {
    padding: 0 1rem; }
    .entry-content .entry-area .entry-row {
      margin: .25rem 0 1.25rem; }
      .entry-content .entry-area .entry-row label {
        margin: 0;
        padding: 0;
        color: #4A4A4A;
        font-size: .9rem; }
      .entry-content .entry-area .entry-row .sublabel {
        color: #4A4A4A;
        padding: 0 .45rem 0 0;
        min-width: 2rem;
        text-align: center; }
      .entry-content .entry-area .entry-row .entry-guests li {
        margin-right: .25rem; }
        .entry-content .entry-area .entry-row .entry-guests li .badge {
          background-color: #9E9E9E; }
