@import "../../../../../assets/sass/colours";

.entry-content {
  box-shadow: 1px 3px 7px 1px #bac0ca;
  margin: 1px 3px 5px;
  padding-bottom: 2rem;


  .entry-header {
    text-align: right;
    border-bottom: 1px solid $gray;
    margin-bottom: .5rem;
    color: $font-gray-dark;
    overflow: hidden;

    .header-menu{
      margin: 5px 8px;
      li{
        .fa{
          padding: .15rem;
          &.active, &.active.hover-blue, &.active.hover-blue:hover{
            background: $blue;
            color: white;
          }
        }
      }
    }
  }

  .entry-area{
    padding: 0 1rem;
    .entry-row {
      margin: .25rem 0 1.25rem;
      label{
        margin: 0;
        padding: 0;
        color: $font-gray-dark;
        font-size: .9rem;
      }
      .sublabel{
        color: $font-gray-dark;
        padding: 0 .45rem 0 0;
        min-width: 2rem;
        text-align: center;
      }

      .entry-guests{
        li{
          margin-right: .25rem;

          .badge{
            background-color: $gray;
          }
        }
      }
    }
  }
}
