@import '../../../../../assets/sass/sass.files';

.scope-notes-form-container{
  padding: 1rem .75rem 2.5rem;
  background: $gray-bg;
  min-height: 25vh;
  .scope-notes-inputs{
    .element-form{
      margin-bottom: 1.75rem;
      position: relative;
      .row-form-label{
        font-size: .85rem;
        margin-bottom: 0;
        line-height: 1.1;
        vertical-align: bottom;
      }
      textarea.itext{
        resize: none;
        margin-top: .25rem;
      }
      .error-field{
        line-height: 1.1;
        max-width: 80%;
        margin-top: calculateRem(2px);
        &.error-label-datepicker{
          margin-top: 2rem;
        }
      }
      &.row-more-margin{
        margin-bottom: 2rem;
      }
    }
  }
  .scope-form-submit{
    margin: 2rem auto 0;
  }
  @media (min-width: 1024px) {
    padding: 1rem 1.5rem 2.5rem;
  }
}
