<section class="scope-notes-form-container">

  <section class="scope-notes-inputs">
    <div class="element-form">

      <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                  [options]="dropdownNoteTypeOptions"
                  [(ngModel)]="selectedNoteTypeDropdownOption"
                  (ngModelChange)="onChangeDropdownTypeOption($event)">
      </p-dropdown>
      <span *ngIf="hasErrorTypeDropdown()"
            class="error-field text-overflow">Selecciona un tipo de mensaje</span>
    </div>

    <div class="element-form">
      <label for="title" class="row-form-label">Título</label>
      <input id="title"
             name="title"
             #noteTitle="ngModel"
             [(ngModel)]="note.title"
             required
             type="text"
             minlength="3"
             maxlength="255"
             class="form-control itext description-input"
             [ngClass]="{'invalid-field': hasErrorInput(noteTitle)}"
             placeholder="">
      <span *ngIf="hasErrorInput(noteTitle)"
            class="error-field text-overflow" [innerHtml]="getErrorInput(noteTitle)"></span>
    </div>

    <div class="element-form">
      <label for="description" class="row-form-label">Descripción</label>
      <textarea id="description"
                name="description"
                #noteDescription="ngModel"
                [(ngModel)]="note.description"
                minlength="2"
                maxlength="255"
                rows="5"
                class="form-control itext description-input"
                placeholder="">
      </textarea>
      <span *ngIf="hasErrorInput(noteDescription)"
            class="error-field text-overflow" [innerHtml]="getErrorInput(noteDescription)"></span>
    </div>

    <div class="element-form row-more-margin row no-gutters align-items-center">
      <label class="row-form-label col-lg-12 col-md-12 col-auto">Fecha de entrega: </label>
      <aside class=" col-lg-12 col-md-12 col">
        <p-calendar #datePicker
                    dateFormat="dd/mm/yy"
                    placeholder="dd/mm/yyyy"
                    readonlyInput="true"
                    icon="fa-calendar"
                    showIcon="true"
                    [minDate]="getMinStartDate()"
                    [locale]="spanishCalendar"
                    [(ngModel)]="note.end_date"></p-calendar>
      </aside>
      <span *ngIf="hasErrorDatePicker()"
            class="error-field text-overflow error-label-datepicker">Selecciona un fecha válida</span>
    </div>
  </section>



  <div class="element-form row-more-margin">

    <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                [options]="dropdownNoteTeamOptions"
                [(ngModel)]="selectedNoteTeamDropdownOption"
                (ngModelChange)="onChangeDropdownTeamOption($event)">
    </p-dropdown>

  </div>


  <aside class="scope-form-submit">
    <button (click)="onSubmitNote($event)"
            [ngClass]="{'not-allowed': !hasTeams()}"
            [disabled]="hasFormError()"
            class="btn btn-simple btn-block cursor-pointer hover-blue">Publicar</button>
  </aside>
</section>
