@import '../../../../../../assets/sass/sass.files';

.tab-laboral-area {
  width: 100%;
  background: $gray-bg;

  .laboral-experience-item {
    border-bottom: 1px solid $gray-dark2;
    &:last-child {
      border-bottom: none;
    }

    app-laboral-experience-item-component {
      width: 100%;

    }
  }
}
