<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container tab-laboral-area">

  <!--@ToDo: Pendiente de especificaciones para editar y eliminar experiencias-->

  <div class="col-12 no-gutters mt-2 align-self-center text-right"
       (click)="functionalityNotImplemented()">
    <span class="hover-blue mt-2 not-allowed">Añadir experiencia</span>
    <i class="fa fa-lg fa-plus-circle ml-2 mt-2 hover-blue not-allowed"></i>
  </div>

  <!--<article class="row no-gutters laboral-experience-item">-->
    <!--<app-laboral-experience-item-component></app-laboral-experience-item-component>-->
  <!--</article>-->

  <article *ngFor="let laboralExperience of getLaboralExperiences(); let i = index;"
           class="row no-gutters laboral-experience-item">
    <app-laboral-experience-item-component [laboralExperience]="laboralExperience"></app-laboral-experience-item-component>
  </article>

</section>
