<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters p-0 pr-2 pt-2 edit-role-component align-items-center justify-content-center">

  <div class="row col-12 no-gutters tab-header align-items-start justify-content-start">

    <header>Roles</header>

    <div class="col-auto mt-2 pb-2 no-gutters">
      <button (click)="onClickCreateRole()"
              class="btn btn-secondary cursor-pointer add-role-button">
        <span class="">Crear nuevos roles</span>
      </button>
    </div>

  </div>

  <div class="row col-12 no-gutters status-filters align-self-start justify-content-center">
    <ul class="justify-content-between">
      <li *ngFor="let status of filterRoleOptions; let i = index;"
          [ngClass]="{'active': selectedFilterRoleOptions['value'] === status['value']}"
          (click)="setActiveDatatableFilter(i)">
        <span>{{status['label']}}</span>
      </li>
    </ul>
  </div>

  <div class="status-filters col-12 no-gutters align-self-start">

    <p-dataTable #roleDatatable
                 exportFilename="role"
                 styleClass="show-action-on-hover"
                 [rowHover]="true"
                 [value]="role"
                 [paginator]="pagination.totalRecords > pagination.rows"
                 [lazy]="true"
                 [responsive]="true"
                 [rows]="pagination.rows"
                 [totalRecords]="pagination.totalRecords"
                 (onLazyLoad)="loadRoleLazy($event)">

      <p-header>
        <div class="ui-helper-clearfix">
          <button type="button"
                  pButton icon="fa-file-o"
                  iconPos="left"
                  label="Exportar tabla a CSV"
                  style="float:left"
                  (click)="onClickExportToCsv()">
          </button>
        </div>
      </p-header>

      <p-column styleClass="width-45 show-action-on-hover"
                field="name"
                header="Nombre"
                [filter]="true"
                filterPlaceholder="Buscar por nombre"
                filterMatchMode="contains"
                [sortable]="true">

        <ng-template let-i="rowIndex"
                     let-role="rowData"
                     pTemplate="body">

          <div class="col-12 no-gutters">

            <span *ngIf="!isEditableField(i)">{{role['name']}}</span>

            <input *ngIf="isEditableField(i)"
                   type="text"
                   class="form-control itext"
                   minlength="3"
                   maxlength="255"
                   required
                   placeholder="Nombre"
                   (blur)="onBlurEditableField(i)"
                   [ngClass]="{'invalid-field': !isValidField(i)}"
                   (keyup)="hasErrorInput(role['name'], i)"
                   [(ngModel)]="role['name']"/>
            <span *ngIf="!isValidField(i)"
                  class="error-field">{{getInvalidFieldMessage(i)}}</span>

          </div>

        </ng-template>

      </p-column>

      <p-column styleClass="dropdown-type width-45 show-action-on-hover"
                field="roleCategory"
                header="Categoría"
                [filter]="true"
                filterMatchMode="equals">

        <ng-template pTemplate="filter">
          <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                      [styleClass]="'datatable-header'"
                      [options]="dropdownOptions"
                      [(ngModel)]="selectedDropdownOption"
                      (ngModelChange)="onChangeDropdownOption()">
          </p-dropdown>
        </ng-template>

        <ng-template let-i="rowIndex" let-role="rowData" pTemplate="body">

          <span *ngIf="!isEditableField(i)">{{role['role_class']['name']}}</span>

          <p-dropdown *ngIf="isEditableField(i)"
                      dropdownIcon="fa fa-lg fa-angle-down"
                      [dataKey]="name"
                      [options]="roleCategory"
                      [ngModel]="getRoleCategory(role)"
                      (ngModelChange)="onChangeRoleCategory($event, i)">
          </p-dropdown>

        </ng-template>
      </p-column>

      <p-column styleClass="text-type hide-filter width-5 show-action-on-hover">

        <ng-template let-i="rowIndex"
                     let-role="rowData"
                     pTemplate="body">

          <div class="row col-12 no-gutters p-0 align-items-center justify-content-around">
            <i class="fa fa-pencil hover-blue cursor-pointer"
               [ngClass]="{'is-editable': isEditableField(i)}"
               (click)="setEditableField(i)"></i>
            <i class="fa fa-trash-o hover-blue cursor-pointer"
               [ngClass]="{'is-editable': isEditableField(i)}"
               (click)="onDeleteRole(i)"></i>
          </div>
        </ng-template>

      </p-column>

      <ng-template pTemplate="emptymessage">
        <span>No hay resultados para mostrar.</span>
      </ng-template>
    </p-dataTable>
  </div>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)"></app-confirm-dialog-component>

</section>
