<section class="add-user-area" *ngIf="isAllowed()">

  <section class="add-user-work-area row no-gutters justify-content-between align-items-start">

    <header class="add-user-header col-12 row no-gutters align-items-center text-center">
      <aside class="add-user-backto cursor-pointer hover-blue"
             (click)="goBackTo()">
        <i class="fa fa-angle-left mr-1"></i>
      </aside>

      <h5 class="col-12">Añadir nuevos usuarios</h5>
    </header>

    <article class="col-12 row add-user-panel no-gutters justify-content-center">

      <section *ngFor="let person of getPersons(); let i = index;"
               class="row col-md-12 col-12 add-user-row align-items-start justify-content-center">

        <div class="delete-user col-md-auto col-12">
          <i class="fa fa-times"
             [ngClass]="{'visible': isValidPerson(person)}"
             (click)="deleteUser(person)"></i>
        </div>

        <div class="col-lg-2 col-md-3 mt-4 mt-md-0 col-12">

          <app-input-validator [externalConfig]="getNameInputValidatorConfig()"
                               (errorEvent)="onInvalidName($event, person)"
                               (outputEvent)="onValidName($event, person)"></app-input-validator>
        </div>

        <div class="col-lg-2 col-md-3 mt-4 mt-md-0 col-12">

          <app-input-validator [externalConfig]="getSurnameInputValidatorConfig()"
                               (errorEvent)="onInvalidSurname($event, person)"
                               (outputEvent)="onValidSurname($event, person)"></app-input-validator>
        </div>

        <div class="col-lg-2 col-md-3 mt-4 mt-md-0 col-12">

          <app-input-validator [externalConfig]="getEmailInputValidatorConfig()"
                               (errorEvent)="onInvalidEmail($event, person)"
                               (outputEvent)="onValidEmail($event, person)"></app-input-validator>
        </div>

        <div class="col-lg-2 col-md-2 mt-4 mt-md-0 col-12">
          <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                      [options]="systemRoles"
                      [dataKey]="tag"
                      [(ngModel)]="person.role"
                      required>
          </p-dropdown>
        </div>

      </section>

      <section class="row col-12 no-gutters add-user-buttons align-items-center justify-content-center">

        <span class="cancel-button"
              (click)="goBackTo()">Cancelar</span>

        <button class="btn btn-secondary cursor-pointer"
                (click)="showConfirmDialog()">
          <span>Enviar invitaciones</span>
        </button>
      </section>

    </article>

  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>

  <app-confirm-dialog-component #noSendInvitationsDialogComponent
                                [externalConfig]="getNoSendInvitationsDialogSetup()">
  </app-confirm-dialog-component>

</section>
