@import "../../../../assets/sass/sass.files";

.add-user-area {

  .add-user-work-area {

    .add-user-header {
      min-height: 3rem;
      padding: 0.35rem .75rem .5rem;

      .add-user-backto {
        position: absolute;
        font-size: 2rem;
        line-height: 2rem;
        padding: 0 .5rem;
        z-index: 3;
      }

      h5 {
        font-size: 1.2rem;
      }
    }

    .add-user-panel {
      .add-user-row {
        margin-top: 1rem;

        .delete-user {
          .fa {
            &.fa-times {
              margin-right: 1rem;
              color: transparent;
              &.visible {
                cursor: pointer;
                color: inherit;
                &:hover {
                  color: $red;
                }
              }
            }
          }
        }

        .itext {
          outline: 0px;
        }
      }

      .add-user-buttons {
        margin-top: 2rem;

        .cancel-button {
          cursor: pointer;
          margin-right: 2rem;
          text-decoration: underline;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
