<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid no-gutters edit-favourite-tree-team-group-component">

  <section *ngIf="hasSearch()" class="mt-2 mb-1 pl-2">

    <app-search-component #notFavouriteSearch
                          [data]="searchData"
                          [externalConfig]="getSearchFavouriteConfig()"
                          [restart]="restartSearchFavouriteComponent"
                          (onClickElementEvent)="onSelectSearchFavouriteElement($event)"></app-search-component>

  </section>

  <section class="tree-element">
    <ul *ngIf="hasData(); else defaultSidebar"
        class="row no no-gutters list-unstyled">
      <li *ngFor="let node of data, let i = index"
          class="row col-12 no-gutters">

        <div class="col-{{level}}">
          <!--Tab tree-->
        </div>

        <section class="row col-{{10 - level}} no-gutters tree-node-element align-items-start justify-content-between"
                 [ngClass]="{'is-favourite': isFavouriteNode(node) && level !== 0}">
          <div class="col-1 node-circle-element text-center">
            <i class="fa fa-circle"
               [style.color]="node.colour"></i>
          </div>

          <div class="col-11 text-overflow node-name">
            <span class="text-overflow">{{node.name}}</span>
          </div>
        </section>

        <section class="col-1 no-gutters tree-node-element-action">

          <div class="col-12 no-gutters text-center toggle-expanded">
            <i [hidden]="node.num_child_teams === 0"
               class="fa fa-angle-down fa-lg fa-2x hover-blue cursor-pointer"
               [ngClass]="{'fa-angle-up': isExpandedNode(node), 'fa-angle-down': !isExpandedNode(node)}"
               (click)="onToggleExpandedNode(node)">
            </i>
          </div>

        </section>

        <section class="col-1 no-gutters tree-node-element-action">

          <div class="col-12 no-gutters text-center edit-node">
            <i *ngIf="isFavouriteNode(node)"
               (click)="onDeleteFavouriteNode(node)"
               class="fa fa-times-circle-o cursor-pointer"></i>
            <!--<ng-template #noFavouriteTeamBtn>-->
            <i *ngIf="!isFavouriteNode(node)"
               class="fa fa-plus-circle cursor-pointer"
               (click)="onAddFavouriteNode(node)"></i>
            <!--</ng-template>-->
          </div>

        </section>

        <section *ngIf="isExpandedNode(node)"
                 class="row col-12 no-gutters m-0">
          <app-edit-favourite-tree-team-group-component [search]="false"
                                                        [data]="getChildNode(node)"
                                                        [level]="level + 1"
                                                        [editMode]="editFavourite"
                                                        [mode]="mode"
                                                        [type]="type"
                                                        [addNode]="addNode"
                                                        [deleteNode]="deleteNode"
                                                        (onAddNodeFromChildEvent)="onAddNodeFromChild($event)"
                                                        (onDeleteNodeFromChildEvent)="onDeleteNodeFromChild($event)"></app-edit-favourite-tree-team-group-component>
        </section>


      </li>
    </ul>

    <ng-template #defaultSidebar>
      <!--<ng-template #emptySidebar>-->
      <p class="placeholder-empty pl-2">No hay {{getComponentMode()}} para esta opción.</p>
      <!--</ng-template>-->
    </ng-template>

  </section>

</section>
