@import "../../../../../assets/sass/sass.files";

.edit-favourite-tree-team-group-component {
  padding: 0;

  .tree-element {

    .tree-node-element {
      padding: 0.5rem;
      margin-bottom: 0.25rem;
      border-bottom: 1px solid $border-color;
      border-left: 2px solid $border-color;
      &.selected {
        background: $blue;
        border-color: $blue;
      }
      &.is-favourite {
        opacity: 0.5;
      }

      .node-circle-element {
        background: transparent;
        font-size: 0.75rem;
        i.fa {
          padding: 0.25rem 0.35rem 0 0;
        }
      }

      .node-drag-element {
        background: transparent;
        font-size: 0.75rem;
        i.fa {
          padding: 0.25rem 0.35rem 0 0;
          color: $blue;
          &.selected {
            color: $white;
          }
        }
      }

      .node-name {
        background: transparent;
        cursor: default;
        &.selected {
          color: $white;
        }
      }
    }

    .tree-node-element-action {
      //padding: 0.5rem;
      margin-bottom: 0.25rem;
      border-bottom: 1px solid $border-color;

      .toggle-expanded {
        position: absolute;
        right: 0%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-right: 0.5rem;
      }

      .edit-node {
        position: absolute;
        right: 0%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-right: 0.5rem;
      }
    }

    app-edit-favourite-tree-team-group-component {
      width: 100%;
      margin: 0px;
    }

    .placeholder-empty{
      font-size: .9rem;
    }
  }
}
