<section class="mate-profile-left-panel-area">

  <article *ngIf="isGestorMode()"
           class="quick-view-container ml-2">

    <app-mate-quick-view-component [person]="person"></app-mate-quick-view-component>

  </article>

  <article class="team-group-tree-container ml-2">

    <ng-container *ngIf="isAllowed('teamsTreeComponent')">
      <app-tree-team-group-component #teamsTreeComponent
                                     mode="teams"
                                     (onSelectNodeEvent)="onChangeTreeComponentSelectedNode($event)">
      </app-tree-team-group-component>
    </ng-container>

    <ng-container *ngIf="isAllowed('groupsTreeComponent')">
      <app-tree-team-group-component #groupsTreeComponent
                                     mode="groups"
                                     (onSelectNodeEvent)="onChangeTreeComponentSelectedNode($event)">
      </app-tree-team-group-component>
    </ng-container>

  </article>
</section>
