@import '../../../assets/sass/sass.files';

.mate-profile-left-panel-area {

  .quick-view-container {
    position: relative;
    background: $gray-bg;
    font-size: .85rem;
    overflow: visible;
    border-bottom: 1px solid $border-dark;

    .mate-type {
      font-weight: bold;
    }

    .team-name-company {
      font-weight: bold;
    }
  }

  .team-group-tree-container{
    border-top: 1px solid $white;
    padding-top: 2rem;
    &.bg-sidebar-gray{
      background: $gray-bg;
    }
    &:first-child{
      border-top: none;
      padding-top: 0;
    }
  }

}
