@import '../../../assets/sass/sass.files';

.tab-header {
  padding: 0.75rem 0.75rem;
  display: inline-block;
  clear: both;

  .add-team-group-backto {
    position: absolute;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    z-index: 3;

    span {
      font-size: 1.2rem;
    }
  }

  h5 {
    font-size: 1.2rem;
  }
}

.back-to-location-list {
  text-align: left;
  margin-top: 1rem;
  .go-back-title{
    font-size: 1rem;
  }
}

.map-info-overlay {
  padding: 1rem 1rem 1rem 1rem;
  background: $gray-dark;

  span {
    width: 100%;
    background: white;
    text-align: center;
    cursor: default;

    a {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }
}

.edit-location-area {
  .edit-location-body {

    .form-block {
      fieldset{
        margin-bottom: 0rem;

        .form-row {
          margin-bottom: 1rem;

          .col-form-label {
            position: relative;
            padding: 0 1rem 0 .25rem;
            @media(max-width: 768px) {
              color: $gray;
              padding-top: .25rem;
              font-size: .95rem;
              font-style: italic;
            }
          }

          .row-form-label {
            margin: 1rem 0 0;
            font-size: .9rem;
          }

          .col-form-input {
            padding-right: 1rem;
            position: relative;
            margin-bottom: .5rem;
            &:last-child {
              padding-right: 0;
            }
            @media(max-width: 768px) {
              padding-right: 0;
            }
            label {
              &.field-required {
                font-size: .75rem;
                position: relative;
                top: -.2rem;
              }
            }
          }

        }
      }


    }

    .info-required{
      font-size: .8rem;
      margin: 0;
      color: $font-gray-dark;
    }

    .submit-location {
      font-size: .95rem;
      padding: .5rem .5rem;
      margin: 0 auto 0;
      i {
        font-size: 1rem;
        position: absolute;
        right: .25rem;
      }
      @media (max-width: 768px){
        margin-top: 1rem;
      }
    }

    .errors-form{
      background: $redBootstrap;
      color: $white;
      font-size: .9rem;
      margin-top: .5rem;
      padding: .5rem .75rem;
      @include border-radius(.25rem);
      @include opacity(0);
      text-align: center;
      transition: all .5s ease-out;
      &.show-errors{
        @include opacity(1);
      }
    }

    .edit-location-map{

      .map-info {
        i {
          span {
            font-family: 'Roboto';
            font-size: 1rem;
          }
        }
      }

      .location-map-canvas {
        background: $gray;
        width: 100%;
        @media (min-width: 992px) {
          width: 90%;
        }
      }
    }
  }
}
