<div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

  <aside class="row no-gutters align-items-center add-team-group-backto cursor-pointer hover-blue"
         (click)="goBackToList()">
    <i class="fa fa-angle-left mr-1"></i>
    <span class="text-overflow">Listado de localizaciones</span>
  </aside>
</div>

<section class="container section-area edit-location-area" *ngIf="isAllowed()">

  <div class="row no-gutters p-0 justify-content-between align-content-start">
    <header class="col-12">
      <h2 [innerHtml]="getTagTranslated('location')"></h2>
    </header>

    <section class="edit-location-body col-12 row no-gutters justify-content-between">

      <article class="col-12 col-lg-7 mt-3">

        <form #locationForm="ngForm"
              name="locationForm">

          <section class="form-block col-12 px-0">

            <fieldset class="form-group row no-gutters">

              <div class="form-row col-12 row no-gutters align-items-end">

                <div class="col-form-input col-12 no-gutters">

                  <label for="name"
                         class="row-form-label"
                         [ngClass]="{'invalid-label': hasErrorInput(locationName)}">Nombre de oficina, tienda…
                    <span class="field-required">*</span>
                  </label>

                  <input #locationName="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationName)}"
                         [(ngModel)]="location.name"
                         [disabled]="disabledEdition"
                         type="text"
                         id="name"
                         name="name"
                         minlength="3"
                         placeholder="Ej. Steelmood Madrid"
                         required>
                  <span *ngIf="hasErrorInput(locationName)"
                        class="error-field" [innerHtml]="getErrorInput(locationName)"></span>

                </div>

                <div class="col-form-input col-12 no-gutters">

                  <label for="description"
                         class="row-form-label">Descripción
                    <span class="field-required"></span>
                  </label>

                  <input #locationDescription="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationDescription)}"
                         [(ngModel)]="location.description"
                         [disabled]="disabledEdition"
                         type="text"
                         id="description"
                         name="description"
                         minlength="3"
                         placeholder="Descripción">
                  <span *ngIf="hasErrorInput(locationDescription)"
                        class="error-field" [innerHtml]="getErrorInput(locationDescription)"></span>

                </div>

                <div class="col-form-input col-md-6 col-12 no-gutters">

                  <div class="row col-12 no-gutters justify-content-between">
                    <label for="latitude"
                           class="row-form-label"
                           [ngClass]="{'invalid-label': hasErrorInput(locationLatitude)}">Latitud
                      <span class="field-required">*</span>
                    </label>
                    <i class="fa fa-lg fa-info-circle mt-3"></i>
                  </div>

                  <input #locationLatitude="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationLatitude)}"
                         [(ngModel)]="location.latitude"
                         (ngModelChange)="onChangeCoordinates($event)"
                         [disabled]="disabledEdition"
                         type="text"
                         id="latitude"
                         name="latitude"
                         pattern="{{htmlPatterns.coordinates}}"
                         required
                         placeholder="Ej. 37.2540087">
                  <span *ngIf="hasErrorInput(locationLatitude)"
                        class="error-field" [innerHtml]="getErrorInput(locationLatitude)"></span>

                </div>

                <div class="col-form-input col-md-6 col-12 no-gutters">

                  <div class="row col-12 no-gutters justify-content-between">
                    <label for="longitude"
                           class="row-form-label"
                           [ngClass]="{'invalid-label': hasErrorInput(locationLongitude)}">Longitud
                      <span class="field-required">*</span>
                    </label>

                    <i class="fa fa-lg fa-info-circle mt-3"></i>
                  </div>

                  <input #locationLongitude="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationLongitude)}"
                         [(ngModel)]="location.longitude"
                         (ngModelChange)="onChangeCoordinates($event)"
                         [disabled]="disabledEdition"
                         type="text"
                         id="longitude"
                         name="longitude"
                         required
                         pattern="{{htmlPatterns.coordinates}}"
                         placeholder="Ej. -6.9576633">
                  <span *ngIf="hasErrorInput(locationLongitude)"
                        class="error-field" [innerHtml]="getErrorInput(locationLongitude)"></span>

                </div>

                <div class="col-form-input col-md-3 col-12 no-gutters">

                  <label for="locationStreetType"
                         class="row-form-label">Tipo de vía
                    <span class="field-required"></span>
                  </label>

                  <input #locationStreetType="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationStreetType)}"
                         [(ngModel)]="location.street_type"
                         [disabled]="disabledEdition"
                         type="text"
                         id="locationStreetType"
                         name="locationStreetType"
                         minlength="2"
                         placeholder="Tipo de vía">
                  <span *ngIf="hasErrorInput(locationStreetType)"
                        class="error-field" [innerHtml]="getErrorInput(locationStreetType)"></span>

                </div>

                <div class="col-form-input col-md-9 col-12 no-gutters">

                  <label for="locationAddress"
                         class="row-form-label">Nombre de vía
                    <span class="field-required"></span>
                  </label>

                  <input #locationAddress="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationAddress)}"
                         [(ngModel)]="location.street_address"
                         [disabled]="disabledEdition"
                         type="text"
                         id="locationAddress"
                         name="locationAddress"
                         minlength="3"
                         placeholder="Nombre de vía">
                  <span *ngIf="hasErrorInput(locationAddress)"
                        class="error-field" [innerHtml]="getErrorInput(locationAddress)"></span>

                </div>

                <div class="col-form-input col-md-6 col-12 no-gutters">

                  <label for="locationBuilding"
                         class="row-form-label">Edificio
                    <span class="field-required"></span>
                  </label>

                  <input #locationBuilding="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationBuilding)}"
                         [(ngModel)]="location.building"
                         [disabled]="disabledEdition"
                         type="text"
                         id="locationBuilding"
                         name="locationBuilding"
                         placeholder="Edificio">
                  <span *ngIf="hasErrorInput(locationBuilding)"
                        class="error-field" [innerHtml]="getErrorInput(locationBuilding)"></span>

                </div>

                <div class="col-form-input col-md-2 col-12 no-gutters">

                  <label for="locationExternalNumber"
                         class="row-form-label">Número
                    <span class="field-required"></span>
                  </label>

                  <input #locationExternalNumber="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationExternalNumber)}"
                         [(ngModel)]="location.external_number"
                         [disabled]="disabledEdition"
                         type="text"
                         id="locationExternalNumber"
                         name="locationExternalNumber"
                         placeholder="Número">
                  <span *ngIf="hasErrorInput(locationExternalNumber)"
                        class="error-field" [innerHtml]="getErrorInput(locationExternalNumber)"></span>

                </div>

                <div class="col-form-input col-md-2 col-12 no-gutters">

                  <label for="locationBuilding"
                         class="row-form-label">Planta
                    <span class="field-required"></span>
                  </label>

                  <input #locationFloor="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationFloor)}"
                         [(ngModel)]="location.floor"
                         [disabled]="disabledEdition"
                         type="text"
                         id="locationFloor"
                         name="locationFloor"
                         placeholder="Planta">
                  <span *ngIf="hasErrorInput(locationFloor)"
                        class="error-field" [innerHtml]="getErrorInput(locationFloor)"></span>

                </div>

                <div class="col-form-input col-md-2 col-12 no-gutters">

                  <label for="locationInternalNumber"
                         class="row-form-label">Puerta
                    <span class="field-required"></span>
                  </label>

                  <input #locationInternalNumber="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationInternalNumber)}"
                         [(ngModel)]="location.internal_number"
                         [disabled]="disabledEdition"
                         type="text"
                         id="locationInternalNumber"
                         name="locationInternalNumber"
                         placeholder="Puerta">
                  <span *ngIf="hasErrorInput(locationInternalNumber)"
                        class="error-field" [innerHtml]="getErrorInput(locationInternalNumber)"></span>

                </div>

                <div class="col-form-input col-12 no-gutters">

                  <label for="locationAddressExtraInfo"
                         class="row-form-label">Información adicional
                    <span class="field-required"></span>
                  </label>

                  <input #locationAddressExtraInfo="ngModel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationAddressExtraInfo)}"
                         [(ngModel)]="location.address_extra_info"
                         [disabled]="disabledEdition"
                         type="text"
                         id="locationAddressExtraInfo"
                         name="locationAddressExtraInfo"
                         placeholder="Ej. Ubanización, campus, polígono, ...">
                  <span *ngIf="hasErrorInput(locationAddressExtraInfo)"
                        class="error-field" [innerHtml]="getErrorInput(locationAddressExtraInfo)"></span>

                </div>

                <div class="col-form-input col-md-2 col-12 no-gutters">

                  <label for="postal_code"
                         class="row-form-label"
                         [ngClass]="{'invalid-label': hasErrorInput(locationPostalCode)}">Código postal
                    <span class="field-required">*
                    </span>
                  </label>

                  <input #locationPostalCode="ngModel"
                         id="postal_code"
                         name="postal_code"
                         required
                         hidden
                         type="text"
                         pattern="{{htmlPatterns.postalCode}}"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationPostalCode)}"
                         [(ngModel)]="location.postal_code"
                         placeholder="Código postal"
                         [disabled]="disabledEdition">
                  <app-search-component #searchPostalCodesComponent
                                        [disabled]="disabledEdition"
                                        [data]="getSearchLocationList()"
                                        [restart]="searchLocationList.restart.postal_code"
                                        [css]="getClassCssErrorInput(locationPostalCode)"
                                        [defaultValue]="location.postal_code"
                                        [externalConfig]="getSearchPostalCodesConfig()"
                                        (outputEvent)="onClickSearchLocation($event, locationPostalCode)"
                                        (onClickElementEvent)="onSelectedSearchLocation($event)"></app-search-component>
                  <span *ngIf="hasErrorInput(locationPostalCode)"
                        class="error-field" [innerHtml]="getErrorInput(locationPostalCode)"></span>
                </div>

                <div class="col-form-input col-md-4 col-12 no-gutters">

                  <label for="city"
                         class="row-form-label"
                         [ngClass]="{'invalid-label': hasErrorInput(locationCity)}">Ciudad
                    <span class="field-required">*</span>
                  </label>

                  <input #locationCity="ngModel"
                         id="city"
                         name="city"
                         required
                         hidden
                         type="text"
                         minlength="2"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(locationCity)}"
                         [(ngModel)]="location.city"
                         placeholder="Ciudad"
                         [disabled]="disabledEdition">
                  <app-search-component #searchCityComponent
                                        [disabled]="disabledEdition"
                                        [data]="getSearchLocationList()"
                                        [restart]="searchLocationList.restart.city"
                                        [css]="getClassCssErrorInput(locationCity)"
                                        [defaultValue]="location.city"
                                        [externalConfig]="getSearchCityConfig()"
                                        (outputEvent)="onClickSearchLocation($event, locationCity)"
                                        (onClickElementEvent)="onSelectedSearchLocation($event)"></app-search-component>
                  <span *ngIf="hasErrorInput(locationCity)"
                        class="error-field" [innerHtml]="getErrorInput(locationCity)"></span>
                </div>

                <div class="col-form-input col-md-3 col-12 no-gutters">

                  <label for="province" class="row-form-label">Provincia
                    <span class="field-required"></span>
                  </label>

                  <input #locationProvince="ngModel"
                         id="province"
                         name="province"
                         required
                         type="text"
                         minlength="2"
                         class="form-control itext"
                         [disabled]="disabledEdition"
                         [ngClass]="{'invalid-field': hasErrorInput(locationProvince)}"
                         [(ngModel)]="location.province"
                         placeholder="Provincia"
                         readonly>
                </div>

                <div class="col-form-input col-md-3 col-12 no-gutters">

                  <label for="country"
                         class="row-form-label"
                         [ngClass]="{'invalid-label': hasErrorInput(locationCountry)}">País
                    <span class="field-required">*</span>
                  </label>

                  <input #locationCountry="ngModel"
                         id="country"
                         name="country"
                         required
                         type="text"
                         minlength="2"
                         class="form-control itext"
                         [disabled]="disabledEdition"
                         [ngClass]="{'invalid-field': hasErrorInput(locationCountry)}"
                         [(ngModel)]="location.country"
                         placeholder="País"
                         required
                         readonly>
                  <span *ngIf="hasErrorInput(locationCountry)"
                        class="error-field" [innerHtml]="getErrorInput(locationCountry)"></span>

                </div>

              </div>

            </fieldset>

            <p class="info-required">* campos requeridos</p>
            <aside class="row no-gutters">
              <button [hidden]="disabledEdition"
                      (click)="updateLocation()"
                      class="btn btn-secondary btn-block cursor-pointer submit-location col-md-5 col-12 row no-gutters align-items-center justify-content-between">
                <span class="" [innerHtml]="buttonTitle"></span>
                <i class="fa fa-check-circle-o"></i>
              </button>
            </aside>

            <aside class="errors-form"[ngClass]="{'show-errors': showErrorFromMessage()}">
              <p>Hay campos sin rellenar correctamente</p>
            </aside>

          </section>
        </form>
      </article>

      <article class="col-12 col-lg-5 mt-3 align-content-start edit-location-map">

        <div class="col-12 text-left map-info">
          <i class="fa fa-lg fa-info-circle hover-blue cursor-pointer"
             (click)="mapInfoOverlayPanel.toggle($event)">
            <span class="ml-1"
                  (click)="mapInfoOverlayPanel.toggle($event)">¿Cómo encontrar estos datos?</span>
          </i>

          <!--// ToDo: Al reescalar la pantalla debe ocultarse el overlay-->
          <p-overlayPanel #mapInfoOverlayPanel
                          appendTo="body">
            <div class="container-fluid no-gutters map-info-overlay">
              <div class="row col-12 no-gutters">
                <span>Ve a <a href="{{googleMapUrl}}" target="_blank">Google Maps</a> y escribe el nombre de la oficina. Las coordenadas se verán en la url:</span>
              </div>
              <div class="row col-12 no-gutters">
                <img src="assets/img/map-url.png" alt="Obtener coordenadas url">
              </div>
              <div class="row col-12 no-gutters">
                <img src="assets/img/map-location.png" alt="Obtener coordenadas url">
              </div>
            </div>
          </p-overlayPanel>

        </div>

        <div class="col-12 mt-2">
          <ng-container *ngIf="hasMap()">
            <iframe class="location-map-canvas"
                    width="100%"
                    height="350"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    [src]="urlMap">
            </iframe>
          </ng-container>
        </div>
      </article>
    </section>
  </div>

</section>
