@import "../../../../assets/sass/sass.files";

.tree-team-group-component {
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  .general-search-area {

  }

  .title-area {

  }

  .dropdown-area {
    font-size: 0.9rem;

    .config-favourite {
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $gray;
        padding: 0.25rem;
        @include border-radius(5px);
        &:hover {
          color: $blue;
          border-color: $blue;
        }
      }
    }
  }

  .content-area {

  }

}
