<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid no-gutters tree-team-group-component mb-5"
         [ngClass]="{'not-allowed not-allowed-cover': isGroupType()}"
         unselectable="on">

  <article class="title-area">
    <header>
      <h6>{{getComponentTitle()}}</h6>
    </header>
  </article>

  <article class="general-search mt-2">
    <section class="search-sidebar">
      <app-search-component *ngIf="hasGeneralSearch()"
                            [data]="searchData"
                            [externalConfig]="getGeneralSearchConfig()"
                            [restart]="restartGeneralSearchComponent"
                            (outputEvent)="onBlurGeneralSearch($event)"
                            (onClickElementEvent)="onSelectGeneralSearchElement($event)"></app-search-component>

    </section>
  </article>

  <article *ngIf="!isMate()" class="row no-gutters dropdown-area mt-2 pl-1">
    <div class="col-11 no-gutters"
         [ngClass]="{'col-12': !isFavouriteSelected()}">

      <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                  [options]="dropdownOptions"
                  [(ngModel)]="selectedDropdownOption"
                  (ngModelChange)="onChangeDropdownSelectedOption($event)">
      </p-dropdown>

    </div>

    <div [hidden]="!isFavouriteSelected()"
         class="col-1 no-gutters align-self-center cursor-pointer hover-blue config-favourite">
      <i class="fa fa-cog"
      (click)="onToggleFavouritesMode()"></i>
    </div>
  </article>

  <article *ngIf="hasDropdownOptions() && !isFavouriteSelected()"
           class="content-area mt-2">
    <app-default-tree-team-group-component [data]="data"
                                           [mode]="mode"
                                           [selectedNode]="selectedNode"
                                           [type]="selectedDropdownOption.name"
                                           (onSelectNodeEvent)="onToggleSelectedNode($event)"></app-default-tree-team-group-component>
  </article>

  <article *ngIf="hasDropdownOptions() && isFavouriteSelected() && !isEditingFavourite()"
           class="content-area mt-2">

    <app-favourite-tree-team-group-component [data]="data"
                                             [editMode]="editFavourite"
                                             [mode]="mode"
                                             [selectedNode]="selectedNode"
                                             [type]="selectedDropdownOption.name"
                                             (onReorderFavouriteEvent)="onReorderFavouriteEvent($event)"
                                             (onSelectNodeEvent)="onToggleSelectedNode($event)"></app-favourite-tree-team-group-component>
  </article>

  <article *ngIf="hasDropdownOptions() && isFavouriteSelected() && isEditingFavourite()"
           class="content-area mt-2">

    <app-edit-favourite-tree-team-group-component [allData]="searchData"
                                                  [data]="data"
                                                  [editMode]="editFavourite"
                                                  [mode]="mode"
                                                  [type]="selectedDropdownOption.name"
                                                  (onChangeFavouriteEvent)="onChangeFavourite($event)"></app-edit-favourite-tree-team-group-component>

  </article>

</section>
