<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters p-0 pr-2 pt-2 edit-master-class-component align-items-center justify-content-center">

  <div class="row col-12 no-gutters tab-header align-items-start justify-content-start">

    <header>Clases de master</header>

    <div class="col-auto mt-2 pb-2 no-gutters">
      <button (click)="onClickCreateMasterClass()"
              class="btn btn-secondary cursor-pointer add-master-class-button">
        <span class="">Crear nuevas clases de master</span>
      </button>
    </div>

  </div>

  <div class="row col-12 no-gutters status-filters align-self-start justify-content-center">
    <ul class="justify-content-between">
      <li *ngFor="let status of filterMasterClassOptions; let i = index;"
          [ngClass]="{'active': selectedFilterMasterClassOptions['value'] === status['value']}"
          (click)="setActiveDatatableFilter(i)">
        <span>{{status['label']}}</span>
      </li>
    </ul>
  </div>

  <div class="status-filters col-12 no-gutters align-self-start">

    <p-dataTable #masterClassDatatable
                 exportFilename="masterClass"
                 styleClass="show-action-on-hover"
                 [rowHover]="true"
                 [value]="masterClass"
                 [paginator]="pagination.totalRecords > pagination.rows"
                 [lazy]="true"
                 [responsive]="true"
                 [rows]="pagination.rows"
                 [totalRecords]="pagination.totalRecords"
                 (onLazyLoad)="loadMasterClassLazy($event)">

      <p-header>
        <div class="ui-helper-clearfix">
          <button type="button"
                  pButton icon="fa-file-o"
                  iconPos="left"
                  label="Exportar tabla a CSV"
                  style="float:left"
                  (click)="onClickExportToCsv()">
          </button>
        </div>
      </p-header>

      <p-column styleClass="show-action-on-hover"
                field="name"
                header="Nombre"
                [filter]="true"
                filterPlaceholder="Buscar por nombre"
                filterMatchMode="contains"
                [sortable]="true">

        <ng-template let-i="rowIndex"
                     let-masterClass="rowData"
                     pTemplate="body">

          <div class="col-12 no-gutters">

            <span *ngIf="!isEditableField(i)">{{masterClass['name']}}</span>

            <input *ngIf="isEditableField(i)"
                   type="text"
                   class="form-control itext"
                   minlength="3"
                   maxlength="255"
                   required
                   placeholder="Nombre"
                   (blur)="onBlurEditableField(i)"
                   [ngClass]="{'invalid-field': !isValidField(i)}"
                   (keyup)="hasErrorInput(masterClass['name'], i)"
                   [(ngModel)]="masterClass['name']"/>
            <span *ngIf="!isValidField(i)"
                  class="error-field">{{getInvalidFieldMessage(i)}}</span>

          </div>

        </ng-template>

      </p-column>

      <p-column styleClass="text-type hide-filter width-5 show-action-on-hover">

        <ng-template let-i="rowIndex"
                     let-masterClass="rowData"
                     pTemplate="body">

          <div class="row col-12 no-gutters p-0 align-items-center justify-content-around">
            <i class="fa fa-pencil hover-blue cursor-pointer"
               [ngClass]="{'is-editable': isEditableField(i)}"
               (click)="setEditableField(i)"></i>
            <i class="fa fa-trash-o hover-blue cursor-pointer"
               [ngClass]="{'is-editable': isEditableField(i)}"
               (click)="onDeleteMasterClass(i)"></i>
          </div>
        </ng-template>

      </p-column>

      <ng-template pTemplate="emptymessage">
        <span>No hay resultados para mostrar.</span>
      </ng-template>
    </p-dataTable>
  </div>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)"></app-confirm-dialog-component>

</section>
