@import "../../../../assets/sass/sass.files";

.alert-container{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1052;
  .alert-more{
    text-align: right;
    background: $read-only-bg;
    font-size: .95rem;
    padding: .25rem 1rem;
  }
  .alert{
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    @include border-radius(0);
    p{
      font-size: .9rem;
    }
    .close{
      margin-top: -5px;
    }

    &.alert-success{
      background: $success-bg;
      border-color: $success-border;
      p{
        color: $font-success;
      }
    }
    &.alert-danger{
      background: $alert-bg;
      border-color: $alert-border;
      p{
        color: $font-alert;
      }
    }
    &.alert-prompt{
      background: $black;
      border-color: $alert-border;
      p{
        color: $white;
      }
      a{
        color: $white;
      }
    }

  }
}
