<section class="alert-container"
         (mouseover)="onMouse('over')"
         (mouseleave)="onMouse('leave')">
  <div *ngFor="let alert of alerts"
       class="{{ cssClass(alert) }} alert-dismissable row no-gutters align-items-center">
    <div class="col">
      <p>{{alert.message}}</p>
    </div>
    <div class="col-auto">
      <a class="close" (click)="removeAlert(alert)">&times;</a>
    </div>
  </div>
</section>


