@import '../../../../../../../assets/sass/sass.files';

.roles-form-area {
  width: 100%;
  margin-bottom: 0.5rem;

  .rol-pill {
    display: inline-block;
    width: auto;
    border: 1px solid $border-color;
    padding: 0 0.05rem 0 .5rem;
    background: $green300;
    color: $font-default;
    font-size: .9rem;
    height: 25px;
    line-height: 25px;
    @include border-radius(25px);
    span {
      margin-right: .75rem;
    }
  }
}
