<section [id]="getComponentId()"
         [hidden]="!visible"
         class="roles-form-area col-12 row no-gutters">

  <span class="col-6 no-gutters mb-2 align-content-center">Roles</span>

  <article *ngIf="person.team_persons.length > 0"
           class="row col-12 no-gutters">

    <div #filterPill
         *ngFor="let team_person of person.team_persons; let i = index;"
         class="rol-pill mr-2">

      <section class="row no-gutters align-items-center justify-content-between">
        <span class="col" [innerHtml]="team_person.rule_person_role.category_name"></span>
      </section>
    </div>

  </article>

  <article *ngIf="person.team_persons.length === 0"
           class="row col-12 no-gutters">
    <span>{{person.name}} no tiene roles asignados</span>
  </article>

</section>
