<section class="login-area">
  <aside #containerLogin
         [hidden]="!isTabSelected('login')"
         class="container-login">
    <h1 class="container-title mb-5">{{appName.long}}</h1>
    <form #loginForm="ngForm">
      <section class="form-login-username-pass">
        <h6 class="input-title">Usuario/email</h6>
        <div class="element-form username-area">
          <input type="email"
                 [ngClass]="{'invalid-field': hasError(formLoginData.email)}"
                 pattern="{{formLoginData.email.pattern}}"
                 required
                 tabindex="1"
                 (keyup)="captureIntroEvent($event, formLoginData.email, emailLogin)"
                 (focus)="resetInputAssociated(formLoginData.password, passwordLogin)"
                 #emailLogin="ngModel"
                 placeholder=""
                 name="email_login"
                 autocomplete="off"
                 [(ngModel)]="formLoginData.email.value"/>

          <div *ngIf="hasError(formLoginData.email)"
               class="in-alert bg-danger text-center rounded-bottom">
            <p [innerHtml]="getErrorInput(emailLogin)"></p>
          </div>
        </div>


        <div class="element-form password-area">
          <h6 class="input-title">Contraseña</h6>
          <input type="password"
                 [ngClass]="{'invalid-field': hasError(formLoginData.password)}"
                 pattern="{{formLoginData.password.pattern}}"
                 maxlength="255"
                 minlength="5"
                 required
                 tabindex="2"
                 (keyup)="captureIntroEvent($event, formLoginData.password, passwordLogin)"
                 #passwordLogin="ngModel"
                 placeholder=""
                 autocomplete="off"
                 name="password_login"
                 [(ngModel)]="formLoginData.password.value"/>

          <div *ngIf="hasError(formLoginData.password)"
               class="in-alert bg-danger text-center rounded-bottom">
            <p [innerHtml]="getErrorInput(passwordLogin)"></p>
          </div>
        </div>

        <button (click)="onSubmitLoginForm()"
                class="btn btn-success cursor-pointer w-100 rounded login-button">
          <span class="button-text">Entrar</span>
        </button>
        <a hidden>¿Olvidaste tu contraseña?</a>
      </section>

      <p class="mb-3 mt-4">o</p>
      <section class="social-network-auth noselect">
        <h6 class="input-title">Redes sociales</h6>
        <a *ngFor="let sn of socialLogins; let i = index;"
           class="sn-button row no-gutters cursor-pointer justify-content-between align-items-center sn-{{sn['name']}}"
           [ngClass]="{'disabled': !sn['enable']}"
           tabindex="{{i + 4}}"
           (click)="loginWithSn(sn, $event)">
          <i class="fa fa-lg col-auto fa-{{sn['name']}}"></i>
          <span class="col"
                [innerHtml]="'Entra con ' + sn['name']"></span>
        </a>
      </section>
    </form>

    <section class="login-toregister mt-4">
      ¿No tienes cuenta? <span class="toregister-lnk cursor-pointer"
                               (click)="selectTab('register')">Regístrate</span>
    </section>

    <section class="chrome-link mt-3">
      <a class="cursor-pointer hover-blue"
         target="_self"
         type="application/x-chrome-extension"
         href="/api/download/chrome/{{getChromeExtensionUrl()}}">
        <i class="fa fa-chrome" aria-hidden="true"></i> Descargar extensión de Chrome</a>
    </section>
  </aside>

  <!--register container-->
  <aside #containerRegister
         [hidden]="!isTabSelected('register')"
         class="container-login">
    <h1 class="container-title mb-5">{{appName.long}}</h1>
    <form #registerForm="ngForm" autocomplete="off">

      <section class="form-register-username-pass">
        <h6 class="input-title">Nombre de usuario</h6>
        <div class="element-form">
          <input type="text"
                 class="input-checkeable lowercase"
                 [ngClass]="{'invalid-field': hasError(formSignUpData.username)}"
                 maxlength="255"
                 minlength="3"
                 pattern="{{formSignUpData.username.pattern}}"
                 required
                 #inputRegisterUser
                 tabindex="1"
                 (keyup)="onLiveValidate($event, formSignUpData.username, userRegister)"
                 (change)="onLiveValidate($event, formSignUpData.username, userRegister)"
                 #userRegister="ngModel"
                 placeholder=""
                 name="user_register"
                 autocomplete="off"
                 [(ngModel)]="formSignUpData.username.value"/>
          <aside class="checkers"
                 [innerHtml]="getValidationApiMessage(formSignUpData.username)"></aside>

          <div *ngIf="hasError(formSignUpData.username)"
               class="in-alert bg-danger text-center rounded-bottom">
            <p [innerHtml]="formSignUpData.username.error"></p>
          </div>
        </div>


        <h6 class="input-title">Email</h6>
        <div class="element-form">
          <input type="text"
                 class="input-checkeable"
                 [ngClass]="{'invalid-field': hasError(formSignUpData.email)}"
                 pattern="{{formSignUpData.email.pattern}}"
                 maxlength="255"
                 required
                 #inputRegisterEmail
                 tabindex="2"
                 (keyup)="onLiveValidate($event, formSignUpData.email, emailRegister)"
                 (change)="onLiveValidate($event, formSignUpData.email, emailRegister)"
                 (focus)="resetInputAssociated(formSignUpData.password, passwordRegister)"
                 #emailRegister="ngModel"
                 placeholder=""
                 name="email_register"
                 autocomplete="off"
                 [(ngModel)]="formSignUpData.email.value"/>
          <aside class="checkers"
                 [innerHtml]="getValidationApiMessage(formSignUpData.email)"></aside>
          <div *ngIf="hasError(formSignUpData.email)"
               class="in-alert bg-danger text-center rounded-bottom">
            <p [innerHtml]="formSignUpData.email.error"></p>
          </div>
        </div>


        <h6 class="input-title">Contraseña</h6>
        <div class="element-form text-left">
          <input type="password"
                 class="input-checkeable input-btn-extra"
                 [ngClass]="{'invalid-field': hasError(formSignUpData.password)}"
                 maxlength="255"
                 minlength="6"
                 pattern="{{formSignUpData.password.pattern}}"
                 required
                 tabindex="3"
                 (keyup)="onLiveValidate($event, formSignUpData.password, passwordRegister)"
                 #passwordRegister="ngModel"
                 placeholder=""
                 autocomplete="off"
                 name="password_register"
                 [(ngModel)]="formSignUpData.password.value"/>
          <aside class="checkers pad-right"
                 [innerHtml]="getValidationApiMessage(formSignUpData.password)"></aside>
          <i #toggler class="fa fa-eye cursor-pointer btn-toggle-password"></i>
          <div *ngIf="hasError(formSignUpData.password)"
               class="in-alert in-alert-extra bg-danger text-center rounded-bottom">
            <p [innerHtml]="formSignUpData.password.error"></p>
          </div>
        </div>


      </section>
      <section class="form-register-domain">
        <h6 class="input-title">Nombre de dominio</h6>
        <div class="element-form">
          <input type="text"
                 class="input-checkeable"
                 [ngClass]="{'invalid-field': hasError(formSignUpData.domain)}"
                 maxlength="255"
                 minlength="3"
                 required
                 #inputRegisterDomain
                 tabindex="4"
                 (keyup)="onLiveValidate($event, formSignUpData.domain, domainRegister, formSignUpData.url, urlRegister)"
                 (change)="onLiveValidate($event, formSignUpData.domain, domainRegister, formSignUpData.url, urlRegister)"
                 #domainRegister="ngModel"
                 placeholder=""
                 name="domain_register"
                 autocomplete="off"
                 [(ngModel)]="formSignUpData.domain.value"/>
          <div *ngIf="hasError(formSignUpData.domain)"
               class="in-alert bg-danger text-center rounded-bottom">
            <p [innerHtml]="formSignUpData.domain.error"></p>
          </div>
        </div>


        <h6 class="input-title">Url de dominio</h6>
        <div class="element-form">
          <input type="text"
                 class="input-checkeable lowercase"
                 [ngClass]="{'invalid-field': hasError(formSignUpData.url)}"
                 maxlength="255"
                 minlength="3"
                 pattern="{{formSignUpData.url.pattern}}"
                 required
                 #inputRegisterUrl_domain
                 tabindex="5"
                 (keyup)="onLiveValidate($event, formSignUpData.url, urlRegister)"
                 (change)="onLiveValidate($event, formSignUpData.url, urlRegister)"
                 #urlRegister="ngModel"
                 placeholder=""
                 name="url_domain"
                 autocomplete="off"
                 [(ngModel)]="formSignUpData.url.value"/>
          <aside class="checkers"
                 [innerHtml]="getValidationApiMessage(formSignUpData.url)"></aside>

          <div *ngIf="hasError(formSignUpData.url)"
               class="in-alert bg-danger text-center rounded-bottom">
            <p [innerHtml]="formSignUpData.url.error"></p>
          </div>

        </div>
        <div class="url_result">{{getUrlDomain()}}</div>

        <section class="conditions">
          <i class="fa fa-check"></i> Acepto las condiciones de uso y política de privacidad de TxNet
        </section>
        <button (click)="onSubmitRegisterForm()"
                class="btn btn-success cursor-pointer w-100 rounded login-button">
          <span class="button-text">Registrar</span>
        </button>
      </section>
    </form>

    <section class="login-toregister mt-5">
        <span class="toregister-lnk cursor-pointer"
              (click)="selectTab('login')">Iniciar sesión</span>
    </section>
  </aside>
</section>
