@import '../../assets/sass/sass.files';

.login-area {
  width: 100vw;
  height: 100vh;
  display: table;
  //background: url('../../assets/img/lb.jpg') no-repeat center;
  background: $gray-bg;
  -webkit-background-size: cover;
  background-size: cover;
  .container-title{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    color: $font-gray-dark;
  }
  .container-login {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;
    padding-top: 12vh;
    &.fadeIn{
      visibility: visible; opacity: 1;
      transition: visibility 1s, opacity 1s ease-in-out;
      -moz-transition: visibility 1s, opacity 1s ease-in-out;
      -webkit-transition: visibility 1s, opacity 1s ease-in-out;
    }
    form {
      max-width: 375px;
      color: $font-gray-dark;
      margin: 0 auto;
      .input-title{
        padding: 0;
      }
      .element-form {
        position: relative;
        margin: 0 0 1.5rem;
        input {
          background: none;
          border: none;
          border-bottom: 1px solid $gray3;
          padding: .3rem .5rem .2rem 1.5rem;
          width: 100%;
          @include border-radius(0);
          &.name-input {
            font-size: 1.5rem;
            margin: 0 0 .75rem;
          }
          &:active {
            background: $light-blue;
            color: $blue;
            &::-webkit-input-placeholder {
              font-size: 0;
            }
            &::-moz-placeholder {
              font-size: 0;
            }
            /* firefox 19+ */
            &:-ms-input-placeholder {
              font-size: 0;
            }
          }
          &:focus {
            background: $light-blue;
            color: $blue;
            outline: none;
            border-color: $blue;
            &::-webkit-input-placeholder {
              font-size: 0;
            }
            &::-moz-placeholder {
              font-size: 0;
            }
            /* firefox 19+ */
            &:-ms-input-placeholder {
              font-size: 0;
            }
          }
          &:hover {
            background: $light-blue;
            color: $blue;
            border-color: $blue;
          }
          &.description-input {
            font-size: .85rem;
          }
          &::-webkit-input-placeholder {
            font-style: italic;
          }
          &::-moz-placeholder {
            font-style: italic;
          }
          /* firefox 19+ */
          &:-ms-input-placeholder {
            font-style: italic;
          }
          /* ie */
          input:-moz-placeholder {
            font-style: italic;
          }
          &.input-checkeable{
            padding: .3rem 2.5rem .2rem 1.5rem;
          }
          &.input-btn-extra{
            width: 88%;
          }
          &.invalid-field{
            border-color: $redBootstrap;
            background: $redAlert;
          }
        }
        i {
          position: absolute;
          &.btn-toggle-password{
            color: $font-gray-dark;
            width: 10%;
            height: 35px;
            border: 1px solid $gray;
            text-align: center;
            background: $gray-light;
            @include border-radius(.5rem);
            padding: 0.5rem 0;
            margin: 0 auto;
            left: inherit;
            top: -2px;
            right: 0;
            &:hover{
              background: $gray200;
            }
          }
        }
        .checkers{
          position: absolute;
          top: 6px;
          right: 10px;
          &.pad-right{
            right: 15%;
          }
        }
      }
      .in-alert{
        position: absolute;
        color: $white;
        width: 100%;
        left: 0;
        top: 90%;
        font-size: .9rem;
        -moz-border-radius: 0 0 3.25rem 3.25rem;
        -webkit-border-radius: 0 0 3.25rem 3.25rem;
        border-radius: 0 0 3.25rem 3.25rem;
        &.in-alert-extra{
          width: 88%;
        }
      }
    }
    .sn-button {
      width: 100%;
      margin: .5rem 0;
      @include border-radius(4px);
      padding: .5rem .75rem;
      color: $white;
      border: 1px transparent solid;
      text-decoration: none;
      &.sn-google{
        background: #dd4b39;
        &:hover{
          border: 1px solid #961b0c;
        }
      }
      &.sn-facebook{
        background: #3b5998;
        &:hover{
          border: 1px solid #112c63;
        }
      }
      &.sn-linkedin{
        background: #007bb5;
        &:hover{
          border: 1px solid #1e4354;
        }
      }
      &.disabled{
        cursor: not-allowed;
        @include opacity(.5);
        border: 1px transparent solid !important;
      }
    }
    .login-toregister{
      color: $font-gray-dark;
      .toregister-lnk{
        text-decoration: underline;
      }
    }
    .chrome-link{
      a{
        color: $font-gray-dark;
      }
    }
    .form-register-domain{
      padding-top: 2rem;
    }
    .url_result{
      font-style: italic;
      font-size: 0.95rem;
      @include opacity(.5);
      min-height: 26px;
      padding-top: 0;
    }
    .lowercase{
      text-transform: lowercase;
    }
    .conditions {
      color: $font-gray-dark;
      font-size: .8rem;
      text-align: left;
      margin: 1rem 0;
      i{
        color: $font-gray-dark;
      }
    }
  }
}
