<section [id]="getComponentId()"
         [hidden]="!visible"
         class="widget-type-d">

  <span [hidden]="isEditMode()" class="widget-detail">{{dropdownOptionSelectedLabel}}</span>

  <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
              [hidden]="!isEditMode()"
              [placeholder]="dropdownOptionPlaceholder"
              [options]="getWidgetDropdownOptions()"
              [(ngModel)]="selectedDropdownOption"
              (onChange)="onChangeWidgetDropdown($event)">
  </p-dropdown>

</section>
