<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters mate-scope-analytics-chart-area align-items-start justify-content-center">

  <article class="row col-12 no-gutters mt-2 align-items-center justify-content-between buttons-area">

    <div class="row col-6 no-gutters align-items-center justify-content-start mode-buttons-area">

      <div class="row col-auto no-gutters cursor-pointer switch-element"
           (click)="onChangeShowByTeamsValue()">
        <div class="col-6 no-gutters switch-analytics"
             [ngClass]="{'selected': showByTeams, 'unselected': !showByTeams}">
          <span class="switch-team">Equipos</span>
        </div>
        <div class="col-6 no-gutters switch-analytics"
             [ngClass]="{'selected': !showByTeams, 'unselected': showByTeams}">
          <span class="switch-total">Totales</span>
        </div>
      </div>

    </div>

    <div class="row col-6 no-gutters align-items-center justify-content-end chart-buttons-area">

      <button class="btn btn-secondary mr-1 cursor-pointer chart-button"
              [ngClass]="{'active': getActiveChart() === 0}"
              (click)="onChangeActiveChart(0)">
        <i class="fa fa-lg fa-table"></i>
      </button>

      <button class="btn btn-secondary mr-1 cursor-pointer chart-button"
              [ngClass]="{'active': getActiveChart() === 1}"
              (click)="onChangeActiveChart(1)">
        <i class="fa fa-lg fa-bar-chart"></i>
      </button>

      <button class="btn btn-secondary cursor-pointer chart-button"
              [ngClass]="{'active': getActiveChart() === 2}"
              (click)="onChangeActiveChart(2)">
        <i class="fa fa-lg fa-line-chart"></i>
      </button>
    </div>

  </article>

  <article [hidden]="!hasStatusPeriods()" class="row col-12 no-gutters mt-2 align-items-center justify-content-center graph-area">

    <section [hidden]="!hasData()" class="row col-12 no-gutters mt-2 align-items-center justify-content-center">

      <p-dataTable #datatableChart
                   exportFilename="mate_analytics"
                   scrollWidth="100%"
                   styleClass="status-periods-datatable"
                   [ngClass]="{'hidde-datatable': getActiveChart() !== 0}"
                   [scrollable]="statusPeriodsDatatableData.datasets.length > 0"
                   [value]="statusPeriodsDatatableData.datasets">

        <p-header>
          <div class="ui-helper-clearfix">
            <button type="button"
                    pButton
                    icon="fa-file-o"
                    iconPos="left"
                    label="Exportar tabla a CSV"
                    style="float:left"
                    (click)="onClickExportToCsv()">
            </button>
          </div>
        </p-header>

        <p-column *ngFor="let label of statusPeriodsDatatableData.labels; let i = index"
                  styleClass="{{label.color}}"
                  field="{{getDatatableFieldName(i)}}"
                  [sortable]="true"
                  [style]="{'width': '150px'}">

          <ng-template pTemplate="header">
            <span>{{label.value}}</span>
          </ng-template>

          <ng-template *ngIf="i === 0"
                       let-dataset="rowData"
                       pTemplate="body">
            <span>{{dataset.label}}</span>
          </ng-template>

          <ng-template *ngIf="i > 0"
                       let-dataset="rowData"
                       pTemplate="body">
            <span style="float: right;">{{getData(dataset, i)}}</span>
          </ng-template>

        </p-column>

      </p-dataTable>

      <p-chart #barChart
               *ngIf="getActiveChart() === 1"
               type="bar"
               [data]="barChartData"
               [options]="barChartOptions"></p-chart>

      <p-chart #lineChart
               *ngIf="getActiveChart() === 2"
               type="line"
               [data]="lineChartData"
               [options]="lineChartOptions"></p-chart>


    </section>

    <section *ngIf="!hasData()" class="row col-12 no-gutters align-items-center justify-content-start graph-area">
      <span class="not-data">No se tienen registros para el rango de fechas inicial y/o comparativo seleccionado.</span>
    </section>

  </article>

  <article *ngIf="!hasStatusPeriods()" class="row col-12 no-gutters mt-2 align-items-center justify-content-start graph-area">
    <span class="not-data">Seleccione un rango de fechas inicial o comparativo.</span>
  </article>

</section>
