@import '../../../../../../assets/sass/sass.files';

.mate-scope-analytics-chart-area {
  //min-height: 80vh;
  padding: 0;
  margin: 0;

  @media (max-width: 1200px) {
    //min-height: 60vh;
  }

  .buttons-area {
    .mode-buttons-area {
      .switch-element {
        border: 1px solid $dark-blue;
        border-radius: 0.25rem;

        .switch-analytics {
          width: 100%;
          padding: 0.25rem;

          &.selected {
            background: $dark-blue;
            color: $white;
          }
          &.unselected {
            color: $black;
          }

          .switch-team {
            padding-right: 0.25rem;
          }

          .switch-total {
            padding-right: 0.25rem;
          }
        }
      }
    }

    .chart-buttons-area {
      text-align: end;

      .chart-button {
        outline: none;
        box-shadow: none;
        &:hover {
          background: $light-blue;
          border-color: $dark-blue;
        }

        &.active {
          background: $light-blue;
          border-color: $dark-blue;
        }
      }
    }
  }

  .graph-area {
    width: 100%;

    app-mate-scope-analytics-datatable-component {
      width: 100%;
    }

    p-chart {
      width: 100%;
    }

    span {
      &.not-data {
        text-align: center !important;
        padding: 1.5rem 0.5rem !important;
      }
    }
  }

}
