<section [id]="getComponentId()"
         [hidden]="!visible"
         class="input-validator-component">

  <input #validateInput="ngModel"
         class="itext"
         maxlength="{{getValidationStatus('maxlength')}}"
         minlength="{{getValidationStatus('minlength')}}"
         pattern="{{getValidationStatus('pattern')}}"
         placeholder="{{getPlaceHolder()}}"
         required="{{isRequired()}}"
         [ngClass]="{'invalid-field': hasError(config.field), 'empty-field': applyEmptyCss()}"
         [(ngModel)]="config.field.value"
         (keyup)="onLiveValidate($event, validateInput)"/>

  <aside class="checkers"
         [innerHtml]="getValidationApiMessage(getFieldFromConfig())"></aside>

  <div *ngIf="hasError(getFieldFromConfig())"
       class="in-alert bg-danger text-center rounded-bottom">
    <p [innerHtml]="getFieldErrorFromConfig()"></p>
  </div>

</section>
