@import "../../../../assets/sass/sass.files";

.input-validator-component {
  display: block;

  .itext {
    outline: 0px;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: none;
    @media only screen and (max-width: 768px){
      width: 90%;
    }
    @media only screen and (max-width: 270px){
      width: 80%;
    }
    @media only screen and (max-width: 158px){
      width: 75%;
    }

    &.empty-field {
      @include opacity(0.5);
      &:focus {
        @include opacity(1);
      }
      &:hover {
        @include opacity(1);
      }
    }

    &.invalid-field {
      border-color: $redBootstrap;
      background: $redAlert;
    }
  }

  .in-alert{
    position: relative;
    color: $white;
    left: 0;
    width: 80%;
    top: 90%;
    font-size: .9rem;
    -moz-border-radius: 0 0 3.25rem 3.25rem;
    -webkit-border-radius: 0 0 3.25rem 3.25rem;
    border-radius: 0 0 3.25rem 3.25rem;
    @media only screen and (max-width: 768px){
      width: 90%;
    }
    @media only screen and (max-width: 270px){
      width: 80%;
    }
    @media only screen and (max-width: 158px){
      width: 75%;
    }
  }

  .checkers{
    display: inline-block;
    position: relative;
  }
}
