@import '../../../../../assets/sass/sass.files';

.mate-dashboard-component {

  .save-config {
    width: 100%
  }

  .restore-config {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
}
