<section [id]="getComponentId()"
         [hidden]="!visible"
         class="mate-dashboard-component">

  <div class="row col-12 no-gutters justify-content-between mt-2">

    <div class="row col-6 no-gutters justify-content-start">
      <div (click)="goBackToProfile()"
           class="go-back-header-link cursor-pointer hover-blue">
        <i class="fa fa-angle-left mr-1"></i>
        <span>Personaliza el contenido de tu dashboard</span>
      </div>
    </div>

    <div class="row col-auto no-gutters justify-content-center">
      <div class="row col-10 no-gutters justify-content-center">
        <button class="btn btn-secondary cursor-pointer save-config"
                (click)="saveConfig()">Guardar</button>
      </div>
      <div class="row col-12 mt-2 no-gutters justify-content-center">
        <span class="restore-config"
              (click)="restoreWidgets()">Restablecer la configuración inicial</span>
      </div>
    </div>

  </div>

  <div class="row col-12 no-gutters mt-2 justify-content-center">
    <span>Configuración básica</span>
  </div>

  <div class="row col-12 no-gutters justify-content-center">
    <span>Selección múltiple posible</span>
  </div>

  <app-widget-container-component [expanded]="true"
                                  [dashboardMode]="true"
                                  [person]="person"
                                  [widgetType]="widgetType"
                                  (onSelectWidgetEvent)="onSelectWidget($event)"></app-widget-container-component>

</section>
