<section [id]="getComponentId()"
         [hidden]="!visible"
         class="contact-form-area col-12 row no-gutters">

  <article class="row col-12 no-gutters">

    <span class="col-6 no-gutters align-content-center">Contacto</span>
    <i class="col-6 no-gutters align-self-center text-right fa fa-lg fa-plus-circle cursor-pointer hover-blue not-allowed"
       (click)="functionalityNotImplemented()"></i>

    <form #contactForm="ngForm">

      <section class="form-block">

        <fieldset class="form-group">

          <div class="form-row col-12 row no-gutters align-items-center mt-2">

            <label for="phone" class="col-9 text-muted col-form-label">Número de teléfono</label>

            <div [hidden]="true"
                 class="col-3 no-gutters align-self-center text-right">
              <i class="fa fa-lg fa-pencil mr-2 cursor-pointer hover-blue"
                 (click)="setEditField('editPhone')"
                 [ngClass]="{'active-edit': editControl.editPhone}"></i>
              <i class="fa fa-lg fa-trash cursor-pointer hover-blue"
                 (click)="functionalityNotImplemented()"></i>
            </div>

            <div *ngIf="!editControl.editPhone"
                 class="col-12 no-gutters text-overflow">
              <span>{{person.phone}}</span>
            </div>

            <div *ngIf="editControl.editPhone"
                 class="col-12 no-gutters text-overflow">
              <div class="col-12 no-gutters">
                <input #personPhone="ngModel"
                       id="phone"
                       name="phone"
                       type="tel"
                       class="form-control itext"
                       [ngClass]="{'invalid-field': hasErrorInput(personPhone)}"
                       [(ngModel)]="person.phone"
                       placeholder="Número de teléfono">
                <span *ngIf="hasErrorInput(personPhone)"
                      class="error-field">Mínimo 3 caracteres</span>
              </div>
            </div>
          </div>

          <div class="form-row col-12 row no-gutters align-items-center mt-2">

            <label for="mobile" class="col-9 text-muted col-form-label">Número de móvil</label>

            <div [hidden]="true"
                 class="col-3 no-gutters align-self-center text-right">
              <i class="fa fa-lg fa-pencil mr-2 cursor-pointer hover-blue"
                 (click)="setEditField('editMobile')"
                 [ngClass]="{'active-edit': editControl.editMobile}"></i>
              <i class="fa fa-lg fa-trash cursor-pointer hover-blue"
                 (click)="functionalityNotImplemented()"></i>
            </div>

            <div *ngIf="!editControl.editMobile"
                 class="col-12 no-gutters text-overflow">
              <span>{{person.phone}}</span>
            </div>

            <div *ngIf="editControl.editMobile"
                 class="col-12 no-gutters text-overflow">
              <div class="col-12 no-gutters">
                <input #personMobile="ngModel"
                       id="mobile"
                       name="mobile"
                       type="tel"
                       class="form-control itext"
                       [ngClass]="{'invalid-field': hasErrorInput(personMobile)}"
                       [(ngModel)]="person.phone"
                       placeholder="Número de móvil">
                <span *ngIf="hasErrorInput(personMobile)"
                      class="error-field">Mínimo 3 caracteres</span>
              </div>
            </div>
          </div>

          <div class="form-row col-12 row no-gutters align-items-center mt-2">

            <label for="email" class="col-9 text-muted col-form-label">Email</label>

            <div [hidden]="true"
                 class="col-3 no-gutters align-self-center text-right">
              <i class="fa fa-lg fa-pencil mr-2 cursor-pointer hover-blue"
                 (click)="setEditField('editEmail')"
                 [ngClass]="{'active-edit': editControl.editEmail}"></i>
              <i class="fa fa-lg fa-trash cursor-pointer hover-blue"
                 (click)="functionalityNotImplemented()"></i>
            </div>

            <div *ngIf="!editControl.editEmail"
                 class="col-12 no-gutters text-overflow">
              <span>{{person.email}}</span>
            </div>

            <div *ngIf="editControl.editMobile"
                 class="col-12 no-gutters text-overflow">
              <div class="col-12 no-gutters">
                <input #personEmail="ngModel"
                       id="email"
                       name="email"
                       type="text"
                       class="form-control itext"
                       [ngClass]="{'invalid-field': hasErrorInput(personEmail)}"
                       [(ngModel)]="person.email"
                       placeholder="Email">
                <span *ngIf="hasErrorInput(personEmail)"
                      class="error-field">Mínimo 3 caracteres</span>
              </div>
            </div>
          </div>

          <div class="form-row col-12 row no-gutters align-items-center mt-2">

            <label for="skype" class="col-9 text-muted col-form-label">Skype</label>

            <div [hidden]="true"
                 class="col-3 no-gutters align-self-center text-right">
              <i class="fa fa-lg fa-pencil mr-2 cursor-pointer hover-blue"
                 (click)="setEditField('editSkype')"
                 [ngClass]="{'active-edit': editControl.editSkype}"></i>
              <i class="fa fa-lg fa-trash cursor-pointer hover-blue"
                 (click)="functionalityNotImplemented()"></i>
            </div>

            <div *ngIf="!editControl.editSkype"
                 class="col-12 no-gutters text-overflow">
              <span>{{person.email}}</span>
            </div>

            <div *ngIf="editControl.editSkype"
                 class="col-12 no-gutters text-overflow">
              <div class="col-12 no-gutters">
                <input #personSkype="ngModel"
                       id="skype"
                       name="skype"
                       type="text"
                       class="form-control itext"
                       [ngClass]="{'invalid-field': hasErrorInput(personSkype)}"
                       [(ngModel)]="person.email"
                       placeholder="Email">
                <span *ngIf="hasErrorInput(personSkype)"
                      class="error-field">Mínimo 3 caracteres</span>
              </div>
            </div>
          </div>

        </fieldset>

      </section>

    </form>

  </article>
</section>
