<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row no-gutters align-items-center justify-content-center month-range-datepicker-component"
         [ngClass]="{'end': mode === 'end'}">

  <div class="row col-12 no-gutters align-items-center justify-content-around date-input">

    <dp-date-picker #monthRangeDatepicker
                    mode="month"
                    placeholder="Rango mensual..."
                    theme="dp-material"
                    [config]="datePickerConfig"
                    [ngClass]="{'open-calendar': isOpen}"
                    (open)="onOpenCalendar()"
                    (close)="onCloseCalendar()"
                    (onChange)="onChangeRange($event)"
                    [(ngModel)]="selectedDate">
    </dp-date-picker>

    <i [hidden]="!showUnselectMonthsButton()"
       class="fa fa-lg fa-times close-icon"
       (click)="onUnselectMonths()">
    </i>

    <i class="fa fa-calendar calendar-icon"
       (click)="onClickCalendarIcon()"></i>
  </div>

</section>
