@import "../../../../assets/sass/sass.files";

.month-range-datepicker-component {
  padding: 0;
  margin: 0;

  &.end {
    background: $gray-light2;
  }

  .date-input {
    position: relative;

    .fa {
      position: absolute;
      cursor: pointer;
      background: transparent;
      border: none;
      color: $black;

      &.close-icon {
        right: 30px;
        bottom: 10px;
        &:hover {
          color: $blue;
        }
      }

      &.calendar-icon {
        right: 8px;
        bottom: 10px;
      }
    }
  }
}
