@import '../../../../../assets/sass/sass.files';


.tab-basic-info-work-area{
  .tab-basic-info-header{
    min-height: 2rem;
    padding: 0.35rem .75rem .5rem;
    .tab-basic-info-backto{
      font-size: 1.15rem;
    }
  }
}

.tab-basic-info-area {

  .name-email {
    background: transparent;
  }

  .img-thumbnail {
    width: 200px;
    height: 200px;
  }
  @media(max-width: 768px){
    h2{
      text-align: center;
    }
  }

  .basic-information {
    margin: 1.5rem 0 0;
    @media(min-width: 768px) {
      padding: 0 0 0 1.5rem;
      margin: 0;
    }
  }

  .form-block{
    header{
      font-size: 1.1rem;
      font-weight: bold;
      margin: .25rem 0 .75rem;
      &:first-child{
        margin-top: 0;
      }
    }
    fieldset{
      margin-bottom: 1.5rem;
      h6{
        font-size: 1rem;
        margin-bottom: .5rem;
        font-weight: 600;
      }
      .form-row{
        margin-bottom: 1rem;
        .col-form-label{
          position: relative;
          padding: 0 1rem 0 .25rem;
          @media(max-width: 768px) {
            color: $gray;
            padding-top: .25rem;
            font-size: .95rem;
            font-style: italic;
          }
        }
        .row-form-label{
          margin: 1rem 0 0;
          font-size: .9rem;
        }
        .col-form-input{
          padding-right: 1rem;
          &:last-child{
            padding-right: 0;
          }
          @media(max-width: 768px) {
            padding-right: 0;
          }
          label{
            &.field-required{
              font-size: .75rem;
              position: relative;
              top: -.2rem;
            }
          }
        }
        .url-domain{
          font-size: .95rem;
          font-style: italic;
          color: $gray-dark;
        }
      }
    }

    .info-required{
      font-size: .8rem;
      margin: 0 0 1rem;
      color: $font-gray-dark;
    }
    .submit-domain {
      font-size: .95rem;
      padding: .5rem .5rem;
      margin: 1rem auto 0;
      i {
        font-size: 1rem;
        position: absolute;
        right: .25rem;
      }
    }

    .errors-form{
      background: $redBootstrap;
      color: $white;
      font-size: .9rem;
      margin-top: 1rem;
      padding: .5rem .75rem;
      @include border-radius(.25rem);
      @include opacity(0);
      text-align: center;
      transition: all .5s ease-out;
      &.show-errors{
        @include opacity(1);
      }
    }
  }
}

