<section *ngIf="hasPerson()"
         class="container-fluid tab-basic-info-area p-0">

  <div class="row no-gutters">

    <section class="profile-body col-12 row no-gutters">
      <article class="col-12 col-sm-4">
        <img class="img-thumbnail img-avatar mb-5 rounded-circle mx-auto d-block"
             [src]="getPersonPicture()"
             alt="Card image cap"/>

        <ul class="name-email list-group list-group-flush">
          <li class="name-email list-group-item">
            <h6 class="name-email text-center m-0 w-100"
                [innerHtml]="getNameOrEmail()"></h6>
          </li>
        </ul>

      </article>

      <article class="col-12 col-sm-8">

        <form #personForm="ngForm">
          <section class="form-block col-12">

            <fieldset class="form-group row no-gutters">

              <div class="form-row col-12 row no-gutters mt-2 align-items-center">

                <label for="name"
                       class="col-12 text-muted pr-3 col-form-label">Nombre<b> *</b></label>

                <div class="col-12 no-gutters">
                  <input #personName="ngModel"
                         id="name"
                         name="name"
                         required
                         type="text"
                         minlength="3"
                         maxlength="255"
                         class="form-control itext capitalize"
                         [ngClass]="{'invalid-field': hasErrorInput(personName)}"
                         [(ngModel)]="person.name"
                         (ngModelChange)="onChangeNameSurname('name')"
                         placeholder="Nombre">
                  <span *ngIf="hasErrorInput(personName)"
                        class="error-field">Mínimo 3 caracteres</span>
                </div>

              </div>

              <div class="form-row col-12 row no-gutters mt-2 align-items-center">

                <label for="surname"
                       class="col-12 text-muted pr-3 col-form-label">Apellidos<b> *</b></label>

                <div class="col-12 no-gutters">
                  <input #personSurname="ngModel"
                         id="surname"
                         name="surname"
                         required
                         type="text"
                         minlength="3"
                         maxlength="255"
                         class="form-control itext capitalize"
                         [ngClass]="{'invalid-field': hasErrorInput(personSurname)}"
                         [(ngModel)]="person.surname"
                         (ngModelChange)="onChangeNameSurname('surname')"
                         placeholder="Apellidos">
                  <span *ngIf="hasErrorInput(personSurname)"
                        class="error-field">Mínimo 3 caracteres</span>
                </div>

              </div>

              <div class="form-row col-12 row no-gutters mt-2 align-items-center">

                <label for="email"
                       class="col-12 text-muted pr-3 col-form-label">Email<b> *</b></label>

                <div class="col-12 no-gutters">
                  <input #personEmail="ngModel"
                         id="email"
                         name="email"
                         required
                         type="email"
                         class="form-control itext"
                         pattern="{{emailPattern}}"
                         [ngClass]="{'invalid-field': !getValidEmail()}"
                         [(ngModel)]="person.email"
                         placeholder="Email"
                         (keyup)="hasErrorInput(personEmail, $event)">
                  <span *ngIf="!getValidEmail()"
                        class="error-field">{{validEmailMsg}}</span>
                </div>

              </div>

              <div class="form-row col-12 row no-gutters mt-2 align-items-center">

                <label for="phone"
                       class="col-12 text-muted pr-3 col-form-label">Teléfono</label>

                <div class="col-12 no-gutters">
                  <input #personPhone="ngModel"
                         id="phone"
                         name="phone"
                         type="tel"
                         class="form-control itext"
                         [ngClass]="{'invalid-field': hasErrorInput(personPhone)}"
                         [(ngModel)]="person.phone"
                         placeholder="Teléfono">
                  <span *ngIf="hasErrorInput(personPhone)"
                        class="error-field">Mínimo 3 caracteres</span>
                </div>

              </div>

              <div class="form-row col-12 row no-gutters align-items-center">

                <label for="birthdate"
                       class="col-12 text-muted pr-3 col-form-label">Fecha de nacimiento</label>

                <div class="col-12 no-gutters">

                  <p-calendar id="birthdate"
                              name="birthdate"
                              dateFormat="dd/mm/yy"
                              placeholder="dd/mm/yyyy"
                              icon="fa-calendar"
                              showIcon="true"
                              [minDate]="datePicker.minDate"
                              [maxDate]="datePicker.maxDate"
                              [yearRange]="datePicker.range"
                              readonlyInput="true"
                              showButtonBar="true"
                              [defaultDate]="getDefaultDate()"
                              [monthNavigator]="true"
                              [yearNavigator]="true"
                              [locale]="datePicker.calendar"
                              [(ngModel)]="personBirthdate"
                              (ngModelChange)="onChangeBirthdate($event)"></p-calendar>
                </div>
              </div>
            </fieldset>

            <p class="info-required">* campos requeridos</p>
            <aside class="row no-gutters">
              <button (click)="updatePerson()"
                      class="btn btn-secondary btn-block cursor-pointer submit-domain col-md-5 col-12 row no-gutters align-items-center justify-content-between">
                <span class="">Actualizar</span>
                <i class="fa fa-check-circle-o"></i>
              </button>
            </aside>

            <aside class="errors-form"
                   [ngClass]="{'show-errors': showErrorFromMessage()}">
              <p>Hay campos requeridos sin rellenar</p>
            </aside>

          </section>
        </form>

      </article>

    </section>

  </div>

</section>
