<section [id]="getComponentId()"
         [hidden]="!visible"
         class="knowledge-form-area col-12 row no-gutters">

  <article class="row col-12 no-gutters">

    <span class="col-6 no-gutters align-content-center">Conocimientos</span>
    <i class="col-6 no-gutters align-self-center text-right fa fa-lg fa-plus-circle cursor-pointer hover-blue not-allowed"
       (click)="functionalityNotImplemented()"></i>

    <form #knowledgeForm="ngForm">

      <section class="form-block">

        <fieldset class="form-group">

          <div class="form-row col-12 row no-gutters align-items-center mt-2">

            <label class="col-12 text-muted col-form-label">IDIOMAS</label>

          </div>

          <div class="form-row col-12 row no-gutters align-items-center mt-2">

            <label class="col-12 text-muted col-form-label">APLICACIONES</label>

          </div>

          <div class="form-row col-12 row no-gutters align-items-center mt-2">

            <label class="col-12 text-muted col-form-label">OTROS CONOCIMIENTOS</label>

          </div>

        </fieldset>

      </section>

    </form>

  </article>
</section>
