<section class="container section-area location-area">

  <header class="row mt-5 mb-2 no-gutters justify-content-end align-items-center">
    <div class="col-12">
      <h2 class="m-0 p-0">Listado de localizaciones</h2>
    </div>

    <ng-container *ngIf="isAllowed('addLocationContainer')">
      <div class="col-12 mt-md-2 mt-sm-0 text-left">
        <button (click)="createLocation()"
                class="btn btn-secondary cursor-pointer">
          <span>Crear una localización</span>
        </button>
      </div>
    </ng-container>

  </header>

  <ng-container *ngIf="isAllowed('locationsTableContainer')">
    <div class="col-12 no-gutters p-0 datatable">

      <p-dataTable #locationsDatatable
                   rowHover="true"
                   exportFilename="locations"
                   [value]="locations"
                   [paginator]="pagination.totalRecords > pagination.rows"
                   [lazy]="true"
                   [responsive]="true"
                   [rows]="pagination.rows"
                   [totalRecords]="pagination.totalRecords"
                   (onRowClick)="onClickLocation($event)"
                   (onLazyLoad)="loadLocationsLazy($event)">

        <p-header>
          <div class="ui-helper-clearfix">
            <button type="button"
                    pButton
                    icon="fa-file-o"
                    iconPos="left"
                    label="Exportar tabla a CSV"
                    style="float:left"
                    (click)="onClickExportToCsv()">
            </button>
          </div>
        </p-header>

        <p-column styleClass="text-type width-15"
                  field="name"
                  header="Nombre"
                  [sortable]="true">

          <ng-template let-i="rowIndex"
                       let-location="rowData"
                       pTemplate="body">

            <span pTooltip="{{location.description}}" tooltipPosition="left">{{location.name}}</span>

          </ng-template>

        </p-column>

        <p-column styleClass="text-type width-25"
                  field="address"
                  header="Dirección"
                  [sortable]="false">

          <ng-template let-i="rowIndex" let-location="rowData" pTemplate="body">
            <span>{{getLocationCompleteAddress(location)}}</span>
          </ng-template>

        </p-column>

        <p-column styleClass="text-type width-15"
                  field="city"
                  header="Ciudad"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-15"
                  field="province"
                  header="Provincia"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-10"
                  field="country"
                  header="País"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-10"
                  field="latitude"
                  header="Latitud"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-10"
                  field="longitude"
                  header="Longitud"
                  [sortable]="true">
        </p-column>

        <ng-template pTemplate="emptymessage">
          <div *ngIf="locations.length === 0">
            <span>No hay resultados para mostrar.</span>
          </div>
        </ng-template>
      </p-dataTable>

    </div>
  </ng-container>

</section>
