<section [id]="getComponentId()"
         [hidden]="!visible"
         class="widget-type-b">

  <span [hidden]="isEditMode()">{{dropdownOptionSelectedLabel}}</span>

  <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
              [hidden]="!isEditMode()"
              [options]="getWidgetDropdownOptions()"
              [(ngModel)]="dropdownOptionSelectedValue"
              (onChange)="onChangeWidgetDropdown($event)">
  </p-dropdown>
</section>
