<section class="container mt-5 mb-5">
  <section class="row">
    <header class="col-12">
      <h1 class="m-0">
        Slider Component
        <h5>
          <span class="badge badge-primary">Component (external)</span>
          <span class="badge badge-success">v1.6</span>
          <a href="https://github.com/tb/ng2-nouislider" target="_blank"><span class="badge badge-info">GitHub</span></a>
        </h5>
      </h1>
      <p>Started by <strong>Elías Romero</strong> on 4 May 2017 8:00AM </p>
      <hr/>
    </header>

    <section class="wiki-content row mt-3 col-12">
      <div class="col-9 text-justify">

        <section id="introduction" class="">
          <h4>Introducción</h4>
          <p>Este componente sustituye y amplia la funcionalidad básica del standard input range de HTML5 y definido en Bootstrap, permitiendo la opción de multiselectores en el propio slider.</p>
          <p>A continuación se detallan los pasos a realizar su <strong>instalación</strong>, <strong>uso  del componente</strong> y las <strong>opciones de configuración permitidas</strong></p>
        </section>

        <hr/>

        <article class="mt-5">
          <h4 id="install">Instalación</h4>
          <div class="bg-faded p-2">
            <code class="text-gray-dark">sudo npm i --save nouislider ng2-nouislider</code>
          </div>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="import">Import</h4>
          <p>Para hacer uso de este componente se debe realizar el siguiente import:</p>
          <div class="bg-faded p-2 mb-5">
            <code class="text-gray-dark"><span class="text-danger">import</span> &#123; NouisliderModule &#125; <span class="text-danger">from</span> <span class="text-success">'ng2-nouislider'</span><span class="text-danger">;</span></code>
          </div>
          <p>Es necesario también importar la hoja de estilos CSS mediante una de las siguientes opciones:</p>
          <div class="bg-faded p-2 mb-3">
            <code><span class="text-danger">@import</span> <span class="text-success">"~nouislider/distribute/nouislider.min.css"</span><span class="text-danger">;</span></code><br>
            <code><span class="text-danger">@import</span> url<span class="text-success">('https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.css')</span><span class="text-danger">;</span></code>
          </div>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="uso">Uso</h4>
          <p>Para crear una instancia de este componente en el DOM se hará uso del tag:<br><code>&#60;nouislider&#62;&#60;/nouislider&#62;</code></p>
          <p>Dicho componente <code>&#60;nouislider&#62;</code> requiere una <strong>configuración mínima</strong> para su instanciación:</p>
          <ul>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>[min]</code>:
              <span>Extremo inferior del rango a representar en el componente (se puede definir en [config])</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>[max]</code>:
              <span>Extremo superior del rango a representar en el componente (se puede definir en [config])</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span> | <span class="badge badge-primary">Array</span>
              <code>[(ngModel)]</code>:
              <span>Atributo asociado al modelo para el registro de el/los valores del componente</span>
            </li>
          </ul>

          <div class="alert alert-warning" role="alert">
            <strong>OJO!</strong> El slider tendrá un selector o doble selector si el atributo vinculado a <code>[(ngModel)]</code> es de tipo number o array&#60;number&#62; respectivamente.
          </div>
          <div class="alert alert-danger" role="alert">
            <strong>IMPORTANTE!</strong> El atributo vinculado a <code>[(ngModel)]</code> debe instanciarse e inicializarse si se omite <code>[config]</code> en la declaración de <code>&#60;nouislider&#62;&#60;/nouislider&#62;</code><br><small>(ver en sección Atributos Opcionales)</small>.
          </div>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="example">Ejemplo básico</h4>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#run" role="tab">run</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#html" role="tab">html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#typescript" role="tab">typescript</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content bg-faded p-2" style="min-height: 170px">
            <div class="tab-pane active" id="run" role="tabpanel">
              <div class="col-sm-4 m-2 mt-5">
                <nouislider [min]="0"
                            [max]="15"
                            [(ngModel)]="sliderRange"></nouislider>
              </div>
            </div>
            <div class="tab-pane" id="html" role="tabpanel">
              <div class="bg-faded p-2">
                <p class="text-gray-dark text-left">
                  &#60;nouislider<br><span class="ml-5">[min]="0"</span><br><span class="ml-5">[max]="15"</span><br><span class="ml-5">[(ngModel)]="sliderRange"&#62;</span><br>&#60;/nouislider&#62;
                </p>
              </div>
            </div>
            <div class="tab-pane" id="typescript" role="tabpanel">
              <div class="bg-faded p-2">
                <code class="text-gray-dark"><span class="text-danger">public</span> sliderRange: <span class="text-danger">number</span> = 1<span class="text-danger">;</span></code>
              </div>
            </div>
          </div>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="attributes">Atributos Opcionales</h4>
          <ul>
            <li class="my-1">
              <span class="badge badge-primary">JSON</span>
              <code>[config]</code>:
              <span>Array tipo Json Object con la inicialización de los atributos del componente.</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>[step]</code>:
              <span>Unidad mínima de desplazamiento. Acepta decimales.</span>
            </li>

            <li class="my-1">
              <span class="badge badge-primary">Boolean</span>
              <code>[keyboard]</code>:
              <span>Establece si el teclado se incluye en los eventos manejadores del componente (arrows keys y page up/down keys)</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Boolean</span>
              <code>[tooltips]</code>:
              <span>Muestra/oculta el valor del selector mediante un tooltip</span>
            </li>
          </ul>

          <h5>2 selectores</h5>
          <ul>
            <li class="my-1">
              <span class="badge badge-primary">Boolean</span>
              <code>[connect]</code>:
              <span>Interconecta visualmente ambos selectores si <span class="text-danger">true</span>.</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>[limit]</code>:
              <span>Establece un límite máximo de separación entre ambos selectores</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">[Boolean, Boolean]</span>
              <code>[tooltips]</code>:
              <span>Muestra/oculta los valores de los selectores mediante un tooltip</span>
            </li>
          </ul>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="config">Configuración</h4>
          <p>A través del atributo opcional <code>[config]</code> del componente <code>&#60;nouislider&#62;&#60;/nouislider&#62;</code> se puede establecer un JSON de configuración y definir así su diseño y funcionalidad:</p>
          <ul>
            <li class="my-1">
              <span class="badge badge-primary">String</span>
              <code>behaviour</code>:
              <span>Establece el tipo de interacción del slider. La opción drag permite mover en bloque ambos selectores<br>Valores posibles: null, 'drag'</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span> | <span class="badge badge-primary">array</span>
              <code>start</code>:
              <span>valor(es) iniciales para selector(es)</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>step</code>:
              <span>Unidad mínima de desplazamiento. Acepta decimales.</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>pageSteps</code>:
              <span>number of page steps, defaults to 10</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">array</span>
              <code>range</code>:
              <span>Define los extremos del rango. Requiere:</span>
              <ul>
                <li class="my-1">
                  <span class="badge badge-primary">Number</span>
                  <code>min</code>:
                  <span>Extremo inferior del rango</span>
                </li>
                <li class="my-1">
                  <span class="badge badge-primary">Number</span>
                  <code>max</code>:
                  <span>Extremo superior del rango</span>
                </li>
              </ul>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">array</span>
              <code>pips</code>:
              <span>Configuración para visualizar eje de coordenadas en el slider</span>
              <ul>
                <li class="my-1">
                  <span class="badge badge-primary">String</span>
                  <code>mode</code>:
                  <span>Tipo de eje. Valores posibles: 'steps', 'count'</span>
                </li>
                <li class="my-1">
                  <span class="badge badge-primary">Number</span>
                  <code>density</code>:
                  <span>Espaciado entre marcas del eje</span>
                </li>
                <li class="my-1">
                  <span class="badge badge-primary">Number</span>
                  <code>values</code>:
                  <span>Permite definir marcas más resaltadas con coordenada númerica</span>
                </li>
                <li class="my-1">
                  <span class="badge badge-primary">Boolean</span>
                  <code>stepped</code>:
                  <span>...</span>
                </li>
              </ul>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Boolean</span>
              <code>connect</code>
              <span>Interconecta visualmente ambos selectores si <span class="text-danger">true</span>.</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>margin</code>
              <span>Define el margin a aplicar en el slider.</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Number</span>
              <code>limit</code>:
              <span>Establece un límite máximo de separación entre ambos selectores</span>
            </li>
            <li class="my-1">
              <span class="badge badge-primary">Boolean</span> | <span class="badge badge-primary">[Boolean, Boolean]</span> | <span class="badge badge-default">method</span>
              <code>[tooltips]</code>:
              <span>Muestra/oculta los valores de los selectores mediante un tooltip. Se puede establecer un método para customizar el formato a mostrar</span>
            </li>
          </ul>
        </article>

        <hr/>

        <article class="mt-5">
          <h4 id="demos">Ejemplos</h4>
          <div>
            <p></p>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#run01" role="tab">run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#html01" role="tab">html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#typescript01" role="tab">typescript</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content bg-faded p-2" style="min-height: 170px">
              <div class="tab-pane active" id="run01" role="tabpanel">
                <div class="m-2 mt-3">
                  <p>
                    Valor: {{sliderRange01}}<br>
                    Rango: [{{min01}},{{max01}}]<br>
                    Step:  default
                  </p>
                  <nouislider [min]="min01"
                              [max]="max01"
                              [(ngModel)]="sliderRange01"></nouislider>

                </div>
              </div>
              <div class="tab-pane" id="html01" role="tabpanel">
                <div class="bg-faded p-2">
                  <p class="text-gray-dark text-left">
                    &#60;nouislider<br><span class="ml-5">[min]="min01"</span><br><span class="ml-5">[max]="max01"</span><br><span class="ml-5">[(ngModel)]="sliderRange01"&#62;</span><br>&#60;/nouislider&#62;
                  </p>
                </div>
              </div>
              <div class="tab-pane" id="typescript01" role="tabpanel">
                <div class="bg-faded p-2">
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> sliderRange01: <span class="text-danger">number</span> = <span class="text-info">5</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> min01: <span class="text-danger">number</span> = <span class="text-info">0</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> max01: <span class="text-danger">number</span> = <span class="text-info">50</span><span class="text-danger">;</span>
                  </code>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <p></p>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#run02" role="tab">run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#html02" role="tab">html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#typescript02" role="tab">typescript</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content bg-faded p-2" style="min-height: 200px">
              <div class="tab-pane active" id="run02" role="tabpanel">
                <div class="m-2 mt-3">
                  <p>
                    Valor: {{sliderRange02}}<br>
                    Rango: [{{min02}},{{max02}}]<br>
                    Step:  {{step02}}
                  </p>
                  <nouislider [min]="min02"
                              [max]="max02"
                              [tooltips]="true"
                              [step]="step02"
                              [(ngModel)]="sliderRange02"></nouislider>

                </div>
              </div>
              <div class="tab-pane" id="html02" role="tabpanel">
                <div class="bg-faded p-2">
                  <p class="text-gray-dark text-left">
                    &#60;nouislider<br><span class="ml-5">[min]="min02"</span><br><span class="ml-5">[max]="max02"</span><br><span class="ml-5">[tooltips]="true"</span><br><span class="ml-5">[step]="step02"</span><br><span class="ml-5">[(ngModel)]="sliderRange02"&#62;</span><br>&#60;/nouislider&#62;
                  </p>
                </div>
              </div>
              <div class="tab-pane" id="typescript02" role="tabpanel">
                <div class="bg-faded p-2">
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> sliderRange02: <span class="text-danger">number</span> = <span class="text-info">50</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> min02: <span class="text-danger">number</span> = <span class="text-info">1</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> max02: <span class="text-danger">number</span> = <span class="text-info">100</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> step02: <span class="text-danger">number</span> = <span class="text-info">0.5</span><span class="text-danger">;</span>
                  </code>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <p></p>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#run03" role="tab">run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#html03" role="tab">html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#typescript03" role="tab">typescript</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content bg-faded p-2" style="min-height: 316px">
              <div class="tab-pane active" id="run03" role="tabpanel">
                <div class="m-2 mt-3">
                  <p class="mt-3">
                    Valor: {{sliderRange03}}<br>
                    Rango: [{{min03}},{{max03}}]<br>
                    Step:  {{step03}}
                  </p>
                  <nouislider [min]="min03"
                              [max]="max03"
                              [config]="sliderConfig03"
                              [step]="step03"
                              [(ngModel)]="sliderRange03"></nouislider>
                </div>
              </div>
              <div class="tab-pane" id="html03" role="tabpanel">
                <div class="bg-faded p-2">
                  <p class="text-gray-dark text-left">
                    &#60;nouislider<br><span class="ml-5">[min]="min03"</span><br><span class="ml-5">[max]="max03"</span><br><span class="ml-5">[config]="sliderConfig03"</span><br><span class="ml-5">[step]="step03"</span><br><span class="ml-5">[(ngModel)]="sliderRange03"&#62;</span><br>&#60;/nouislider&#62;
                  </p>
                </div>
              </div>
              <div class="tab-pane" id="typescript03" role="tabpanel">
                <div class="bg-faded p-2">
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> sliderRange03: <span class="text-danger">number</span> = <span class="text-info">50</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> min03: <span class="text-danger">number</span> = <span class="text-info">0</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> max03: <span class="text-danger">number</span> = <span class="text-info">100</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> step03: <span class="text-danger">number</span> = <span class="text-info">1</span><span class="text-danger">;</span><br>
                  </code>
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> sliderConfig03: <span class="text-danger">any</span> = &#123;<br>
                      <span class="ml-3">pips: &#123;</span><br>
                    <span class="ml-5">mode: <span class="text-success">'count'</span><span class="text-warning">,</span></span><br>
                    <span class="ml-5">density: <span class="text-info">1</span><span class="text-warning">,</span></span><br>
                    <span class="ml-5">values: <span class="text-info">11</span><span class="text-warning">,</span></span><br>
                    <span class="ml-5">stepped: <span class="text-danger">true</span></span><br>
                      <span class="ml-3">&#125;</span><br>
                    &#125;<span class="text-danger">;</span>
                  </code>

                </div>
              </div>
            </div>
          </div>

          <div class="mt-5">
            <p></p>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#run04" role="tab">run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#html04" role="tab">html</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#typescript04" role="tab">typescript</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content bg-faded p-2" style="min-height: 316px">
              <div class="tab-pane active" id="run04" role="tabpanel">
                <div class="m-2 mt-3">
                  <p class="mt-3">
                    Valor: {{sliderRange04}}<br>
                    Rango: [{{sliderConfig04.range.min}},{{sliderConfig04.range.max}}]<br>
                    Step:  {{sliderConfig04.step}}
                  </p>
                  <nouislider [config]="sliderConfig04"
                              [(ngModel)]="sliderRange04">
                  </nouislider>
                </div>
              </div>
              <div class="tab-pane" id="html04" role="tabpanel">
                <div class="bg-faded p-2">
                  <p class="text-gray-dark text-left">
                    &#60;nouislider<br><span class="ml-5">[config]="sliderConfig04"</span><br><span class="ml-5">[(ngModel)]="sliderRange04"#62;</span><br>&#60;/nouislider&#62;
                  </p>
                </div>
              </div>
              <div class="tab-pane" id="typescript04" role="tabpanel">
                <div class="bg-faded p-2">
                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> sliderRange04 = [<span class="text-info">250</span><span class="text-danger">,</span><span class="text-info">750</span>]<span class="text-danger">;</span><br>
                  </code>

                  <code class="text-gray-dark">
                    <span class="text-danger">public</span> sliderConfig04: <span class="text-danger">any</span> = &#123;<br>
                    <span class="ml-3">behaviour: <span class="text-success">'drag'</span><span class="text-danger">,</span></span><br>
                    <span class="ml-3">connect: <span class="text-danger">true,</span></span><br>
                    <span class="ml-3">step: <span class="text-info">1</span><span class="text-danger">,</span></span><br>
                    <span class="ml-3">start: <span class="text-danger">this</span>.sliderRange04<span class="text-danger">,</span></span><br>
                    <span class="ml-3">range: &#123;</span><br>
                    <span class="ml-5">min: <span class="text-info">0</span><span class="text-danger">,</span></span><br>
                    <span class="ml-5">max: <span class="text-info">20</span></span><br>
                    <span class="ml-3">&#125;<span class="text-danger">,</span></span><br>
                    <span class="ml-3">pips: &#123;</span><br>
                    <span class="ml-5">mode: <span class="text-success">'steps'</span><span class="text-danger">,</span></span><br>
                    <span class="ml-5">density: <span class="text-info">5</span></span><br>
                    <span class="ml-3">&#125;</span><br>
                    &#125;<span class="text-danger">;</span>
                  </code>

                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="col-3">
        <article class="card">
          <ul class="list-unstyled list-group">
            <li class="list-group-item"><a routerLink="/wiki/slider/" fragment="install">Instalación</a></li>
            <li class="list-group-item"><a routerLink="/wiki/slider/" fragment="import">Import</a></li>
            <li class="list-group-item"><a routerLink="/wiki/slider/" fragment="uso">Uso</a></li>
            <li class="list-group-item"><a routerLink="/wiki/slider/" fragment="example">Ejemplo básico</a></li>
            <li class="list-group-item"><a routerLink="/wiki/slider/" fragment="attributes">Atributos opcionales</a></li>
            <li class="list-group-item"><a routerLink="/wiki/slider/" fragment="config">Configuración</a></li>
            <li class="list-group-item"><a routerLink="/wiki/slider/" fragment="demo">Ejemplos</a></li>
          </ul>
        </article>
      </div>
    </section>

  </section>
</section>
