@import '../../../../../assets/sass/sass.files';

.tab-administrative-area {
  //border-left: 1px solid black;
  //border-right: 1px solid black;

  .billing-area {
    &.opacity-area {
      opacity: 0.5;
    }

    .billing-label {

    }

    .billing-value {
      width: 90%;
      &.opacity-input {
        opacity: 0.5;
      }
    }
  }

  .salary-area {
    &.opacity-area {
      opacity: 0.5;
    }

    .salary-label {

    }
    .salary-value {
      width: 90%;

    }
  }
}
