<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid tab-administrative-area">

  <article class="row col-12 no-gutters">
    <header>
      <h4>Datos contractuales</h4>
    </header>
  </article>

  <article class="row col-12 no-gutters mt-4">
    <h6>Informa el campo que aplica</h6>
  </article>

  <article class="row col-12 no-gutters mt-3 justify-content-around">

    <div class="col-5 no-gutters billing-area"
         [ngClass]="{'opacity-area': isBillingFocus()}">

      <div class="row col-12 no-gutters">
        <label class="billing-label">Coste (por horas en €)</label>
      </div>

      <div *ngIf="!isAuthorizedPerson()"
           class="row no-gutters align-content-center">
        <span *ngIf="!isAuthorizedPerson()">{{getCostLabel('salary')}}</span>
      </div>

      <div *ngIf="isAuthorizedPerson()"
           class="row no-gutters align-content-center"
           (mouseenter)="onChangeInputHover('salary', true)"
           (mouseleave)="onChangeInputHover('salary', false);">

        <span *ngIf="isSalaryCost()">{{getCostLabel('salary')}}</span>

        <input *ngIf="!isSalaryCost()"
               #salaryInput
               class="itext"
               currencyMask
               value="{{costText.salary}}"
               (keyup)="onFormatCostValue($event, 'salary')"
               (blur)="onChangeCostValue('salary')"
               (focus)="changeInputOpacity('salary')">
        <span *ngIf="!isSalaryCost()"
              class="mt-2 mb-0 ml-2">€</span>
      </div>

    </div>

    <div class="col-5 no-gutters salary-area"
         [ngClass]="{'opacity-area': isSalaryFocus()}">

      <div class="row col-12 no-gutters">
        <label class="salary-label">Tarifa (por horas en €)</label>
      </div>

      <div *ngIf="!isAuthorizedPerson()"
           class="row no-gutters align-content-center">
        <span *ngIf="!isAuthorizedPerson()">{{getCostLabel('billing')}}</span>
      </div>

      <div *ngIf="isAuthorizedPerson()"
           class="row no-gutters align-content-center"
           (mouseenter)="onChangeInputHover('billing', true)"
           (mouseleave)="onChangeInputHover('billing', false);">

        <span *ngIf="isBillingCost()">{{getCostLabel('billing')}}</span>

        <input *ngIf="!isBillingCost()"
               #billingInput
               class="itext"
               currencyMask
               value="{{costText.billing}}"
               (keyup)="onFormatCostValue($event, 'billing')"
               (blur)="onChangeCostValue('billing')"
               (focus)="changeInputOpacity('billing')">
        <span *ngIf="!isBillingCost()"
              class="mt-2 mb-0 ml-2">€</span>
      </div>
    </div>

  </article>

</section>
