@import '../assets/sass/sass.files.scss';

main {
  min-height: 85vh;
  height: auto;
  font-family: 'Roboto';
}

header {
  background: $white;
  border-bottom: 2px solid $gray300;
  margin: 0;
  .domain-section{
    background: $gray300;
    color: $gray800;
    text-align: center;
    padding: 1rem .5rem;
    font-weight: 600;
    font-size: 1rem;
    span{
      margin: 0 .5rem;
    }
  }

  .navbar-section {
    background: $white;
    margin: 0 auto;
    padding: 0 .75rem;
    color: $gray-dark;
    max-width: 1400px;

    nav {
      position: relative;
      width: 100%;
      margin: 0 auto;
      max-width: 1400px;
      padding: .45rem 0;
      color: $gray800;
      i{
        font-size: 1.3rem;
      }
      .nav-bar-logo {
        text-decoration: none;
        color: $gray-dark;
        &.text-overflow{
          line-height: 1.5;
        }
        &.active-route {
          color: $dark-blue;
        }

        span {
          cursor: default;
          &.cursor-pointer {
            cursor: pointer;
          }
        }
      }
      .title-page-navbar {
        font-size: 1.5rem;
        color: $gray600;
        padding: 0 .5rem;
        font-weight: 400;
      }

      .dropdown-menu-container {
        padding: 0;
        margin: 0;
        box-shadow: 1px 5px 6px -2px $gray500 !important;
      }

      .navbar-nav {
        .dropdown-item-list {
          padding: 0.15rem .75rem;
          width: 100%;
          text-decoration: none;
          border: 1px solid #e0e0e0;
          border-radius: 3px;
          &.active-route {
            background: $dark-blue;
            border: 1px solid $dark-blue;
            color: $white;
            font-weight: bold;
            &:hover {
              color: $white;
            }
          }
          &:hover {
            border: 1px solid $blue;
            color: $blue;
          }
          &:focus {
            outline: none;
          }
        }
      }

      .menu-action-bar {
        li {
          display: flex;
          margin-left: .75rem;
          &.active-route {
            color: $dark-blue;
          }
          &:hover {
            border: $dark-blue;
          }
          i {
            //font-size: 1.25rem;
          }
        }
        @media(max-width: 992px) {
          ul {
            position: absolute;
            z-index: 6;
            top: 100%;
            right: 0;
            background: white;
            color: $gray-dark;
            width: 170px;
            border: 1px solid $gray;
            text-align: left;
            padding: 0;
            margin: 0;
            box-shadow: 1px 3px 7px 1px #bac0ca;
            border-radius: 3px;
            li {
              padding: 0.15rem .75rem;
              margin-left: 0;
              background: white;
              border: 1px solid #e0e0e0;
              border-radius: 3px;
              &.active-route {
                background: $dark-blue;
                border: 1px solid $dark-blue;
                color: $white;
                font-weight: bold;
                &:hover {
                  color: $white;
                }
              }
              &:hover {
                border: 1px solid $blue;
                color: $blue;
              }
              span {
                padding-left: .5rem;
                display: block;
              }
              i {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

/* hacks IE9, IE10, UE11 */
@media screen and (min-width:0\0) {
  header{
    .navbar-section{
      nav{
        .menu-action-bar{
          li{
            min-width: 20px;
          }
        }
      }
    }
  }
}
