<header *ngIf="isLogged()">

  <app-push-notifications-component [person]="person"></app-push-notifications-component>

  <section class="domain-section"
           *ngIf="hasDomain()">
    <aside class="d-inline cursor-pointer text-overflow"
           (click)="goToTeamMate()">
      <span [innerHtml]="getDomainName()"></span>
      <span *ngIf="hasSubDomain()"
            [innerHtml]="getSubDomain()"
            class="subdomain-text"></span>
    </aside>
  </section>

  <section class="nav navbar-section">
    <nav class="row no-gutters justify-content-between align-items-center">
      <section class="col-auto row no-gutters justify-content-start align-items-center">

        <aside class="ml-lg-2 d-inline nav-bar-logo text-overflow"
               [ngClass]="{'active-route': isSelectedMenuOption({link: 'team-mate'})}"
               (click)="goToTeamMate()">
          <span [ngClass]="{'cursor-pointer': !isMate()}"
                [innerHtml]="appName.long"></span>
        </aside>

        <div class="relative-area row no-gutters justify-content-between align-items-center">
          <i class="fa fa-plus-circle cursor-pointer ml-3"
             id="dropdownMenuButton"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"></i>
          <aside class="dropdown-menu dropdown-menu-right dropdown-menu-container"
                 aria-labelledby="dropdownMenuButton">
            <ul class="navbar-nav mr-auto">
              <li *ngFor="let route of getNavBarRoutes();"
                  class="dropdown-item-list cursor-pointer"
                  [innerHtml]="route['name']"
                  [routerLink]="route['link']"
                  [ngClass]="{'active-route': isSelectedMenuOption(route)}"
                  (click)="routeTo(route)">
              </li>
            </ul>
          </aside>
        </div>
      </section>

      <section class="hidden-md-down col-auto text-right menu-action-bar">
        <div class="row no-gutters align-items-center justify-content-end">

          <ul class="mx-2 list-unstyled row no-gutters justify-content-md-end align-items-center col-auto">
            <li *ngFor="let item of getMenuFiltered()"
                class="col-md-auto col-12 row no-gutters align-items-center justify-content-between"
                pTooltip="{{item['name']}}" tooltipPosition="top" showDelay="500" tooltipStyleClass="minitool"
                [ngClass]="{'active-route': isSelectedMenuOption(item)}"
                (click)="routeTo(item)">
              <i class="fa col-md-12 col-2 fa-{{item['icon']}} cursor-pointer"
                 [ngClass]="{'not-allowed': !isAllowed(item)}"></i>
            </li>
          </ul>
        </div>
      </section>

      <section class="hidden-lg-up col-md-6 col-auto text-right menu-action-bar">
        <i (click)="showHamburgerMenu()"
           class="fa fa-bars fa-lg cursor-pointer"></i>
        <ul [hidden]="!showMenu"
            class="list-unstyled row no-gutters justify-content-md-end align-items-center">
          <li *ngFor="let item of getMenuFiltered()"
              class="col-12 row no-gutters align-items-center justify-content-between"
              [ngClass]="{'active-route': isSelectedMenuOption(item)}"
              (click)="routeTo(item)">
            <i class="col-2 fa fa-{{item['icon']}} cursor-pointer"
               [ngClass]="{'not-allowed': !isAllowed(item)}"></i>
            <span class="col-10 cursor-pointer"
                  [ngClass]="{'not-allowed': !isAllowed(item)}"
                  [innerHtml]="item['name']"></span>
          </li>
        </ul>
      </section>
    </nav>
  </section>

  <app-general-domain-widget-container-component></app-general-domain-widget-container-component>

</header>
<main>

  <router-outlet></router-outlet>
  <!--
    <a (click)="showHideLastActivitiesWrapper()" class="btn btn-primary text-white " id="menu-toggle"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a>-->
</main>
<footer *ngIf="isLogged()"
        class="bg-inverse text-white p-3">
  <div class="container">
    <div class="row">
      <div class="container text-center">
        Copyright <i class="fa fa-copyright"></i> 2018 Project, All rights reserved.
      </div>
      <a style="display: none" class="mx-auto btn btn-primary mt-4" routerLink="/dev">ir a dev</a>
    </div>
  </div>
</footer>

<app-loader-component></app-loader-component>
<app-alert-component></app-alert-component>
