<section #teamBox
         [id]="getId()"
         class="team-box-area"
         [ngClass]="getBoxAreaLevelCss()">
  <section class="team-box-main row col-12 no-gutters align-items-center"
           [ngClass]="getBoxMainCss()">
    <aside *ngIf="isRootNode()"
           class="team-box-delete-btn col-auto">
      <i class="fa fa-times cursor-pointer hover-blue"
         (click)="deleteTeam()"></i>
    </aside>

    <section class="team-box-info col">
      <div class="team-box-name text-overflow"
             [innerHtml]="getTeamName()"></div>

      <div class="team-box-level"
             [innerHtml]="getTeamLevelToShow()"></div>
    </section>

    <section class="team-box-location col-auto text-right">
      <div [innerHtml]="getTeamLocationToShow()"></div>
    </section>
  </section>

  <section *ngIf="isMultiBox()"
           class="team-box-collapse col-12 align-items-center">
    <!--toggle btn-->
    <section *ngIf="isRootNode()"
             class="team-box-collapse-btn row col-12 no-gutters align-items-center"
             [ngClass]="{'cursor-pointer hover-blue': hasTeamSubTeams()}"
             (click)="onClickToogleEvent()">
      <aside class="collapse-title col" [innerHtml]="getTeamSubTeamsDescription()"></aside>

      <aside *ngIf="hasTeamSubTeams()"
             class="collapse-btn">
        <i class="child-toggle-btn fa"
           [ngClass]="{'fa-angle-up': isExpandedChild(), 'fa-angle-down': !isExpandedChild()}"></i>
      </aside>
    </section>
    <!--end toggle btn-->


    <section class="collapse-container"
             [ngClass]="{'toggle-down': isExpandedChild()}">
      <app-team-managed-cell-component *ngFor="let subteam of getTeamSubTeams()"
                                       [team]="subteam"
                                       [isCascade]="false"
                                       [externalConfig]="generateSubTeamConfig()">
      </app-team-managed-cell-component>
    </section>
  </section>


</section>
