@import "../../../../assets/sass/sass.files";

.team-box-area{
  margin-bottom: 1rem;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  .team-box-main{
    padding: .75rem 1rem;
    border: 1px solid $gray;
    background: $gray-bg;
    @include border-radius-full(.25rem, .25rem, 0, 0);
    .team-box-delete-btn{
      i{
        margin: .25rem 1rem .25rem 0;
        padding: .25rem;
      }
    }
    .team-box-info{
      .team-box-name{
        font-weight: 600;
        padding-bottom: .25rem;
        font-size: .95rem;
      }
      .team-box-level{
        font-size: .85rem;
      }
    }
    .team-box-location{
      font-size: .8rem;
      padding-right: .25rem;
    }
    &.team-cascade{
      .team-box-info {
        .team-box-name {
          text-decoration: underline;
        }
      }
    }
  }

  .team-box-collapse{
    background: $gray200;
    padding: 0 0 .25rem;
    overflow: hidden;
    .team-box-collapse-btn{
      .collapse-title{
        font-size: .75rem;
        color: $font-gray-dark;
        line-height: 1.2;
        padding: 0.5rem 0;
      }
      .collapse-btn{
        .child-toggle-btn{
          padding: .25rem;
        }
      }
      &.cursor-pointer:hover{
        .collapse-title{
          color: $blue;
        }
        .collapse-btn{
          .child-toggle-btn{
            color: $blue;
          }
        }
      }
    }
    .collapse-container{
      padding-left: .5rem;
      padding-right: .5rem;
      -webkit-transition: max-height 1s;
      -moz-transition: max-height 1s;
      -ms-transition: max-height 1s;
      -o-transition: max-height 1s;
      transition: max-height 1s;
      overflow: hidden;
      max-height: 0;
      &.toggle-down{
        max-height: 1000px;
      }
    }
  }

  //subnodes recursives
  &.box-subteam{
    margin-bottom: .25rem;
    .team-box-main {
      border: none;
      padding-left: 1rem;
      padding-right: 1rem;
      &.node-child{
        @include border-radius-full( 0, 0, .25rem, .25rem);
      }
    }

    .team-box-collapse{
      .collapse-container{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &.box-n2{
    .team-box-main {
      background: $gray300;
      padding-left: 2rem;
    }
  }
  &.box-n3{
    margin-bottom: 1px;
    .team-box-main {
      background: $gray400;
      padding-left: 3rem;
    }
  }
  &.box-n4{
    margin-bottom: 0;
    border-bottom: 1px solid $gray-light;
    .team-box-main {
      background: $gray500;
      padding-left: 4rem;
    }
  }
  &.box-n5{
    margin-bottom: 0;
    border-bottom: 1px solid $gray-light;
    .team-box-main {
      background: $gray550;
      padding-left: 5rem;
    }
  }
  &.delete{
    @include opacity(0);
  }
}
