<section [id]="getComponentId()"
         [hidden]="hidden"
         class="container tab-mate-diary-area row no-gutters align-items-start">

  <article class="diary-header col-12">
    <button *ngIf="isEnabledEdition" type="button" class="btn btn-hover-blue"
            (click)="onNewEntryClick()"
            [ngClass]="{'btn-primary': isNewEntryMode(), 'btn-secondary':  !isNewEntryMode()}">Crear una nueva entrada</button>
  </article>

  <article class="diary-content col-12 px-sidebar">
    <app-calendar-component #calendar
                            [person]="person"></app-calendar-component>
  </article>

</section>
