@import '../../../../assets/sass/sass.files';

.tab-mate-diary-area {
  width: 100%;

  .diary-header{
    margin-bottom: 2rem;
    text-align: left;
  }

  .diary-content{
    padding: 1rem;
    background: $white;
  }
}
