@import "../tabs.scss";

.tab-entity-component {
  padding: .5rem 0 0;

  .tab-menu {
    .tab-select {
      .tab-select-option {
        display: block;
        border-bottom: 1px solid $gray-dark2;
        padding: .25rem;
        margin-top: 0.5rem;
        cursor: pointer;
        &:hover {
          background: $dark-blue;
          border-color: $dark-blue;
          color: $white;
          &:hover {
            color: $white;
            i {
              color: $white;
            }
          }
          //color: $blue;
          //border-bottom: 1px solid $blue;
        }
        &.active {
          background: $dark-blue;
          border-color: $dark-blue;
          color: $white;
          &:hover {
            color: $white;
            i {
              color: $white;
            }
          }
        }

        i {
          float: right;
          color: $black;
        }
      }
    }
  }

  .tab-area{
    background: $gray-bg;

    app-edit-master-class-component {
      width: 100%;
    }
  }
}
