<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters p-0 pr-2 pt-2 tab-entity-component align-items-start justify-content-center">

  <article class="tab-menu pl-2 pr-3 col-lg-2 col-12 no-gutters">

    <div class="tab-select">
      <span class="tab-select-option link"
            (click)="goToMaster()">Master elements
            <i class="mt-1 fa fa-external-link"></i>
      </span>

      <span class="tab-select-option"
            [ngClass]="{'active' : activeTab === availableEntities.masterClass}"
            (click)="setActiveMenu(availableEntities.masterClass)">Clases de master</span>

      <span class="tab-select-option"
            [ngClass]="{'active' : activeTab === availableEntities.teamGroup}"
            (click)="setActiveMenu(availableEntities.teamGroup)">Grupos de equipos</span>

      <span class="tab-select-option not-allowed"
            [ngClass]="{'active' : activeTab === availableEntities.role}"
            (click)="functionalityNotImplemented('Funcionalidad pendiente de DESARROLLO.')">Roles y sus categorías</span>
      <!--setActiveMenu(availableEntities.role)-->

      <span class="tab-select-option not-allowed"
            [ngClass]="{'active' : activeTab === availableEntities.roleCategory}"
            (click)="functionalityNotImplemented('Funcionalidad pendiente de DESARROLLO.')">Categorías de rol</span>
      <!--setActiveMenu(availableEntities.roleCategory)-->

    </div>
  </article>

  <article class="tab-area col-lg-10 col-12 row no-gutters align-items-start align-self-start">

    <app-edit-master-class-component *ngIf="activeTab === availableEntities.masterClass"></app-edit-master-class-component>

    <app-edit-team-group-component *ngIf="activeTab === availableEntities.teamGroup"></app-edit-team-group-component>

    <app-edit-role-component *ngIf="activeTab === availableEntities.role"></app-edit-role-component>

    <app-edit-role-category-component *ngIf="activeTab === availableEntities.roleCategory"></app-edit-role-category-component>

  </article>

</section>
