<section #unmanagedTeam
         [id]="getId()"
         class="unmanaged-team-area cursor-pointer row no-gutters align-items-center"
         [ngClass]="{'team-selected': isManagedTeam()}"
         (click)="onClickTeam()">
  <section class="unmanaged-team-main row col no-gutters align-items-center">

    <section class="unmanaged-team-info col-md col-12">
      <aside class="unmanaged-team-name text-overflow"
             [innerHtml]="getTeamName()"></aside>

      <aside class="unmanaged-team-level"
             [innerHtml]="getTeamLevelToShow()"></aside>
    </section>

    <section class="unmanaged-team-location col-md-4 col-12 text-overflow text-right"
             [innerHtml]="getTeamLocationToShow()">
    </section>
  </section>

  <aside class="unmanaged-team-selected col-auto">
    <i *ngIf="isManagedTeam()"
       class="do-managed fa fa-check text-center"></i>
    <i *ngIf="isManaging()"
       class="fa fa-right text-muted fa-spinner fa-pulse fa-fw text-center"></i>
  </aside>
</section>
