@import "../../../../assets/sass/sass.files";

.unmanaged-team-area{
      padding: .75rem 1rem;
      border: 1px solid $white;
      background: $gray-bg;
  .unmanaged-team-main{
    .unmanaged-team-info{
      .unmanaged-team-name{
        font-weight: 600;
        padding-bottom: .25rem;
        font-size: .95rem;
      }
      .unmanaged-team-level{
        font-size: .85rem;
      }
    }
    .unmanaged-team-location{
      font-size: .8rem;
      padding-right: .25rem;
    }
  }
  .unmanaged-team-selected{
    padding-left: 1rem;
    .fa{
      width: 1.5rem;
      &.do-managed{
        color: $font-success;
        font-size: 1.5rem;
      }
    }

  }
  &.team-selected{
    background: $light-blue;
  }
  &:hover{
    background: $gray300;
    &.team-selected{
      background: $light-blue;
    }
  }
}
