<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters p-0 pr-2 pt-2 add-role-component align-items-center justify-content-center">

  <div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

    <aside class="row no-gutters align-items-center add-role-backto cursor-pointer hover-blue"
           (click)="goBackTo()">
      <i class="fa fa-angle-left mr-1"></i>
      <span class="text-overflow">Edición de roles</span>
    </aside>
    <h5 class="row col-12 no-gutters justify-content-center">Crear nuevos roles</h5>
  </div>

  <div class="row col-6 no-gutters add-role-panel align-items-start justify-content-center">

    <section *ngFor="let newRole of role; let i = index;"
             class="row col-12 add-role-row align-items-start justify-content-center">

      <div class="row col-1 no-gutters p-0 mt-2 delete-role justify-content-end">
        <i class="fa fa-times"
           [ngClass]="{'visible': isValidRole(i)}"
           (click)="deleteRole(i)"></i>
      </div>

      <div class="row col-4 no-gutters p-0 mt-4 mt-md-0">

        <app-input-validator [externalConfig]="getNameInputValidatorConfig()"
                             (errorEvent)="onInvalidRole($event, i)"
                             (outputEvent)="onValidRole($event, i)"></app-input-validator>
      </div>

      <div class="row col-4 no-gutters p-0 mt-4 mt-md-0">
        <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                    [dataKey]="name"
                    [options]="roleCategory"
                    [ngModel]="getRoleCategory(newRole)"
                    (ngModelChange)="onChangeRoleCategory($event, i)">
        </p-dropdown>
      </div>

    </section>

  </div>

  <section class="row col-12 no-gutters add-role-buttons align-items-center justify-content-center">

        <span class="cancel-button"
              (click)="goBackTo()">Cancelar</span>

    <button class="btn btn-secondary cursor-pointer"
            (click)="showConfirmDialog()">
      <span>Crear roles</span>
    </button>
  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>

  <app-confirm-dialog-component #noCreateRoleDialogComponent
                                [externalConfig]="getNoCreateRoleDialogSetup()">
  </app-confirm-dialog-component>
</section>
