@import '../../../../assets/sass/sass.files';

.filter-component {

  .filter-header{
    padding: 0 .5rem;
    position: relative;

    .filter-expand-bottom{
      position: relative;
      top:.5rem;
      color: $gray2;
      height: 1rem;
      margin-left: -.5rem;
      overflow: hidden;
      z-index: 2;
      .top-toggle-btn{
        padding-right: .5rem;
      }
      .top-leyend{
        font-size: 0.75rem;
        padding-right: 1rem;
      }
      .top-line{
        height: 1px;
        background: $gray2;
      }
    }

    .filter-body{
      height: auto;
      overflow: hidden;
      max-height: 400px;
      -webkit-transition: max-height .3s ease-in-out;
      -moz-transition: max-height .3s ease-in-out;
      -ms-transition: max-height .3s ease-in-out;
      -o-transition: max-height .3s ease-in-out;
      transition: max-height .3s ease-in-out;
      &.toggle-up{
        max-height: 25px;
      }

      .filter-label {
        padding-right: 1rem;
        align-self: center;
      }

      .filter-pill {
        display: inline-block;
        width: auto;
        border: 1px solid $border-color;
        padding: 0 0.05rem 0 .5rem;
        background: $gray;
        color: $white;
        font-size: .9rem;
        height: 25px;
        line-height: 25px;
        @include border-radius(25px);

        &.selected {
          background: $dark-blue;
          border-color: $blue;
        }

        span {
          margin-right: .75rem;
        }

        i {
          border: 1px solid $white;
          width: 21px;
          height: 21px;
          text-align: center;
          line-height: 20px;
          font-size: .75rem;
          margin-bottom: 2px;
          padding: 0 0 0 1px;
          @include border-radius(50px)
        }
      }
    }
  }
}
