<section #filterComponent
         [id]="getComponentId()"
         [hidden]="!visible"
         class="filter-component">

  <article class="filter-header container-fluid">

    <section class="filter-body row col no-gutters justify-content-center"
             [ngClass]="{'toggle-up': !isExpanded()}">

      <span *ngIf="showLabel()"
            class="filter-label mb-2">{{getLabel()}}</span>

      <div #filterPill
           *ngFor="let element of getElementList(); let i = index;"
           class="filter-pill cursor-pointer mr-2 mb-2"
           [ngClass]="{'selected': getCurrentStatus(i), 'unselected': !getCurrentStatus(i)}"
           (click)="changeStatus(i)">

        <section class="row no-gutters align-items-center justify-content-between">
          <span class="col" [innerHtml]="getTextContent(i)"></span>
          <i class="fa col-auto fa-{{getIconAccordingStatus(i)}}"></i>
        </section>
      </div>

    </section>

    <section *ngIf="showExpandButton()" class="filter-expand-bottom">
      <aside class="row no-gutters align-items-center justify-content-end">
        <i class="top-toggle-btn col-auto fa fa-plus-square-o cursor-pointer no-hover-color"
           [ngClass]="{'fa-plus-square-o': !isExpanded(), 'fa-minus-square-o': isExpanded()}"
           (click)="toggleExpandedStatus($event)"></i>
        <span *ngIf="!isExpanded()" class="top-leyend col-auto cursor-pointer text-overflow"
              (click)="toggleExpandedStatus($event)">Ver más</span>
        <span *ngIf="isExpanded()" class="top-leyend col-auto cursor-pointer text-overflow"
              (click)="toggleExpandedStatus($event)">Ver menos</span>
        <!--<span class="top-line col"></span>-->
      </aside>
    </section>

  </article>
</section>
