@import "../../../../../assets/sass/sass.files";
@import "../entry-common/common";

.entry-form-content{

  .entry-form-header{

    .header-menu-form{

    }
  }

  .entry-form-area{

    .entry-form-top-leyend{
      color: $font-gray;
      font-style: italic;
      text-align: right;
      font-size: .85rem;
      padding: 0 0 .25rem;
    }

    .entry-form-row{
      input{
        width: 100%;
      }
      textarea {
        width: 100%;
        min-height: 10rem;
      }

      .entry-guests{
        margin-top: .5rem;
      }

      .sublabel{
        padding: .5rem .45rem 0 0;
      }

      .entry-form-guest-box{
        input{
        }
      }

      &.entry-conference{
        margin-bottom: 2rem;
        .switch-label{
          padding-right: .5rem;
        }

        .entry-conference-link{
          text-align: left;
          .conference-link-recommended{
            margin-top: .15rem;
            li{
              padding: 0 .25rem;
              margin: 0;
              .fa {
                padding: .15rem;
              }
            }
          }
          a{
            font-size: .9rem;
            padding: 0;
          }
          .entry-conference-url{
            margin-top: .5rem;
          }
        }
      }

    }
  }

  .entry-form-footer{
    margin-top: 2rem;
    padding: 0 1rem 1rem;
  }

  .entry-form-error {
    margin-top: .5rem;
  }

  .alert-minify{
    padding: .5rem 1rem;
    font-size: .9rem;
    margin: 0;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;

    &.bg-danger{
      color: $white;
    }
    &.hide-stream-alert{
      display: none;
    }
  }
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 21px;
  input {display:none;}
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray400;
  -webkit-transition: .3s;
  transition: .3s;
  &:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 45%;
    left: 5%;
    top: 5%;
    background-color: $white;
    -webkit-transition: .3s;
    transition: .4s;
  }
  &.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  background-color: $blue;
  &:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px $blue;
}
/* end slider */
/* end switch - the box around the slider */
