<section class="entry-form-content entry-content">

  <article class="entry-form-header entry-header">

    <ul class="header-menu-form header-menu list-unstyled list-inline">
      <li class="list-inline-item" *ngIf="updateMode && isAvailableActions">
        <i class="fa fa-pencil cursor-pointer hover-blue active"></i>
      </li>
      <li class="list-inline-item" *ngIf="updateMode && isAvailableActions">
        <i class="fa fa-trash cursor-pointer hover-blue" (click)="deleteEntryEmit()"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-times cursor-pointer hover-blue" (click)="closeFormEmit()"></i>
      </li>
    </ul>

  </article>

  <section class="entry-form-area entry-area">
    <aside class="entry-form-top-leyend">
      campos requeridos *
    </aside>

    <section class="entry-form-row entry-row">
      <label>Título*</label>
      <input class="itext"
             id="title"
             name="title"
             #entryTitle="ngModel"
             placeholder="ej. junta de seguimiento"
             required
             minlength="3"
             maxlength="255"
             [ngClass]="{'invalid-field': hasErrorInput(entryTitle)}"
             [(ngModel)]="entryEditable.title">
      <span *ngIf="hasErrorInput(entryTitle)"
            class="error-field text-overflow" [innerHtml]="getErrorInput(entryTitle)"></span>
    </section>

    <section class="entry-form-row entry-row row no-gutters align-items-start justify-content-between">
      <label class="col-12">Fecha de inicio*</label>
      <article class="col-8 row no-gutters align-items-start align-content-between">
        <aside class="col-auto">
          <i class="fa fa-lg fa-calendar sublabel"></i>
        </aside>
        <aside class="col">
          <p-calendar #startDateInput
                      dateFormat="dd/mm/yy"
                      placeholder="DD/MM/YYYY"
                      readonlyInput="true"
                      styleClass="mr-3 {{getClassCalendar()}}"
                      [locale]="spanishCalendar"
                      (ngModelChange)="updateStartDate()"
                      [(ngModel)]="startDate"></p-calendar>
        </aside>
      </article>

      <article class="col-4">
        <p-calendar timeOnly="true"
                    hourFormat="24"
                    readonlyInput="true"
                    placeholder="HH:MM"
                    styleClass="{{getClassCalendar()}}"
                    (ngModelChange)="updateStartDate()"
                    [(ngModel)]="startDate"></p-calendar>
      </article>

    </section>

    <section class="entry-form-row entry-row row no-gutters align-items-start justify-content-between">
      <label class="col-12">Fecha de fin*</label>
      <article class="col-8 row no-gutters align-items-start align-content-between">
        <aside class="col-auto">
          <i class="fa fa-lg fa-calendar sublabel"></i>
        </aside>
        <aside class="col">
          <p-calendar #endDateInput
                      dateFormat="dd/mm/yy"
                      placeholder="DD/MM/YYYY"
                      readonlyInput="true"
                      styleClass="mr-3 {{getClassCalendar()}}"
                      [locale]="spanishCalendar"
                      (ngModelChange)="updateEndDate()"
                      [(ngModel)]="endDate"></p-calendar>
        </aside>
      </article>

      <article class="col-4">
        <p-calendar timeOnly="true"
                    hourFormat="24"
                    readonlyInput="true"
                    placeholder="HH:MM"
                    styleClass="{{getClassCalendar()}}"
                    (ngModelChange)="updateEndDate()"
                    [(ngModel)]="endDate"></p-calendar>
      </article>
      <aside class="col-12" *ngIf="hasErrorDatePicker()">
        <span class="error-field text-overflow">Debes seleccionar intervalo de tiempo válido</span>
      </aside>

    </section>

    <section class="entry-form-row entry-row">
      <label>Lugar</label>
      <article class="row no-gutters align-items-start align-content-between">
        <aside class="col-auto">
          <i class="fa fa-lg fa-map-marker sublabel"></i>
        </aside>
        <aside class="col">
          <input #entryLocation="ngModel"
                 id="location"
                 name="location"
                 hidden
                 type="text"
                 maxlength="255"
                 class="form-control itext"
                 [ngClass]="{'invalid-field': hasErrorInput(entryLocation)}"
                 [(ngModel)]="entryEditable.location_name"
                 placeholder="ej. Steelmood Huelva">
          <app-search-component #searchLocationInput
                                [data]="searchLocationList.data"
                                [restart]="searchLocationList.restart"
                                [css]="getClassSearchLocationError(entryLocation)"
                                [defaultValue]="entryEditable.location_name"
                                [externalConfig]="searchLocationSetting"
                                (outputEvent)="onClickSearchLocation($event)"
                                (onClickElementEvent)="onSelectedSearchLocation($event)"></app-search-component>
          <span *ngIf="hasErrorInput(entryLocation)"
                class="error-field" [innerHtml]="getErrorInput(entryLocation)"></span>
        </aside>
      </article>
    </section>


    <section class="entry-form-row entry-row">
      <label>Participantes<span *ngIf="entryEditable.conference_allocated">*</span></label>

      <article class="row no-gutters align-items-start align-content-between">
        <aside class="col-auto">
          <i class="fa fa-lg fa-user sublabel"></i>
        </aside>

        <aside class="col entry-form-guest-box">
          <app-search-component #searchGuestInput
                                [data]="searchGuestList.dataFiltered"
                                [restart]="searchGuestList.restart"
                                [css]="getClassSearchGuest()"
                                [externalConfig]="searchGuestSetting"
                                (outputEvent)="onClickSearchGuest($event)"
                                (onClickElementEvent)="onSelectedSearchGuest($event)"></app-search-component>

          <div class="alert-minify alert alert-info" role="alert" [ngClass]="{'hide-stream-alert': !thereMustBeGuests()}">
            No olvides añadir participantes a la videoconferencia.
          </div>
          <div class="alert-minify alert alert-danger bg-danger" role="alert" [ngClass]="{'hide-stream-alert': !hasErrorGuests()}">
            Añade un participante a la videoconferencia.
          </div>
        </aside>

      </article>

      <ul *ngIf="getFilteredGuest(entryEditable).length" class="entry-guests list-unstyled list-inline">
        <li *ngFor="let guest of getFilteredGuest(entryEditable)" class="list-inline-item">
          <span class="badge badge-default">
            {{guest.getNameFirstSurname()}} <i (click)="unInviteGuest(guest)" class="fa fa-lg fa-times-circle-o cursor-pointer ml-1"></i>
          </span>
        </li>
      </ul>
    </section>


    <section class="entry-form-row entry-row entry-conference">
      <article class="row no-gutters align-items-start align-content-between">
        <label class="col">Videoconferencia</label>

        <label class="col-auto switch-label" [innerHtml]="getConferenceSwitchLabel()"></label>
        <!-- Rounded switch -->
        <label class="switch col-auto">
          <input type="checkbox" [(ngModel)]="entryEditable.conference_allocated">
          <span class="slider round"></span>
        </label>
      </article>

      <aside *ngIf="entryEditable.conference_allocated" class="entry-conference-link">
        <ul class="conference-link-recommended list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn btn-link btn-link-default" href="https://meet.google.com/" [attr.target]="'_blank'"><i class="fa fa-comment"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-link btn-link-default" href="https://web.skype.com/" [attr.target]="'_blank'"><i class="fa fa-skype"></i></a>
          </li>
        </ul>

        <article class="entry-conference-url">
          <label>Pega el acceso aquí:</label>
          <input class="itext"
                 id="url_conference"
                 name="url_conference"
                 #entryUrlConference="ngModel"
                 placeholder="ej. https://meet.google.com/my-room"
                 maxlength="2000"
                 [ngClass]="{'invalid-field': hasErrorInput(entryUrlConference)}"
                 [(ngModel)]="entryEditable.url_conference">
          <span *ngIf="hasErrorInput(entryUrlConference)"
                class="error-field text-overflow" [innerHtml]="getErrorInput(entryUrlConference)"></span>
        </article>
      </aside>
    </section>

    <section class="entry-form-row entry-row">
      <textarea class="itext"
                id="description"
                name="description"
                #entryDescription="ngModel"
                placeholder="describe la actividad"
                maxlength="255"
                [ngClass]="{'invalid-field': hasErrorInput(entryDescription)}"
                [(ngModel)]="entryEditable.description"></textarea>
      <span *ngIf="hasErrorInput(entryDescription)"
            class="error-field text-overflow" [innerHtml]="getErrorInput(entryDescription)"></span>
    </section>
  </section>



  <section class="entry-form-footer row no-gutters align-items-start">
    <aside class="col-6">
      <button type="button" class="btn btn-secondary btn-block iblue cursor-pointer"
              (click)="onClickFormSubmit($event)" [innerHtml]="getButtonTitle()"></button>
    </aside>

    <aside class="col-6">
      <button type="button" class="btn btn-link btn-block btn-link-default cursor-pointer"
              (click)="closeFormEmit()">Cancelar</button>
    </aside>

  </section>

  <section *ngIf="hasFormError()" class="entry-form-error">
    <aside class="alert-minify alert alert-danger">
      <i class="fa fa-exclamation-circle pr-1"></i> revisa el formulario por favor
    </aside>
  </section>

</section>
