<section [id]="getComponentId()"
         [hidden]="!visible"
         class="widget-type-b">

  <article class="row col-12 no-gutters justify-content-center widget-value">
    <span>{{getWidgetValue()}}</span>
  </article>

</section>
