@import '../../assets/sass/sass.files';

.input-group-component {

  input.form-control {
    display: inline-block;
    max-width: 250px;
  }
  button-component {
    display: inline-block;
  }
}

.btn, i, a {
  cursor: pointer;

  .not-allowed {
    cursor: not-allowed;
  }

}
.modal {
  @media(max-width: 544px) {
    background: #FFF;

    .modal-dialog {
      padding: 0;
      margin: 0;

      .modal-content {
        height: 100vh;
        .modal-body {
          overflow: auto;
          word-break: break-all;
        }

        .modal-footer {
          min-height: 3rem;
        }
      }
    }
  }
}


