<section class="container members-area section-area">

  <header class="row mt-5 mb-2 no-gutters justify-content-between align-items-center">
    <h2 class="col hidden-sm-down">Mis mates</h2>

    <ng-container *ngIf="isAllowed('addPersonsContainer') && false">
      <div class="col text-right">
        <button type="button"
                style="cursor:pointer;"
                class="btn btn-primary"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          <span class="hidden-sm-down">Añadir personas</span>
          <i class="fa fa-plus hidden-md-up"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#emailInvitationModal" (click)="restartModalPerson()">Invitación por email</a>
          <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#csvModal" (click)="resetCsv()">Importar (CSV, Excel, ...)</a>
          <a class="dropdown-item disabled text-muted" (click)="functionalityNotImplemented('Funcionalidad pendiente de especificaciones para su desarrollo.')">Fuente externa (SLQ, LDAP, ...)</a>
        </div>
      </div>
    </ng-container>
  </header>


  <ng-container *ngIf="isAllowed('addPersonsContainer') && false">
    <article class="submenu-dropdown-area no-gutters row mb-4 justify-content-end">
      <article class="col">

        <div class="row no-gutters justify-content-start align-items-start">
          <div class="modal fade" id="emailInvitationModal" tabindex="-1" role="dialog" aria-labelledby="invitationEmailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="invitationEmailModalLabel">Invitar mediante email</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form #addPersonForm="ngForm" #myForm name="add_person_form">
                    <div class="form-group row">
                      <label class="col-12 col-sm-2 col-form-label">Nombre</label>
                      <div class="col-sm-10 col-12">
                        <app-input-validator #inputsValidator
                                             [externalConfig]="getNameInputValidatorConfig()"
                                             (errorEvent)="onInvalidInput($event, 'name')"
                                             (outputEvent)="onValidInput($event, 'name')"></app-input-validator>
                      </div>

                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-2 col-form-label">Apellidos</label>
                      <div class="col-sm-10 col-12">
                        <app-input-validator #inputsValidator
                                             [externalConfig]="getSurnameInputValidatorConfig()"
                                             (errorEvent)="onInvalidInput($event, 'surname')"
                                             (outputEvent)="onValidInput($event, 'surname')"></app-input-validator>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-2 col-form-label">Email*</label>
                      <div class="col-sm-10 col-12">
                        <app-input-validator #inputsValidator
                                             [externalConfig]="getEmailInputValidatorConfig()"
                                             (errorEvent)="onInvalidInput($event, 'email')"
                                             (outputEvent)="onValidInput($event, 'email')"></app-input-validator>
                      </div>
                    </div>
                    <small class="row no-gutters justify-content-end">* Campos obligatorios</small>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="cancelModalAddPerson()">Cancelar</button>
                  <button type="button" class="btn btn-success"
                          [ngClass]="{'not-allowed': !isValidPerson()}"
                          [disabled]="!isValidPerson()"
                          (click)="inviteByEmail()">Invitar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="csvModal" tabindex="-1" role="dialog" aria-labelledby="csvModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Importar CSV</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetCsv()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="button" class="btn btn-primary" value="Buscar archivo..." onclick="document.getElementById('filecsv').click();" />
                  <input #fileCsvInput
                         type="file"
                         id="filecsv"
                         name="filecsv"
                         class="hidden"
                         (click)="resetCsv()"
                         (change)="getCvsResponse($event)"/>
                  <div class="mt-2">
                    <a target="_blank" href="/api/download/csv/demo.csv">Descargar CSV prototipo</a>
                  </div>

                  <p *ngIf="csvImportMessage" class="mt-2" [innerHtml]="csvImportMessage"></p>
                  <p *ngIf="csvErrorMessage" class="mt-2 text-danger" [innerHtml]="csvErrorMessage"></p>
                  <p *ngIf="csvSuccessMessage" class="mt-2 text-success" [innerHtml]="csvSuccessMessage"></p>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetCsv()">Cancelar</button>
                  <button type="button"
                          class="btn btn-success"
                          [ngClass]="{'not-allowed': !existsCsv()}"
                          [disabled]="!existsCsv()"
                          (click)="importPersons()">Aceptar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </article>
    </article>
  </ng-container>


  <!-- TABLE OF MEMBERS -->
  <ng-container *ngIf="isAllowed('personsTableContainer')">

    <div class="col-12 no-gutters p-0 datatable">
      <p-dataTable #personsDatatable
                   rowHover="true"
                   exportFilename="persons"
                   [value]="persons"
                   [paginator]="pagination.totalRecords > pagination.rows"
                   [lazy]="true"
                   [responsive]="true"
                   [rows]="pagination.rows"
                   [totalRecords]="pagination.totalRecords"
                   (onRowClick)="onClickPerson($event)"
                   (onLazyLoad)="loadMembersLazy($event)">

        <p-header>
          <div class="ui-helper-clearfix">
            <button type="button"
                    pButton
                    icon="fa-file-o"
                    iconPos="left"
                    label="Exportar tabla a CSV"
                    style="float:left"
                    (click)="onClickExportToCsv()">
            </button>
          </div>
        </p-header>

        <p-column styleClass="text-type width-20"
                  field="name"
                  header="Nombre"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-20"
                  field="surname"
                  header="Apellidos"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-20"
                  field="email"
                  header="Email"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type text-right width-15"
                  field="phone"
                  header="Teléfono"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type text-right width-15"
                  field="birthdate"
                  header="F. de nacimiento"
                  [sortable]="true">

          <ng-template let-i="rowIndex"
                       let-person="rowData"
                       pTemplate="body">
            <span>{{getPersonBirthdate(person)}}</span>
          </ng-template>

        </p-column>

        <p-column styleClass="text-type text-center width-10"
                  field="age"
                  header="Edad">

          <ng-template let-i="rowIndex"
                       let-person="rowData"
                       pTemplate="body">
            <span>{{getPersonAge(person)}}</span>
          </ng-template>

        </p-column>

        <ng-template pTemplate="emptymessage">
          <div *ngIf="!loadingDatatable">
            <span>No hay resultados para mostrar.</span>
          </div>
        </ng-template>
      </p-dataTable>

    </div>

  </ng-container>

</section>
