<section class="mate-profile-area">

  <div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

    <aside *ngIf="isGestorMode()"
           class="row no-gutters align-items-center add-team-group-backto cursor-pointer hover-blue"
           (click)="goBackTo()">
      <i class="fa fa-angle-left mr-1"></i>
      <span class="text-overflow">Team mates</span>
    </aside>
  </div>

  <section class="mate-profile-work-area row no-gutters justify-content-between align-items-start">

    <header class="mate-profile-header col-12 row no-gutters align-items-center text-right">

      <aside class="left-mate-profile-header no-gutters col-sm-auto col-12 row align-items-center justify-content-start">
        <aside class="go-back-title">
          <span [innerHtml]="titleGoBackTo()"></span>
        </aside>
      </aside>

      <aside *ngIf="tabs" class="center-mate-profile-header no-gutters col-sm col-12 row align-items-center justify-content-center">

        <p-selectButton styleClass="simulate-tab"
                        [options]="tabs"
                        (onOptionClick)="onTabSelected($event)"
                        [(ngModel)]="selectedTab"></p-selectButton>
      </aside>

    </header>


    <article class="col-12 row nav-profile-area no-gutters">

      <!-- Left panel -->
      <article class="col-xl-2 col-lg-3 col-12 sidebar-box-area"
               [ngClass]="{'hide-area': isMainFullPage()}">

        <app-mate-profile-left-panel-component [gestorViewMode]="isGestorMode()"
                                               [person]="person"></app-mate-profile-left-panel-component>
      </article>
      <!-- End left panel -->

      <!-- Main column expand -->
      <article class="col-xl-10 col-lg-9 col-12 no-gutters main-profile-area"
               [ngClass]="{'col-xl-12 col-lg-12 pr-2': isMainFullPage()}">

        <aside class="main-profile-fullpage">
          <i class="fa fa-arrows-alt fa-lg cursor-pointer hover-blue hidden-md-down"
             (click)="onToggleFullMain($event)"></i>
        </aside>

        <ng-container *ngIf="isAllowed('tabDashboard')">
          <app-tab-mate-dashboard-component [hidden]="selectedTab !== 0"
                                            [person]="person"
                                            [widgetType]="widgetType"></app-tab-mate-dashboard-component>
        </ng-container>

        <ng-container *ngIf="isAllowed('tabAgend')">
          <app-tab-mate-diary-component [hidden]="selectedTab !== 1"
                                        [person]="person"></app-tab-mate-diary-component>
        </ng-container>

        <ng-container *ngIf="isAllowed('tabProfile')">
          <app-tab-mate-profile-component [hidden]="selectedTab !== 2"
                                          [person]="person"
                                          (onUpdatePersonEvent)="onUpdatePerson($event)"></app-tab-mate-profile-component>
        </ng-container>

      </article>
      <!--End main column content-->

    </article>
  </section>
</section>
