@import '../../assets/sass/sass.files';

.mate-profile-area {
  .tab-header {
    padding: 0.75rem 0.75rem;
    display: inline-block;
    clear: both;

    .add-team-group-backto {
      position: absolute;
      font-size: 2rem;
      line-height: 2rem;
      z-index: 3;

      span {
        font-size: 1.2rem;
      }
    }

    h5 {
      font-size: 1.2rem;
    }
  }


  .mate-profile-work-area {
    .mate-profile-header {
      min-height: 5rem;
      padding: 0.35rem .75rem .5rem;

      .left-mate-profile-header {
        text-align: left;
        .go-back-title{
          font-size: 1.5rem;
        }
        .go-back-subtitle {
          font-size: .85rem;
          padding-left: 1.25rem;
        }
      }

      .center-mate-profile-header {
        p-selectButton {
          width: 100% !important;
        }
      }
    }
    .nav-profile-area{
      position: relative;
      .sidebar-box-area {
        position: relative;
        min-height: 85vh;
        left: 0;
        @include transition(all .3s ease-in-out);
        &.hide-area {
          left: -25%;
          -webkit-box-flex: 0;
          -webkit-flex: 0;
          -ms-flex: 0;
          flex: 0;
          max-width: 0%;
          &.hide-area-right{
            left: 125%;
          }
        }

        .mate-data-container {
          position: relative;
          background: $gray-bg;
          font-size: .85rem;
          overflow: visible;

          .mate-type {
            font-weight: bold;
          }

          .team-name-company {
            font-weight: bold;
          }
        }

        .sidebar-container{
          border-top: 1px solid $white;
          padding-top: 2rem;
          &.bg-sidebar-gray{
            background: $gray-bg;
          }
          &:first-child{
            border-top: none;
            padding-top: 0;
          }
        }
      }
    }

    .main-profile-area{
      position: relative;
      left: 0;
      min-height: 85vh;
      background: $gray-bg;
      padding: 1rem 0rem 1rem 2.75rem;
      z-index: 2;
      @include transition(all .3s ease-in-out);
      .main-profile-fullpage{
        position: absolute;
        left: 1rem;
        top: 1rem;
        .fa{
          font-size: 1.5rem;
        }
      }

      //.main-profile-box{
      //  max-width: 90%;
      //  margin: 0 auto;
      //  .profile-info-area{
      //    .dashboard-module-area{
      //      min-height: 60px;
      //
      //      .dashboard-config-link{
      //        float: right;
      //        text-decoration: underline;
      //        cursor: pointer;
      //        &:hover {
      //          color: $blue;
      //        }
      //      }
      //    }
      //
      //    .dashboard-chart-area{
      //      min-height: 50vh;
      //    }
      //  }
      //
      //  .profile-aux-area{
      //
      //  }
      //}
      //
      //.main-notes-box{
      //
      //}
    }
  }

  @media (max-width: 768px) {
    .mate-profile-work-area {
      .nav-profile-area{
        .sidebar-box-area {
          min-height: 0;
          margin-bottom: 3rem;
        }
      }
      .main-profile-area{
        padding: 1rem;
      }
    }
  }
}
