<section [id]="getComponentId()"
         [hidden]="!visible"
         class="team-gestor-widget-component general-widget">

  <article class="row no-gutters align-items-start">

    <div class="col-8 no-gutters">
      <span class="widget-title">EQUIPOS SIN GESTORES</span>
    </div>

    <div class="col-4 no-gutters">
      <span class="widget-value">{{number_unmanaged_teams}}</span>
    </div>

  </article>

</section>
