<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters p-0 pr-2 pt-2 add-master-class-component align-items-center justify-content-center">

  <div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

    <aside class="row no-gutters align-items-center add-master-class-backto cursor-pointer hover-blue"
           (click)="goBackTo()">
      <i class="fa fa-angle-left mr-1"></i>
      <span class="text-overflow">Edición de clases de master</span>
    </aside>

    <h5 class="row col-12 no-gutters justify-content-center">Crear nuevas clases de master</h5>
  </div>

  <div class="row col-6 no-gutters add-master-class-panel align-items-start justify-content-center">

    <section *ngFor="let newClass of masterClass; let i = index;"
             class="row col-12 add-master-class-row align-items-start justify-content-center">

      <div class="row col-1 no-gutters p-0 mt-2 delete-master-class justify-content-end">
        <i class="fa fa-times"
           [ngClass]="{'visible': isValidMasterClass(i)}"
           (click)="deleteMasterClass(i)"></i>
      </div>

      <div class="row col-4 no-gutters p-0 mt-4 mt-md-0">

        <app-input-validator [externalConfig]="getNameInputValidatorConfig()"
                             (errorEvent)="onInvalidMasterClass($event, i)"
                             (outputEvent)="onValidMasterClass($event, i)"></app-input-validator>
      </div>

    </section>

  </div>

  <section class="row col-12 no-gutters add-master-class-buttons align-items-center justify-content-center">

        <span class="cancel-button"
              (click)="goBackTo()">Cancelar</span>

    <button class="btn btn-secondary cursor-pointer"
            (click)="showConfirmDialog()">
      <span>Crear clases de master</span>
    </button>
  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>

  <app-confirm-dialog-component #noCreateMasterClassDialogComponent
                                [externalConfig]="getNoCreateMasterClassDialogSetup()">
  </app-confirm-dialog-component>
</section>
