<section [id]="getComponentId()"
         class="tab-admin tab-admin-gestor-component row col-12 no-gutters pr-2"
         [hidden]="!visible">

  <article class="tab-menu pl-2 col-lg-2 col-12 no-gutters">

    <div class="tab-select">
      <span class="tab-select-option"
            (click)="functionalityNotImplemented('Funcionalidad pendiente de ESPECIFICACIONES.')">Usuarios</span>

      <!--[ngClass]="{'active' : getActiveMenu() === 0}"-->
      <!--(click)="setActiveMenu(0)"-->

      <span class="tab-select-option"
            (click)="functionalityNotImplemented('Funcionalidad pendiente de ESPECIFICACIONES.')">Tipos de usuarios</span>

      <!--[ngClass]="{'active' : getActiveMenu() === 1}"-->
      <!--(click)="setActiveMenu(1)"-->
    </div>

    <div class="tab-info">
      <header class="header-title">
        <i class="fa fa-question-circle"></i>
        Administradores, gestores y mates
      </header>

      <p class="header-info">Un super admin es un usuario que tiene acceso a todo el dominio, a las suscripciones y pagos <br/><br/>
        Un administrador es un usuario que puede administrar el dominio completo. <br/><br/>
        Un gestor es un usuario que puede administrar equipos.<br/><br/>
        Un mate es un miembro de un equipo.<br/><br/>
        Se puede definir niveles de acceso a cada uno de esos usuarios.</p>
    </div>
  </article>

  <article class="tab-area col-lg-10 col-12 row no-gutters align-items-start align-self-start">

    <div class="tab-header col-12 row no-gutters d-flex justify-content-between align-items-start align-self-start">

      <div class="row col-12 no-gutters">
        <header>Usuarios</header>
      </div>

      <div *ngIf="canAddUser()" class="col-md-4 col-12 pb-lg-2 no-gutters">
        <button (click)="onClickAddUser()"
                class="btn btn-secondary cursor-pointer add-user-button">
          <span class="">Añadir usuarios</span>
        </button>

        <button onclick="document.getElementById('filecsv').click();"
                class="btn btn-secondary cursor-pointer add-masive-user-button">
          <i class="fa fa-upload"></i>
        </button>

        <input type="file"
               id="filecsv"
               name="filecsv"
               class="hidden"
               #fileCsvInput
               (click)="resetCsv()"
               (change)="onUploadCsv($event)"/>

        <div class="add-user-info no-gutters">
          <p>Formato .csv tamaño max. 4Mb</p>
          <span>Descarga un <a target="_blank" href="{{getCsvDemoFileLink()}}">ejemplo</a></span>
          <aside class="csv-message">
            <p *ngIf="csvErrorMessage" class="mt-2 text-danger" [innerHtml]="csvErrorMessage"></p>
            <p *ngIf="csvSuccessMessage" class="mt-2 text-success" [innerHtml]="csvSuccessMessage"></p>
          </aside>
        </div>
      </div>


      <div class="general-search col-xl-5 col-md-7 col-12 no-gutters">

        <app-search-component #searchPersons
                              [restart]="restartPersonSearch"
                              [defaultValue]="personSearchDefault"
                              [externalConfig]="getPersonSearchConfig()"
                              (outputEvent)="onClickPersonSearch($event)"
                              (onClickElementEvent)="onSelectedPerson($event)"></app-search-component>
      </div>

    </div>

    <div class="role-filters col-12 no-gutters align-self-start">
      <ul class="justify-content-between">
        <li [ngClass]="{'active': getActiveDatatableFilter() === -1}"
            (click)="setActiveDatatableFilter(-1)">
          <span>Todos los usuarios</span>
        </li>
        <li *ngFor="let rol of getFilterRoleSystemsOptions(); let i = index;"
            [ngClass]="{'active': getActiveDatatableFilter() === i}"
            (click)="setActiveDatatableFilter(i)">
          <span>{{rol.name}}</span>
        </li>
      </ul>
    </div>

    <div class="datatable col-12 no-gutters">

      <p-dataTable #usersDatatable
                   exportFilename="users"
                   [value]="users"
                   [paginator]="pagination.totalRecords > pagination.rows"
                   [lazy]="true"
                   [responsive]="true"
                   [rows]="pagination.rows"
                   [totalRecords]="pagination.totalRecords"
                   (onLazyLoad)="loadUsersLazy($event)">

        <p-header>
          <div class="ui-helper-clearfix">
            <button type="button"
                    pButton icon="fa-file-o"
                    iconPos="left"
                    label="Exportar tabla a CSV"
                    style="float:left"
                    (click)="onClickExportToCsv()">
            </button>
          </div>
        </p-header>

        <p-column styleClass="text-type width-15"
                  field="name"
                  header="Nombre"
                  [filter]="true"
                  filterPlaceholder="Buscar por nombre"
                  filterMatchMode="contains"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-15"
                  field="surname"
                  header="Apellidos"
                  [filter]="true"
                  filterPlaceholder="Buscar por apellidos"
                  filterMatchMode="contains"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-15"
                  field="email"
                  header="Email"
                  [filter]="true"
                  filterPlaceholder="Buscar por email"
                  filterMatchMode="contains"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="hide-filter width-15"
                  field="userType"
                  header="Tipo de usuario">

          <ng-template let-i="rowIndex" let-user="rowData" pTemplate="body">

            <span *ngIf="isSuperAdmin(user)">Super Admin</span>

            <p-dropdown *ngIf="!isSuperAdmin(user)"
                        dropdownIcon="fa fa-lg fa-angle-down"
                        [dataKey]="tag"
                        [options]="roleSystems"
                        [ngModel]="getPersonRoleTag(user)"
                        (ngModelChange)="onChangeUserSystemRole($event, user)">
            </p-dropdown>

          </ng-template>
        </p-column>

        <p-column styleClass="text-type hide-filter width-15"
                  field="scope"
                  header="Scope">

          <ng-template let-i="rowIndex"
                       let-user="rowData"
                       pTemplate="body">

            <span class="edit-team-link"
                  [ngClass]="{'has-team': hasTeam(user), 'without-assigned-team': !hasManagedTeams(user)}"
                  (click)="goToEditTeams(user)">

              {{getUserScope(user)}}

              <i *ngIf="hasTeam(user)"
                 class="fa fa-pencil"></i>

            </span>
          </ng-template>

        </p-column>

        <p-column styleClass="text-type hide-filter width-15"
                  field="status"
                  header="Status"
                  [sortable]="true">

          <ng-template let-i="rowIndex"
                       let-user="rowData"
                       pTemplate="body">

            <i *ngIf="user.status.toLowerCase() === 'active'"
               class="fa fa-lg fa-check"
               [ngClass]="user.status.toLowerCase()"
               pTooltip="Activo" tooltipPosition="top"></i>

            <i *ngIf="user.status.toLowerCase() === 'inactive'"
               class="fa fa-lg fa-check"
               [ngClass]="user.status.toLowerCase()"
               pTooltip="Inactivo. No tiene equipos a su cargo." tooltipPosition="top"></i>

            <i *ngIf="user.status.toLowerCase() === 'invited'"
               class="fa fa-lg fa-exclamation-circle"
               pTooltip="Invitado. Pendiente de aceptar invitación." tooltipPosition="top"></i>

          </ng-template>

        </p-column>



        <p-column styleClass="hide-filter width-5">
          <ng-template let-i="rowIndex" let-user="rowData" pTemplate="body">
            <app-table-menu [id]="user.id"
                            [removable]="isUserRemovable(user)"
                            [editText]="'Ver perfil'"
                            [deleteUrl]="'persons/'"
                            [goToUrl]="'mate-profile/'"
                            (outputEvent)="onTableMenuEvent($event)"></app-table-menu>
          </ng-template>
        </p-column>


        <ng-template pTemplate="emptymessage">
          <div *ngIf="!loadingDatatable">
            <span>No hay resultados para mostrar.</span>
          </div>
        </ng-template>
      </p-dataTable>

    </div>

  </article>

  <app-confirm-dialog-component #confirmDialogCsvComponent
                                [externalConfig]="getConfirmDialogCsvSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)"></app-confirm-dialog-component>
</section>
