@import "../tabs.scss";

.tab-admin-gestor-component{
  .tab-menu {
    .tab-select {
      .tab-select-option {
        display: block;
        border-bottom: 1px solid $gray-dark2;
        padding: .25rem;
        &:hover {
          cursor: not-allowed;
          //color: $blue;
          //border-bottom: 1px solid $blue;
        }

        &.user-type {
          margin-top: 1rem;
        }

        &.active {
          color: $blue;
          border-bottom: 1px solid $blue;
        }
      }
    }

    .tab-info {
      border: 2px solid $gray-dark2;
      margin-top: 2rem;
      padding: 0.75rem;

      .header-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin: .25rem 0 .75rem;

        &:first-child {
          margin-top: 0;
        }
        @media (max-width: 1200px){
          font-size: 1rem;
        }
      }

      .header-info {
        padding: 0.75rem 0rem;
        @media (max-width: 1200px) {
          line-height: 1rem;
          font-size: .9rem;
        }
      }
    }
  }

  .tab-area{
    background: $gray-bg;

    .tab-header {
      padding: 0.75rem 0.75rem;
      display: inline-block;
      clear: both;

      header {
        font-size: 1.1rem;
        font-weight: bold;
        margin: .25rem 0 .75rem;
        &:first-child{
          margin-top: 0;
        }
      }

      .add-user-button {
        font-size: .95rem;
        padding-top: 0.75rem;
        padding-bottom: .75rem;
        margin: 0;
        i {
          font-size: 1rem;
          position: absolute;
          right: .25rem;
        }
      }

      .add-masive-user-button {
        font-size: .95rem;
        padding: 0.75rem;
      }

      .general-search {
        display: inline-block;
        float: right;
      }

      .add-user-info {
        font-size: 0.75rem;
        margin-top: .25rem;
        a {
          text-decoration: underline;
          cursor: pointer;
          color: inherit;
          &:hover {
            color: $blue;
          }
        }
        .csv-message{
        }
        @media (max-width: 768px){
          margin-bottom: 1.5rem;
        }
      }
    }

    .role-filters {
      background: transparent;
      float:left;
      width:100%;
      position:relative;
      padding: 0.5rem;

      ul {
        background: transparent;
        list-style: none;
        padding: 0;
        text-align: center;

        li {
          display:inline-block;
          list-style:none;
          position:relative;
          background: transparent;
          font-size: .8rem;
          padding: .5rem;
          border: 1px solid $border-color;
          cursor: pointer;
          margin-right: 0.75rem;
          &:hover {
            background: $light-blue;
            border-color: $blue;
          }

          &.active {
            background: $light-blue;
            border-color: $blue;
          }
        }
      }
    }

    .datatable {
      float:left;
      width:100%;
      cursor: default;

      .edit-team-link {
        background: transparent;

        &.has-team {
          cursor: pointer;

          &:hover {
            color: $blue;

            .fa {
              color: $blue;
              visibility: visible;
              position: relative;
              margin-left: 1rem;
            }
          }

          &.without-assigned-team {
            color: $red;
            text-decoration: underline;
            &:hover {
              color: $blue;
              text-decoration: none;
            }
          }
        }

        .fa {
          visibility: hidden;
          position: relative;
          margin-left: 1rem;
        }
      }

      .fa {
        &.fa-check {
          &.active {
            color: $green;
          }
          &.inactive {
            color: $gray;
          }
        }
        &.fa-exclamation-circle {
          color: $orange;
        }
      }
    }
  }
}
