<section [id]="getComponentId()"
         [hidden]="!visible"
         class="team-widget-component general-widget">

  <article class="row no-gutters align-items-start">

    <div class="col-8 no-gutters">
      <span class="widget-title">EQUIPOS</span>
    </div>

    <div class="col-4 no-gutters">
      <span class="widget-value">{{number_teams}}</span>
    </div>

  </article>

  <article class="row no-gutters">

    <div class="col-8 no-gutters">
      <span class="widget-description"></span>
    </div>

    <div class="col-4 no-gutters">
      <span class="widget-description-value">{{number_teams_level_one}} de nivel 1</span>
    </div>

  </article>

</section>
