<section class="container team-type-area section-area">

  <header class="row mt-5 mb-2 no-gutters justify-content-end align-items-left">
    <div class="col-12">
      <h2 class="m-0 p-0">Listado de masters</h2>
    </div>

    <ng-container *ngIf="isAllowed('addMasterContainer')">
      <div class="col-12 mt-md-2 mt-sm-0 text-left">
        <button (click)="goToCreateTeamType()"
                class="btn btn-secondary cursor-pointer">
          <span>Crear un master</span>
        </button>
      </div>
    </ng-container>

  </header>

  <ng-container *ngIf="isAllowed('mastersTableContainer')">
    <div class="col-12 no-gutters p-0 datatable">



      <p-dataTable #mastersDatatable
                   rowHover="true"
                   exportFilename="masters"
                   [value]="masters"
                   [paginator]="pagination.totalRecords > pagination.rows"
                   [lazy]="true"
                   [responsive]="true"
                   [styleClass]="'no-selectable'"
                   [rows]="pagination.rows"
                   [totalRecords]="pagination.totalRecords"
                   (onLazyLoad)="loadMastersLazy($event)">
        <p-header>
          <div class="mb-1 row no-gutters align-items-center align-content-between">
            <section class="col-md-4 col-12">
              <button type="button"
                      pButton
                      icon="fa-file-o"
                      iconPos="left"
                      label="Exportar tabla a CSV"
                      style="float:left"
                      (click)="onClickExportToCsv()" >
              </button>
            </section>

            <section class="col-md-8 col-12 text-md-right text-left">
              <aside class="datatable-leyend">
                <i class="fa fa-info-circle pr-1"></i> Los masters utilizados no pueden ser eliminados
              </aside>
            </section>

          </div>


        </p-header>

        <p-column styleClass="text-type width-50"
                  field="name"
                  header="Nombre"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-50"
                  field="description"
                  header="Descripción"
                  [sortable]="true">
        </p-column>



        <p-column styleClass="hide-filter width-5">

          <ng-template let-i="rowIndex" let-master="rowData" pTemplate="body">
            <app-table-menu [id]="master['id']"
                            [removable]="isMasterRemovable(master)"
                            [deleteUrl]="'teamts/'"
                            [goToUrl]="'/master/edit/'"
                            (outputEvent)="onTableMenuEvent($event)"></app-table-menu>
          </ng-template>

        </p-column>

        <ng-template pTemplate="emptymessage">
          <div *ngIf="masters.length === 0">
            <span>No hay resultados para mostrar.</span>
          </div>
        </ng-template>
      </p-dataTable>

    </div>
  </ng-container>

</section>
