@import '../../../assets/sass/sass.files';

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0;
  padding: 0;
}

.master-in-use-info {
  margin: 2rem 0.75rem -2rem;
  position: relative;
  min-height: 5vh;
  border: 1px dashed #ccc;
  padding: 1rem 1.75rem;
  background: $gray-bg;
  border-radius: 3px;
  text-align: center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-set($top, $right, $bottom, $left) {
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  -ms-border-radius: $top $right $bottom $left;
  border-radius: $top $right $bottom $left;
}

@mixin box-shadow($h, $v, $blur, $spread, $color) {
  -webkit-box-shadow: $h $v $blur $spread $color;
  -moz-box-shadow: $h $v $blur $spread $color;
  box-shadow: $h $v $blur $spread $color;
}

@mixin full-page() {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //height: 95%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

@mixin hover-layer() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.wizard-team-type-area {
  max-width: 1400px;
  margin: 0 auto;
  header.team-type-templates {
    padding: 0 .75rem;
    z-index: 6;
    height: 72px;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    transition: height 1s ease-in-out;
    overflow: hidden;
    @media(max-width: 992px) {
      padding: 0;
      height: 130px;
      position: relative;
    }
    &.enlarged {
      //height: 95%;
      @include full-page();
      height: 99vh;
      -webkit-transition: height 1s ease-in-out;
      -moz-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out;
      z-index: 10;
      overflow: visible;
      section.header-top-fixed {
        height: 100%;
        -webkit-transition: height 0.4s ease-in-out;
        -moz-transition: height 0.4s ease-in-out;
        transition: height 0.4s ease-in-out;
        overflow: auto;
        .go-back-header-link {
          display: none;
        }
      }
      @media(max-width: 992px) {
        width: 100vw;
        height: 100vh;
        margin: 0;
      }
    }
    &.no-team-type:not(.enlarged) {
      height: 100%;
      overflow: visible;
      section.header-top-fixed {
        position: relative;
        height: auto;
        overflow: visible;
        .header-display-content {
          height: 230px;
          max-height: 230px;
          .list-team-types-card {
            height: 210px;
            max-height: 210px;
            min-height: 210px;
            overflow: hidden;
          }
        }
        .show-more-templates {
          position: absolute;
          bottom: -30px;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #9E9E9E;
          font-size: .95rem;
          padding: .35rem 3rem;
        }
      }
    }
    section.header-top-fixed {
      padding: 1.25rem;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #f7f7f7;
      margin: 0 auto;
      height: 69px;
      overflow: hidden;
      -webkit-transition: height 1s;
      -moz-transition: height 1s;
      transition: height 2.2s ease-in-out;
      @include box-shadow(0, 0, 2px, 1px, $gray);
      @media(max-width: 992px) {
        padding: .75rem;
        height: 128px;
        .title-header-top {
          order: 1;
        }
        .div-button-toggle {
          order: 2;
          margin: .5rem 0;
        }
        .go-back-header-link {
          order: 3;
        }
      }
      .toggle-tt-button {
        background: transparent;
        color: $gray800;
        border: 2px solid $gray800;
        width: 26px;
        height: 26px;
        line-height: 22px;
        text-align: center;
        padding: 0 0 0 0;
        @include border-radius(50%);
        &.opened {
          width: auto;
          line-height: inherit;
          height: auto;
          padding: .25rem 1rem;
          background: $white;
          color: $gray;
          border: 1px solid $gray;
          font-size: .95rem;
          @include border-radius(3px);
        }
        &:active, :focus {
          outline: none;
        }
      }
      .search-team-types-template-area {
        max-width: 100%;
        margin: 0 auto;
        .search-component-box {
          margin: 0 auto;
          max-width: 40rem;
        }
      }
      .list-team-types-card {
        margin: 0;
        //min-height: 82vh;
        //max-height: 82vh;
        height: auto;
        @media(max-width: 992px) {
          min-height: 61vh;
          max-height: 61vh;
        }
        overflow: auto;
        .no-results-tt-templates {
          text-align: center;
          margin: 10vh 0 0;
          font-size: 1.15rem;
        }
        .team-type-card-li-element {
          position: relative;
          margin: 1rem 0 0;
          &:nth-child(4n+1) {
            padding-right: .5rem;
          }
          &:nth-child(4n+2) {
            padding: 0 .5rem;
          }
          &:nth-child(4n+3) {
            padding: 0 .5rem;
          }
          &:nth-child(4n+4) {
            padding-left: .5rem;
          }
          &.incomplete-team {
            .card-team-type {
              border: 1px solid $red700;
              padding: .5rem 0;
              header {
                padding: 0 .65rem;
                i.fa-exclamation-circle {
                  background: transparent;
                  font-size: 1.05rem;
                }
                i.fa-eye {
                  color: $gray800;
                  background: $white;
                }
                p.incomplete-title {
                  color: $red700;
                  font-size: 0.9rem;
                  span.title {
                    color: $gray800;
                    font-size: 1rem;
                  }
                }
                background: $redClemence;
                color: $red;
              }
              .team-type-card-li-element-body {
                padding: 0 .65rem;
              }
            }
          }
          .card-team-type {
            position: relative;
            background: $white;
            border: 1px solid $border-color;
            padding: .5rem .65rem;
            height: 190px;
            header {
              i {
                transition: all 0.1s ease-in-out;
                z-index: 3;
              }
            }
            &.eye-active {
              border-color: $dark-blue;
              box-shadow: 0 0 3px $gray;
              header {
                color: $blue;
                i {
                  background: none;
                  //font-size: 1.15rem;
                  //transform: scale(1.2,1.2);
                }
              }
            }
            &:hover {
              border-color: $blue;
            }
            header {
              margin-bottom: .75rem;
              i {
                background: $gray200;
                padding: .25rem;
                @include border-radius(25px);
              }
            }
            @include border-radius(3px);
            aside.action-bar-layer {
              z-index: 2;
              @include hover-layer();
              @include border-radius(3px);
              background: rgba(255, 255, 255, .7);
            }
            i.icon-category-card-tt {
              font-size: 1.15rem;
              text-align: center;
              padding: .25rem .25rem 0 0;
            }
            .team-type-card-li-element-body-persons {
              position: relative;
              .list-element-body-persons {
                margin: 0 0 .25rem;
                p {
                  &.max-min-quantities {
                    text-align: center;
                  }
                }
              }
            }
            .team-type-card-li-element-body-subteams {
              margin: .5rem 0 0;
            }
            .quantity-not-shown {
              section {
                font-size: .9rem;
                position: absolute;
                right: 0;
                bottom: 0;
              }
            }
            .bg-gray {
              background: $gray200;
              padding: .25rem .5rem;
              font-size: .75rem;
              @include border-radius(25px);
            }
          }
        }
      }
    }
  }
  .team-type-work-area {
    margin: 2rem 0;
    z-index: 1;
    padding: 0 .75rem;
    @media(max-width: 992px) {
      padding: 0;
      margin: 2rem 0;
    }
    i {
      font-size: 1.1rem;
    }
    .button-show-roles-dashboard-mobile {
      position: fixed;
      bottom: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      background-color: $white;
      border: 2px solid $dark-blue;
      z-index: 1;
      color: $dark-blue;
      padding: 0;
      text-align: center;
      @include border-radius(50%);

      @media(min-width: 992px) {
        display: none;
      }
    }
    .edition-team-type-area {
      position: relative;
      min-height: 85vh;
      border: 1px dashed $border-color;
      padding: 1rem 1.25rem;
      background: $gray-bg;
      @media(max-width: 992px) {
        min-height: 50vh;
        padding: 1rem .75rem;
      }
      h6.no-team-type.placeholder-empty {
        position: absolute;
        top: 40%;
        font-size: 1.25rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 215px;
        height: auto;
      }
      .tip-drop {
        position: absolute;
        width: 145px;
        text-align: right;
        color: #a5a5a5;
        right: 0;
        top: 45vh;
        z-index: 0;
        p {
          text-align: left;
          font-size: 0.9rem;
        }
        i {
          font-size: 1.75rem;
          margin: 0 .5rem .75rem 0;
          &.fa-tip-mobile{
            font-size: .95rem;
            border: 1px solid #a5a5a5;
            padding: .3rem;
            margin: 0 .1rem;
            @include border-radius(50%);
          }
        }
        @media (max-width: 992px) {
          top: 32vh;
        }
      }
      .no-team-type {
        position: relative;
        text-align: center;
        height: 85vh;
        width: 100%;
        @media(max-width: 992px) {
          height: 50vh;
        }
      }
      @include border-radius(3px);
      .info-team-type-zone {
        input {
          background: none;
          border: none;
          border-bottom: 1px solid #3b3b3b;
          padding: .25rem;
          @include border-radius(0);
          &.name-input {
            font-size: 1.5rem;
            margin: 0 0 .75rem;
          }
          &:active {
            background: $light-blue;
            color: $blue;
            &::-webkit-input-placeholder {
              font-size: 0;
            }
            &::-moz-placeholder {
              font-size: 0;
            }
            /* firefox 19+ */
            &:-ms-input-placeholder {
              font-size: 0;
            }
          }
          &:focus {
            background: $light-blue;
            color: $blue;
            &::-webkit-input-placeholder {
              font-size: 0;
            }
            &::-moz-placeholder {
              font-size: 0;
            }
            /* firefox 19+ */
            &:-ms-input-placeholder {
              font-size: 0;
            }
          }
          &:hover {
            background: $light-blue;
            color: $blue;
          }
          &.description-input {
            font-size: .85rem;
          }
          &::-webkit-input-placeholder {
            font-style: italic;
          }
          &::-moz-placeholder {
            font-style: italic;
          }
          /* firefox 19+ */
          &:-ms-input-placeholder {
            font-style: italic;
          }
          /* ie */
          input:-moz-placeholder {
            font-style: italic;
          }
        }
      }
      .group-area {
        z-index: 5;
        min-height: 27px;
        @media(max-width: 992px) {
          margin: .75rem 0 0;
        }
        i {
          transform: rotate(90deg);
        }
        div {
          z-index: 5;
        }
        .hover-layer-selecting-group {
          @include full-page();
          width: 100vw;
          height: 100vh;
          z-index: 4;
        }
        .finish-master-process-button {
          border: 2px solid $border-color;
          color: $gray800;
          font-size: .9rem;
          &:hover {
            background: transparent;
            border: 1px solid $gray800;
          }
        }
        .group-class-box{
          min-height: 27px;
          .group-class-box-text{
            font-size: .9rem;
            padding-left: .5rem;
            border-bottom: 1px solid transparent;
          }
        }
      }
      .header-list-rule-area {
        font-weight: 600;
      }
      .list-rule-block {
        padding: 0 0 0 1rem;
        margin: 2rem 0 0;
        @media(max-width: 992px) {
          padding: 0;
        }
        .rule-person-role-multi {
          color: $gray3;
        }
        .container-drag-rule-persons {
          margin: 0;
          padding: 0;
          @media(max-width: 992px) {
            padding: 0;
          }
          aside.combo-layer-hover {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
            background: rgba(0, 0, 0, 0.3);
          }
        }
        .list-rule-element-multi {
          min-width: 25%;
          padding: 0;
          margin: 0 .25rem .25rem 0;
          border: 1px solid $gray-light2;
          background-color: $white;
          .rule-person-role-element {
            padding: .5rem;
            .rule-person-role-multi-name {
              li {
                margin-left: 1rem;
                height: 36px;
                .rule-person-role-drag-zone {
                  min-width: 100px;
                  height: 36px;
                  padding: 0 .5rem;
                  line-height: 32px;
                  border: 1px $gray2 dotted;
                  display: inline-block;
                  span {
                    width: 100%;
                    height: 18px;
                  }
                  &.lighting-active{
                    border-color: $blue;
                    background: $light-blue;
                  }
                  &.no-drag-zone{
                    border: 1px solid transparent;
                    cursor: default;
                  }
                  @media(max-width: 992px) {
                    width: 100%;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @include border-radius(3px);
                  }
                }
                &.new-drag-double-roles-rule-person {
                  @media(max-width: 992px) {
                    div {
                      width: 100%;
                      text-align: center;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      @include border-radius(3px);
                    }
                  }
                }
                &:before {
                  content: "+";
                  position: absolute;
                  width: 0.5rem;
                  margin-left: -.75rem;
                  margin-top: .3rem;
                }
                &:first-child:before {
                  content: "";
                }
                &:first-child {
                  margin-left: 0;
                }
              }
            }
          }
          .co-roles-text {
            font-size: 0.8rem;
            color: $gray2;
            margin-top: .5rem;
          }
          .fa-times-circle-o {
            font-size: 1.5rem;
            color: $gray800;
          }
          .rule-person-role-suggestion {
            display: inline-block;
          }
          .rule-person-role-suggestion-action {
            border: 1px solid $white;
            border-left: 1px solid $gray-light2;
            height: 76px;
            width: 76px;
            text-align: center;
            i {
              margin: 0;
              font-size: 1.5rem;
            }
          }
          &.no-suggestion {
            .rule-person-role-suggestion-action {
              height: 52px;
              width: 60px;
            }
          }
          &.conformable {
            .rule-person-role-suggestion-action {
              height: 52px;
              width: 60px;
              border: 1px solid $blue;
              background-color: $light-blue;
            }
          }
        }

        .rule-person-role-combo {
          background-color: $gray-dark2;
          padding: .5rem;
          .person-role-combo-item {
            padding-right: .75rem;
            @media (max-width: 1199px){
              padding: 0;
              &:first-child{
                padding-right: .75rem;
              }
            }
            @media(max-width: 991px) {
              margin: 0 0 .75rem;
              &:first-child {
                padding-right: 0;
              }
              &:last-child{
                margin: 0;
              }
            }
            &:last-child {
              padding-right: 0;
            }
            & span.leyend {
              font-size: 0.75rem;
              color: $white;
            }
            &.type-rule-person-min-max {
              padding: 0;
              @media(max-width: 992px) {
                padding: 0;
              }
            }
          }
          .person-role-combo-name {
            min-height: 55px;
            background-color: $white;
            .person-role-minmax{
              font-size: .75rem;
            }
            i.fa {
              margin-top: .3rem;
            }
            .rule-role-name-input{
              font-size: .95rem;
            }
            .rule-role-name {

              background-color: $white;
              padding: .5rem .5rem;
              span {
                font-size: .95rem;
                color: $blue;
              }
            }
          }
          .person-role-combo-category {
            input.form-control {
              font-size: 0.95rem;
              border: none;
              padding: .55rem .75rem .6rem;
              @include border-radius(0);
              &:active, &:focus, &:hover {
                color: $blue;
                background: $light-blue;
              }
            }
          }
          .person-role-combo-minmax {
            i.fa-arrow-circle-o-left {
              font-size: 1.65rem;
              margin: 0 .5rem;
              color: rgba(255, 255, 255, 0.6);
            }
            .minmax-list-item {
              .btn-secondary {
                &:hover, &.active {
                  border: 1px solid $blue;
                  background-color: $light-blue;
                  .slide-icon-component {
                    .slide-circle {
                      background-color: $light-blue;
                    }
                  }
                }
                &:focus {
                  box-shadow: none;
                }
              }
              &.minmax-input-box {
                background-color: $white;
                .minmax-label {
                  font-size: .8rem;
                  margin: .5rem 0.25rem 0 .5rem;
                }
                .minmax-input.form-control {
                  color: $blue;
                  height: 25px;
                  -webkit-box-flex: 0;
                  -webkit-flex: 0 0 20%;
                  -ms-flex: 0 0 20%;
                  flex: 0 0 20%;
                  max-width: 20%;
                  background-color: $light-blue;
                  border: none;
                  margin: 6.5px 0.15rem;
                  font-size: .85rem;
                }
                .btn.btn-infinite {
                  padding: 0.15rem 0.5rem;
                  height: 25px;
                  margin-top: 6.5px;
                  margin-left: -2px;
                }
              }

            }
            .btn-max-width{
              @media (min-width: 992px){
                max-width: 105px;
              }
            }
          }
        }

        .list-rule-element {
          margin: 0;
          padding: 0 .25rem .25rem 0;
          border: none;
          @media(max-width: 992px) {
            margin: 0 0 .75rem;
          }
          &.rulerol-draggable-element {
            border: none;
          }
          &.combo-box {
            z-index: 11;
            padding: 0 0 .5rem;
          }
          &.col-12 {
            //max-width: 10%;
            -webkit-transition: flex .2s ease-in-out;
            -moz-transition: flex .2s ease-in-out;
            -o-transition: flex .2s ease-in-out;
            transition: flex .2s ease-in-out;
          }
          .pill-container {
            border: 1px solid $gray-light2;
            background: $white;
            @include border-radius(3px);
            &.derl {
              height: 58px;
              cursor: pointer;
            }
            &.combo-box {
              position: relative;
              z-index: 11;
              height: auto;
              border: none;
              padding: 0;
              background: none;
              margin: 0;
              cursor: inherit;
              .rule-person-role-combo {
                @include border-radius(3px);
              }
            }
            &.incomplete{
              border-color: $red700;
              .minmax-incomplete{
                color: $red700;
                background: $red100;
                padding: .1rem .25rem;
                text-align: center;
                min-width: 35px;
                @include border-radius(25px);
              }
            }
            .rule-person-role-element{
              padding: calculateRem(21px) .35rem;
              height: 58px;
              .rule-person-role-name {
                padding-left: .5rem;
                h6{
                  font-size: 0.95rem;
                  .rule-name-simple {
                    line-height: 1.2;
                  }
                }
                .rule-person-role-category{
                  font-size: .85rem;
                  color: $gray2;
                }
              }
            }


            &:hover{
              color: $blue;
              border-color: $blue;
              .rule-person-role-name {
                .rule-person-role-category{
                  color: $blue;
                }
              }
            }
            &.combo-box:hover {
              color: initial;
            }

            &.no-editable{
              color: initial;
              border-color: $gray-light2;
              .rule-person-role-name {
                .rule-person-role-category{
                  color: initial;
                }
              }
              &.derl {
                cursor: default;
              }
            }
            aside.layer-alert-area-combo{
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.3);
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10;
            }
          }
          .rule-person-role-info {
            span {
              font-size: .75rem;
            }
          }
          .edit-area-rol {
            position: absolute;
            top: -11rem;
            left: 45%;
            z-index: 5;
            background: $white;
            border: 1px solid $gray;
            border-radius: 5px;
            max-width: 15rem;
            div {
              position: relative;
              padding: 1rem;
              input, select {
                padding: .5rem;
              }
              i {
                position: absolute;
                bottom: -10px;
                left: 44%;
                right: 0;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $gray;
              }
            }
          }

          i.fa {
            cursor: pointer;
            font-size: 1.1rem;
          }
          .content-element {
            padding: 0 .75rem;
          }
          .badges-container {
            position: relative;
            overflow: auto;
            overflow-y: hidden;
            white-space: nowrap;
          }
          .action-bar {
            height: 62px;
            line-height: 62px;
            padding: 0 .65rem;
            border-left: 1px solid $gray-light2;
            cursor: pointer;
            &:hover {
              background: $gray-light2;
              i {
                color: $gray_dark;
              }
            }
            i {
              color: $red400;
            }
          }
          .list-roles-rule-person-role {
            position: absolute;
            top: 2rem;
            left: 0;
            background: $white;
            padding: .5rem;
            z-index: 2;
            box-shadow: 0 0 5px $gray-light2;
            border: 1px solid $gray-light2;
            border-radius: 3px;
            max-height: 120px;
            min-width: 120px;
            overflow: auto;
            li {
              padding: .5rem 0;
            }
          }
          aside.drop-area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 50px;
            overflow: hidden;
            z-index: 6;
            padding: 6px 0 0;
            height: 32px;
            background: $white_03;
            border: 1px dashed $white;
            p span, p i {
              color: white;
              text-shadow: 0 0 10px $black;
            }
            &:hover {
              cursor: move;
              border: 2px dashed $teal;
            }
            &.lighting-active {
              border: 2px dashed $teal;
              background: $white_05;
            }
          }
          .close-area-combo {
            position: absolute;
            z-index: 11;
            top: -33px;
            right: 7px;
            i.fa {
              color: #FFF;
              border-color: white;
            }
          }
          .alert-area-combo {
            background-color: $redAlert;
            border: 1px solid $redBorderAlert;
            @include border-radius-set(3px, 3px, 0, 0);
            padding: calculateRem(12px) calculateRem(24px);
            position: absolute;
            top: -70px;
            height: 77px;
            z-index: 11;
            .alert-combo-msg {
              h6{
                color: $redFontAlert;
                font-size: .95rem;
                line-height: 1.2;
                padding-bottom: .25rem;
                &:last-child{
                  padding-bottom: 0;
                }
              }
            }
            .btn{
              font-size: .95rem;
            }
            @media (max-width: 544px) {
              top: -80px;
              height: 87px;
              .alert-combo-msg {
                h6 {
                  font-size: .85rem;
                  line-height: 1.1;
                }
              }
              .btn{
                font-size: .85rem;
                padding: .5rem .5rem;
              }
            }
          }
        }
        .rulerol-draggable-element, .ruleteam-draggable-element {
          border: 1px solid $gray-light2;
          overflow: visible;
          //height: 100%;
          &.drag-container {
            border: 1px dashed $teal;
            z-index: 4;
            background: $white_09;
          }
        }
        .hover-layer-li {
          float: right;
        }
        .drop-area-tt-person-role-rules {
          min-height: 20vh;
          margin: 1rem 0 0;
          @include border-radius(5px);
        }

        &.rules-tt-team-type {
          ul {
            margin: 1rem 0 0;
            padding: 0;
            @media(max-width: 992px) {
              padding: 0;
            }
            li.rule-tt-team-type-element {
              padding: .5rem .5rem 0;
              border-left: 2px solid $border-color;
              border-bottom: 2px solid $border-color;
              margin: .5rem 0 0;
              &:hover {
                background: $light-blue;
              }
              header {
                i:hover {
                  &.fa-pencil {
                    color: $red;
                  }
                  &.fa-trash-o {
                    color: $blue;
                  }
                }
              }
              &.toggled {
                //border: none;
                //border-left: 2px solid transparent;
                margin: .5rem 0 1rem 0;
                &:hover {
                  background: none;
                  h6 {
                    color: $font-gray-dark;
                  }
                }
              }
              h6 {
                font-weight: 400;
                padding-bottom: .75rem;
                color: $gray800;
                &:hover {
                  color: $blue;
                }
              }
              .rule-tt-team-type-element-body-extended {
                padding: .5rem 0 .5rem 1rem;
                .row-rule-tt-team-type-element-body-extended {
                  margin: 1rem 0 0;
                  ul {
                    margin: 0;
                    padding: 0;
                    li.elements-list-detail-tt-type-team {
                      padding: 0 .5rem;
                      font-size: .75rem;
                      margin: 0 0 .5rem .5rem;
                      background: $gray;
                      color: $white;
                      @include border-radius(25px);
                    }
                  }
                }
              }
              &.no-editable{
                &:hover{
                  background: inherit;
                }
                h6 {
                  &:hover {
                    color: $gray800;
                  }
                }
              }
            }
          }
          .drop-area-tt-team-type-rules {
            min-height: 20vh;
            margin: 1rem 0 0 2rem;
            @include border-radius(5px);
          }
        }
      }
    }
  }

  .hover-drag {
    width: 100%;
    height: 100%;
    background: $black_07;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
  }

  .col-drag {
    width: 30px;
    text-align: center;
    border-right: 1px solid $gray-light2;
    cursor: move;
    background-color: $gray-light2;
    position: absolute;
    height: 100%;
  }

  .drag-icon {
    //font-size: 1.8rem;
    color: $gray;
    line-height: 62px;

    &.icon-abs:before {
      position: absolute;
      content: "\283f";
      padding: 0 8px 0 4px;
      font-size: 2rem;
      color: $gray-light2;
    }
  }

  .hover-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.65);
    z-index: 10;
  }
  .rol-draggable-element {
    &.special-draggable-element {
      border: 1px solid $gray-light2;
      padding: 1rem 0;
      margin: 0;
      box-sizing: border-box;
      min-height: 1.5rem;
      &:hover {
        border: 1px solid $teal;
      }
      p {
        padding: 0;
      }
    }

    &.drag-ready {
      color: $white;
      border: 1px solid $dark-blue;
      background: $dark-blue;
      font-weight: 500;
      i.fa-eye {
        color: $gray800;
      }
    }

    position: relative;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 1px solid $black_02;
    cursor: pointer;
    width: 49%;
    max-width: 49%;
    min-height: 3.5rem;
    font-size: .85rem;
    cursor: -webkit-grab;
    text-align: center;
    margin: 0 0.5% .3rem;
    box-shadow: 1px 1px 1px 1px $gray;
    p {
      padding: .5rem .25rem;

    }
    &:hover {
      &:not(.drag-ready) {
        color: $blue;
        border: 1px solid $dark-blue;
      }
    }
    .drop-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 99%;
      height: 99%;
      max-height: 50px;
      overflow: hidden;
    }
    &.draggable-teamt {
      width: 99%;
      max-width: 99%;
      margin: 0 auto .5rem;
      text-align: left;
      padding: 0 .25rem 0 .5rem;

      &:hover i.circle-bg {
        color: $gray-dark2;
      }
      i.circle-bg:before {
        background-color: $gray-light2;
        padding: 0.35rem;
        border-radius: 100%;
        margin-left: -1px;
        &:hover {
          color: $blue;
        }
      }
    }
    &.full-size {
      width: 99%;
      max-width: 99%;
      margin: 0 auto .5rem;
    }
    @media (max-width: 544px) {
      width: 99%;
      max-width: 99%;
    }
  }
  &:nth-child(3n+1) {
    //padding-right: .25rem;
  }
  &:nth-child(3n+2) {
    //padding: 0 .25rem;
  }
  &:nth-child(3n+3) {
    //padding-left: .25rem;
  }
  .soft-loader {
    position: absolute;
    top: 85%;
    left: 59%;
    left: calc(70% - 185px);
    z-index: 12;
    background: $gray-light2;
    padding: 1rem;
    border: 1px solid $gray300;
    width: 185px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px $gray;

    @include border-radius(5px);
    i {
      &.fa-pulse-16{
        -webkit-animation: fa-spin 1s infinite steps(16);
        animation: fa-spin 1s infinite steps(16);
      }
    }
    p {
      margin: .25rem 0 0;
      font-size: .9rem;
    }
  }
  .roles-dashboard {
    padding-left: 1.75rem;
    min-height: 85vh;
    max-height: 85vh;
    @media(max-width: 992px) {
      padding: .75rem;
      position: fixed;
      top: 0;
      left: 100%;
      right: 0;
      bottom: 0;
      height: 100vh;
      min-height: 100vh;
      width: 100vw;
      z-index: 6;
      background: $white;
      overflow: auto;
      -webkit-transition: left .5s ease-in-out;
      -moz-transition: left .5s ease-in-out;
      transition: left .5s ease-in-out;
      &.visibleOnMobile {
        left: 0;
        -webkit-transition: left .5s ease-in-out;
        -moz-transition: left .5s ease-in-out;
        transition: left .5s ease-in-out;
        i {
          font-size: 1.5rem;
          margin-top: -5px;
        }
      }
    }
    .roles-dashboard-popup{
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .roles-dashboard-content{
        background: $white;
        padding: 1.5rem 1rem;
        border: 1px solid $border-light;
        @include border-radius(.25rem);
      }
    }

    .hover-layer {
      input {
        border: none;
        border-bottom: 1px solid $border-color;
        font-size: .95rem;
        border-radius: 0;
        &.input-search-component {
          font-size: 2rem;
        }
        &:focus {
          background: $light-blue;
          color: $blue;
        }
      }
    }
    .see-by-category {
      select {
        border: none;
        padding: 0 1.5rem 0 0;
        background: url('https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png') no-repeat right transparent;
        -webkit-appearance: none;
        option {
          padding: 0 .5rem;
          background: white;
          color: $gray-dark;
          &:hover {
            color: $blue;
            background: $light-blue;
          }
        }
        &:active {
          outline-color: $blue;
        }
      }
    }
    .categories-container {
      max-height: 50vh;
      height: auto;
      overflow: auto;
      border-top: 1px solid $border-color;
      margin: 1rem 0 0;
      &.search-size{
        max-height: 73vh;
      }
      &.team-types-options {
        margin: 1.5rem 0 0;
        padding: 1.5rem 0 0;
      }
      h6 {
        font-size: .95rem;
        padding: 0 .25rem;
      }
      p.placeholder-empty{
        text-align: center;
        margin: 1rem 0;
        font-size: .95rem;
        width: 100%;
        line-height: 1.2;
        color: $font-default;
      }
      @media(max-width: 992px){
        max-height: 61vh;
        &.search-size{
          max-height: 81vh;
        }
        p.placeholder-empty{
          font-size: .85rem;
        }
      }
    }
    .tabs-component {
      ul {
        border-bottom: 2px solid $gray-light2;

        li.tab-option {
          cursor: pointer;
          padding: 0.75rem .25rem 0;
          border-right: 2px solid $gray-light2;
          margin: 0;
          height: 65px;
          &:last-child {
            border-right: none;
          }
          &:hover {
            color: $blue;
          }
          &.active {
            color: $blue;
          }
          &.search-disabled {
            display: none;
          }
          p {
            margin: .25rem 0 0;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .special-rol-btn {
    border: .0625rem solid $gray-light2;
    margin: 0;
    padding: .55rem 1.25rem .55rem .65rem;
    min-height: 1.5rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: .25rem !important;
    line-height: 1.5rem;
    box-shadow: none;
    &.btn-secondary {
      padding: .55rem .75rem
    }
    &:hover {
      background-color: $dark-blue;
      color: $white;
      .border-circle {
        border-color: $white;
      }
    }
    &.active {
      background-color: $dark-blue;
      color: $white;
      i.fa {
        border-color: $white;
      }
    }
    .border-circle {
      border: .02rem solid #000;
      height: 25px;
      width: 25px;
      line-height: 25px;
      @include border-radius(100%);
    }
    &:disabled {
      cursor: not-allowed;
      &:hover {
        background-color: inherit;
        border: .0625rem solid $gray-light2;
        color: inherit;
      }
    }
  }

  .border-circle {
    width: calculateRem(27px);
    line-height: calculateRem(25px);
    text-align: center;
    border: .02rem solid #000;
    border-radius: 100%;
    vertical-align: middle;
    &.fa.mini-btn, &.mini-btn {
      width: calculateRem(18px);
      line-height: calculateRem(16px);
      font-size: .85rem;
    }
    &.color-secundary {
      color: $white;
      border-color: $white;
    }
  }

  .confirmation-recover-last-tt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 6;
    section {
      max-width: 10vw;
      min-width: 350px;
      margin: 40vh auto 0;
      padding: 1.5rem;
      background: $white;
      border: 1px solid $border-color;
      box-shadow: 1px 1px 1px 1px $gray;
      text-align: center;
      z-index: 7;
      @include border-radius(5px);
      p {
        margin: 0 0 1rem;
      }
      footer {
        margin: .5rem 0 0;
      }
    }
  }

  .rule-form-area {
    .header-list-rule-area {
      ul {
        padding: 0;
        border-bottom: 1px solid $gray-light2;
        li {
          padding: 0 0 .5rem;
          border: 0;
        }
      }
    }
    .list-rule-block {
      .list-rule-element {
        padding: 0;
        margin-top: .75rem;
        height: 62px;

        .edit-area-rol {
          position: absolute;
          top: -11rem;
          left: 45%;
          z-index: 5;
          background: $white;
          border: 1px solid $gray;
          border-radius: 5px;
          max-width: 15rem;
          div {
            position: relative;
            padding: 1rem;
            input, select {
              padding: .5rem;
            }
            i {
              position: absolute;
              bottom: -10px;
              left: 44%;
              right: 0;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid $gray;
            }
          }
        }

        i.fa {
          cursor: pointer;
        }
        .content-element {
          padding: 0 .75rem;
        }
        .badges-container {
          position: relative;
          overflow: auto;
          overflow-y: hidden;
          white-space: nowrap;
        }
        .action-bar {
          height: 62px;
          line-height: 62px;
          padding: 0 .65rem;
          border-left: 1px solid $gray-light2;
          cursor: pointer;
          &:hover {
            background: $gray-light2;
            i {
              color: $gray_dark;
            }
          }
          i {
            color: $red400;
          }
        }
        .list-roles-rule-person-role {
          position: absolute;
          top: 2rem;
          left: 0;
          background: $white;
          padding: .5rem;
          z-index: 2;
          box-shadow: 0 0 5px $gray-light2;
          border: 1px solid $gray-light2;
          border-radius: 3px;
          max-height: 120px;
          min-width: 120px;
          overflow: auto;
          li {
            padding: .5rem 0;
          }
        }
        aside.drop-area {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          max-height: 50px;
          overflow: hidden;
          z-index: 6;
          padding: 6px 0 0;
          height: 32px;
          background: $white_03;
          border: 1px dashed $white;
          p span, p i {
            color: white;
            text-shadow: 0 0 10px $black;
          }
          &:hover {
            cursor: move;
            border: 2px dashed $teal;
          }
          &.lighting-active {
            border: 2px dashed $teal;
            background: $white_05;
          }
        }
      }
      .rulerol-draggable-element, .ruleteam-draggable-element {
        border: 1px solid $gray-light2;
        overflow: visible;
        height: 100%;
        &.drag-container {
          border: 1px dashed $teal;
          z-index: 4;
          background: $white_09;
        }
      }
      .hover-layer-li {
        float: right;
      }
    }

  }
  .resize-column {
    min-width: 1px;
    background: $gray-light2;
    cursor: ew-resize;
  }
  .card-wizard {
    background: $white;
    border-radius: 3px;
    padding: 2rem;
    position: relative;
    box-shadow: 0 1px 3px $black_01,
    0 1px 2px $black_02;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-top: 1px solid $black_01;
    @media(max-width: 992px) {
      padding: 1rem;
    }
    &.drop-area {
      border: 2px dashed $black_05;
      box-shadow: none;
      z-index: 4;
      padding: 1rem;
      max-height: 50px;
      overflow: hidden;
      li {
        display: none;
        text-align: center;
        min-width: 100%;
        font-size: 1.5rem;
        color: $teal;
        font-weight: 600;
        margin: 0 !important;
        padding: .5rem 0;
        position: absolute;
        max-height: 50px;
        overflow: hidden;
        top: 0;
        left: 0;
        background: $white_08;
        height: 100%;
      }
      &:hover, &.active {
        color: $teal;
        font-weight: 600;
        border-color: $teal;
        p {
          color: $teal;
        }
      }
    }
  }
  .counter-persons {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 1.1rem;
    @media(max-width: 992px) {
      left: 1rem;
      bottom: 1rem;
    }
  }
  input[type="checkbox"] {
    width: 17px;
    height: 17px;
  }
  .header-card-team-type-element {
    span, i {
      line-height: 38px;
    }
    .rows-counter {
      background: transparent;
      padding: 0 10px;
      font-weight: 600;
      min-width: 4rem;
      max-width: 6rem;
      color: $white;
      text-align: center;
      border-radius: 2px;
      word-wrap: normal;
      text-overflow: ellipsis;
      overflow: hidden;
      &.persons-counter {
        background: #0275d8;
      }
      &.teams-type-counter {
        background: #f0ad4e;
      }
    }
  }
  .tree-node-p-content {
    min-width: 100px;
    border: 1px solid $gray-light2;
    border-radius: 2px;
    .icon-side {
      padding: 0 .35rem;
      text-align: center;
    }
    span {
      padding: 0 .35rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &.team_type-style {
      border-color: #f0ad4e;
      text-align: center;
      color: #8a6d3b;
      .icon-side {
        background: #f0ad4e;
        color: white;
        border-right: 1px solid #f0ad4e;
      }
    }
    &.person-style {
      border-color: #5bc0de;
      text-align: center;
      color: #31708f;
      .icon-side {
        background: #5bc0de;
        color: white;
        border-right: 1px solid #5bc0de;
      }
    }
    &.team_type_member-style {
      border: none;
      color: #8a6d3b;
      .icon-side {
        background: #f0ad4e;
        border-color: #f0ad4e;
        color: white;
        border-radius: 2px;
        margin-right: .25rem;
      }
      span {
        padding-left: .25rem;
      }
    }
    &.person_member-style {
      border: none;
      color: #31708f;
      .icon-side {
        background: #5bc0de;
        border-color: #5bc0de;
        border-radius: 2px;
        color: white;
        margin-right: .25rem;
      }
      span {
        padding-left: .25rem;
      }
    }
  }

  .tooltip-full-team-type {
    position: absolute;
    top: 45px;
    z-index: 10;
    background: $dark-background;
    min-width: 20rem;
    max-width: 25rem;
    padding: 1rem;
    @include border-radius(5px);
    section {
      position: relative;
      color: $white;
      h6 {
        margin-bottom: 1rem;
      }
      .arrow-up {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 10px solid $dark-background;
        top: -25px;
        right: 10px;
      }
      p {
        background: $white;
        padding: .25rem .5rem;
        color: $dark-background;
        font-size: .9rem;
        @include border-radius(25px);
        &.quantity {
          text-align: center;
        }
      }
      .all-roles {
        margin: .75rem 0;
      }
    }
    &.list-drag-items {
      section {
        .arrow-up {
          right: 0;
        }
      }
    }
    &.tooltip-team-type-fixed {
      position: fixed;
    }
  }
}

.slide-icon-component {
  position: relative;
  height: 20px;
  .slide-line {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid $gray-dark2;
    position: absolute;
    left: 0;
    top: 60%;
  }
  .slide-circle {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 1px solid $gray;
    background-color: $gray-light;
    left: 50%;
    top: 33%;
    margin-left: -5px;
    position: absolute;
    &:before {
      content: "\f107";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: $gray2;
      font-size: 0.85rem;
      position: absolute;
      top: -14px;
      left: -1px;
    }
    &.slide-circle-left {
      left: 25%;
      margin-left: -5px;
      &:before {
        content: "\f105";
        left: 2px;
      }
    }
    &.slide-circle-right {
      left: 75%;
      margin-left: -5px;
      &:before {
        content: "\f104";
        left: 1px;
      }
    }
  }
}

//Drag&Drop styles
.list-rule-element {
  &.gu-transit, &.gu-mirror {
    min-width: 80px !important;
    height: 58px !important;
    padding: calculateRem(21px) .5rem calculateRem(21px) calculateRem(21px) !important;
    border: 1px solid $gray-light2;
    .text-center-on-drag {
      text-align: center;
      font-size: 0.95rem;
    }
    .rule-person-role-name {
      margin: 0 auto;
      max-width: 100%;
      flex: 100%;
      padding: 0 !important;
    }
    &:before {
      display: none;
    }
  }
  &.gu-transit {
    display: none;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
}

.rol-draggable-element {
  &.gu-transit, &.gu-mirror {
    border: 1px solid $gray-light2;
    padding: 0 .25rem 0 .5rem;
  }
}

.drop-area {
  &.isDragging {
    border: 2px dotted $blue;
    background: $light-blue;
  }
}
