/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, ul, li,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
.section-area {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }
  .section-area.container {
    max-width: 1400px;
    width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.hover-blue:hover {
  color: #2196F3;
  border-color: #2196F3 !important; }

.hover-blue.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-hover-blue {
  cursor: pointer; }
  .btn-hover-blue.btn-secondary:hover {
    color: #2196F3;
    border-color: #2196F3 !important;
    background-color: #FFF; }
  .btn-hover-blue.btn-secondary:focus {
    box-shadow: none; }
  .btn-hover-blue.btn-secondary:active {
    color: #FFF;
    border-color: #0277BD !important;
    background-color: #2196F3; }

.hover-blue-no-border:hover {
  color: #2196F3; }

.hover-blue-no-border.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-link-default {
  color: #555555 !important;
  text-decoration: underline !important; }
  .btn-link-default:hover {
    color: #2196F3 !important; }

.text-overflow {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; }
  .text-overflow.h1 {
    line-height: 1.5; }
  .text-overflow:hover {
    white-space: inherit; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.relative-area {
  position: relative; }

.thumbnail {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid #FFF; }
  .thumbnail.img-avatar {
    width: 35px;
    height: 35px;
    background: #FFF; }

.no-visibility {
  visibility: hidden; }

.hidden {
  display: none; }

.btn.btn-regular {
  padding: 0.5625rem 1rem; }

.btn.btn-fat {
  padding: 1rem 0.5rem; }

.btn.btn-simple {
  background: transparent;
  font-size: .8rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #9E9E9E;
  padding: .5rem .25rem;
  text-align: center; }

input.itext, textarea.itext {
  background: none;
  border: none;
  border-bottom: 1px solid #3b3b3b;
  padding: .25rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  /* firefox 19+ */ }
  input.itext::-webkit-input-placeholder, textarea.itext::-webkit-input-placeholder {
    font-style: italic; }
  input.itext::-moz-placeholder, textarea.itext::-moz-placeholder {
    font-style: italic; }
  input.itext:-ms-input-placeholder, textarea.itext:-ms-input-placeholder {
    font-style: italic; }
  input.itext input:-moz-placeholder, textarea.itext input:-moz-placeholder {
    font-style: italic; }
  input.itext.name-input, textarea.itext.name-input {
    font-size: 1.5rem;
    margin: 0 0 .75rem; }
  input.itext:active, textarea.itext:active {
    background: #E3F2FD;
    color: #2196F3; }
  input.itext:focus, textarea.itext:focus {
    background: #E3F2FD;
    border-color: #2196F3;
    outline: none; }
  input.itext:hover, textarea.itext:hover {
    background: #E3F2FD;
    border-color: #2196F3; }
  input.itext.description-input, textarea.itext.description-input {
    font-size: .85rem; }
  input.itext.capitalize, textarea.itext.capitalize {
    text-transform: capitalize; }
  input.itext.invalid-field, textarea.itext.invalid-field {
    border-color: #d9534f; }
    input.itext.invalid-field:active, textarea.itext.invalid-field:active {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:focus, textarea.itext.invalid-field:focus {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:hover, textarea.itext.invalid-field:hover {
      border-color: #d9534f;
      background: #F5DBD9; }
  input.itext:read-only, input.itext:disabled, input.itext.disabled, textarea.itext:read-only, textarea.itext:disabled, textarea.itext.disabled {
    background: #ececec;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    /* firefox 19+ */ }
    input.itext:read-only::-webkit-input-placeholder, input.itext:disabled::-webkit-input-placeholder, input.itext.disabled::-webkit-input-placeholder, textarea.itext:read-only::-webkit-input-placeholder, textarea.itext:disabled::-webkit-input-placeholder, textarea.itext.disabled::-webkit-input-placeholder {
      font-size: inherit; }
    input.itext:read-only::-moz-placeholder, input.itext:disabled::-moz-placeholder, input.itext.disabled::-moz-placeholder, textarea.itext:read-only::-moz-placeholder, textarea.itext:disabled::-moz-placeholder, textarea.itext.disabled::-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:-ms-input-placeholder, input.itext:disabled:-ms-input-placeholder, input.itext.disabled:-ms-input-placeholder, textarea.itext:read-only:-ms-input-placeholder, textarea.itext:disabled:-ms-input-placeholder, textarea.itext.disabled:-ms-input-placeholder {
      font-size: inherit; }
    input.itext:read-only input:-moz-placeholder, input.itext:disabled input:-moz-placeholder, input.itext.disabled input:-moz-placeholder, textarea.itext:read-only input:-moz-placeholder, textarea.itext:disabled input:-moz-placeholder, textarea.itext.disabled input:-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:active, input.itext:disabled:active, input.itext.disabled:active, textarea.itext:read-only:active, textarea.itext:disabled:active, textarea.itext.disabled:active {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only:focus, input.itext:disabled:focus, input.itext.disabled:focus, textarea.itext:read-only:focus, textarea.itext:disabled:focus, textarea.itext.disabled:focus {
      background: #ececec;
      color: inherit; }
    input.itext:read-only:hover, input.itext:disabled:hover, input.itext.disabled:hover, textarea.itext:read-only:hover, textarea.itext:disabled:hover, textarea.itext.disabled:hover {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only.invalid-field, input.itext:disabled.invalid-field, input.itext.disabled.invalid-field, textarea.itext:read-only.invalid-field, textarea.itext:disabled.invalid-field, textarea.itext.disabled.invalid-field {
      border-color: #3b3b3b; }
      input.itext:read-only.invalid-field:active, input.itext:disabled.invalid-field:active, input.itext.disabled.invalid-field:active, textarea.itext:read-only.invalid-field:active, textarea.itext:disabled.invalid-field:active, textarea.itext.disabled.invalid-field:active {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:focus, input.itext:disabled.invalid-field:focus, input.itext.disabled.invalid-field:focus, textarea.itext:read-only.invalid-field:focus, textarea.itext:disabled.invalid-field:focus, textarea.itext.disabled.invalid-field:focus {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:hover, input.itext:disabled.invalid-field:hover, input.itext.disabled.invalid-field:hover, textarea.itext:read-only.invalid-field:hover, textarea.itext:disabled.invalid-field:hover, textarea.itext.disabled.invalid-field:hover {
        border-color: #3b3b3b;
        background: #ececec; }
  input.itext:disabled, input.itext.disabled, textarea.itext:disabled, textarea.itext.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: alpha(opacity=50); }

textarea.itext {
  border: 1px solid #3b3b3b;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem; }

input.iblue.iblue:active, button.iblue.iblue:active {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:focus, button.iblue.iblue:focus {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:hover, button.iblue.iblue:hover {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue-light:active, button.iblue.iblue-light:active {
  background: #E3F2FD;
  color: #2196F3; }

input.iblue.iblue-light:focus, button.iblue.iblue-light:focus {
  background: #E3F2FD;
  border-color: #2196F3; }

input.iblue.iblue-light:hover, button.iblue.iblue-light:hover {
  background: #E3F2FD;
  border-color: #2196F3; }

label.col-form-label.label-itext {
  padding-top: calc(.5rem - 3px * 2);
  padding-bottom: calc(.5rem - 1px * 2);
  margin-bottom: 0; }

label.invalid-label {
  color: #d9534f; }

.not-allowed.cursor-pointer {
  cursor: not-allowed; }

.not-allowed.not-allowed-cover {
  position: relative; }
  .not-allowed.not-allowed-cover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 0; }
  .not-allowed.not-allowed-cover::after {
    content: "No disponible";
    position: absolute;
    color: #D0011B;
    left: 50%;
    top: 40%;
    font-size: 1.2rem;
    z-index: 11;
    -webkit-transform: rotate(-22.5deg) translate(-50%, -50%);
    -moz-transform: rotate(-22.5deg) translate(-50%, -50%);
    -ms-transform: rotate(-22.5deg) translate(-50%, -50%);
    -o-transform: rotate(-22.5deg) translate(-50%, -50%);
    transform: rotate(-22.5deg) translate(-50%, -50%); }

.error-field {
  color: #d9534f;
  font-size: .8rem;
  position: absolute;
  line-height: 1.1;
  margin-top: 0.125rem; }

.datatable-leyend {
  padding: .35rem 2rem .35rem .5rem;
  border: 1px solid #FAFAFA;
  box-shadow: 1px 4px 7px 1px #bac0ca;
  display: inline-block;
  font-size: .95rem; }
  @media (max-width: 768px) {
    .datatable-leyend {
      padding: .35rem .5rem;
      display: block;
      margin-top: .5rem; } }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0;
  padding: 0; }

.master-in-use-info {
  margin: 2rem 0.75rem -2rem;
  position: relative;
  min-height: 5vh;
  border: 1px dashed #ccc;
  padding: 1rem 1.75rem;
  background: #F7F7F7;
  border-radius: 3px;
  text-align: center; }

.wizard-team-type-area {
  max-width: 1400px;
  margin: 0 auto; }
  .wizard-team-type-area header.team-type-templates {
    padding: 0 .75rem;
    z-index: 6;
    height: 72px;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    transition: height 1s ease-in-out;
    overflow: hidden; }
    @media (max-width: 992px) {
      .wizard-team-type-area header.team-type-templates {
        padding: 0;
        height: 130px;
        position: relative; } }
    .wizard-team-type-area header.team-type-templates.enlarged {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      height: 99vh;
      -webkit-transition: height 1s ease-in-out;
      -moz-transition: height 1s ease-in-out;
      transition: height 1s ease-in-out;
      z-index: 10;
      overflow: visible; }
      .wizard-team-type-area header.team-type-templates.enlarged section.header-top-fixed {
        height: 100%;
        -webkit-transition: height 0.4s ease-in-out;
        -moz-transition: height 0.4s ease-in-out;
        transition: height 0.4s ease-in-out;
        overflow: auto; }
        .wizard-team-type-area header.team-type-templates.enlarged section.header-top-fixed .go-back-header-link {
          display: none; }
      @media (max-width: 992px) {
        .wizard-team-type-area header.team-type-templates.enlarged {
          width: 100vw;
          height: 100vh;
          margin: 0; } }
    .wizard-team-type-area header.team-type-templates.no-team-type:not(.enlarged) {
      height: 100%;
      overflow: visible; }
      .wizard-team-type-area header.team-type-templates.no-team-type:not(.enlarged) section.header-top-fixed {
        position: relative;
        height: auto;
        overflow: visible; }
        .wizard-team-type-area header.team-type-templates.no-team-type:not(.enlarged) section.header-top-fixed .header-display-content {
          height: 230px;
          max-height: 230px; }
          .wizard-team-type-area header.team-type-templates.no-team-type:not(.enlarged) section.header-top-fixed .header-display-content .list-team-types-card {
            height: 210px;
            max-height: 210px;
            min-height: 210px;
            overflow: hidden; }
        .wizard-team-type-area header.team-type-templates.no-team-type:not(.enlarged) section.header-top-fixed .show-more-templates {
          position: absolute;
          bottom: -30px;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #9E9E9E;
          font-size: .95rem;
          padding: .35rem 3rem; }
    .wizard-team-type-area header.team-type-templates section.header-top-fixed {
      padding: 1.25rem;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #f7f7f7;
      margin: 0 auto;
      height: 69px;
      overflow: hidden;
      -webkit-transition: height 1s;
      -moz-transition: height 1s;
      transition: height 2.2s ease-in-out;
      -webkit-box-shadow: 0 0 2px 1px #9E9E9E;
      -moz-box-shadow: 0 0 2px 1px #9E9E9E;
      box-shadow: 0 0 2px 1px #9E9E9E; }
      @media (max-width: 992px) {
        .wizard-team-type-area header.team-type-templates section.header-top-fixed {
          padding: .75rem;
          height: 128px; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .title-header-top {
            order: 1; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .div-button-toggle {
            order: 2;
            margin: .5rem 0; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .go-back-header-link {
            order: 3; } }
      .wizard-team-type-area header.team-type-templates section.header-top-fixed .toggle-tt-button {
        background: transparent;
        color: #424242;
        border: 2px solid #424242;
        width: 26px;
        height: 26px;
        line-height: 22px;
        text-align: center;
        padding: 0 0 0 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
        .wizard-team-type-area header.team-type-templates section.header-top-fixed .toggle-tt-button.opened {
          width: auto;
          line-height: inherit;
          height: auto;
          padding: .25rem 1rem;
          background: #FFF;
          color: #9E9E9E;
          border: 1px solid #9E9E9E;
          font-size: .95rem;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px; }
        .wizard-team-type-area header.team-type-templates section.header-top-fixed .toggle-tt-button:active, .wizard-team-type-area header.team-type-templates section.header-top-fixed .toggle-tt-button :focus {
          outline: none; }
      .wizard-team-type-area header.team-type-templates section.header-top-fixed .search-team-types-template-area {
        max-width: 100%;
        margin: 0 auto; }
        .wizard-team-type-area header.team-type-templates section.header-top-fixed .search-team-types-template-area .search-component-box {
          margin: 0 auto;
          max-width: 40rem; }
      .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card {
        margin: 0;
        height: auto;
        overflow: auto; }
        @media (max-width: 992px) {
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card {
            min-height: 61vh;
            max-height: 61vh; } }
        .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .no-results-tt-templates {
          text-align: center;
          margin: 10vh 0 0;
          font-size: 1.15rem; }
        .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element {
          position: relative;
          margin: 1rem 0 0; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element:nth-child(4n+1) {
            padding-right: .5rem; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element:nth-child(4n+2) {
            padding: 0 .5rem; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element:nth-child(4n+3) {
            padding: 0 .5rem; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element:nth-child(4n+4) {
            padding-left: .5rem; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element.incomplete-team .card-team-type {
            border: 1px solid #D32F2F;
            padding: .5rem 0; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element.incomplete-team .card-team-type header {
              padding: 0 .65rem;
              background: #F5DBD9;
              color: #F44336; }
              .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element.incomplete-team .card-team-type header i.fa-exclamation-circle {
                background: transparent;
                font-size: 1.05rem; }
              .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element.incomplete-team .card-team-type header i.fa-eye {
                color: #424242;
                background: #FFF; }
              .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element.incomplete-team .card-team-type header p.incomplete-title {
                color: #D32F2F;
                font-size: 0.9rem; }
                .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element.incomplete-team .card-team-type header p.incomplete-title span.title {
                  color: #424242;
                  font-size: 1rem; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element.incomplete-team .card-team-type .team-type-card-li-element-body {
              padding: 0 .65rem; }
          .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type {
            position: relative;
            background: #FFF;
            border: 1px solid #ccc;
            padding: .5rem .65rem;
            height: 190px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type header i {
              transition: all 0.1s ease-in-out;
              z-index: 3; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type.eye-active {
              border-color: #0D47A1;
              box-shadow: 0 0 3px #9E9E9E; }
              .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type.eye-active header {
                color: #2196F3; }
                .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type.eye-active header i {
                  background: none; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type:hover {
              border-color: #2196F3; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type header {
              margin-bottom: .75rem; }
              .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type header i {
                background: #EEEEEE;
                padding: .25rem;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                border-radius: 25px; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type aside.action-bar-layer {
              z-index: 2;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              background: rgba(0, 0, 0, 0.7);
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              -ms-border-radius: 3px;
              border-radius: 3px;
              background: rgba(255, 255, 255, 0.7); }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type i.icon-category-card-tt {
              font-size: 1.15rem;
              text-align: center;
              padding: .25rem .25rem 0 0; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type .team-type-card-li-element-body-persons {
              position: relative; }
              .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type .team-type-card-li-element-body-persons .list-element-body-persons {
                margin: 0 0 .25rem; }
                .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type .team-type-card-li-element-body-persons .list-element-body-persons p.max-min-quantities {
                  text-align: center; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type .team-type-card-li-element-body-subteams {
              margin: .5rem 0 0; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type .quantity-not-shown section {
              font-size: .9rem;
              position: absolute;
              right: 0;
              bottom: 0; }
            .wizard-team-type-area header.team-type-templates section.header-top-fixed .list-team-types-card .team-type-card-li-element .card-team-type .bg-gray {
              background: #EEEEEE;
              padding: .25rem .5rem;
              font-size: .75rem;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              -ms-border-radius: 25px;
              border-radius: 25px; }
  .wizard-team-type-area .team-type-work-area {
    margin: 2rem 0;
    z-index: 1;
    padding: 0 .75rem; }
    @media (max-width: 992px) {
      .wizard-team-type-area .team-type-work-area {
        padding: 0;
        margin: 2rem 0; } }
    .wizard-team-type-area .team-type-work-area i {
      font-size: 1.1rem; }
    .wizard-team-type-area .team-type-work-area .button-show-roles-dashboard-mobile {
      position: fixed;
      bottom: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      background-color: #FFF;
      border: 2px solid #0D47A1;
      z-index: 1;
      color: #0D47A1;
      padding: 0;
      text-align: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      @media (min-width: 992px) {
        .wizard-team-type-area .team-type-work-area .button-show-roles-dashboard-mobile {
          display: none; } }
    .wizard-team-type-area .team-type-work-area .edition-team-type-area {
      position: relative;
      min-height: 85vh;
      border: 1px dashed #ccc;
      padding: 1rem 1.25rem;
      background: #F7F7F7;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
      @media (max-width: 992px) {
        .wizard-team-type-area .team-type-work-area .edition-team-type-area {
          min-height: 50vh;
          padding: 1rem .75rem; } }
      .wizard-team-type-area .team-type-work-area .edition-team-type-area h6.no-team-type.placeholder-empty {
        position: absolute;
        top: 40%;
        font-size: 1.25rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 215px;
        height: auto; }
      .wizard-team-type-area .team-type-work-area .edition-team-type-area .tip-drop {
        position: absolute;
        width: 145px;
        text-align: right;
        color: #a5a5a5;
        right: 0;
        top: 45vh;
        z-index: 0; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .tip-drop p {
          text-align: left;
          font-size: 0.9rem; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .tip-drop i {
          font-size: 1.75rem;
          margin: 0 .5rem .75rem 0; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .tip-drop i.fa-tip-mobile {
            font-size: .95rem;
            border: 1px solid #a5a5a5;
            padding: .3rem;
            margin: 0 .1rem;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
        @media (max-width: 992px) {
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .tip-drop {
            top: 32vh; } }
      .wizard-team-type-area .team-type-work-area .edition-team-type-area .no-team-type {
        position: relative;
        text-align: center;
        height: 85vh;
        width: 100%; }
        @media (max-width: 992px) {
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .no-team-type {
            height: 50vh; } }
      .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input {
        background: none;
        border: none;
        border-bottom: 1px solid #3b3b3b;
        padding: .25rem;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        /* firefox 19+ */
        /* ie */ }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input.name-input {
          font-size: 1.5rem;
          margin: 0 0 .75rem; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:active {
          background: #E3F2FD;
          color: #2196F3;
          /* firefox 19+ */ }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:active::-webkit-input-placeholder {
            font-size: 0; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:active::-moz-placeholder {
            font-size: 0; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:active:-ms-input-placeholder {
            font-size: 0; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:focus {
          background: #E3F2FD;
          color: #2196F3;
          /* firefox 19+ */ }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:focus::-webkit-input-placeholder {
            font-size: 0; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:focus::-moz-placeholder {
            font-size: 0; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:focus:-ms-input-placeholder {
            font-size: 0; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:hover {
          background: #E3F2FD;
          color: #2196F3; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input.description-input {
          font-size: .85rem; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input::-webkit-input-placeholder {
          font-style: italic; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input::-moz-placeholder {
          font-style: italic; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input:-ms-input-placeholder {
          font-style: italic; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .info-team-type-zone input input:-moz-placeholder {
          font-style: italic; }
      .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area {
        z-index: 5;
        min-height: 27px; }
        @media (max-width: 992px) {
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area {
            margin: .75rem 0 0; } }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area i {
          transform: rotate(90deg); }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area div {
          z-index: 5; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area .hover-layer-selecting-group {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          max-width: 1400px;
          margin: 0 auto;
          width: 100vw;
          height: 100vh;
          z-index: 4; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area .finish-master-process-button {
          border: 2px solid #ccc;
          color: #424242;
          font-size: .9rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area .finish-master-process-button:hover {
            background: transparent;
            border: 1px solid #424242; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area .group-class-box {
          min-height: 27px; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .group-area .group-class-box .group-class-box-text {
            font-size: .9rem;
            padding-left: .5rem;
            border-bottom: 1px solid transparent; }
      .wizard-team-type-area .team-type-work-area .edition-team-type-area .header-list-rule-area {
        font-weight: 600; }
      .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block {
        padding: 0 0 0 1rem;
        margin: 2rem 0 0; }
        @media (max-width: 992px) {
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block {
            padding: 0; } }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-multi {
          color: #3b3b3b; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .container-drag-rule-persons {
          margin: 0;
          padding: 0; }
          @media (max-width: 992px) {
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .container-drag-rule-persons {
              padding: 0; } }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .container-drag-rule-persons aside.combo-layer-hover {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
            background: rgba(0, 0, 0, 0.3); }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi {
          min-width: 25%;
          padding: 0;
          margin: 0 .25rem .25rem 0;
          border: 1px solid #DDD;
          background-color: #FFF; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element {
            padding: .5rem; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li {
              margin-left: 1rem;
              height: 36px; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li .rule-person-role-drag-zone {
                min-width: 100px;
                height: 36px;
                padding: 0 .5rem;
                line-height: 32px;
                border: 1px #636c72 dotted;
                display: inline-block; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li .rule-person-role-drag-zone span {
                  width: 100%;
                  height: 18px; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li .rule-person-role-drag-zone.lighting-active {
                  border-color: #2196F3;
                  background: #E3F2FD; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li .rule-person-role-drag-zone.no-drag-zone {
                  border: 1px solid transparent;
                  cursor: default; }
                @media (max-width: 992px) {
                  .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li .rule-person-role-drag-zone {
                    width: 100%;
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    border-radius: 3px; } }
              @media (max-width: 992px) {
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li.new-drag-double-roles-rule-person div {
                  width: 100%;
                  text-align: center;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  -webkit-border-radius: 3px;
                  -moz-border-radius: 3px;
                  -ms-border-radius: 3px;
                  border-radius: 3px; } }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li:before {
                content: "+";
                position: absolute;
                width: 0.5rem;
                margin-left: -.75rem;
                margin-top: .3rem; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li:first-child:before {
                content: ""; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-element .rule-person-role-multi-name li:first-child {
                margin-left: 0; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .co-roles-text {
            font-size: 0.8rem;
            color: #636c72;
            margin-top: .5rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .fa-times-circle-o {
            font-size: 1.5rem;
            color: #424242; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-suggestion {
            display: inline-block; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-suggestion-action {
            border: 1px solid #FFF;
            border-left: 1px solid #DDD;
            height: 76px;
            width: 76px;
            text-align: center; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi .rule-person-role-suggestion-action i {
              margin: 0;
              font-size: 1.5rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi.no-suggestion .rule-person-role-suggestion-action {
            height: 52px;
            width: 60px; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element-multi.conformable .rule-person-role-suggestion-action {
            height: 52px;
            width: 60px;
            border: 1px solid #2196F3;
            background-color: #E3F2FD; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo {
          background-color: #292b2c;
          padding: .5rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item {
            padding-right: .75rem; }
            @media (max-width: 1199px) {
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item {
                padding: 0; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item:first-child {
                  padding-right: .75rem; } }
            @media (max-width: 991px) {
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item {
                margin: 0 0 .75rem; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item:first-child {
                  padding-right: 0; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item:last-child {
                  margin: 0; } }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item:last-child {
              padding-right: 0; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item span.leyend {
              font-size: 0.75rem;
              color: #FFF; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item.type-rule-person-min-max {
              padding: 0; }
              @media (max-width: 992px) {
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-item.type-rule-person-min-max {
                  padding: 0; } }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-name {
            min-height: 55px;
            background-color: #FFF; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-name .person-role-minmax {
              font-size: .75rem; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-name i.fa {
              margin-top: .3rem; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-name .rule-role-name-input {
              font-size: .95rem; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-name .rule-role-name {
              background-color: #FFF;
              padding: .5rem .5rem; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-name .rule-role-name span {
                font-size: .95rem;
                color: #2196F3; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-category input.form-control {
            font-size: 0.95rem;
            border: none;
            padding: .55rem .75rem .6rem;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            border-radius: 0; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-category input.form-control:active, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-category input.form-control:focus, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-category input.form-control:hover {
              color: #2196F3;
              background: #E3F2FD; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax i.fa-arrow-circle-o-left {
            font-size: 1.65rem;
            margin: 0 .5rem;
            color: rgba(255, 255, 255, 0.6); }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item .btn-secondary:hover, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item .btn-secondary.active {
            border: 1px solid #2196F3;
            background-color: #E3F2FD; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item .btn-secondary:hover .slide-icon-component .slide-circle, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item .btn-secondary.active .slide-icon-component .slide-circle {
              background-color: #E3F2FD; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item .btn-secondary:focus {
            box-shadow: none; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item.minmax-input-box {
            background-color: #FFF; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item.minmax-input-box .minmax-label {
              font-size: .8rem;
              margin: .5rem 0.25rem 0 .5rem; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item.minmax-input-box .minmax-input.form-control {
              color: #2196F3;
              height: 25px;
              -webkit-box-flex: 0;
              -webkit-flex: 0 0 20%;
              -ms-flex: 0 0 20%;
              flex: 0 0 20%;
              max-width: 20%;
              background-color: #E3F2FD;
              border: none;
              margin: 6.5px 0.15rem;
              font-size: .85rem; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .minmax-list-item.minmax-input-box .btn.btn-infinite {
              padding: 0.15rem 0.5rem;
              height: 25px;
              margin-top: 6.5px;
              margin-left: -2px; }
          @media (min-width: 992px) {
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rule-person-role-combo .person-role-combo-minmax .btn-max-width {
              max-width: 105px; } }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element {
          margin: 0;
          padding: 0 .25rem .25rem 0;
          border: none; }
          @media (max-width: 992px) {
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element {
              margin: 0 0 .75rem; } }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element.rulerol-draggable-element {
            border: none; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element.combo-box {
            z-index: 11;
            padding: 0 0 .5rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element.col-12 {
            -webkit-transition: flex .2s ease-in-out;
            -moz-transition: flex .2s ease-in-out;
            -o-transition: flex .2s ease-in-out;
            transition: flex .2s ease-in-out; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container {
            border: 1px solid #DDD;
            background: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.derl {
              height: 58px;
              cursor: pointer; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.combo-box {
              position: relative;
              z-index: 11;
              height: auto;
              border: none;
              padding: 0;
              background: none;
              margin: 0;
              cursor: inherit; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.combo-box .rule-person-role-combo {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                border-radius: 3px; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.incomplete {
              border-color: #D32F2F; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.incomplete .minmax-incomplete {
                color: #D32F2F;
                background: #FFCDD2;
                padding: .1rem .25rem;
                text-align: center;
                min-width: 35px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                border-radius: 25px; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container .rule-person-role-element {
              padding: 1.3125rem 0.35rem;
              height: 58px; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container .rule-person-role-element .rule-person-role-name {
                padding-left: .5rem; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container .rule-person-role-element .rule-person-role-name h6 {
                  font-size: 0.95rem; }
                  .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container .rule-person-role-element .rule-person-role-name h6 .rule-name-simple {
                    line-height: 1.2; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container .rule-person-role-element .rule-person-role-name .rule-person-role-category {
                  font-size: .85rem;
                  color: #636c72; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container:hover {
              color: #2196F3;
              border-color: #2196F3; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container:hover .rule-person-role-name .rule-person-role-category {
                color: #2196F3; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.combo-box:hover {
              color: initial; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.no-editable {
              color: initial;
              border-color: #DDD; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.no-editable .rule-person-role-name .rule-person-role-category {
                color: initial; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container.no-editable.derl {
                cursor: default; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .pill-container aside.layer-alert-area-combo {
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.3);
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .rule-person-role-info span {
            font-size: .75rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .edit-area-rol {
            position: absolute;
            top: -11rem;
            left: 45%;
            z-index: 5;
            background: #FFF;
            border: 1px solid #9E9E9E;
            border-radius: 5px;
            max-width: 15rem; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .edit-area-rol div {
              position: relative;
              padding: 1rem; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .edit-area-rol div input, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .edit-area-rol div select {
                padding: .5rem; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .edit-area-rol div i {
                position: absolute;
                bottom: -10px;
                left: 44%;
                right: 0;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid #9E9E9E; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element i.fa {
            cursor: pointer;
            font-size: 1.1rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .content-element {
            padding: 0 .75rem; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .badges-container {
            position: relative;
            overflow: auto;
            overflow-y: hidden;
            white-space: nowrap; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .action-bar {
            height: 62px;
            line-height: 62px;
            padding: 0 .65rem;
            border-left: 1px solid #DDD;
            cursor: pointer; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .action-bar:hover {
              background: #DDD; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .action-bar:hover i {
                color: #212121; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .action-bar i {
              color: #EF5350; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .list-roles-rule-person-role {
            position: absolute;
            top: 2rem;
            left: 0;
            background: #FFF;
            padding: .5rem;
            z-index: 2;
            box-shadow: 0 0 5px #DDD;
            border: 1px solid #DDD;
            border-radius: 3px;
            max-height: 120px;
            min-width: 120px;
            overflow: auto; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .list-roles-rule-person-role li {
              padding: .5rem 0; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element aside.drop-area {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 50px;
            overflow: hidden;
            z-index: 6;
            padding: 6px 0 0;
            height: 32px;
            background: rgba(255, 255, 255, 0.3);
            border: 1px dashed #FFF; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element aside.drop-area p span, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element aside.drop-area p i {
              color: white;
              text-shadow: 0 0 10px #000; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element aside.drop-area:hover {
              cursor: move;
              border: 2px dashed #009688; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element aside.drop-area.lighting-active {
              border: 2px dashed #009688;
              background: rgba(255, 255, 255, 0.5); }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .close-area-combo {
            position: absolute;
            z-index: 11;
            top: -33px;
            right: 7px; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .close-area-combo i.fa {
              color: #FFF;
              border-color: white; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .alert-area-combo {
            background-color: #F5DBD9;
            border: 1px solid #EBAFA6;
            -webkit-border-radius: 3px 3px 0 0;
            -moz-border-radius: 3px 3px 0 0;
            -ms-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
            padding: 0.75rem 1.5rem;
            position: absolute;
            top: -70px;
            height: 77px;
            z-index: 11; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .alert-area-combo .alert-combo-msg h6 {
              color: #D0011B;
              font-size: .95rem;
              line-height: 1.2;
              padding-bottom: .25rem; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .alert-area-combo .alert-combo-msg h6:last-child {
                padding-bottom: 0; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .alert-area-combo .btn {
              font-size: .95rem; }
            @media (max-width: 544px) {
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .alert-area-combo {
                top: -80px;
                height: 87px; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .alert-area-combo .alert-combo-msg h6 {
                  font-size: .85rem;
                  line-height: 1.1; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .list-rule-element .alert-area-combo .btn {
                  font-size: .85rem;
                  padding: .5rem .5rem; } }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rulerol-draggable-element, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .ruleteam-draggable-element {
          border: 1px solid #DDD;
          overflow: visible; }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .rulerol-draggable-element.drag-container, .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .ruleteam-draggable-element.drag-container {
            border: 1px dashed #009688;
            z-index: 4;
            background: rgba(255, 255, 255, 0.9); }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .hover-layer-li {
          float: right; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block .drop-area-tt-person-role-rules {
          min-height: 20vh;
          margin: 1rem 0 0;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul {
          margin: 1rem 0 0;
          padding: 0; }
          @media (max-width: 992px) {
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul {
              padding: 0; } }
          .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element {
            padding: .5rem .5rem 0;
            border-left: 2px solid #ccc;
            border-bottom: 2px solid #ccc;
            margin: .5rem 0 0; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element:hover {
              background: #E3F2FD; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element header i:hover.fa-pencil {
              color: #F44336; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element header i:hover.fa-trash-o {
              color: #2196F3; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element.toggled {
              margin: .5rem 0 1rem 0; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element.toggled:hover {
                background: none; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element.toggled:hover h6 {
                  color: #4A4A4A; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element h6 {
              font-weight: 400;
              padding-bottom: .75rem;
              color: #424242; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element h6:hover {
                color: #2196F3; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element .rule-tt-team-type-element-body-extended {
              padding: .5rem 0 .5rem 1rem; }
              .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element .rule-tt-team-type-element-body-extended .row-rule-tt-team-type-element-body-extended {
                margin: 1rem 0 0; }
                .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element .rule-tt-team-type-element-body-extended .row-rule-tt-team-type-element-body-extended ul {
                  margin: 0;
                  padding: 0; }
                  .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element .rule-tt-team-type-element-body-extended .row-rule-tt-team-type-element-body-extended ul li.elements-list-detail-tt-type-team {
                    padding: 0 .5rem;
                    font-size: .75rem;
                    margin: 0 0 .5rem .5rem;
                    background: #9E9E9E;
                    color: #FFF;
                    -webkit-border-radius: 25px;
                    -moz-border-radius: 25px;
                    -ms-border-radius: 25px;
                    border-radius: 25px; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element.no-editable:hover {
              background: inherit; }
            .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type ul li.rule-tt-team-type-element.no-editable h6:hover {
              color: #424242; }
        .wizard-team-type-area .team-type-work-area .edition-team-type-area .list-rule-block.rules-tt-team-type .drop-area-tt-team-type-rules {
          min-height: 20vh;
          margin: 1rem 0 0 2rem;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          border-radius: 5px; }
  .wizard-team-type-area .hover-drag {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0; }
  .wizard-team-type-area .col-drag {
    width: 30px;
    text-align: center;
    border-right: 1px solid #DDD;
    cursor: move;
    background-color: #DDD;
    position: absolute;
    height: 100%; }
  .wizard-team-type-area .drag-icon {
    color: #9E9E9E;
    line-height: 62px; }
    .wizard-team-type-area .drag-icon.icon-abs:before {
      position: absolute;
      content: "\283f";
      padding: 0 8px 0 4px;
      font-size: 2rem;
      color: #DDD; }
  .wizard-team-type-area .hover-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.65);
    z-index: 10; }
  .wizard-team-type-area .rol-draggable-element {
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 49%;
    max-width: 49%;
    min-height: 3.5rem;
    font-size: .85rem;
    cursor: -webkit-grab;
    text-align: center;
    margin: 0 0.5% .3rem;
    box-shadow: 1px 1px 1px 1px #9E9E9E; }
    .wizard-team-type-area .rol-draggable-element.special-draggable-element {
      border: 1px solid #DDD;
      padding: 1rem 0;
      margin: 0;
      box-sizing: border-box;
      min-height: 1.5rem; }
      .wizard-team-type-area .rol-draggable-element.special-draggable-element:hover {
        border: 1px solid #009688; }
      .wizard-team-type-area .rol-draggable-element.special-draggable-element p {
        padding: 0; }
    .wizard-team-type-area .rol-draggable-element.drag-ready {
      color: #FFF;
      border: 1px solid #0D47A1;
      background: #0D47A1;
      font-weight: 500; }
      .wizard-team-type-area .rol-draggable-element.drag-ready i.fa-eye {
        color: #424242; }
    .wizard-team-type-area .rol-draggable-element p {
      padding: .5rem .25rem; }
    .wizard-team-type-area .rol-draggable-element:hover:not(.drag-ready) {
      color: #2196F3;
      border: 1px solid #0D47A1; }
    .wizard-team-type-area .rol-draggable-element .drop-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 99%;
      height: 99%;
      max-height: 50px;
      overflow: hidden; }
    .wizard-team-type-area .rol-draggable-element.draggable-teamt {
      width: 99%;
      max-width: 99%;
      margin: 0 auto .5rem;
      text-align: left;
      padding: 0 .25rem 0 .5rem; }
      .wizard-team-type-area .rol-draggable-element.draggable-teamt:hover i.circle-bg {
        color: #292b2c; }
      .wizard-team-type-area .rol-draggable-element.draggable-teamt i.circle-bg:before {
        background-color: #DDD;
        padding: 0.35rem;
        border-radius: 100%;
        margin-left: -1px; }
        .wizard-team-type-area .rol-draggable-element.draggable-teamt i.circle-bg:before:hover {
          color: #2196F3; }
    .wizard-team-type-area .rol-draggable-element.full-size {
      width: 99%;
      max-width: 99%;
      margin: 0 auto .5rem; }
    @media (max-width: 544px) {
      .wizard-team-type-area .rol-draggable-element {
        width: 99%;
        max-width: 99%; } }
  .wizard-team-type-area .soft-loader {
    position: absolute;
    top: 85%;
    left: 59%;
    left: calc(70% - 185px);
    z-index: 12;
    background: #DDD;
    padding: 1rem;
    border: 1px solid #E0E0E0;
    width: 185px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px #9E9E9E;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .wizard-team-type-area .soft-loader i.fa-pulse-16 {
      -webkit-animation: fa-spin 1s infinite steps(16);
      animation: fa-spin 1s infinite steps(16); }
    .wizard-team-type-area .soft-loader p {
      margin: .25rem 0 0;
      font-size: .9rem; }
  .wizard-team-type-area .roles-dashboard {
    padding-left: 1.75rem;
    min-height: 85vh;
    max-height: 85vh; }
    @media (max-width: 992px) {
      .wizard-team-type-area .roles-dashboard {
        padding: .75rem;
        position: fixed;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        height: 100vh;
        min-height: 100vh;
        width: 100vw;
        z-index: 6;
        background: #FFF;
        overflow: auto;
        -webkit-transition: left .5s ease-in-out;
        -moz-transition: left .5s ease-in-out;
        transition: left .5s ease-in-out; }
        .wizard-team-type-area .roles-dashboard.visibleOnMobile {
          left: 0;
          -webkit-transition: left .5s ease-in-out;
          -moz-transition: left .5s ease-in-out;
          transition: left .5s ease-in-out; }
          .wizard-team-type-area .roles-dashboard.visibleOnMobile i {
            font-size: 1.5rem;
            margin-top: -5px; } }
    .wizard-team-type-area .roles-dashboard .roles-dashboard-popup {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .wizard-team-type-area .roles-dashboard .roles-dashboard-popup .roles-dashboard-content {
        background: #FFF;
        padding: 1.5rem 1rem;
        border: 1px solid #cccccc;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        border-radius: 0.25rem; }
    .wizard-team-type-area .roles-dashboard .hover-layer input {
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: .95rem;
      border-radius: 0; }
      .wizard-team-type-area .roles-dashboard .hover-layer input.input-search-component {
        font-size: 2rem; }
      .wizard-team-type-area .roles-dashboard .hover-layer input:focus {
        background: #E3F2FD;
        color: #2196F3; }
    .wizard-team-type-area .roles-dashboard .see-by-category select {
      border: none;
      padding: 0 1.5rem 0 0;
      background: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right transparent;
      -webkit-appearance: none; }
      .wizard-team-type-area .roles-dashboard .see-by-category select option {
        padding: 0 .5rem;
        background: white;
        color: #212121; }
        .wizard-team-type-area .roles-dashboard .see-by-category select option:hover {
          color: #2196F3;
          background: #E3F2FD; }
      .wizard-team-type-area .roles-dashboard .see-by-category select:active {
        outline-color: #2196F3; }
    .wizard-team-type-area .roles-dashboard .categories-container {
      max-height: 50vh;
      height: auto;
      overflow: auto;
      border-top: 1px solid #ccc;
      margin: 1rem 0 0; }
      .wizard-team-type-area .roles-dashboard .categories-container.search-size {
        max-height: 73vh; }
      .wizard-team-type-area .roles-dashboard .categories-container.team-types-options {
        margin: 1.5rem 0 0;
        padding: 1.5rem 0 0; }
      .wizard-team-type-area .roles-dashboard .categories-container h6 {
        font-size: .95rem;
        padding: 0 .25rem; }
      .wizard-team-type-area .roles-dashboard .categories-container p.placeholder-empty {
        text-align: center;
        margin: 1rem 0;
        font-size: .95rem;
        width: 100%;
        line-height: 1.2;
        color: #555555; }
      @media (max-width: 992px) {
        .wizard-team-type-area .roles-dashboard .categories-container {
          max-height: 61vh; }
          .wizard-team-type-area .roles-dashboard .categories-container.search-size {
            max-height: 81vh; }
          .wizard-team-type-area .roles-dashboard .categories-container p.placeholder-empty {
            font-size: .85rem; } }
    .wizard-team-type-area .roles-dashboard .tabs-component ul {
      border-bottom: 2px solid #DDD; }
      .wizard-team-type-area .roles-dashboard .tabs-component ul li.tab-option {
        cursor: pointer;
        padding: 0.75rem .25rem 0;
        border-right: 2px solid #DDD;
        margin: 0;
        height: 65px; }
        .wizard-team-type-area .roles-dashboard .tabs-component ul li.tab-option:last-child {
          border-right: none; }
        .wizard-team-type-area .roles-dashboard .tabs-component ul li.tab-option:hover {
          color: #2196F3; }
        .wizard-team-type-area .roles-dashboard .tabs-component ul li.tab-option.active {
          color: #2196F3; }
        .wizard-team-type-area .roles-dashboard .tabs-component ul li.tab-option.search-disabled {
          display: none; }
        .wizard-team-type-area .roles-dashboard .tabs-component ul li.tab-option p {
          margin: .25rem 0 0;
          font-size: 0.9rem; }
  .wizard-team-type-area .special-rol-btn {
    border: 0.0625rem solid #DDD;
    margin: 0;
    padding: .55rem 1.25rem .55rem .65rem;
    min-height: 1.5rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: .25rem !important;
    line-height: 1.5rem;
    box-shadow: none; }
    .wizard-team-type-area .special-rol-btn.btn-secondary {
      padding: .55rem .75rem; }
    .wizard-team-type-area .special-rol-btn:hover {
      background-color: #0D47A1;
      color: #FFF; }
      .wizard-team-type-area .special-rol-btn:hover .border-circle {
        border-color: #FFF; }
    .wizard-team-type-area .special-rol-btn.active {
      background-color: #0D47A1;
      color: #FFF; }
      .wizard-team-type-area .special-rol-btn.active i.fa {
        border-color: #FFF; }
    .wizard-team-type-area .special-rol-btn .border-circle {
      border: .02rem solid #000;
      height: 25px;
      width: 25px;
      line-height: 25px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%; }
    .wizard-team-type-area .special-rol-btn:disabled {
      cursor: not-allowed; }
      .wizard-team-type-area .special-rol-btn:disabled:hover {
        background-color: inherit;
        border: 0.0625rem solid #DDD;
        color: inherit; }
  .wizard-team-type-area .border-circle {
    width: 1.6875rem;
    line-height: 1.5625rem;
    text-align: center;
    border: .02rem solid #000;
    border-radius: 100%;
    vertical-align: middle; }
    .wizard-team-type-area .border-circle.fa.mini-btn, .wizard-team-type-area .border-circle.mini-btn {
      width: 1.125rem;
      line-height: 1rem;
      font-size: .85rem; }
    .wizard-team-type-area .border-circle.color-secundary {
      color: #FFF;
      border-color: #FFF; }
  .wizard-team-type-area .confirmation-recover-last-tt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 6; }
    .wizard-team-type-area .confirmation-recover-last-tt section {
      max-width: 10vw;
      min-width: 350px;
      margin: 40vh auto 0;
      padding: 1.5rem;
      background: #FFF;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px 1px #9E9E9E;
      text-align: center;
      z-index: 7;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .wizard-team-type-area .confirmation-recover-last-tt section p {
        margin: 0 0 1rem; }
      .wizard-team-type-area .confirmation-recover-last-tt section footer {
        margin: .5rem 0 0; }
  .wizard-team-type-area .rule-form-area .header-list-rule-area ul {
    padding: 0;
    border-bottom: 1px solid #DDD; }
    .wizard-team-type-area .rule-form-area .header-list-rule-area ul li {
      padding: 0 0 .5rem;
      border: 0; }
  .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element {
    padding: 0;
    margin-top: .75rem;
    height: 62px; }
    .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .edit-area-rol {
      position: absolute;
      top: -11rem;
      left: 45%;
      z-index: 5;
      background: #FFF;
      border: 1px solid #9E9E9E;
      border-radius: 5px;
      max-width: 15rem; }
      .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .edit-area-rol div {
        position: relative;
        padding: 1rem; }
        .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .edit-area-rol div input, .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .edit-area-rol div select {
          padding: .5rem; }
        .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .edit-area-rol div i {
          position: absolute;
          bottom: -10px;
          left: 44%;
          right: 0;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #9E9E9E; }
    .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element i.fa {
      cursor: pointer; }
    .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .content-element {
      padding: 0 .75rem; }
    .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .badges-container {
      position: relative;
      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap; }
    .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .action-bar {
      height: 62px;
      line-height: 62px;
      padding: 0 .65rem;
      border-left: 1px solid #DDD;
      cursor: pointer; }
      .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .action-bar:hover {
        background: #DDD; }
        .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .action-bar:hover i {
          color: #212121; }
      .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .action-bar i {
        color: #EF5350; }
    .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .list-roles-rule-person-role {
      position: absolute;
      top: 2rem;
      left: 0;
      background: #FFF;
      padding: .5rem;
      z-index: 2;
      box-shadow: 0 0 5px #DDD;
      border: 1px solid #DDD;
      border-radius: 3px;
      max-height: 120px;
      min-width: 120px;
      overflow: auto; }
      .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element .list-roles-rule-person-role li {
        padding: .5rem 0; }
    .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element aside.drop-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 50px;
      overflow: hidden;
      z-index: 6;
      padding: 6px 0 0;
      height: 32px;
      background: rgba(255, 255, 255, 0.3);
      border: 1px dashed #FFF; }
      .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element aside.drop-area p span, .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element aside.drop-area p i {
        color: white;
        text-shadow: 0 0 10px #000; }
      .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element aside.drop-area:hover {
        cursor: move;
        border: 2px dashed #009688; }
      .wizard-team-type-area .rule-form-area .list-rule-block .list-rule-element aside.drop-area.lighting-active {
        border: 2px dashed #009688;
        background: rgba(255, 255, 255, 0.5); }
  .wizard-team-type-area .rule-form-area .list-rule-block .rulerol-draggable-element, .wizard-team-type-area .rule-form-area .list-rule-block .ruleteam-draggable-element {
    border: 1px solid #DDD;
    overflow: visible;
    height: 100%; }
    .wizard-team-type-area .rule-form-area .list-rule-block .rulerol-draggable-element.drag-container, .wizard-team-type-area .rule-form-area .list-rule-block .ruleteam-draggable-element.drag-container {
      border: 1px dashed #009688;
      z-index: 4;
      background: rgba(255, 255, 255, 0.9); }
  .wizard-team-type-area .rule-form-area .list-rule-block .hover-layer-li {
    float: right; }
  .wizard-team-type-area .resize-column {
    min-width: 1px;
    background: #DDD;
    cursor: ew-resize; }
  .wizard-team-type-area .card-wizard {
    background: #FFF;
    border-radius: 3px;
    padding: 2rem;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    @media (max-width: 992px) {
      .wizard-team-type-area .card-wizard {
        padding: 1rem; } }
    .wizard-team-type-area .card-wizard.drop-area {
      border: 2px dashed rgba(0, 0, 0, 0.5);
      box-shadow: none;
      z-index: 4;
      padding: 1rem;
      max-height: 50px;
      overflow: hidden; }
      .wizard-team-type-area .card-wizard.drop-area li {
        display: none;
        text-align: center;
        min-width: 100%;
        font-size: 1.5rem;
        color: #009688;
        font-weight: 600;
        margin: 0 !important;
        padding: .5rem 0;
        position: absolute;
        max-height: 50px;
        overflow: hidden;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.8);
        height: 100%; }
      .wizard-team-type-area .card-wizard.drop-area:hover, .wizard-team-type-area .card-wizard.drop-area.active {
        color: #009688;
        font-weight: 600;
        border-color: #009688; }
        .wizard-team-type-area .card-wizard.drop-area:hover p, .wizard-team-type-area .card-wizard.drop-area.active p {
          color: #009688; }
  .wizard-team-type-area .counter-persons {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 1.1rem; }
    @media (max-width: 992px) {
      .wizard-team-type-area .counter-persons {
        left: 1rem;
        bottom: 1rem; } }
  .wizard-team-type-area input[type="checkbox"] {
    width: 17px;
    height: 17px; }
  .wizard-team-type-area .header-card-team-type-element span, .wizard-team-type-area .header-card-team-type-element i {
    line-height: 38px; }
  .wizard-team-type-area .header-card-team-type-element .rows-counter {
    background: transparent;
    padding: 0 10px;
    font-weight: 600;
    min-width: 4rem;
    max-width: 6rem;
    color: #FFF;
    text-align: center;
    border-radius: 2px;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden; }
    .wizard-team-type-area .header-card-team-type-element .rows-counter.persons-counter {
      background: #0275d8; }
    .wizard-team-type-area .header-card-team-type-element .rows-counter.teams-type-counter {
      background: #f0ad4e; }
  .wizard-team-type-area .tree-node-p-content {
    min-width: 100px;
    border: 1px solid #DDD;
    border-radius: 2px; }
    .wizard-team-type-area .tree-node-p-content .icon-side {
      padding: 0 .35rem;
      text-align: center; }
    .wizard-team-type-area .tree-node-p-content span {
      padding: 0 .35rem;
      text-overflow: ellipsis;
      overflow: hidden; }
    .wizard-team-type-area .tree-node-p-content.team_type-style {
      border-color: #f0ad4e;
      text-align: center;
      color: #8a6d3b; }
      .wizard-team-type-area .tree-node-p-content.team_type-style .icon-side {
        background: #f0ad4e;
        color: white;
        border-right: 1px solid #f0ad4e; }
    .wizard-team-type-area .tree-node-p-content.person-style {
      border-color: #5bc0de;
      text-align: center;
      color: #31708f; }
      .wizard-team-type-area .tree-node-p-content.person-style .icon-side {
        background: #5bc0de;
        color: white;
        border-right: 1px solid #5bc0de; }
    .wizard-team-type-area .tree-node-p-content.team_type_member-style {
      border: none;
      color: #8a6d3b; }
      .wizard-team-type-area .tree-node-p-content.team_type_member-style .icon-side {
        background: #f0ad4e;
        border-color: #f0ad4e;
        color: white;
        border-radius: 2px;
        margin-right: .25rem; }
      .wizard-team-type-area .tree-node-p-content.team_type_member-style span {
        padding-left: .25rem; }
    .wizard-team-type-area .tree-node-p-content.person_member-style {
      border: none;
      color: #31708f; }
      .wizard-team-type-area .tree-node-p-content.person_member-style .icon-side {
        background: #5bc0de;
        border-color: #5bc0de;
        border-radius: 2px;
        color: white;
        margin-right: .25rem; }
      .wizard-team-type-area .tree-node-p-content.person_member-style span {
        padding-left: .25rem; }
  .wizard-team-type-area .tooltip-full-team-type {
    position: absolute;
    top: 45px;
    z-index: 10;
    background: #424242;
    min-width: 20rem;
    max-width: 25rem;
    padding: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .wizard-team-type-area .tooltip-full-team-type section {
      position: relative;
      color: #FFF; }
      .wizard-team-type-area .tooltip-full-team-type section h6 {
        margin-bottom: 1rem; }
      .wizard-team-type-area .tooltip-full-team-type section .arrow-up {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 10px solid #424242;
        top: -25px;
        right: 10px; }
      .wizard-team-type-area .tooltip-full-team-type section p {
        background: #FFF;
        padding: .25rem .5rem;
        color: #424242;
        font-size: .9rem;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        border-radius: 25px; }
        .wizard-team-type-area .tooltip-full-team-type section p.quantity {
          text-align: center; }
      .wizard-team-type-area .tooltip-full-team-type section .all-roles {
        margin: .75rem 0; }
    .wizard-team-type-area .tooltip-full-team-type.list-drag-items section .arrow-up {
      right: 0; }
    .wizard-team-type-area .tooltip-full-team-type.tooltip-team-type-fixed {
      position: fixed; }

.slide-icon-component {
  position: relative;
  height: 20px; }
  .slide-icon-component .slide-line {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #292b2c;
    position: absolute;
    left: 0;
    top: 60%; }
  .slide-icon-component .slide-circle {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 1px solid #9E9E9E;
    background-color: #FAFAFA;
    left: 50%;
    top: 33%;
    margin-left: -5px;
    position: absolute; }
    .slide-icon-component .slide-circle:before {
      content: "\f107";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #636c72;
      font-size: 0.85rem;
      position: absolute;
      top: -14px;
      left: -1px; }
    .slide-icon-component .slide-circle.slide-circle-left {
      left: 25%;
      margin-left: -5px; }
      .slide-icon-component .slide-circle.slide-circle-left:before {
        content: "\f105";
        left: 2px; }
    .slide-icon-component .slide-circle.slide-circle-right {
      left: 75%;
      margin-left: -5px; }
      .slide-icon-component .slide-circle.slide-circle-right:before {
        content: "\f104";
        left: 1px; }

.list-rule-element.gu-transit, .list-rule-element.gu-mirror {
  min-width: 80px !important;
  height: 58px !important;
  padding: 1.3125rem 0.5rem 1.3125rem 1.3125rem !important;
  border: 1px solid #DDD; }
  .list-rule-element.gu-transit .text-center-on-drag, .list-rule-element.gu-mirror .text-center-on-drag {
    text-align: center;
    font-size: 0.95rem; }
  .list-rule-element.gu-transit .rule-person-role-name, .list-rule-element.gu-mirror .rule-person-role-name {
    margin: 0 auto;
    max-width: 100%;
    flex: 100%;
    padding: 0 !important; }
  .list-rule-element.gu-transit:before, .list-rule-element.gu-mirror:before {
    display: none; }

.list-rule-element.gu-transit {
  display: none;
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important; }

.rol-draggable-element.gu-transit, .rol-draggable-element.gu-mirror {
  border: 1px solid #DDD;
  padding: 0 .25rem 0 .5rem; }

.drop-area.isDragging {
  border: 2px dotted #2196F3;
  background: #E3F2FD; }
