<section class="wizard-team-type-area" *ngIf="isAllowed()">

  <header [ngClass]="{'enlarged': teamTypeTemplatesShown, 'no-team-type' : !isTeamTypeCreated()}"
          class="team-type-templates">
    <section class="header-top-fixed undisplay-content-section">
      <article class="row no-gutters justify-content-between align-items-center">
        <aside class="col-lg-auto col-12 row no-gutters align-items-center go-back-header-link cursor-pointer hover-blue"
               (click)="goBackToList()">
          <i class="fa fa-angle-left fa-2x mr-3"></i>
          <span>regresar a la pantalla anterior</span>
        </aside>
        <h3 class="col-md col-12 text-center title-header-top"
            [innerHtml]="getMainTitle()"></h3>
        <div [ngClass]="{'no-visibility': isMasterInUse()}"
             class="col-lg-auto col-12 text-center div-button-toggle">
          <button *ngIf="showWhenTeamTypeEditionOrDisplayed()"
                  (click)="toggleTeamTypeTemplates()"
                  [ngClass]="{'opened': !teamTypeTemplatesShown}"
                  class="btn col-lg-auto col-12 toggle-tt-button cursor-pointer">
            <p *ngIf="!teamTypeTemplatesShown"
               [innerHtml]="'ver los master elements'"></p>
            <i *ngIf="teamTypeTemplatesShown"
               class="fa fa-close"></i>
          </button>
        </div>
      </article>
      <article class="header-display-content">
        <article [hidden]="showButtonNoTypeCreated()"
                 class="mt-3 search-team-types-template-area">
          <section class="search-component-box">
            <app-search-component #searchTeamTypesTemplate
                                  [data]="teamTypesFiltered"
                                  [externalConfig]="searchTeamTypeTemplatesConfig()"
                                  (outputEvent)="filterTeamTypeTemplates($event)"></app-search-component>
          </section>
          <section class="filter-by-class-section mt-3 text-center">
            <app-filter-component #teamTypeGroupFilter
                                  [externalConfig]="getTeamTypeGroupFilterConfig()"
                                  (outputEvent)="onChangeTeamTypeGroupFilter($event)">

            </app-filter-component>
          </section>
        </article>
        <article class="list-team-types-card"
                 (scroll)="onScrollTabCategories($event)">
          <div *ngIf="!noResultsAccordingFilter(); else noTeamTypesTemplates">
            <ul class="list-unstyled row no-gutters justify-content-start align-items-center">
              <li class="col-lg-3 col-12 team-type-card-li-element"
                  [ngClass]="{'incomplete-team': isIncompleteTeam(teamType)}"
                  *ngFor="let teamType of teamTypesFiltered; count as count; let i = index;"
                  [hidden]="!isMasterAlreadyInEdition(teamType)">
                <div [ngClass]="{'eye-active': teamTypePopoverEyeIsSelected(teamType['id']) && !teamTypeTooltipScrolling}"
                  class="card-team-type">

                  <aside *ngIf="teamTypeCardIsHovered(teamType['id'])"
                         (mouseleave)="showHideOptions(teamType['id'])"
                         class="action-bar-layer row no-gutters justify-content-center align-items-center align-content-center">
                    <app-button-component [externalConfig]="editTeamTypeTemplateButtonConfig()"
                                          pTooltip="{{getEditMasterTooltip(teamType)}}" tooltipPosition="top"
                                          [disabled]="isMasterEntityInUse(teamType)"
                                          (outputEvent)="editTeamTypeOnWorkTable(teamType)"></app-button-component>
                    <app-button-component [externalConfig]="useAndCopyTeamTypeTemplateButtonConfig()"
                                          pTooltip="Copiar y utilizar" tooltipPosition="top"
                                          (outputEvent)="copyAndUseOnNewTeamType(teamType)"></app-button-component>
                  </aside>

                  <header class="row no-gutters justify-content-between align-content-center align-items-center">
                    <h6 [innerHtml]="getTeamTypeName(teamType)"
                        *ngIf="!isIncompleteTeam(teamType)"
                        class="col text-overflow pr-3"></h6>
                    <p class="incomplete-title col text-overflow pr-3"
                       *ngIf="isIncompleteTeam(teamType)">
                      <i class="fa fa-exclamation-circle"></i>
                      <span class="title"
                            [innerHtml]="getTeamTypeName(teamType)"></span>
                      <span> está incompleto</span>
                    </p>
                    <i id="card_tooltip_teamt_n_{{teamType['id']}}"
                       (mouseover)="showTooltipFullTeamMembers(teamType, 'card')"
                       (mouseout)="showTooltipFullTeamMembers(teamType, 'card')"
                       class="fa fa-eye col-auto cursor-pointer"></i>
                  </header>

                  <section (mouseover)="showHideOptions(teamType['id'])"
                           class="team-type-card-li-element-body">
                    <article
                      class="team-type-card-li-element-body-persons row no-gutters justify-content-between align-content-center align-items-start">
                      <i class="fa fa-user-o col-1 icon-category-card-tt"></i>
                      <div class="col-11">
                        <ul *ngIf="teamTypeOnTemplatesHasRulePerson(teamType); else noRulePersons"
                            class="list-unstyled">
                          <li *ngFor="let ruleP of teamType['rule_person'].slice(0,3); let i = index;"
                              class="row no-gutters justify-content-start align-items-center list-element-body-persons">
                            <section class="col-8">
                              <p class="bg-gray text-overflow"
                                 [innerHtml]="getAllRolesFromRulePerson(ruleP)"></p>
                            </section>
                            <section class="col-2 px-1">
                              <p class="bg-gray max-min-quantities px-1"
                                 [innerHtml]="getQuantityFromRulePerson(ruleP)"></p>
                            </section>
                            <section *ngIf="teamTypeHasMoreThan3RuleP(teamType) && i === 2"
                                     class="more-roles-action-button col-2 row no-gutters align-items-center">
                              <i class="col-auto fa fa-ellipsis-h"></i>
                              <p class="col ml-1"
                                 [innerHtml]="teamTypeRulePNotShown(teamType)"></p>
                            </section>
                          </li>
                        </ul>
                        <ng-template #noRulePersons>
                          <p class="placeholder-empty bg-gray">No hay roles</p>
                        </ng-template>
                      </div>
                    </article>
                    <article
                      class="team-type-card-li-element-body-subteams row no-gutters justify-content-between align-content-center align-items-center">
                      <i class="fa fa-users col-auto icon-category-card-tt"></i>
                      <div class="col">
                        <section class="row no-gutters justify-content-between align-items-center"
                                 *ngIf="teamTypeHasOneSubTeamAtLeast(teamType); else noSubTeams">
                          <p class="col bg-gray text-overflow"
                             [innerHtml]="getRuleTeamTName(teamType['rule_teamt'][0])"></p>
                        </section>
                        <ng-template #noSubTeams>
                          <p class="placeholder-empty col-9 bg-gray">No hay subteams</p>
                        </ng-template>
                      </div>
                      <div class="col-2 pl-1">
                        <section *ngIf="teamTypeHasMoreThanOneSubTeams(teamType)"
                                 class="more-roles-action-button row no-gutters align-items-center">
                          <i class="col-auto fa fa-ellipsis-h"></i>
                          <p class="col ml-1"
                             [innerHtml]="teamTypeSubTeamsNotShown(teamType)"></p>
                        </section>
                      </div>
                    </article>
                  </section>
                </div>
              </li>
            </ul>
            <app-button-component class="text-center"
                              [hidden]="!showLoadMoreTeamTypesTemplatesButton()"
                              [externalConfig]="loadMoreTemplatesConfig()"
                              (outputEvent)="loadMoreTemplates()"></app-button-component>
          </div>
          <ng-template #noTeamTypesTemplates>
            <p class="placeholder-empty no-results-tt-templates">No hay resultados para tus criterios de búsqueda</p>
          </ng-template>
        </article>
        <!-- @TODO SEARCH BY CLASS -->

      </article>
      <button *ngIf="showMoreTemplatesOnCreationButton()"
              (click)="toggleTeamTypeTemplates()"
              class="btn btn-secondary cursor-pointer show-more-templates">ver más
      </button>
    </section>

  </header>

  <section *ngIf="isMasterInUse()" class="master-in-use-info">
    <p>El master seleccionado ya se encuentra en uso.</p>
  </section>

  <section class="team-type-work-area row no-gutters justify-content-between align-items-start">

    <button *ngIf="!isMasterInUse()"
            [hidden]="showDragOptionsOnMobile"
            (click)="toggleDragOptionsOnMobile()"
            class="button-show-roles-dashboard-mobile btn hidden-lg-up cursor-pointer">
      <i class="fa fa-bars fa-lg"></i>
    </button>

    <article class="col-12 edition-team-type-area"
             [ngClass]="{'col-lg-9': !isMasterInUse(), 'noTeamType' : !isTeamTypeCreated(), 'drag-zone': isDraggingEventEnabled('drag_container')}">


      <section class="edition-area-created"
               *ngIf="isTeamTypeCreated(); else noTeamType">
        <header class="row no-gutters align-items-start justify-content-between info-team-type-zone">
          <section class="col-lg-6 col-12 row no-gutters align-items-center">
            <input type="text"
                   class="form-control name-input col-12"
                   name="teamTypeNameAttribute"
                   (change)="saveBasicInformation('name')"
                   [(ngModel)]="teamTypeOnWizard['name']"
                   id="teamTypeName"
                   placeholder="Nombre del master"/>
            <div class="description-input-container col-lg-8 col-12">
              <input type="text"
                     #teamTypeDescription
                     class="form-control description-input"
                     name="teamTypeDescriptionAttribute"
                     (change)="saveBasicInformation('description')"
                     [(ngModel)]="teamTypeOnWizard['description']"
                     id="teamTypeDescription"
                     placeholder="Descripción del master"/>
            </div>
          </section>
          <aside class="col-lg-4 col-12 row no-gutters justify-content-end align-items-center group-area">
            <section class="group-class-box col-12 row no-gutters justify-content-end align-items-center">
              <div [hidden]="showSearchGroup"
                   (mouseover)="selectNewGroupClass()"
                   class="col-12 row no-gutters justify-content-end align-items-center">
                <i class="fa fa-tag col-auto mr-1"></i>
                <p class="group-class-box-text text-overflow ml-2 col"
                   [innerHtml]="getMasterGroupClassNameTag()"></p>
              </div>

              <div [hidden]="!showSearchGroup"
                   class="col-12 row no-gutters justify-content-end align-items-center">
                <i class="fa fa-tag col-auto mr-1"></i>
                <div class="col ml-2"
                     (mouseleave)="selectNewGroupClass()">
                  <app-search-component #searchGroupTemplate
                                        [defaultValue]="getMasterGroupClassName()"
                                        [externalConfig]="setSearchGroupClassConfig()"
                                        (outputEvent)="selectNewGroupForTeamType($event)"
                                        (onClickElementEvent)="selectNewGroupForTeamType($event)"></app-search-component>
                  <!--[defaultValue]="getTeamTypeSearchGroupClassName()"-->
                </div>
              </div>

            </section>

            <button *ngIf="!isMasterCompleted()"
                    (click)="finishMasterProcess()"
                    class="col-12 btn btn-secondary px-4 py-1 finish-master-process-button cursor-pointer mt-3 btn-outline-secondary text-overflow">
              <span i18n>Finalizar la edición del master</span>
            </button>

            <aside (click)="onMouseOutSearchGroups()"
                   *ngIf="showSearchGroup"
                   class="hover-layer-selecting-group"></aside>
          </aside>

        </header>
      </section>

      <ng-template #noTeamType>
        <article [dragula]="'drag_container'"
                 [dragulaOptions]="dragOptions"
                 class="no-team-type drop-area"
                 [ngClass]="{'isDragging': isDraggingEventEnabled('drag_container') && isPillAccepted('all')}"
                 [attr.data-accept-pills]="'all'"
                 [attr.data-create-teamt]="true">
        </article>
        <h6 class="placeholder-empty no-drag no-team-type" i18n>Crea un master a partir de una plantilla</h6>
        <aside *ngIf="showDragOptionsOnMobile" class="tip-drop no-drag">
          <i class="fa fa-arrow-left"></i>
          <p i18n>desliza los elementos seleccionados en la zona gris para añadirlos al nuevo master element.</p>
        </aside>
        <aside *ngIf="!showDragOptionsOnMobile" class="tip-drop no-drag">
          <p i18n>Selecciona elementos desde <i class="fa-tip-mobile fa fa-bars fa-lg"></i> para añadirlos al nuevo master element.</p>
        </aside>
      </ng-template>

      <!-- PERSON RULES -->
      <section class="list-rule-block"
               *ngIf="isTeamTypeCreated()">

        <header class="header-list-rule-area pb-2">
          <i class="fa fa-user-o pr-2"></i>Roles correspondientes a [<span
          [innerHtml]="teamTypeOnWizard['name']"></span>]
        </header>

        <article class="container-drag-rule-persons">



          <div *ngIf="hasTeamTypePersonRules(); else noPersonRules">
            <ul [dragula]="'drag_container_multi'"
                [dragulaOptions]="dragOptions"
                class="list-unstyled row no-gutters justify-content-start align-content-start align-items-start">
              <li *ngFor="let rule of getTeamTypeRulesPersonSimple(); let i = index;"
                  [ngClass]="{'col-xl-4 col-lg-6 col-12': !showRuleCombo(i), 'col-12 combo-box no-show-dragging': showRuleCombo(i)}"
                  [attr.data-type-option]="!showRuleCombo(i) && !isRuleRolePersonJoker(rule) ? 'role' : 'denegate'"
                  [attr.data-id-option]="rule['id']"
                  class="list-rule-element list-unstyled rulerol-draggable-element">

                <aside class="combo-layer-hover"
                       (click)="resetComboBoxSelection(i)"
                       *ngIf="thereIsComboSelected()">
                </aside>


                <aside *ngIf="showAlertAreaCombo(i)"
                       class="row alert-area-combo col-12 no-gutters">
                  <section class="col pr-2 alert-combo-msg">
                    <h6 i18n>La regla en edición contiene campos requeridos sin rellenar</h6>
                    <h6 i18n>¿Deseas guardar de todas formas?</h6>
                  </section>
                  <footer class="col-auto row no-gutters justify-content-center align-items-center">
                    <button type="button" class="btn btn-secondary w-50" (click)="saveJoker(i)">Si</button>
                    <button type="button" class="btn btn-secondary w-50" (click)="deleteUnsaveJoker()">No</button>
                  </footer>
                </aside>

                <aside
                  class="col-auto close-area-combo no-show-dragdrop">
                  <i *ngIf="showCloseAreaCombo(i)"
                     (click)="resetComboBoxSelection(i)"
                     class="fa fa-times border-circle cursor-pointer"></i>
                </aside>

                <article
                  class="pill-container derl row no-gutters justify-content-between align-items-center align-content-center"
                  [ngClass]="{'combo-box': showRuleCombo(i), 'incomplete': !isRulePersonCompleted(i), 'no-editable': isMasterInUse()}">

                  <!-- start person rule dragable box-->
                  <article *ngIf="!showRuleCombo(i)"
                           (click)="editRuleRolePerson(i)"
                           class="rule-person-role-element row no-gutters col-12 align-items-center">

                    <aside *ngIf="!isMasterInUse()" class="col-1 no-show-dragdrop text-center">
                      <i class="fa fa-th-list"></i>
                    </aside>

                    <div class="rule-person-role-name no-gutters align-items-center" [ngClass]="{'col-9': !isMasterInUse(), 'col-10': isMasterInUse()}">
                      <aside *ngIf="hasRulePersonCategoryName(rule); else rulePersonName" class="text-overflow">
                        <h6 class="text-center-on-drag text-overflow"
                            [innerHtml]="getUniqueRolIntoRulePerson(rule)"></h6>
                        <i class="rule-person-role-category no-show-dragdrop text-overflow"
                           [innerHtml]="rule['category_name']"></i>
                      </aside>
                      <ng-template #rulePersonName>
                        <h6 class="rule-name-simple text-center-on-drag text-overflow"
                            [innerHtml]="getUniqueRolIntoRulePerson(rule)"></h6>
                      </ng-template>
                    </div>

                    <aside class="rule-person-role-info col-2 text-center no-show-dragdrop">
                      <span [innerHtml]="getMinMaxRulePersonToRender(rule)"
                            [ngClass]="{'minmax-incomplete': !isRulePersonMinMaxDefined(i)}"></span>
                    </aside>
                  </article>
                  <!--END person rule dragable box-->

                  <div *ngIf="showRuleCombo(i)"
                       class="rule-person-role-combo row col-12 no-gutters justify-content-start align-content-start align-items-start my-2 no-show-dragdrop">
                    <ul
                      class="list-unstyled row col-12 no-gutters justify-content-start align-items-start">
                      <li
                        class="person-role-combo-item list-unstyled row no-gutters col-lg-6 col-12 justify-content-between align-items-center"
                        [ngClass]="{'col-xl-3': !isRuleRolePersonJoker(rule), 'col-xl-4': isRuleRolePersonJoker(rule)}">
                        <section class="person-role-combo-name row col-12 no-gutters align-items-center">
                          <aside *ngIf="isRuleRolePersonJoker(rule)"
                                 class="col-auto">
                            <i class="fa fa-user-secret mx-1"></i>
                          </aside>

                          <aside *ngIf="isRulePersonJokerOrRulePersonWithRolAdded(rule); else comboNameRule"
                                 class="col">
                            <div class="pr-2">
                              <input id="rule_person_joker_name_{{i}}"
                                     name="rule_person_joker_name_{{i}}"
                                     type="text"
                                     class="form-control rule-role-name-input"
                                     [(ngModel)]="rule['description']"
                                     (change)="updateRuleRolPersonDescription(i)"
                                     (keyup)="onKeyUpRulePersonDescription()"
                                     placeholder="escribe un rol o un memo">
                            </div>

                          </aside>

                          <ng-template #comboNameRule>
                            <aside class="rule-role-name col py-1 text-overflow">
                              <span [innerHtml]="rule['child_roles'][0]['name']"></span>
                            </aside>
                          </ng-template>

                          <span *ngIf="isRulePersonCompleted(i)"
                                class="person-role-minmax"
                                [innerHtml]="getMinMaxRulePersonToRender(rule)"
                                [ngClass]="{'minmax-incomplete': !isRulePersonMinMaxDefined(i)}"></span>

                          <aside class="col-auto">
                            <i (click)="onDeleteRulePerson(rule)"
                               class="fa fa-trash-o cursor-pointer ml-2 mr-1"></i>
                          </aside>
                        </section>
                      </li>
                      <li
                        class="person-role-combo-item list-unstyled row no-gutters col-12 col-lg-6 justify-content-between align-items-center align-content-center"
                        [ngClass]="{'col-xl-5': !isRuleRolePersonJoker(rule), 'col-xl-4': isRuleRolePersonJoker(rule)}">
                        <article class="person-role-combo-category row col-12 no-gutters">
                          <span class="leyend">completa el rol con una descripción</span>
                          <input id="rule_person_joker_desc_{{i}}"
                                 name="rule_person_joker_desc_{{i}}"
                                 type="text"
                                 class="form-control"
                                 [(ngModel)]="rule['category_name']"
                                 (change)="updateRulePersonRole(i)"
                                 (keyup)="onKeyUpRulePersonCategoryName()"
                                 placeholder="escribe un comentario relativo al rol">
                        </article>
                      </li>
                      <li
                        class="person-role-combo-item list-unstyled row  no-gutters col-xl-4 mt-lg-2 mt-xl-0 col-12 type-rule-person-min-max justify-content-between align-items-center align-content-start">
                        <article class="person-role-combo-minmax row col-12 no-gutters">
                          <span class="leyend">indica cuantas personas podrán ocupar el rol</span>
                        </article>
                        <ul *ngIf="showFirstStepRuleCombo(); else secondStepCombo"
                            class="person-role-combo-minmax list-unstyled row col-12 no-gutters justify-content-start align-content-start align-items-start">
                          <li
                            class="minmax-list-item btn-max-width list-unstyled row no-gutters col-4 justify-content-between align-items-center align-content-center">
                            <button id="minmax_btn_option_infinite_n_{{i}}"
                                    type="button"
                                    class="btn btn-secondary btn-block"
                                    (click)="selectComboOption(ruleComboOptions.max, i)"
                                    [ngClass]="{'active': isComboOptionActive(ruleComboOptions.max)}">
                              ∞
                            </button>
                          </li>

                          <li
                            class="minmax-list-item btn-max-width list-unstyled row no-gutters col-4 justify-content-between align-items-center align-content-center">
                            <button id="minmax_btn_option_minmax_n_{{i}}"
                                    type="button"
                                    class="btn btn-secondary btn-block"
                                    (click)="selectComboOption(ruleComboOptions.minmax, i)">
                              <aside class="slide-icon-component">
                                <span class="slide-line"></span>
                                <span class="slide-circle slide-circle-left"></span>
                                <span class="slide-circle slide-circle-right"></span>
                              </aside>
                            </button>
                          </li>
                          <li
                            class="minmax-list-item btn-max-width list-unstyled row no-gutters col-4 justify-content-between align-items-center align-content-center">
                            <button id="minmax_btn_option_equal_n_{{i}}"
                                    type="button"
                                    class="btn btn-secondary btn-block"
                                    (click)="selectComboOption(ruleComboOptions.equal, i)">
                              <aside class="slide-icon-component">
                                <span class="slide-line"></span>
                                <span class="slide-circle"></span>
                              </aside>
                            </button>
                          </li>
                        </ul>

                        <ng-template #secondStepCombo>
                          <ul
                            class="person-role-combo-minmax list-unstyled row col-12 no-gutters justify-content-start align-content-start align-items-center">
                            <li
                              class="col-auto no-gutters align-items-center justify-content-start align-content-start align-items-start">
                              <aside class="col-auto">
                                <i id="minmax_btn_option_back_n_{{i}}"
                                   class="fa fa-arrow-circle-o-left cursor-pointer"
                                   (click)="selectComboOption(-2)"></i>
                              </aside>
                            </li>
                            <li *ngIf="isComboOptionActive(ruleComboOptions.minmax)"
                                class="minmax-list-item btn-max-width list-unstyled row no-gutters col-3 justify-content-between align-items-center align-content-center">
                              <div class="btn btn-secondary btn-block active">
                                <aside class="slide-icon-component">
                                  <span class="slide-line"></span>
                                  <span class="slide-circle slide-circle-left"></span>
                                  <span class="slide-circle slide-circle-right"></span>
                                </aside>
                              </div>
                            </li>
                            <li *ngIf="isComboOptionActive(ruleComboOptions.equal)"
                                class="minmax-list-item btn-max-width list-unstyled row no-gutters col-3 justify-content-between align-items-center align-content-center">
                              <div class="btn btn-secondary btn-block active">
                                <aside class="slide-icon-component">
                                  <span class="slide-line"></span>
                                  <span class="slide-circle"></span>
                                </aside>
                              </div>
                            </li>
                            <li
                              class="minmax-input-box minmax-list-item list-unstyled row no-gutters col justify-content-between align-items-center align-content-center">
                              <div class="btn-group row col-12 no-gutters" data-toggle="buttons">
                                <label *ngIf="isComboOptionActive(ruleComboOptions.minmax)"
                                       class="minmax-label col-auto">entre</label>
                                <input id="rule_person_min_n_{{i}}"
                                       *ngIf="isComboOptionActive(ruleComboOptions.minmax)"
                                       class="form-control minmax-input col-3 text-center px-1 text-center"
                                       name="rule_person_min_n_{{i}}"
                                       type="number"
                                       (change)="changeMinRulePersonRole(i)"
                                       (keyup)="onKeyUpMinRulePersonRole(i, $event)"
                                       [(ngModel)]="rule['min']"/>
                                <label *ngIf="isComboOptionActive(ruleComboOptions.minmax)"
                                       class="minmax-label col-auto">y</label>
                                <input id="rule_person_max_n_{{i}}"
                                       class="form-control minmax-input col-3 text-center px-1 text-center "
                                       [ngClass]="{'no-rounded-right': isComboOptionActive(ruleComboOptions.minmax), 'ml-2': !isComboOptionActive(ruleComboOptions.minmax)}"
                                       name="rule_person_max_n_{{i}}"
                                       type="number"
                                       (change)="changeMaxRulePersonRole(i)"
                                       (keyup)="onKeyUpMaxRulePersonRole(i, $event)"
                                       [(ngModel)]="rule['max']"/>
                                <label *ngIf="isComboOptionActive(ruleComboOptions.minmax)"
                                       class="btn btn-infinite btn-secondary col-auto mb-0 btn-md cursor-pointer"
                                       (click)="setMax(i)">
                                  <input id="rule_person_max_check_{{i}}"
                                         class="px-1 text-center"
                                         type="checkbox"
                                         autocomplete="off">∞
                                </label>
                              </div>
                            </li>
                          </ul>
                        </ng-template>
                      </li>
                    </ul>
                    <aside *ngIf="showAlertAreaCombo(i)"
                           class="col layer-alert-area-combo">
                    </aside>
                  </div>
                </article>
              </li>
            </ul>
          </div>

          <footer *ngIf="isDraggingEventEnabled('drag_container') && isPillAccepted('role')"
                  [dragula]="'drag_container'"
                  [dragulaOptions]="dragOptions"
                  [attr.add-new-rol-rule-mate]="'true'"
                  [attr.data-accept-pills]="'role'"
                  [ngClass]="{'isDragging': isDraggingEventEnabled('drag_container') && isPillAccepted('role')}"
                  class="drop-area-tt-person-role-rules drop-area"></footer>

          <div
            *ngIf="showMultiRoleSection()"
            class="mt-3">
            <header class="pb-2">
              <p class="rule-person-role-multi" i18n>Dar la posibilidad de atribuir varios roles a una persona como:</p>
            </header>

            <ul class="list-unstyled row col-12 no-gutters justify-content-start align-content-start align-items-start">
              <li *ngFor="let ruleMulti of getTeamTypeRulesPersonMultiple()"
                  class="list-rule-element-multi list-unstyled rounded row no-gutters col-lg-auto col-12 justify-content-between align-items-center align-content-center rulerol-draggable-element">

                <article
                  class="rule-person-role-element list-unstyled row col-lg-auto col no-gutters justify-content-start align-content-start align-items-start">
                  <ul class="rule-person-role-multi-name row col-12 no-gutters align-items-center">
                    <li *ngFor="let rolesMulti of ruleMulti['child_roles']"
                        class="list-unstyled rounded col-lg-auto col no-gutters justify-content-between align-items-center align-content-center">
                      <div class="rule-person-role-drag-zone"
                           [ngClass]="{'no-drag-zone': isMasterInUse()}">
                        <span [innerHtml]="rolesMulti['name']"></span>
                      </div>
                    </li>
                  </ul>
                </article>

                <aside *ngIf="!isMasterInUse()"
                       class="col-auto no-gutters align-items-center ml-1 mr-2">
                  <i (click)="onDeleteRulePerson(ruleMulti)"
                     class="fa fa-times-circle-o cursor-pointer"></i>
                </aside>
              </li>

              <li *ngIf="!isMasterInUse()"
                class="list-rule-element-multi list-unstyled  rounded row no-gutters col-lg-auto col-12 justify-content-between align-items-center align-content-center rulerol-draggable-element"
                [ngClass]="{'conformable' : isNewRulePersonRoleMultiConformable(), 'no-suggestion': hasTeamTypeRulesPersonMultiple()}">

                <article
                  class="rule-person-role-element rule-person-role-suggestion list-unstyled row col-lg-auto col no-gutters justify-content-start align-content-start align-items-start mr-2">
                  <ul class="rule-person-role-multi-name row col-12 no-gutters align-items-center">
                    <li *ngFor="let rolesMulti of getNewRolesPersonToCreateRule(), let dragIdx = index"
                        class="list-unstyled rounded col-lg-auto col no-gutters justify-content-between align-items-center align-content-center new-drag-double-roles-rule-person">
                      <div [dragula]="'drag_container_multi'"
                           [dragulaOptions]="dragOptions"
                           [attr.data-accept-pills]="'role'"
                           [attr.add-new-corole-rule-mate]="!isNewRulePersonRoleMultiConformable()"
                           [attr.data-drag-zone-index]="dragIdx"
                           [ngClass]="{'isDragging': isDraggingEventEnabled('drag_container_multi') && isPillAccepted('role')}"
                           class="rule-person-role-drag-zone">
                        <span [innerHtml]="rolesMulti['name']"></span>
                      </div>
                    </li>
                  </ul>
                  <span *ngIf="!isNewRulePersonRoleMultiConformable() && !hasTeamTypeRulesPersonMultiple()"
                        class="co-roles-text col-12">arrastra un role en esa área para crear otro co-roles</span>
                </article>

                <aside class="rule-person-role-suggestion-action cursor-pointer list-unstyled row col-auto no-gutters text-center justify-content-center align-content-center align-items-center">
                  <i class="fa fa-check-circle-o "
                     (click)="createMultiRolRule()"></i>
                  <span *ngIf="!isNewRulePersonRoleMultiConformable() && !hasTeamTypeRulesPersonMultiple()"
                        class="co-roles-text col-12">o usa este</span>
                </aside>
              </li>

            </ul>
          </div>
          <ng-template #noPersonRules>
            <h6 class="placeholder-empty mt-5 mb-5 text-center">No hay reglas de personas configuradas</h6>
          </ng-template>

        </article>

      </section>
      <!-- END PERSON RULES -->

      <!-- TEAM TYPES RULES -->
      <section class="list-rule-block rules-tt-team-type"
               *ngIf="isTeamTypeCreated()">

        <header class="header-list-rule-area pb-3">
          <i class="fa fa-lg fa-users pr-2"></i>
          <span>Subteams que constituyen [{{teamTypeOnWizard['name']}}]</span>
        </header>
        <article class="tt-type-team-elements">
          <div *ngIf="hasTeamTypeSubTeamsRules(); else noTeamTypesRules">
            <ul class="list-unstyled">
              <li *ngFor="let element of getTeamTypeSubTeamsRules(); let i = index;"
                  [ngClass]="{'toggled': ruleTeamTypeIsToggled(i), 'no-editable': isMasterInUse()}"
                  class="rule-tt-team-type-element no-show-dragging">
                <header class="row no-gutters justify-content-between align-items-center">
                  <h6 class="col"[ngClass]="{'cursor-pointer': !isMasterInUse()}"
                      (click)="setTeamTypeIsToggledIndex(i)"
                      [innerHtml]="getChildTeamName(element)"></h6>
                  <aside *ngIf="ruleTeamTypeIsToggled(i)"
                         class="col-auto">
                    <i class="fa fa-pencil mx-2 not-allowed"
                    (click)="functionalityNotImplemented('Funcionalidad pendiente de ESPECIFICACIONES.')"></i>
                    <!--<i data-toggle="popover"-->
                       <!--trigger="hover"-->
                       <!--data-placement="top"-->
                       <!--data-content="Para cambiar este tipo necesitas editar su plantilla. Afectará a todos los equipos que lo ocupa. Te aconsejamos crear un nuevo master element después de haber acabado con el proceso actual."-->
                       <!--class="fa fa-pencil mx-2"></i>-->
                    <i (click)="onDeleteRuleTeam(element)"
                       class="fa fa-trash-o mx-2 cursor-pointer"></i>
                  </aside>
                </header>
                <section class="rule-tt-team-type-element-body-extended"
                         *ngIf="ruleTeamTypeIsToggled(i) || isMasterInUse()">
                  <article
                    class="persons-in-rule-tt row no-gutters align-items-{{teamTypeHasRuleP(element) ? 'start' : 'center'}} row-rule-tt-team-type-element-body-extended">
                    <i class="fa fa-user-o col-auto mr-3"></i>
                    <section class="col">
                      <div *ngIf="teamTypeHasRuleP(element); else noRulePersonTT">
                        <ul
                          class="list-unstyled row no-gutters justify-content-start align-content-start align-items-start">
                          <li *ngFor="let rule of getRulePersonOnTeamTChild(element)"
                              class="elements-list-detail-tt-type-team row no-gutters justify-content-between align-items-center">
                            <span [innerHtml]="getAllRolesFromRulePerson(rule)"></span>
                            <span class="ml-2"
                                  [innerHtml]="getQuantityFromRulePerson(rule)"></span>
                          </li>
                        </ul>
                      </div>
                      <ng-template #noRulePersonTT>
                        <p class="placeholder-empty px-2">Este master element no tiene reglas de personas
                          configuradas</p>
                      </ng-template>
                    </section>
                  </article>
                  <article
                    class="tt-in-rule-tt row no-gutters align-items-start row-rule-tt-team-type-element-body-extended">
                    <i class="fa fa-users col-auto mr-2"></i>
                    <section class="col">
                      <div *ngIf="teamTypeHasRuleTeamT(element); else noRulePersonRtt">
                        <ul
                          class="list-unstyled row no-gutters justify-content-start align-content-start align-items-start">
                          <li *ngFor="let ruleT of getRuleTeamtOnTeamTChild(element)"
                              class="elements-list-detail-tt-type-team row no-gutters justify-content-between align-items-center">
                            <span [innerHtml]="getRuleTeamTName(ruleT)"></span>
                          </li>
                        </ul>
                      </div>
                      <ng-template #noRulePersonRtt>
                        <p class="placeholder-empty px-2">Este master element no tiene reglas de subteams configuradas</p>
                      </ng-template>
                    </section>
                  </article>

                </section>
              </li>
            </ul>
          </div>
          <ng-template #noTeamTypesRules>
            <h6 class="placeholder-empty mt-5 mb-3 text-center">No hay reglas de subteams configuradas</h6>
          </ng-template>
          <footer [dragula]="'drag_container'"
                  [dragulaOptions]="dragOptions"
                  [attr.add-new-subteam-rule-team]="'true'"
                  [attr.data-accept-pills]="'team_type'"
                  [ngClass]="{'isDragging': isDraggingEventEnabled('drag_container') && isPillAccepted('team_type')}"
                  class="drop-area-tt-team-type-rules drop-area"></footer>
        </article>
      </section>
      <!-- END TEAM TYPES RULES -->

    </article>


    <article *ngIf="!isMasterInUse()" class="col-lg-3 col-12 roles-dashboard"
             [ngClass]="{'visibleOnMobile': showDragOptionsOnMobile}">

      <header *ngIf="showDragOptionsOnMobile"
              class="row no-gutters align-items-start justify-content-start align-items-center mb-3">
        <aside (click)="closeDragOptionsOnMobile()"
               class="cursor-pointer hover-blue">
          <i class=" fa fa-angle-left mr-3"></i>
          <span>Volver a la página principal</span>
        </aside>
      </header>

      <aside *ngIf="showAddNewRoleArea"
             class="hover-layer">
        <section class="roles-dashboard-popup row no-gutters">
          <section class="roles-dashboard-content col-lg-4 col-8 offset-lg-4 offset-2">
            <header>
              <i (click)="addNewRole()"
                 class="fa fa-lg fa-times-circle-o cursor-pointer mr-2"></i>
              <span>Crear nuevo rol</span>
            </header>
            <section class="mt-2 mb-3">
              <input type="text"
                     class="form-control"
                     placeholder="Nombre"
                     name="name_new_role"
                     maxlength="255"
                     [(ngModel)]="newRol['name']"
                     (keyup)="checkDuplicityNewRolName()"
                     required/>
              <p class="mt-3 mb-2">categoría</p>
              <app-search-component [data]="roleClasses"
                                    [externalConfig]="setSearchAddNewRolConfig()"
                                    (onClickElementEvent)="onSelectCategory($event)"></app-search-component>
            </section>
            <app-button-component [externalConfig]="createNewRolConfig()"
                                  [disabled]="!isValidNewRolForm()"
                                  (outputEvent)="onCreateNewRol()"></app-button-component>

            <p *ngIf="hasErrorNewRolForm()"
               class="text-danger mt-2 p-2"
               [innerHtml]="errorCreatingRol">
            </p>
          </section>
        </section>

      </aside>
      <app-search-component [data]="serializeDragAndDropList()"
                            [externalConfig]="setSearchRolesDashboardConfig()"
                            [restart]="restartSearchComponent"
                            (outputEvent)="getResponseSearchRolesDashboardComponent($event)"></app-search-component>

      <section class="mt-3 mb-3 tabs-component">
        <ul class="list-unstyled row no-gutters justify-content-start align-content-center align-items-center text-overflow">
          <li *ngFor="let tab of tabs"
              (click)="onClickTab(tab.id)"
              [ngClass]="{'active': !searchingDashboard && tabIdSelected(tab.id), 'search-disabled': searchingDashboard}"
              class="col-6 tab-option text-center">
            <i class="fa fa-{{tab.icon}}"></i>
            <p class="m-0"
               [innerHtml]="tab.name"></p>
          </li>
        </ul>
      </section>

      <section *ngIf="hideFirstItemDropInList()" class="header-sidebar">

        <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                    optionLabel="title"
                    placeholder="Selecciona una opción"
                    [(ngModel)]="selectedDropdownOption"
                    [options]="dropdownOptions"
                    (ngModelChange)="elementsOnThisCategoryFiltered($event)">
        </p-dropdown>

      </section>

      <section *ngIf="hideFirstItemDropInList()" class="header-sidebar row no-gutters justify-content-center align-content-center align-items-center col-8 offset-2">

        <div class="btn-group">
          <button type="button"
                  class="btn btn-secondary special-rol-btn"
                  [ngClass]="{'active': jokerRulePersonComboActived && !addingNewRoleActived,
                  'not-allowed': !isTeamTypeCreated()}"
                  (click)="toggleRulePersonCombo()">
            <i class="fa fa-user-secret"></i> Comodín
          </button>
          <button type="button"
                  class="btn btn-secondary special-rol-btn"
                  [ngClass]="{'active': addingNewRoleActived && !jokerRulePersonComboActived}"
                  (click)="addNewRole()">
            <i class="fa fa-plus border-circle"></i>
          </button>
        </div>
      </section>

      <section [ngClass]="{'team-types-options': tabSelectedId === 2, 'search-size': searchingDashboard}"
               id="categories-container"
               (scroll)="onScrollTabCategories($event)"
               class="categories-container">
        <section *ngIf="getDragAndDropListCategories().length > 0; else categoriesEmpty">
          <article class="category-roles-list"
                   *ngFor="let category of getDragAndDropListCategories(); let i = index;">
            <div *ngIf="thereAreResultsFiltered">
              <h6 class="m-0 mt-4 mb-3"
                  *ngIf="tabSelectedId === 1 && !searchingDashboard"
                  [innerHtml]="category.name | uppercase"></h6>
              <ul [dragula]="'drag_container'"
                  *ngIf="categoryWithOptions(category); else noOptionsOnCategory"
                  [dragulaOptions]="dragOptions"
                  class="list-unstyled row justify-content-start align-content-start align-items-start">
                <li *ngFor="let option of category.options"
                    [hidden]="!isOptionAvailable(option)"
                    class="col-12 rol-draggable-element row no-gutters justify-content-center align-content-center align-items-center rounded"
                    [ngClass]="{'draggable-teamt' : option.type == _categoriesDefinition.groups.dragType, 'full-size': searchingDashboard, 'drag-ready': elementIsReadyToBeDrag(option)}"
                    (click)="setActiveToDrag(option)"
                    [attr.data-type-option]="option.type"
                    [attr.data-id-option]="option.id">

                  <p *ngIf="option.type == _categoriesDefinition.role_class.dragType; else teamt_tab_item"
                     class="m-0 col-12 text-center text-overflow">
                    <span [innerHtml]="option.name"></span>
                  </p>
                  <ng-template #teamt_tab_item
                               class="draggable-teamt row no-gutters justify-content-start align-content-start align-items-start">

                    <i class="fa teamt-icon-left col-auto no-show-dragdrop"
                       [ngClass]="getIconForTeamType(option)"></i>
                    <span [innerHtml]="option.name"
                          class="col text-overflow px-2"></span>
                    <i id="tab_tooltip_teamt_n_{{option.id}}"
                       (mouseover)="showTooltipFullTeamMembers(option)"
                       (mouseout)="showTooltipFullTeamMembers(option)"
                       class="fa fa-eye teamt-icon-left col-auto text-center cursor-pointer circle-bg no-show-dragdrop"></i>
                  </ng-template>
                </li>
              </ul>
              <ng-template #noOptionsOnCategory>
                <p class="placeholder-empty mt-3 mb-3">No hay opciones para esta categoría.</p>
              </ng-template>
            </div>
          </article>
        </section>
        <ng-template #categoriesEmpty>
          <aside *ngIf="searchingDashboard">
            <p class="placeholder-empty mt-3 mb-3">No hay opciones a mostrar.</p>
          </aside>
        </ng-template>

      </section>


    </article>
  </section>

  <section [ngClass]="{'no-visibility': !teamTypePopoverEyeIsSelected() || teamTypeTooltipScrolling}">
    <aside id="tooltipTeamType"
           class="tooltip-full-team-type tooltip-team-type-fixed list-drag-items no-show-dragdrop"
           [style.top]="teamTypeTooltipPosition['top']+'px'"
           [style.left]="teamTypeTooltipPosition['left']+'px'">
      <section>
        <h6 [innerHtml]="teamTypeTooltipEntity['name']"></h6>
        <section class="all-roles row no-gutters align-items-start">
          <div class="col-1">
            <i class="fa fa-user-o"></i>
          </div>
          <article class="col-11">
            <div *ngIf="teamTypeByIdHasRuleP(teamTypeTooltipEntity['id']); else noTeamtRulePersonTooltip">
              <div *ngFor="let rulePerson of getTeamTypeById(teamTypeTooltipEntity['id'])['rule_person']"
                   class="row no-gutters align-items-center mb-2">
                <div class="col-10 pr-2">
                  <p class="text-overflow"
                     [innerHtml]="getAllRolesFromRulePerson(rulePerson)"></p>
                </div>
                <div class="col-2">
                  <p class="quantity"
                     [innerHtml]="getQuantityFromRulePerson(rulePerson)"></p>
                </div>
              </div>
            </div>
            <ng-template #noTeamtRulePersonTooltip>
              <p class="placeholder-empty px-3">No hay roles</p>
            </ng-template>
          </article>
        </section>
        <section class="all-team-types row no-gutters align-items-start">
          <div class="col-1">
            <i class="fa fa-users"></i>
          </div>
          <article class="col-11">
            <div *ngIf="teamTypeByHasOneSubTeamAtLeast(teamTypeTooltipEntity['id']); else noTeamtSubTeamsTooltip">
              <div *ngFor="let ruleTeam of getTeamTypeById(teamTypeTooltipEntity['id'])['rule_teamt']"
                   class="row no-gutters align-items-center mb-2">
                <p class="col-9 text-overflow"
                   [innerHtml]="getRuleTeamTName(ruleTeam)"></p>
              </div>
            </div>
            <ng-template #noTeamtSubTeamsTooltip>
              <p class="placeholder-empty px-3">No hay subteams</p>
            </ng-template>
          </article>
        </section>
        <aside class="arrow-up"></aside>
      </section>
    </aside>
  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)"></app-confirm-dialog-component>
</section>

