<section [id]="getComponentId()"
         [hidden]="!visible"
         class="person-widget-component general-widget">

  <article class="row no-gutters align-items-start">

    <div class="col-8 no-gutters">
      <span class="widget-title">PERSONAS</span>
    </div>

    <div class="col-4 no-gutters">
      <span class="widget-value">{{total_mates}}</span>
    </div>

  </article>

  <article class="row no-gutters">

    <div class="col-8 no-gutters">
      <span class="widget-description">{{number_mates_manager}} gestores</span>
    </div>

    <div class="col-4 no-gutters">
      <span class="widget-description-value">{{number_mates}} mates</span>
    </div>

  </article>

</section>
