/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, ul, li,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
.section-area {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }
  .section-area.container {
    max-width: 1400px;
    width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.hover-blue:hover {
  color: #2196F3;
  border-color: #2196F3 !important; }

.hover-blue.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-hover-blue {
  cursor: pointer; }
  .btn-hover-blue.btn-secondary:hover {
    color: #2196F3;
    border-color: #2196F3 !important;
    background-color: #FFF; }
  .btn-hover-blue.btn-secondary:focus {
    box-shadow: none; }
  .btn-hover-blue.btn-secondary:active {
    color: #FFF;
    border-color: #0277BD !important;
    background-color: #2196F3; }

.hover-blue-no-border:hover {
  color: #2196F3; }

.hover-blue-no-border.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-link-default {
  color: #555555 !important;
  text-decoration: underline !important; }
  .btn-link-default:hover {
    color: #2196F3 !important; }

.text-overflow {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; }
  .text-overflow.h1 {
    line-height: 1.5; }
  .text-overflow:hover {
    white-space: inherit; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.relative-area {
  position: relative; }

.thumbnail {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid #FFF; }
  .thumbnail.img-avatar {
    width: 35px;
    height: 35px;
    background: #FFF; }

.no-visibility {
  visibility: hidden; }

.hidden {
  display: none; }

.btn.btn-regular {
  padding: 0.5625rem 1rem; }

.btn.btn-fat {
  padding: 1rem 0.5rem; }

.btn.btn-simple {
  background: transparent;
  font-size: .8rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #9E9E9E;
  padding: .5rem .25rem;
  text-align: center; }

input.itext, textarea.itext {
  background: none;
  border: none;
  border-bottom: 1px solid #3b3b3b;
  padding: .25rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  /* firefox 19+ */ }
  input.itext::-webkit-input-placeholder, textarea.itext::-webkit-input-placeholder {
    font-style: italic; }
  input.itext::-moz-placeholder, textarea.itext::-moz-placeholder {
    font-style: italic; }
  input.itext:-ms-input-placeholder, textarea.itext:-ms-input-placeholder {
    font-style: italic; }
  input.itext input:-moz-placeholder, textarea.itext input:-moz-placeholder {
    font-style: italic; }
  input.itext.name-input, textarea.itext.name-input {
    font-size: 1.5rem;
    margin: 0 0 .75rem; }
  input.itext:active, textarea.itext:active {
    background: #E3F2FD;
    color: #2196F3; }
  input.itext:focus, textarea.itext:focus {
    background: #E3F2FD;
    border-color: #2196F3;
    outline: none; }
  input.itext:hover, textarea.itext:hover {
    background: #E3F2FD;
    border-color: #2196F3; }
  input.itext.description-input, textarea.itext.description-input {
    font-size: .85rem; }
  input.itext.capitalize, textarea.itext.capitalize {
    text-transform: capitalize; }
  input.itext.invalid-field, textarea.itext.invalid-field {
    border-color: #d9534f; }
    input.itext.invalid-field:active, textarea.itext.invalid-field:active {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:focus, textarea.itext.invalid-field:focus {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:hover, textarea.itext.invalid-field:hover {
      border-color: #d9534f;
      background: #F5DBD9; }
  input.itext:read-only, input.itext:disabled, input.itext.disabled, textarea.itext:read-only, textarea.itext:disabled, textarea.itext.disabled {
    background: #ececec;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    /* firefox 19+ */ }
    input.itext:read-only::-webkit-input-placeholder, input.itext:disabled::-webkit-input-placeholder, input.itext.disabled::-webkit-input-placeholder, textarea.itext:read-only::-webkit-input-placeholder, textarea.itext:disabled::-webkit-input-placeholder, textarea.itext.disabled::-webkit-input-placeholder {
      font-size: inherit; }
    input.itext:read-only::-moz-placeholder, input.itext:disabled::-moz-placeholder, input.itext.disabled::-moz-placeholder, textarea.itext:read-only::-moz-placeholder, textarea.itext:disabled::-moz-placeholder, textarea.itext.disabled::-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:-ms-input-placeholder, input.itext:disabled:-ms-input-placeholder, input.itext.disabled:-ms-input-placeholder, textarea.itext:read-only:-ms-input-placeholder, textarea.itext:disabled:-ms-input-placeholder, textarea.itext.disabled:-ms-input-placeholder {
      font-size: inherit; }
    input.itext:read-only input:-moz-placeholder, input.itext:disabled input:-moz-placeholder, input.itext.disabled input:-moz-placeholder, textarea.itext:read-only input:-moz-placeholder, textarea.itext:disabled input:-moz-placeholder, textarea.itext.disabled input:-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:active, input.itext:disabled:active, input.itext.disabled:active, textarea.itext:read-only:active, textarea.itext:disabled:active, textarea.itext.disabled:active {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only:focus, input.itext:disabled:focus, input.itext.disabled:focus, textarea.itext:read-only:focus, textarea.itext:disabled:focus, textarea.itext.disabled:focus {
      background: #ececec;
      color: inherit; }
    input.itext:read-only:hover, input.itext:disabled:hover, input.itext.disabled:hover, textarea.itext:read-only:hover, textarea.itext:disabled:hover, textarea.itext.disabled:hover {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only.invalid-field, input.itext:disabled.invalid-field, input.itext.disabled.invalid-field, textarea.itext:read-only.invalid-field, textarea.itext:disabled.invalid-field, textarea.itext.disabled.invalid-field {
      border-color: #3b3b3b; }
      input.itext:read-only.invalid-field:active, input.itext:disabled.invalid-field:active, input.itext.disabled.invalid-field:active, textarea.itext:read-only.invalid-field:active, textarea.itext:disabled.invalid-field:active, textarea.itext.disabled.invalid-field:active {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:focus, input.itext:disabled.invalid-field:focus, input.itext.disabled.invalid-field:focus, textarea.itext:read-only.invalid-field:focus, textarea.itext:disabled.invalid-field:focus, textarea.itext.disabled.invalid-field:focus {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:hover, input.itext:disabled.invalid-field:hover, input.itext.disabled.invalid-field:hover, textarea.itext:read-only.invalid-field:hover, textarea.itext:disabled.invalid-field:hover, textarea.itext.disabled.invalid-field:hover {
        border-color: #3b3b3b;
        background: #ececec; }
  input.itext:disabled, input.itext.disabled, textarea.itext:disabled, textarea.itext.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: alpha(opacity=50); }

textarea.itext {
  border: 1px solid #3b3b3b;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem; }

input.iblue.iblue:active, button.iblue.iblue:active {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:focus, button.iblue.iblue:focus {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:hover, button.iblue.iblue:hover {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue-light:active, button.iblue.iblue-light:active {
  background: #E3F2FD;
  color: #2196F3; }

input.iblue.iblue-light:focus, button.iblue.iblue-light:focus {
  background: #E3F2FD;
  border-color: #2196F3; }

input.iblue.iblue-light:hover, button.iblue.iblue-light:hover {
  background: #E3F2FD;
  border-color: #2196F3; }

label.col-form-label.label-itext {
  padding-top: calc(.5rem - 3px * 2);
  padding-bottom: calc(.5rem - 1px * 2);
  margin-bottom: 0; }

label.invalid-label {
  color: #d9534f; }

.not-allowed.cursor-pointer {
  cursor: not-allowed; }

.not-allowed.not-allowed-cover {
  position: relative; }
  .not-allowed.not-allowed-cover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 0; }
  .not-allowed.not-allowed-cover::after {
    content: "No disponible";
    position: absolute;
    color: #D0011B;
    left: 50%;
    top: 40%;
    font-size: 1.2rem;
    z-index: 11;
    -webkit-transform: rotate(-22.5deg) translate(-50%, -50%);
    -moz-transform: rotate(-22.5deg) translate(-50%, -50%);
    -ms-transform: rotate(-22.5deg) translate(-50%, -50%);
    -o-transform: rotate(-22.5deg) translate(-50%, -50%);
    transform: rotate(-22.5deg) translate(-50%, -50%); }

.error-field {
  color: #d9534f;
  font-size: .8rem;
  position: absolute;
  line-height: 1.1;
  margin-top: 0.125rem; }

.datatable-leyend {
  padding: .35rem 2rem .35rem .5rem;
  border: 1px solid #FAFAFA;
  box-shadow: 1px 4px 7px 1px #bac0ca;
  display: inline-block;
  font-size: .95rem; }
  @media (max-width: 768px) {
    .datatable-leyend {
      padding: .35rem .5rem;
      display: block;
      margin-top: .5rem; } }

.team-mates-area .team-mates-work-area .info-team-mates-zone {
  min-height: 2rem;
  padding: 0.35rem 0rem .5rem; }
  .team-mates-area .team-mates-work-area .info-team-mates-zone .info-zone-title {
    font-size: .75rem; }

.team-mates-area .team-mates-work-area .edition-team-mates-area {
  position: relative;
  overflow: hidden; }
  .team-mates-area .team-mates-work-area .edition-team-mates-area .sidebar-box-area {
    position: relative;
    min-height: 85vh;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .team-mates-area .team-mates-work-area .edition-team-mates-area .sidebar-box-area.hide-area {
      left: -25%;
      -webkit-box-flex: 0;
      -webkit-flex: 0;
      -ms-flex: 0;
      flex: 0;
      max-width: 0%; }
    .team-mates-area .team-mates-work-area .edition-team-mates-area .sidebar-box-area .sidebar-container {
      padding: 0 .5rem 1rem 1.75rem; }
  .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area {
    position: relative;
    left: 0;
    min-height: 85vh;
    background: #F7F7F7;
    padding: 1rem 3.75rem;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-fullpage {
      position: absolute;
      left: 1rem;
      top: 1rem; }
      .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-fullpage .fa {
        font-size: 1.5rem; }
    .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box {
      max-width: 100%;
      margin: 0 auto; }
      .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .search-main-team-mates .search-box-component {
        margin: 0 auto;
        max-width: 40rem; }
      .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates {
        position: relative; }
        .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-top {
          position: relative;
          top: .5rem;
          color: #636c72;
          height: 1rem;
          margin-left: -.5rem;
          overflow: hidden;
          z-index: 2; }
          .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-top .top-toggle-btn {
            padding-right: .5rem; }
          .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-top .top-leyend {
            font-size: 0.75rem;
            padding-right: 1rem; }
          .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-top .top-line {
            height: 1px;
            background: #636c72; }
        .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-box {
          z-index: 1;
          background: white;
          height: auto;
          overflow: hidden;
          max-height: 200px;
          -webkit-transition: max-height .3s ease-in-out;
          -moz-transition: max-height .3s ease-in-out;
          -ms-transition: max-height .3s ease-in-out;
          -o-transition: max-height .3s ease-in-out;
          transition: max-height .3s ease-in-out; }
          .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-box .header-main-info {
            padding: .75rem 0; }
            .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-box .header-main-info li {
              font-size: 0.75rem;
              padding-right: .75rem; }
              .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-box .header-main-info li .team-about-detail {
                padding-left: .15rem; }
          .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-box .header-main-btn-group {
            padding: .75rem 0;
            margin-left: 5rem; }
            .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-box .header-main-btn-group li {
              margin: 0 .25rem; }
          .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .header-main-team-mates .header-main-box.toggle-up {
            max-height: 0; }
      .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .graph-area {
        background: #FFF; }
        .team-mates-area .team-mates-work-area .edition-team-mates-area .main-team-mates-area .main-team-mates-box .graph-area app-team-notes-chart-component {
          width: 100%; }

.team-mates-area .soft-loader {
  position: absolute;
  top: 85%;
  left: 59%;
  left: calc(70% - 185px);
  z-index: 12;
  background: #DDD;
  padding: 1rem;
  border: 1px solid #E0E0E0;
  width: 185px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px #9E9E9E;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .team-mates-area .soft-loader i.fa-pulse-16 {
    -webkit-animation: fa-spin 1s infinite steps(16);
    animation: fa-spin 1s infinite steps(16); }
  .team-mates-area .soft-loader p {
    margin: .25rem 0 0;
    font-size: .9rem; }

.tree-node-element.gu-transit .text-center-on-drag, .tree-node-element.gu-mirror .text-center-on-drag {
  text-align: center; }

.tree-node-element.gu-transit.hidden-on-drag, .tree-node-element.gu-transit .hidden-on-drag, .tree-node-element.gu-mirror.hidden-on-drag, .tree-node-element.gu-mirror .hidden-on-drag {
  display: none; }

.tree-node-element.gu-transit .show-on-drag, .tree-node-element.gu-mirror .show-on-drag {
  display: block !important; }

.tree-node-element.gu-transit .tree-node-block .tree-node, .tree-node-element.gu-mirror .tree-node-block .tree-node {
  padding: .5rem; }
  .tree-node-element.gu-transit .tree-node-block .tree-node .node-drag-item, .tree-node-element.gu-mirror .tree-node-block .tree-node .node-drag-item {
    font-size: 1rem;
    color: #2196F3;
    padding-right: .5rem; }
  .tree-node-element.gu-transit .tree-node-block .tree-node .team-circle-element, .tree-node-element.gu-mirror .tree-node-block .tree-node .team-circle-element {
    font-size: 0.75rem;
    padding-right: .5rem;
    padding-top: .25rem; }
  .tree-node-element.gu-transit .tree-node-block .tree-node .tree-node-name, .tree-node-element.gu-mirror .tree-node-block .tree-node .tree-node-name {
    font-size: 1rem; }

.tree-node-element.gu-transit .tree-node-block::before, .tree-node-element.gu-mirror .tree-node-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  width: 1px;
  height: 80%;
  border-left: 2px solid #ccc;
  z-index: 2; }

.api-loader {
  font-size: .75rem;
  color: #636c72; }
