@import '../../assets/sass/sass.files';

.team-mates-area{
  .team-mates-work-area{
    .info-team-mates-zone{
      min-height: 2rem;
      padding: 0.35rem 0rem .5rem;
      .info-zone-title{
        font-size: .75rem;
      }
    }

    .edition-team-mates-area{
      position: relative;
      overflow: hidden;
      .sidebar-box-area{
        position: relative;
        min-height: 85vh;
        left: 0;
        @include transition(all .3s ease-in-out);
        &.hide-area{
          left: -25%;
          -webkit-box-flex: 0;
          -webkit-flex: 0;
          -ms-flex: 0;
          flex: 0;
          max-width: 0%;
        }
        .sidebar-container {
          padding: 0 .5rem 1rem 1.75rem;
        }
      }
      .main-team-mates-area{
        position: relative;
        left: 0;
        min-height: 85vh;
        background: $gray-bg;
        padding: 1rem 3.75rem;
        z-index: 2;
        @include transition(all .3s ease-in-out);
        .main-team-mates-fullpage{
          position: absolute;
          left: 1rem;
          top: 1rem;
          .fa{
            font-size: 1.5rem;
          }
        }
        .main-team-mates-box{
          max-width: 100%;
          margin: 0 auto;
          .search-main-team-mates{
            .search-box-component{
              margin: 0 auto;
              max-width: 40rem;
            }
          }
          .header-main-team-mates{
            position: relative;
            .header-main-top{
              position: relative;
              top:.5rem;
              color: $gray2;
              height: 1rem;
              margin-left: -.5rem;
              overflow: hidden;
              z-index: 2;
              .top-toggle-btn{
                padding-right: .5rem;
              }
              .top-leyend{
                font-size: 0.75rem;
                padding-right: 1rem;
              }
              .top-line{
                height: 1px;
                background: $gray2;
              }
            }
            .header-main-box{
              z-index: 1;
              background: white;
              height: auto;
              overflow: hidden;
              max-height: 200px;
              -webkit-transition: max-height .3s ease-in-out;
              -moz-transition: max-height .3s ease-in-out;
              -ms-transition: max-height .3s ease-in-out;
              -o-transition: max-height .3s ease-in-out;
              transition: max-height .3s ease-in-out;
              .header-main-info{
                padding: .75rem 0;
                li{
                  font-size: 0.75rem;
                  padding-right: .75rem;
                  .team-about-title{

                  }
                  .team-about-detail{
                    padding-left: .15rem;
                  }
                }
              }
              .header-main-btn-group{
                padding: .75rem 0;
                margin-left: 5rem;
                li{
                  margin: 0 .25rem;
                }
              }
              &.toggle-up{
                max-height: 0;
              }
            }
          }

          .graph-area {
            app-team-notes-chart-component {
              width: 100%;
            }
            background: $white;
          }
        }
      }
    }
  }
  .soft-loader {
    position: absolute;
    top: 85%;
    left: 59%;
    left: calc(70% - 185px);
    z-index: 12;
    background: $gray-light2;
    padding: 1rem;
    border: 1px solid $gray300;
    width: 185px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px $gray;

    @include border-radius(5px);
    i {
      &.fa-pulse-16{
        -webkit-animation: fa-spin 1s infinite steps(16);
        animation: fa-spin 1s infinite steps(16);
      }
    }
    p {
      margin: .25rem 0 0;
      font-size: .9rem;
    }
  }
}

//Drag&Drop styles
.tree-node-element {
  &.gu-transit, &.gu-mirror {
    .text-center-on-drag {
      text-align: center;
    }
    &.hidden-on-drag, .hidden-on-drag {
      display: none;
    }
    .show-on-drag {
      display: block !important;
    }
    .tree-node-block{
      .tree-node{
        padding: .5rem;
        .node-drag-item{
          font-size: 1rem;
          color: $blue;
          padding-right: .5rem;
        }
        .team-circle-element{
          font-size: 0.75rem;
          padding-right: .5rem;
          padding-top: .25rem;
        }
        .tree-node-name{
          font-size: 1rem;
        }
      }
      &::before{
        content:"";
        position: absolute;
        left: 0;
        top: 5%;
        width: 1px;
        height: 80%;
        border-left: 2px solid $border-color;
        z-index: 2;
      }
    }

  }
}

.api-loader{
  font-size: .75rem;
  color: $gray2;
}
