<section *ngIf="isAllowed()"
         class="team-mates-area">
  <section class="team-mates-work-area row no-gutters justify-content-between align-items-start">

    <article class="col-12 row edition-team-mates-area no-gutters">
      <article class="col-xl-2 col-lg-3 col-12 sidebar-box-area"
               [ngClass]="{'hide-area': mainFullPage}">

        <section class="p-2">

          <app-tree-team-group-component #teamsTreeComponent
                                         mode="teams"
                                         (onSelectNodeEvent)="onChangeTreeComponentSelectedNode($event)">

          </app-tree-team-group-component>

        </section>

        <section class="row col-12 no-gutters p-2 note-chart-area">

          <app-tree-team-group-component #groupsTreeComponent
                                         mode="groups"
                                         (onSelectNodeEvent)="onChangeTreeComponentSelectedNode($event)">

          </app-tree-team-group-component>

        </section>
      </article>

      <article class="col-12 no-gutters main-team-mates-area col-lg-9"
               [ngClass]="{'col-lg-9': !mainFullPage}">
        <aside class="main-team-mates-fullpage">
          <i class="fa fa-arrows-alt fa-lg cursor-pointer hover-blue hidden-md-down"
             (click)="onToggleFullMain()"></i>
        </aside>

        <section class="main-team-mates-box">

          <article *ngIf="hasUniqueTeamSelected()"
                   class="header-main-team-mates">

            <section class="header-main-top">
              <aside class="row no-gutters align-items-center">
                <i class="top-toggle-btn col-auto fa fa-plus-square-o cursor-pointer no-hover-color"
                   [ngClass]="{'fa-plus-square-o': !statusHeaderMainInfo, 'fa-minus-square-o': statusHeaderMainInfo}"
                   (click)="toggleHeaderMainInfo($event)"></i>
                <span class="top-leyend col-auto text-overflow">Acerca del {{getNameOfUniqueSelected()}}</span>
                <span class="top-line col"></span>
              </aside>
            </section>

            <section class="header-main-box row col no-gutters"
                     [ngClass]="{'toggle-up': !statusHeaderMainInfo}">
              <ul class="header-main-info list-unstyled col row no-gutters align-items-center">
                <li>
                  <span class="team-about-title">Master: </span>
                  <span class="team-about-detail" [innerHtml]="getMasterOfUniqueSelected()"></span>
                </li>
                <li>
                  <span class="team-about-title">Grupo: </span>
                  <span class="team-about-detail" [innerHtml]="getGroupOfUniqueSelected()"></span>
                </li>
                <li>
                  <span class="team-about-title">Fecha de creación: </span>
                  <span class="team-about-detail" [innerHtml]="getDateOfUniqueSelected('created_at')"></span>
                </li>
                <li>
                  <span class="team-about-title">Fecha de terminación: </span>
                  <span class="team-about-detail" [innerHtml]="getDateOfUniqueSelected('end_date')"></span>
                </li>
                <li>
                  <span class="team-about-title">Lugar: </span>
                  <span class="team-about-detail" [innerHtml]="getLocationsOfUniqueSelected()"></span>
                </li>
              </ul>

              <ul class="header-main-btn-group list-unstyled col-auto row no-gutters justify-content-between align-items-start">
                <li><i class="fa fa-pencil cursor-pointer hover-blue"
                       pTooltip="Editar equipo" tooltipPosition="top"
                       (click)="goToEditTeam()"></i></li>
                <li><i class="fa fa-plus-square-o cursor-pointer hover-blue"
                       pTooltip="Nuevo equipo" tooltipPosition="top"
                       (click)="goToNewTeam()"></i></li>
                <li><i *ngIf="isDeleteableTeam()" class="fa fa-trash-o cursor-pointer hover-blue"
                       pTooltip="Eliminar equipo" tooltipPosition="top"
                       (click)="onClickDeleteTeam()"></i></li>
              </ul>
            </section>
          </article>

          <article *ngIf="hasUniqueTeamSelected()"
                   class="row col-12 no-gutters mt-2 graph-area">
            <div class="row col-12">
              <span class="col-auto mt-2 ml-2 text-overflow">Desempeño del equipo {{getNameOfUniqueSelected()}}</span>
              <app-team-notes-chart-component [team]="getUniqueTeamSelected()"></app-team-notes-chart-component>
            </div>
          </article>

          <article class="search-main-team-mates mt-2">

            <span *ngIf="hasUniqueTeamSelected()"
                  class="col-auto mt-2 ml-2 text-overflow">Lista de los mates del equipo {{getNameOfUniqueSelected()}}</span>

            <section class="search-box-component mt-2">
              <app-search-component #searchMateFilterComponent
                                    [data]="getSearchMateData()"
                                    [restart]="restartSearchMate()"
                                    [externalConfig]="getSearchMateFilterConfig()"
                                    (outputEvent)="onBlurSearchMateFilter($event)"
                                    (onClickElementEvent)="onClickSearchMateFilter($event)"></app-search-component>
            </section>

            <section class="filter-by-class-section mt-3 text-center">

              <app-filter-component #teamRoleFilter
                                    [externalConfig]="getTeamRoleFilterConfig()"
                                    [restart]="restartTeamRoleFilter"
                                    (outputEvent)="onChangeTeamRoleFilter($event)">

              </app-filter-component>

            </section>
          </article>

          <app-team-mate-tree-component [data]="teamMatesFiltered"
                                        (onActionSelectedEvent)="onClickMate($event)"></app-team-mate-tree-component>
        </section>
      </article>
    </article>
  </section>

  <aside *ngIf="softLoader" class="soft-loader text-center">
    <i class="fa fa-repeat fa-pulse-16 fa-lg"></i>
    <p>cargando datos</p>
  </aside>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)"></app-confirm-dialog-component>
</section>
