<!--<ul>-->
  <!--<li *ngFor="let course of getShowNotificationsList()">-->
    <!--<span>{{course.title}}</span>-->
    <!--<span>{{course.description}}</span>-->
    <!--<span>{{course.url}}</span>-->
  <!--</li>-->
<!--</ul>-->
