@import "../../../../../assets/sass/sass.files";

.favourite-tree-team-group-component {
  padding: 0;

  .placeholder-empty{
    font-size: .9rem;
  }
}

.tree-node-element {
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid $border-color;
  border-left: 2px solid $border-color;
  &.selected {
    background: $blue;
    border-color: $blue;
  }
  &.not-selectable {
    cursor: default;
  }

  .node-circle-element{
    background: transparent;
    font-size: 0.75rem;
    i.fa{
      padding: 0.25rem 0.35rem 0 0;
    }
  }

  .node-drag-element{
    background: transparent;
    font-size: 0.75rem;
    i.fa{
      padding: 0.25rem 0.35rem 0 0;
      color: $blue;
      &.selected {
        color: $white;
      }
    }
  }

  .node-name{
    background: transparent;
    &.selected {
      color: $white;
    }
  }

  .node-counter {
    background: transparent;
    font-size: .75rem;
    text-align: center;
    padding: 0 0.35rem;
    &.selected {
      color: $white;
    }
  }
}
