<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid no-gutters mt-2 favourite-tree-team-group-component">

  <section class="tree-element">
    <ul *ngIf="hasData(); else defaultSidebar"
        class="element-container row no no-gutters list-unstyled"
        [dragula]="'bag-items'"
        [dragulaModel]="data">
      <li *ngFor="let node of data, let i = index"
          class="row col-12 tree-node-element no-gutters align-items-start justify-content-between cursor-pointer"
          [ngClass]="{'selected': isSelectedNode(node), 'not-selectable': isMate()}"
          (click)="onToggleSelectedNode(node)">

        <div class="col-auto node-drag-element">
          <i class="fa fa-lg fa-th-list"
             [ngClass]="{'selected': isSelectedNode(node)}"></i>
        </div>

        <div class="col-auto node-circle-element">
          <i class="fa fa-circle"
             [style.color]="node.colour"></i>
        </div>

        <div class="col node-name text-overflow"
             [ngClass]="{'selected': isSelectedNode(node)}">
          <span>{{node.name}}</span>
        </div>

        <div class="col-auto justify-content-end node-counter noselect"
             [ngClass]="{'selected': isSelectedNode(node)}">
          <span>{{node.num_mates}}</span>
        </div>
      </li>
    </ul>

    <ng-template #defaultSidebar>
      <!--<ng-template #emptySidebar>-->
        <p class="placeholder-empty pl-2">No hay {{getComponentMode()}} para esta opción.</p>
      <!--</ng-template>-->
    </ng-template>

  </section>

</section>
