@import "../../../../assets/sass/sass.files";

.gestor-scope-area{
  .gestor-scope-work-area{
    .gestor-scope-header{
      min-height: 3rem;
      padding: 0.35rem .75rem .5rem;
      .gestor-scope-backto{
        position: absolute;
        font-size: 2rem;
        line-height: 2rem;
        padding: 0 .5rem;
        z-index: 7;
      }
      h5{
        font-size: 1.2rem;
      }
    }
    .gestor-scope-panel{
      margin: 1rem auto 2rem;
      max-width: 992px;
      padding: 0 1rem;
      .gestor-scope-panel-leyend{
        padding: 0 .5rem;
      }
      .gestor-scope-panel-title{
        margin: .75rem 0 1rem;
        padding: 0 .5rem;
        h6{
          font-weight: 600;
        }
      }
      .gestor-scope-panel-box{
        .gestor-scope-search{
          .all-teams-filter{
            background: $gray300;
            padding: 0.5rem 1rem;
            font-size: .9rem;
          }
          .combo-teams-filter{
            padding: .5rem;
            .fa-input{
              position: absolute;
              top: .5rem;
              right: .75rem;
            }
          }
        }
        .gestor-scope-table{
          .combo-teams-leyend{
            font-size: 0.85rem;
            margin: .5rem 0 1rem;
          }
          .gestor-scope-search-table{
          }
          .gestor-search-scroll-pagination{
            background: $gray400;
            font-size: .9rem;
            padding: 0.5rem 1rem;
          }
          .search-table-loading{
            font-size: .9rem;
            padding: 0.5rem 1rem;
          }
          .search-table-empty{
            font-size: .9rem;
            padding: 0.5rem 1rem;
          }
        }
      }
      .unmanaged-search-cover-bg{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 ;
        width: 100%;
        width: 100vw;
        height: 100vh;
        z-index: 7;
        color: $black;
        background: $black_03;
      }
    }
  }
  .bring-to-front{
    z-index: 7;
    background: $white;
  }
}
