<section class="gestor-scope-area" *ngIf="isAllowed()">

  <section class="gestor-scope-work-area row no-gutters justify-content-between align-items-start">

    <header class="gestor-scope-header col-12 row no-gutters align-items-center text-center">
      <aside class="gestor-scope-backto cursor-pointer hover-blue"
             (click)="goBackTo()">
        <i class="fa fa-angle-left mr-1"></i>
      </aside>

      <h5 class="col-12">Scope del gestor "{{getUserEmail()}}"</h5>
    </header>


    <article class="col-12 row gestor-scope-panel no-gutters">
      <section class="row no-gutters align-items-start d-flex justify-content-center">
        <h6 class="gestor-scope-panel-leyend">Listado de equipos administrados por el gestor</h6>

        <section class="gestor-scope-panel-title col-12 no-gutters">
          <h6>Equipos</h6>
        </section>

        <aside *ngIf="hasUnmanagedTeamsToShow()"
               (click)="toggleSearchCover()"
               class="unmanaged-search-cover-bg"></aside>

        <section class="gestor-scope-panel-box col-12 row no-gutters"
                 [ngClass]="{'bring-to-front': hasUnmanagedTeamsToShow()}">

          <!--filter-scope-->
          <section class="gestor-scope-search col-12 row no-gutters">
            <aside class="all-teams-filter col-12 align-items-center">
              <p-checkbox [ngModel]="allTeamsMode.value"
                          (ngModelChange)="onChangeAllTeams($event)"
                          binary="true"
                          label="{{allTeamsMode.label}}"></p-checkbox>
            </aside>

            <div class="combo-teams-filter row col-12 no-gutters align-items-start justify-content-start">
              <section class="col-md-6 col-12 no-gutters">
                <aside class="pr-md-2 py-xs-2">
                  <input class="itext col-12"
                         placeholder="Busca un equipo aquí..."
                         (keyup)="filterUnmanagedTeams()"
                         (focus)="filterUnmanagedTeams()"
                         [(ngModel)]="searchTeamOptions.name">
                  <i *ngIf="showCloseOptionSelected('name')"
                     (click)="resetSearchInput($event, 'name')"
                     class="fa-input fa fa-right fa-front fa-close cursor-pointer"></i>
                </aside>
              </section>

              <section class="col-md-4 col-12 no-gutters mt-md-0 mt-2">
                <aside class="pr-md-2 py-xs-2">
                  <input class="itext col-12 disabled"
                         (keyup)="filterUnmanagedTeams()"
                         (focus)="filterUnmanagedTeams()"
                         readonly
                         placeholder="Donde ej. Madrid, España"
                         disabled
                         [(ngModel)]="searchTeamOptions.location">
                  <i *ngIf="showCloseOptionSelected('location')"
                     (click)="resetSearchInput($event, 'location')"
                     class="fa-input fa fa-right fa-front fa-close cursor-pointer"></i>
                </aside>
              </section>

              <section class="col-md-2 col-12 no-gutters mt-md-0 mt-2">
                <aside class="py-xs-2">
                  <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                              [options]="dropdownOptions"
                              [(ngModel)]="selectedDropdownOption"
                              (ngModelChange)="onClickDropdownTeam($event)">
                  </p-dropdown>
                </aside>
              </section>
            </div>
          </section>
          <!--end filter-scope-->


          <section class="gestor-scope-table col-12 no-gutters">
            <!--teams managed-->
            <section *ngIf="!hasUnmanagedTeamsToShow(); else searchMode">
              <div class="combo-teams-leyend">
                <aside [hidden]="!hasTeamsManaged()"
                       class="text-right">
                  {{getTeamManagedTotalCount()}} equipo/s en el scope
                </aside>
              </div>

              <article *ngIf="hasTeamsManaged(); else noTeamsAvailable">
                <app-team-managed-cell-component #teamsComponent
                                                 *ngFor="let team of getManagedTeams()"
                                                 [team]="team"
                                                 [isCascade]="isTeamManagedCascade(team)"
                                                 [hidden]="!isAvailableTeam(team)"
                                                 (outputEvent)="onChildComponentEvent($event, true)">
                </app-team-managed-cell-component>
              </article>

              <ng-template #noTeamsAvailable>
                <p *ngIf="!loading" class="placeholder-empty">No hay equipos disponibles</p>
              </ng-template>
            </section>
            <!--end teams managed-->

            <!--search table results-->
            <ng-template #searchMode>
              <section *ngIf="hasTeamUnmanaged()"
                       class="gestor-scope-search-table">
                <app-team-unmanaged-cell-component #unmamagedComponent
                                                   *ngFor="let unmanagedTeam of getUnmanagedTeams()"
                                                   [team]="unmanagedTeam"
                                                   [hidden]="!isAvailableTeam(unmanagedTeam)"
                                                   (outputEvent)="onChildComponentEvent($event)">
                </app-team-unmanaged-cell-component>
              </section>

              <section *ngIf="!loading && !hasTeamUnmanaged()">
                <aside class="search-table-empty">
                  No hay datos que mostrar.
                </aside>
              </section>

              <aside *ngIf="showScrollPaginator()"
                     class="gestor-search-scroll-pagination cursor-pointer hover-blue"
                     (click)="onClickScrollInfiniteSearchTable()">
                <span>Ver todos los resultados (<span [innerHtml]="getTeamUnmanagedTotalCount()"></span>) >></span>
              </aside>
            </ng-template>
            <!--end search table results-->
          </section>



        </section>

      </section>
    </article>
  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)">

  </app-confirm-dialog-component>
</section>

