@import "../../../../assets/sass/sass.files";

.day-range-datepicker-component {
  padding: 0;
  margin: 0;

  &.end {
    background: $gray-light2;
  }

  .date-input {
    .fa {
      cursor: pointer;
      background: transparent;
      border: none;
      color: $black;

      &.close-icon {
        position: absolute;
        width: 5%;
        right: 30px;
        bottom: 10px;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
