<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row no-gutters align-items-center justify-content-center day-range-datepicker-component"
         [ngClass]="{'end': mode === 'end'}">

  <div class="row col-12 no-gutters align-items-center justify-content-around date-input">

    <p-calendar #dayRangeDatepicker
                selectionMode="range"
                readonlyInput="true"
                dateFormat="dd/mm/yy"
                placeholder="Rango de fechas..."
                icon="fa-calendar"
                showIcon="true"
                showButtonBar="true"
                [inputStyleClass]="'has-close-icon'"
                [ngClass]="{'open-calendar': isOpen}"
                [minDate]="datePicker.minDate"
                [maxDate]="datePicker.maxDate"
                [monthNavigator]="true"
                [yearNavigator]="true"
                [yearRange]="datePicker.range"
                [locale]="datePicker.calendar"
                (onFocus)="onOpenCalendar()"
                (onClose)="onCloseCalendar()"
                (onSelect)="onChangeRange()"
                (onClearClick)="onUnselectDays()"
                [(ngModel)]="rangeDates"
                (ngModelChange)="onChangeRange()"></p-calendar>
    <i [hidden]="!showUnselectDaysButton()"
       class="fa fa-lg fa-times close-icon"
       (click)="onUnselectDays()">
    </i>
  </div>

  <!--<div class="row col-1 no-gutters align-items-center justify-content-around date-input">-->
    <!--<i [hidden]="!showUnselectDaysButton()"-->
       <!--class="fa fa-lg fa-times close-icon"-->
       <!--(click)="onUnselectDays()">-->
    <!--</i>-->
  <!--</div>-->

</section>

