@import '../../../assets/sass/sass.files';

.tab-header {
  padding: 0.75rem 0.75rem;
  display: inline-block;
  clear: both;

  .add-team-group-backto {
    position: absolute;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    z-index: 3;

    span {
      font-size: 1.2rem;
    }
  }

  h5 {
    font-size: 1.2rem;
  }
}

.issues-area-details {
  max-width: 1400px;
  margin: 2rem auto;
  padding: 0 .75rem;
  h6 {
    font-weight: 600;
    font-size: 1.15rem;
    border-left: 4px solid $blue;
    padding:  .15rem 0 .15rem .5rem;
    margin: 2rem 0;
    &.h6-workLog {
      border-left: 4px solid $green;
    }
  }
  ul {
    padding: 0 0 0 2rem;
    li {
      border-bottom: 1px solid $light-blue;
      margin: 0 0 .35rem;
      padding: .5rem .5rem;
      border-left: 4px solid $blue;
      span {
        &.span-title {
        }
        &.span-value {
          color: $blue;
          padding: 0 0 0 .5rem;
          font-weight: 600;
        }
      }
      &.workLog-item {
        margin: 0 0 .5rem;
        border-left: 4px solid $green300;
        border-bottom: 1px solid $light_green100;
        header {
          border-bottom: 1px solid $light_green100;
          padding: .15rem 0 .15rem 0;
          font-weight: 600;
          margin: 0 0 .75rem 0;
        }
        .body-card-worklog {
          p {
            width: 100%;
            margin: 0 0 .5rem;
            span:first-child{
              color: $gray800;
            }
          }
        }
      }
    }
  }
}
