<div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

  <aside class="row no-gutters align-items-center add-team-group-backto cursor-pointer hover-blue"
         (click)="goBackTo()">
    <i class="fa fa-angle-left mr-1"></i>
    <span class="text-overflow">Listado de issues</span>
  </aside>
</div>

<section class="issues-area-details">

  <h6>{{issue['name']}}</h6>
  <section class="info-basic-issue">
    <ul class="list-unstyled row no-gutters justify-content-between align-items-center">
      <li *ngFor="let basicInfoItem of basicInfoConfig"
          class="col-sm-5 col-12">
        <span [innerHtml]="basicInfoItem['name']+ ':'" class="col-auto span-title"></span>
        <span [innerHtml]="getIssueInfo(basicInfoItem)" class="col span-value"></span>
      </li>
    </ul>
  </section>

  <h6 class="h6-workLog">Registro de trabajo</h6>
  <section class="info-basic-issue">
    <ul class="row no-gutters justify-content-between align-items-center">
      <li *ngFor="let workLog of issue['worklog']"
          class="col-12 workLog-item row no-gutters justify-content-between align-items-center">

        <header class="col-12 row no-gutters justify-content-between align-items-center">
          <p class="col-sm-6 col-12 text-left">
            <span>Identificador: </span>
            <span>{{workLog['id']}}</span>
          </p>
          <p class="col-sm-6 col-12 text-right">
            <span>Tiempo total invertido: </span>
            <span>{{workLog['timeSpent']}}</span>
          </p>
        </header>
        <section class="body-card-worklog col-12 row no-gutters justify-content-between align-items-center">
          <div class="col-sm-6 col-12">
            <p>
              <span>Comentario: </span>
              <span>{{workLog['comment']}}</span>
            </p>
            <p>
              <span>Autor: </span>
              <span>{{workLog['author']['displayName']}}</span>
            </p>
          </div>
          <div class="col-sm-6 col-12">
            <p>
              <span>Inicio del registro: </span>
              <span>{{workLog['started']}}</span>
            </p>
            <p>
              <span>Última actualización del registro: </span>
              <span>{{workLog['updated']}}</span>
            </p>
          </div>
        </section>
      </li>
    </ul>
  </section>

</section>
