<section class="entry-detail-content entry-content">

  <article class="entry-detail-header entry-header">

    <ul class="header-menu-detail header-menu list-unstyled list-inline">
      <li class="list-inline-item">
        <i class="fa fa-pencil cursor-pointer hover-blue" *ngIf="isAvailableActions && isEnabledEdition" (click)="editEntryEmit()"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-trash cursor-pointer hover-blue" *ngIf="isAvailableActions && isEnabledEdition" (click)="deleteEntryEmit()"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-times cursor-pointer hover-blue" (click)="closeFormEmit()"></i>
      </li>
    </ul>

  </article>

  <section class="entry-detail-area entry-area">

    <section class="entry-detail-row entry-row">
      <h6 [innerHtml]="entry.title"></h6>

      <article class="entry-date-info row no-gutters align-items-start align-content-start">
        <span class="badge" [ngClass]="entryHtml.badge.class" [innerHtml]="entryHtml.badge.text"></span>
        <span class="date-info" [innerHtml]="entryHtml.date"></span>
      </article>
    </section>

    <section *ngIf="entryHtml.location" class="entry-detail-row entry-row">
      <i class="fa fa-lg fa-map-marker sublabel"></i>{{entryHtml.location}}
    </section>


    <section *ngIf="entryHtml.guests.length" class="entry-detail-row entry-row">
      <label><i class="fa fa-lg fa-user sublabel"></i>Participantes</label>

      <ul class="entry-guests list-unstyled list-inline">
        <li *ngFor="let guest of entryHtml.guests" class="list-inline-item">
          <span class="badge badge-default" [innerHtml]="guest.getNameFirstSurname()"></span>
        </li>
      </ul>
    </section>


    <section *ngIf="entryHtml.conference" class="entry-detail-row entry-row">
      <label>Videoconferencia</label>

      <p>Acceder a la videoconferencia</p>

      <aside class="entry-conference text-overflow">
        <a *ngIf="hasLinkConference()" class="cursor-pointer" [href]="entryHtml.conference" target="_blank" [innerHtml]="entryHtml.conference"></a>
        <i *ngIf="!hasLinkConference()" [innerHtml]="entryHtml.conference"></i>
      </aside>
    </section>


    <section class="entry-detail-row entry-row">
      <article [innerHtml]="entryHtml.description"></article>
    </section>

  </section>


</section>
