@import "../../../../../assets/sass/sass.files";
@import "../entry-common/common";

.entry-detail-content{
  .entry-detail-header{
    .header-menu-detail{
    }
  }

  .entry-detail-area{
    padding-top: .25rem;
    .entry-detail-row{
      h6{
        font-weight: bold;
        line-height: 1.2;
      }

      .entry-date-info{
        margin-top: .5rem;
        .badge{
          margin-right: .3rem;
        }
        .date-info{
          color: $font-gray-dark;
          font-size: .8rem;
        }
      }

      .entry-description{
        font-size: .95rem;
      }

      .entry-conference{
        i{
          font-size: .9rem;
          color: $font-gray-dark;
        }
        a{
          font-size: .9rem;
          color: $font-gray-dark;
          text-decoration: underline;
          &:hover {
            color: $blue;
          }
        }
      }
    }

  }
}
