<section *ngIf="show()"
         class="loader-component"
         [ngClass]="{'dark-cover': isGeneral() || isDenegation(), 'white-cover': isSoft()}">

  <aside *ngIf="isGeneral() || isDenegation()"
         class="general-loader-component item-loader-component">
    <div id="loading"></div>
    <span [innerHtml]="getMessage()"></span>
  </aside>

  <aside *ngIf="isSoft()"
         class="soft-loader-component item-loader-component">
    <i class="fa fa-repeat fa-pulse-16 fa-lg"></i>
    <span [innerHtml]="getMessage()"></span>
  </aside>
</section>
