@import "../../../../assets/sass/sass.files";

.loader-component{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1051;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;

  &.dark-cover{
    background: rgba(0,0,0,0.95);
  }
  &.white-cover{
    background: $white_02;
  }

  .item-loader-component{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%), 0);
    z-index: 1052;
    text-align: center;
  }

  .general-loader-component {
    justify-content: center;
    align-items: center;

    span {
      color: white;
      margin-top: 7.75rem;
      font-size: 1.25rem;
    }

    /* Animation */
    @-webkit-keyframes loading {
      to { -webkit-transform: rotate(360deg); }
    }
    @-moz-keyframes loading {
      to { -moz-transform: rotate(360deg); }
    }
    @-ms-keyframes loading {
      to { -ms-transform: rotate(360deg); }
    }
    @keyframes loading {
      to { transform: rotate(360deg); }
    }

    /* Loader (*/
    #loading {

      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: transparent;

      border-top: 4px solid #fff;
      border-right: 4px solid #fff;
      border-bottom: 4px solid #777;
      border-left: 4px solid #777;

      -webkit-animation: loading 1.2s infinite linear;
      -moz-animation: loading 1.2s infinite linear;
      -ms-animation: loading 1.2s infinite linear;
      animation: loading 1.2s infinite linear;
    }

    div {
      position: relative;
      top: 50%;
      left: 50%;
      margin: -20px 0 0 -20px;
    }
  }

  .soft-loader-component {
    background: $gray-light2;
    padding: 1.5rem 1rem;
    border: 1px solid $gray300;
    width: 185px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px $gray;

    @include border-radius(5px);
    i {
      &.fa-pulse-16{
        -webkit-animation: fa-spin 1s infinite steps(16);
        animation: fa-spin 1s infinite steps(16);
      }
    }
    span {
      margin: .25rem 0 0 .25rem;
      font-size: .9rem;
    }
  }
}
