<section class="container section-area issues-area">

  <header class="row mt-5 mb-2 no-gutters justify-content-end align-items-center">
    <div class="col-12">
      <h2 class="m-0 p-0">Listado de issues</h2>
    </div>
  </header>

  <ng-container *ngIf="isAllowed('issuesTableContainer')">
    <div class="col-12 no-gutters p-0 datatable">

      <p-dataTable #issuesDatatable
                   rowHover="true"
                   exportFilename="issues"
                   [value]="issues"
                   [paginator]="pagination.totalRecords > pagination.rows"
                   [lazy]="true"
                   [responsive]="true"
                   [rows]="pagination.rows"
                   [totalRecords]="pagination.totalRecords"
                   (onRowClick)="onClickIssue($event)"
                   (onLazyLoad)="loadIssuesLazy($event)">

        <p-header>
          <div class="ui-helper-clearfix">
            <button type="button"
                    pButton icon="fa-file-o"
                    iconPos="left"
                    label="Exportar tabla a CSV"
                    style="float:left"
                    (click)="onClickExportToCsv()">
            </button>
          </div>
        </p-header>

        <p-column styleClass="text-type width-25"
                  field="name"
                  header="Nombre"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-25"
                  field="timetracking.originalEstimate"
                  header="Tiempo estimado">
        </p-column>

        <p-column styleClass="text-type width-25"
                  field="timetracking.timeSpent"
                  header="Tiempo gastado">
        </p-column>

        <p-column styleClass="text-type width-25"
                  field="timetracking.remainingEstimate"
                  header="Tiempo restante">
        </p-column>

      </p-dataTable>

    </div>
  </ng-container>
</section>
