<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container tab-academic-area">

  <article class="col-12 no-gutters px-sidebar not-allowed not-allowed-cover empty-container">

  </article>

</section>
