/* You can add global styles to this file, and also import other style files */

body{
  width: 100%;
  overflow-x: hidden;
}
.bg-transparent{
  background-color: transparent;
}

.mouse-pointer span{
  color: #636c72;
}
.mouse-pointer:hover span{
  color: white;
}

.mouse-pointer:hover span.no-change{
  color: initial;
}

.no-rounded-left{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.no-rounded-right{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.no-rounded{
  border-radius:0;
}

.no-outline {
  outline: 0px auto -webkit-focus-ring-color;
}

button.mat-icon-button:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}

/* Dragula */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  font-size: .85rem;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  border: 1px solid #ddd;
  background: white;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.gu-mirror.no-show-dragging, .gu-mirror .no-show-dragdrop,
.gu-transit.no-show-dropping, .gu-transit .no-show-dragdrop {
  display: none !important;
}

.gu-mirror.no-render-dragging, .gu-mirror .no-render-dragdrop,
.gu-transit .no-render-dropping, .gu-transit .no-render-dragdrop {
  visibility: hidden !important;
}

.gu-mirror.show-on-drag {
  display: block !important;
}
