<section class="container teams-area section-area">

  <header class="row mt-5 mb-2 no-gutters justify-content-end align-items-center">
    <div class="col-12">
      <h2 class="m-0 p-0">Listado de equipos</h2>
    </div>

    <ng-container *ngIf="isAllowed('addTeamContainer')">
      <div class="col-12 mt-md-2 mt-sm-0 text-left">
        <button *ngIf="isAvailableCreateTeam()"
                (click)="createTeam()"
                class="btn btn-secondary cursor-pointer">
          <span>Crear un equipo</span>
        </button>
      </div>
    </ng-container>
  </header>


  <ng-container *ngIf="isAllowed('teamsTableContainer')">
    <div class="col-12 no-gutters p-0 datatable">

      <p-dataTable #teamsDatatable
                   rowHover="true"
                   exportFilename="teams"
                   [styleClass]="'no-selectable'"
                   [value]="teams"
                   [paginator]="pagination.totalRecords > pagination.rows"
                   [lazy]="true"
                   [responsive]="true"
                   [rows]="pagination.rows"
                   [totalRecords]="pagination.totalRecords"
                   (onLazyLoad)="loadTeamsLazy($event)">

        <p-header>
          <div class="mb-1 row no-gutters align-items-center align-content-between">
            <section class="col-md-4 col-12">
              <button type="button"
                      pButton
                      icon="fa-file-o"
                      iconPos="left"
                      style="float:left"
                      label="Exportar tabla a CSV"
                      (click)="onClickExportToCsv()">
              </button>
            </section>

            <section class="col-md-8 col-12 text-md-right text-left">
              <aside class="datatable-leyend">
                <i class="fa fa-info-circle pr-1"></i> Los equipos utilizados no pueden ser eliminados
              </aside>
            </section>
          </div>
        </p-header>

        <p-column styleClass="text-type width-20"
                  field="name"
                  header="Nombre"
                  [sortable]="true">
        </p-column>

        <p-column styleClass="text-type width-20"
                  field="teamt.name"
                  header="Master">
        </p-column>

        <p-column styleClass="text-type width-10"
                  field="assignPersons"
                  header="Mates">

          <ng-template pTemplate="header">
            <span>Mates</span>
            <!--<i class="fa fa-user" pTooltip="Personas asignadas" tooltipPosition="top"></i>-->
          </ng-template>

          <ng-template let-i="rowIndex" let-team="rowData" pTemplate="body">
            <span>{{getTeamAssignPersons(team)}}</span>
          </ng-template>

        </p-column>

        <p-column styleClass="text-type width-10"
                  field="subteams"
                  header="Subequipos">

          <ng-template pTemplate="header">
            <span>Subequipos</span>
            <!--<i class="fa fa-building" pTooltip="Equipos" tooltipPosition="top"></i>-->
          </ng-template>

          <ng-template let-i="rowIndex" let-team="rowData" pTemplate="body">
            <span>{{getTeamSubTeams(team)}}</span>
          </ng-template>

        </p-column>

        <p-column styleClass="text-type width-20"
                  field="teamDate"
                  header="{{teamDateType}}">

          <ng-template pTemplate="header">
            <p-dropdown dropdownIcon="fa fa-lg fa-angle-down"
                        [styleClass]="'datatable-header'"
                        [options]="dropdownOptions"
                        [(ngModel)]="selectedDropdownOption"
                        (ngModelChange)="onChangeDropdownOption()">
            </p-dropdown>
          </ng-template>

          <ng-template let-i="rowIndex" let-team="rowData" pTemplate="body">
            <span>{{getTeamDate(team)}}</span>
          </ng-template>

        </p-column>


        <p-column styleClass="hide-filter width-5">
          <ng-template let-i="rowIndex" let-team="rowData" pTemplate="body">
            <app-table-menu [id]="team['id']"
                            [removable]="isTeamRemovable(team)"
                            [deleteUrl]="'teams/'"
                            [goToUrl]="'/team/edit/'"
                            (outputEvent)="onTableMenuEvent($event)"></app-table-menu>
          </ng-template>
        </p-column>


        <ng-template pTemplate="emptymessage">
          <div *ngIf="teams.length === 0">
            <span>No hay resultados para mostrar.</span>
          </div>
        </ng-template>

      </p-dataTable>
    </div>
  </ng-container>

</section>
