@import '../../assets/sass/sass.files';

.modal {
  .modal-body{
    max-height: 600px;
    overflow: auto;
  }
  @media(max-width: 544px){
    background: #FFF;
    .modal-dialog {
      padding: 0;
      margin: 0;
      .modal-content {
        height: 100vh;
        .modal-body {
          overflow: auto;
          word-break: break-all;
        }
        .modal-footer {
          min-height: 3rem;
        }
      }
    }
  }
}

.classic-input-checkbox{
  width:18px;
  height: 18px;
}

.btn, i, a, input[type="checkbox"]{
  cursor: pointer;
}

.row-to-add-member{
  position: relative;
}
.hoverToDisableInput{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.65);
  z-index: 10;
}
.modal-footer{ position: relative; }

