<section class="tooltip-offservie">

</section>

<section [id]="config.id"
         class="tab-admin tab-domain-component row col-12 no-gutters {{css}} pr-2"
         [hidden]="!visible">

  <article class="tab-menu pl-2 col-lg-2 col-12 no-gutters align-items-start">
    <section class="tab-menu-content not-allowed not-allowed-cover">panel izquierdo</section>
  </article>

  <article class="tab-area col-lg-10 col-12 no-gutters pb-lg-2 align-items-start">
    <form #domainForm="ngForm"
          class="row col-xl-8 col-lg-10 col-12 no-gutters">
      <section class="form-block col-12">
        <header>Parámetros generales</header>
        <fieldset class="form-group row no-gutters">
          <div class="form-row col-12 row no-gutters align-items-center">
            <div class="col-md-7 col-12 no-gutters">
              <label for="name"
                     class="row-form-label"
                     [ngClass]="{'invalid-label': hasErrorInput(domainName)}">
                Nombre de dominio <span class="field-required">*</span>
              </label>
              <input id="name"
                     name="name"
                     required
                     type="text"
                     minlength="3"
                     maxlength="255"
                     class="form-control itext"
                     [ngClass]="{'invalid-field': hasErrorInput(domainName)}"
                     #domainName="ngModel"
                     [(ngModel)]="domain.name"
                     placeholder="Nombre del dominio">
              <span *ngIf="hasErrorInput(domainName)"
                    class="error-field" [innerHtml]="getErrorInput(domainName)"></span>
            </div>
          </div>

          <div class="form-row col-12 row no-gutters align-items-center">
            <div class="col-md-7 col-12 no-gutters">
              <label class="row-form-label">Url de dominio</label>
              <p class="url-domain">{{getUrlDomain()}}.txnet.es</p>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group row no-gutters">
          <div class="form-row col-12 row no-gutters align-items-start mb-1">
            <h6>Dirección del dominio</h6>
            <i class="fa fa-pencil cursor-pointer hover-blue ml-2"
               (click)="goToEditDomainLocation()"></i>
          </div>

          <article *ngIf="domain.hasMainLocation()">
            <div class="col-form-input col-12 no-gutters">
              <span class="">{{getDomainNameAndAddress()}}</span>
            </div>

            <div class="col-form-input col-12 no-gutters">
              <span class="">C.P. {{getDomainPostalCode()}}</span>
            </div>

            <div class="col-form-input col-12 no-gutters">
              <span class="">{{getDomainProvinceCountry()}}</span>
            </div>
          </article>

          <aside *ngIf="!domain.hasMainLocation()">
            <span><i>sin localización</i></span>
          </aside>


        </fieldset>

        <!--<fieldset class="form-group row no-gutters not-allowed not-allowed-cover">-->
          <!--<h6>Super admin</h6>-->
          <!--<div class="form-row col-12 row no-gutters align-items-center">-->
            <!--<div class="col-md-8 col-12 no-gutters">-->
              <!--<app-search-component #searchAdmin-->
                                    <!--[data]="getAdminsList()"-->
                                    <!--[restart]="adminsList.restart"-->
                                    <!--[defaultValue]="getAdminsListDefaultValue()"-->
                                    <!--[externalConfig]="getSearchAdminConfig()"-->
                                    <!--(outputEvent)="onClickSearchAdmin($event)"-->
                                    <!--(onClickElementEvent)="onSelectedAdmin($event)"></app-search-component>-->
            <!--</div>-->
          <!--</div>-->
        <!--</fieldset>-->


        <p class="info-required">* campos requeridos</p>
        <aside class="row no-gutters">
          <button (click)="updateDomain()"
                  [disabled]="apiCalled"
                  class="btn btn-secondary btn-block cursor-pointer submit-domain col-md-5 col-12 row no-gutters align-items-center justify-content-between">
            <span class="">Actualizar</span>
            <i class="fa fa-check-circle-o"></i>
          </button>
        </aside>

        <aside class="errors-form"[ngClass]="{'show-errors': showErrorFromMessage()}">
          <p>Hay campos requeridos sin rellenar</p>
        </aside>

      </section>
    </form>

  </article>
</section>
