@import '../../../../../assets/sass/sass.files';

.tab-laboral-academic-area {
  width: 100%;

  .tab-laboral-academic-main-area {
    width: 100%;

    .select-tab-buttons {
      border: none;
      border-top: 1px solid $gray-dark2;
      border-bottom: 1px solid $gray-dark2;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      p-selectButton {
        width: 100%;
      }
    }

    .select-tab-content {
      padding-top: 1rem;
    }
  }

  .tab-laboral-academic-rigth-panel {
    position: relative;
    min-height: 85vh;
    left: 0;

    .sidebar-container {
      border-top: 1px solid $white;
      padding-top: 2rem;
      &.bg-sidebar-gray {
        background: $gray-bg;
      }
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
    }
  }
}
