<section [id]="getComponentId()"
         [hidden]="!visible"
         class="tab-laboral-academic-area col-12 row no-gutters">

  <article class="col-md-9 col-12 no-gutters tab-laboral-academic-main-area">

    <section class="select-tab-buttons row no-gutters">

      <div class="col-11 no-gutters">
        <p-selectButton styleClass="select-button"
                        [options]="tabs"
                        (onOptionClick)="onTabSelected($event)"
                        [(ngModel)]="selectedTab"></p-selectButton>
      </div>

      <div *ngIf="selectedTab === 0"
           class="col-1 no-gutters align-self-center cursor-pointer hover-blue"
           pTooltip="Sincronizar con Linkedin"
           tooltipPosition="top"
           [ngClass]="{'not-allowed': isDisabledLinkedIn()}"
           (click)="onClickSynchLinkedin()">
        <i class="fa fa-lg fa-link mr-2"></i>
        <i class="fa fa-lg fa-linkedin-square"></i>
      </div>

    </section>

    <section class="select-tab-content">
      <ng-container *ngIf="isAllowed('tabLaboral')">
        <app-tab-laboral-component [hidden]="selectedTab !== 0"
                                   [laboralExperiences]="laboralExperiences"
                                   [person]="person"></app-tab-laboral-component>
      </ng-container>

      <ng-container *ngIf="isAllowed('tabAcademic')">
        <app-tab-academic-component [hidden]="selectedTab !== 1"></app-tab-academic-component>
      </ng-container>
    </section>

  </article>

  <article class="col-md-3 col-12 no-gutters tab-laboral-academic-rigth-panel px-sidebar not-allowed not-allowed-cover"
  (click)="functionalityNotImplemented(3)">
    <app-tab-laboral-academic-rigth-panel-component [person]="person"></app-tab-laboral-academic-rigth-panel-component>
  </article>

</section>
