<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid no-gutters team-notes-chart-component">

  <article *ngIf="notes.length !== 0"
           class="row col-12 no-gutters mb-2 graph-area">

    <p-chart #barChart
             type="bar"
             [data]="barChartNotes"
             [options]="barChartOptions">
    </p-chart>

  </article>

  <article *ngIf="notes.length === 0"
           class="row col-12 no-gutters mb-2 not-graph-area">
    <span class="not-data">El equipo {{this.team.name}} no tiene hitos.</span>
  </article>

</section>
