@import '../../../assets/sass/sass.files';

.team-notes-chart-component {
  width: 100%;
  padding: 0;
  margin: 0;

  p-chart {
    width: 100%;
  }

  .not-graph-area {
    span {
      width: 100%;
      &.not-data {
        text-align: center;
      }
    }
  }
}
