@import "../../../tabs.scss";

.add-team-group-component {
  .tab-header {
    padding: 0.75rem 0.75rem;
    display: inline-block;
    clear: both;

    .add-team-group-backto {
      position: absolute;
      font-size: 2rem;
      line-height: 2rem;
      padding: 0 .5rem;
      z-index: 3;

      span {
        font-size: 1.2rem;
      }
    }

    h5 {
      font-size: 1.2rem;
    }
  }

  .add-team-group-panel {

    app-input-validator {
      width: 100%;
    }

    .add-team-group-row {
      margin-top: 1rem;

      .delete-team-group {
        .fa {
          &.fa-times {
            margin-right: 1rem;
            color: transparent;
            &.visible {
              cursor: pointer;
              color: inherit;
              &:hover {
                color: $red;
              }
            }
          }
        }
      }

      .itext {
        outline: 0px;
      }
    }
  }

  .add-team-group-buttons {
    margin-top: 2rem;

    .cancel-button {
      cursor: pointer;
      margin-right: 2rem;
      text-decoration: underline;
      &:hover {
        color: $blue;
      }
    }
  }
}
