<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid row col-12 no-gutters p-0 pr-2 pt-2 add-team-group-component align-items-center justify-content-center">

  <div class="row col-12 no-gutters tab-header align-items-start justify-content-center">

    <aside class="row no-gutters align-items-center add-team-group-backto cursor-pointer hover-blue"
           (click)="goBackTo()">
      <i class="fa fa-angle-left mr-1"></i>
      <span class="text-overflow">Edición de grupos de equipo</span>
    </aside>
    <h5 class="row col-12 no-gutters justify-content-center">Crear nuevos grupos de equipo</h5>
  </div>

  <div class="row col-6 no-gutters add-team-group-panel align-items-start justify-content-center">

    <section *ngFor="let newTeamGroup of teamGroup; let i = index;"
             class="row col-12 add-team-group-row align-items-start justify-content-center">

      <div class="row col-1 no-gutters p-0 mt-2 delete-team-group justify-content-end">
        <i class="fa fa-times"
           [ngClass]="{'visible': isValidTeamGroup(i)}"
           (click)="deleteTeamGroup(i)"></i>
      </div>

      <div class="row col-4 no-gutters p-0 mt-4 mt-md-0">

        <app-input-validator [externalConfig]="getNameInputValidatorConfig()"
                             (errorEvent)="onInvalidTeamGroup($event, i)"
                             (outputEvent)="onValidTeamGroup($event, i)"></app-input-validator>
      </div>

    </section>

  </div>

  <section class="row col-12 no-gutters add-team-group-buttons align-items-center justify-content-center">

        <span class="cancel-button"
              (click)="goBackTo()">Cancelar</span>

    <button class="btn btn-secondary cursor-pointer"
            (click)="showConfirmDialog()">
      <span>Crear grupos de equipo</span>
    </button>
  </section>

  <app-confirm-dialog-component #confirmDialogComponent
                                [externalConfig]="getConfirmDialogSetup()"
                                (outputEvent)="onConfirmDialogResponse($event)">
  </app-confirm-dialog-component>

  <app-confirm-dialog-component #noCreateTeamGroupDialogComponent
                                [externalConfig]="getNoCreateTeamGroupDialogSetup()">
  </app-confirm-dialog-component>
</section>
