@import '../../assets/sass/sass.files';

.admin-area{
  .admin-work-area{
    .admin-header{
      min-height: 2rem;
      padding: 0.35rem .75rem .5rem;
      .admin-backto{
        font-size: 1.15rem;
      }
    }

    .admin-panel{
      margin: .5rem 0 1rem;
      padding: 0 1rem;
      @media (min-width: 768px) {
        padding: 0 1.5rem;
      }
      @media (min-width: 992px) {
        padding: 0;
      }

      p-selectbutton {
        width: inherit;
      }
    }
  }
}
