<section class="admin-area" *ngIf="isAllowed()">

  <section class="admin-work-area row no-gutters justify-content-between align-items-start">

    <article class="col-12 mt-5 admin-panel no-gutters">

      <p-selectButton class="mb-2"
                      [options]="tabs"
                      (onOptionClick)="onTabSelected($event)"
                      [(ngModel)]="selectedTab"></p-selectButton>

      <ng-container *ngIf="isAllowed('tabDomainComponent')">
        <app-tab-domain-component *ngIf="selectedTab === 0"></app-tab-domain-component>
      </ng-container>

      <ng-container *ngIf="isAllowed('tabUsersComponent')">
        <app-tab-users-component *ngIf="selectedTab === 1"></app-tab-users-component>
      </ng-container>

      <ng-container *ngIf="isAllowed('tabEntityComponent')">
        <app-tab-entity-component *ngIf="selectedTab === 2"></app-tab-entity-component>
      </ng-container>


    </article>
  </section>

</section>
