<section #searchComponent
         class="search-component {{getCss()}}"
         [id]="getId()"
         [ngClass]="{'search-active': hasFocus()}"
         (focusout)="onFocusout()"
         [hidden]="!visible">

  <aside class="search-hover"
         [ngClass]="{'search-active': showBackgroundCover(), 'focus-attention': showFocusAttention()}"
         (click)="onClickHover($event)"></aside>

  <article class="input-group"
           [ngClass]="{'mini-mode': isMiniSearch()}">
    <input #searchInput
           [attr.placeholder]="placeHolder"
           [ngClass]="getSearchInputCss()"
           (focus)="onFocus()"
           (keyup)="onKeyUpEvent()"
           [disabled]="disabled"
           [(ngModel)]="wordToFilter">

      <i *ngIf="showSelectabletIcon()"
         class="fa fa-right fa-lg fa-angle-{{showBackgroundCover() ? 'up' : 'down'}}"
         (click)="setShowListUnderMandatory()"></i>
      <i *ngIf="showSearchIcon()"
         class="fa fa-right fa-search"></i>
      <i *ngIf="isLoadingSearch()"
         [ngClass]="{'fa-second': showSearchIcon() || showSelectabletIcon() || showCloseOptionSelected()}"
         class="fa fa-right text-muted fa-spinner fa-pulse fa-fw"></i>
      <i *ngIf="showCloseOptionSelected()"
         (click)="unselectOption()"
         class="fa fa-right fa-front fa-close cursor-pointer"></i>
  </article>

  <article *ngIf="showResultList()"
           class="card rounded-0">
    <ul class="list-unstyled list-group">
      <li *ngFor="let element of dataFiltered; let i = index;"
          class="list-element-search-component list-item list-group-item mouse-pointer text-overflow"
          (click)="onClickResultListElement($event, element)">
        <span [innerHtml]="getElementValue(element)"
              class="text-overflow"></span>
      </li>
    </ul>
  </article>

  <article class="alert alert-info m-0 mt-2"
           role="alert"
           [hidden]="!showComponentErrorMessage()">
    <span [innerHtml]="getErrorMessage()"></span>
  </article>

</section>
