/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, ul, li,
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
.section-area {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }
  .section-area.container {
    max-width: 1400px;
    width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.hover-blue:hover {
  color: #2196F3;
  border-color: #2196F3 !important; }

.hover-blue.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-hover-blue {
  cursor: pointer; }
  .btn-hover-blue.btn-secondary:hover {
    color: #2196F3;
    border-color: #2196F3 !important;
    background-color: #FFF; }
  .btn-hover-blue.btn-secondary:focus {
    box-shadow: none; }
  .btn-hover-blue.btn-secondary:active {
    color: #FFF;
    border-color: #0277BD !important;
    background-color: #2196F3; }

.hover-blue-no-border:hover {
  color: #2196F3; }

.hover-blue-no-border.bg-gray:hover {
  background-color: #FAFAFA; }

.btn-link-default {
  color: #555555 !important;
  text-decoration: underline !important; }
  .btn-link-default:hover {
    color: #2196F3 !important; }

.text-overflow {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; }
  .text-overflow.h1 {
    line-height: 1.5; }
  .text-overflow:hover {
    white-space: inherit; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.relative-area {
  position: relative; }

.thumbnail {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid #FFF; }
  .thumbnail.img-avatar {
    width: 35px;
    height: 35px;
    background: #FFF; }

.no-visibility {
  visibility: hidden; }

.hidden {
  display: none; }

.btn.btn-regular {
  padding: 0.5625rem 1rem; }

.btn.btn-fat {
  padding: 1rem 0.5rem; }

.btn.btn-simple {
  background: transparent;
  font-size: .8rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #9E9E9E;
  padding: .5rem .25rem;
  text-align: center; }

input.itext, textarea.itext {
  background: none;
  border: none;
  border-bottom: 1px solid #3b3b3b;
  padding: .25rem;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  /* firefox 19+ */ }
  input.itext::-webkit-input-placeholder, textarea.itext::-webkit-input-placeholder {
    font-style: italic; }
  input.itext::-moz-placeholder, textarea.itext::-moz-placeholder {
    font-style: italic; }
  input.itext:-ms-input-placeholder, textarea.itext:-ms-input-placeholder {
    font-style: italic; }
  input.itext input:-moz-placeholder, textarea.itext input:-moz-placeholder {
    font-style: italic; }
  input.itext.name-input, textarea.itext.name-input {
    font-size: 1.5rem;
    margin: 0 0 .75rem; }
  input.itext:active, textarea.itext:active {
    background: #E3F2FD;
    color: #2196F3; }
  input.itext:focus, textarea.itext:focus {
    background: #E3F2FD;
    border-color: #2196F3;
    outline: none; }
  input.itext:hover, textarea.itext:hover {
    background: #E3F2FD;
    border-color: #2196F3; }
  input.itext.description-input, textarea.itext.description-input {
    font-size: .85rem; }
  input.itext.capitalize, textarea.itext.capitalize {
    text-transform: capitalize; }
  input.itext.invalid-field, textarea.itext.invalid-field {
    border-color: #d9534f; }
    input.itext.invalid-field:active, textarea.itext.invalid-field:active {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:focus, textarea.itext.invalid-field:focus {
      border-color: #d9534f;
      background: #F5DBD9; }
    input.itext.invalid-field:hover, textarea.itext.invalid-field:hover {
      border-color: #d9534f;
      background: #F5DBD9; }
  input.itext:read-only, input.itext:disabled, input.itext.disabled, textarea.itext:read-only, textarea.itext:disabled, textarea.itext.disabled {
    background: #ececec;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
    /* firefox 19+ */ }
    input.itext:read-only::-webkit-input-placeholder, input.itext:disabled::-webkit-input-placeholder, input.itext.disabled::-webkit-input-placeholder, textarea.itext:read-only::-webkit-input-placeholder, textarea.itext:disabled::-webkit-input-placeholder, textarea.itext.disabled::-webkit-input-placeholder {
      font-size: inherit; }
    input.itext:read-only::-moz-placeholder, input.itext:disabled::-moz-placeholder, input.itext.disabled::-moz-placeholder, textarea.itext:read-only::-moz-placeholder, textarea.itext:disabled::-moz-placeholder, textarea.itext.disabled::-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:-ms-input-placeholder, input.itext:disabled:-ms-input-placeholder, input.itext.disabled:-ms-input-placeholder, textarea.itext:read-only:-ms-input-placeholder, textarea.itext:disabled:-ms-input-placeholder, textarea.itext.disabled:-ms-input-placeholder {
      font-size: inherit; }
    input.itext:read-only input:-moz-placeholder, input.itext:disabled input:-moz-placeholder, input.itext.disabled input:-moz-placeholder, textarea.itext:read-only input:-moz-placeholder, textarea.itext:disabled input:-moz-placeholder, textarea.itext.disabled input:-moz-placeholder {
      font-size: inherit; }
    input.itext:read-only:active, input.itext:disabled:active, input.itext.disabled:active, textarea.itext:read-only:active, textarea.itext:disabled:active, textarea.itext.disabled:active {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only:focus, input.itext:disabled:focus, input.itext.disabled:focus, textarea.itext:read-only:focus, textarea.itext:disabled:focus, textarea.itext.disabled:focus {
      background: #ececec;
      color: inherit; }
    input.itext:read-only:hover, input.itext:disabled:hover, input.itext.disabled:hover, textarea.itext:read-only:hover, textarea.itext:disabled:hover, textarea.itext.disabled:hover {
      border-color: #3b3b3b;
      background: #ececec;
      color: inherit; }
    input.itext:read-only.invalid-field, input.itext:disabled.invalid-field, input.itext.disabled.invalid-field, textarea.itext:read-only.invalid-field, textarea.itext:disabled.invalid-field, textarea.itext.disabled.invalid-field {
      border-color: #3b3b3b; }
      input.itext:read-only.invalid-field:active, input.itext:disabled.invalid-field:active, input.itext.disabled.invalid-field:active, textarea.itext:read-only.invalid-field:active, textarea.itext:disabled.invalid-field:active, textarea.itext.disabled.invalid-field:active {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:focus, input.itext:disabled.invalid-field:focus, input.itext.disabled.invalid-field:focus, textarea.itext:read-only.invalid-field:focus, textarea.itext:disabled.invalid-field:focus, textarea.itext.disabled.invalid-field:focus {
        border-color: #3b3b3b;
        background: #ececec; }
      input.itext:read-only.invalid-field:hover, input.itext:disabled.invalid-field:hover, input.itext.disabled.invalid-field:hover, textarea.itext:read-only.invalid-field:hover, textarea.itext:disabled.invalid-field:hover, textarea.itext.disabled.invalid-field:hover {
        border-color: #3b3b3b;
        background: #ececec; }
  input.itext:disabled, input.itext.disabled, textarea.itext:disabled, textarea.itext.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: alpha(opacity=50); }

textarea.itext {
  border: 1px solid #3b3b3b;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem; }

input.iblue.iblue:active, button.iblue.iblue:active {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:focus, button.iblue.iblue:focus {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue:hover, button.iblue.iblue:hover {
  background: #1057AA;
  border-color: #2196F3;
  color: #FFF; }

input.iblue.iblue-light:active, button.iblue.iblue-light:active {
  background: #E3F2FD;
  color: #2196F3; }

input.iblue.iblue-light:focus, button.iblue.iblue-light:focus {
  background: #E3F2FD;
  border-color: #2196F3; }

input.iblue.iblue-light:hover, button.iblue.iblue-light:hover {
  background: #E3F2FD;
  border-color: #2196F3; }

label.col-form-label.label-itext {
  padding-top: calc(.5rem - 3px * 2);
  padding-bottom: calc(.5rem - 1px * 2);
  margin-bottom: 0; }

label.invalid-label {
  color: #d9534f; }

.not-allowed.cursor-pointer {
  cursor: not-allowed; }

.not-allowed.not-allowed-cover {
  position: relative; }
  .not-allowed.not-allowed-cover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
    top: 0; }
  .not-allowed.not-allowed-cover::after {
    content: "No disponible";
    position: absolute;
    color: #D0011B;
    left: 50%;
    top: 40%;
    font-size: 1.2rem;
    z-index: 11;
    -webkit-transform: rotate(-22.5deg) translate(-50%, -50%);
    -moz-transform: rotate(-22.5deg) translate(-50%, -50%);
    -ms-transform: rotate(-22.5deg) translate(-50%, -50%);
    -o-transform: rotate(-22.5deg) translate(-50%, -50%);
    transform: rotate(-22.5deg) translate(-50%, -50%); }

.error-field {
  color: #d9534f;
  font-size: .8rem;
  position: absolute;
  line-height: 1.1;
  margin-top: 0.125rem; }

.datatable-leyend {
  padding: .35rem 2rem .35rem .5rem;
  border: 1px solid #FAFAFA;
  box-shadow: 1px 4px 7px 1px #bac0ca;
  display: inline-block;
  font-size: .95rem; }
  @media (max-width: 768px) {
    .datatable-leyend {
      padding: .35rem .5rem;
      display: block;
      margin-top: .5rem; } }

.search-component {
  position: relative;
  z-index: 2;
  width: 100%; }
  .search-component .search-hover {
    width: 0;
    height: 0;
    z-index: 1; }
    .search-component .search-hover.search-active {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0;
      width: 100vw;
      height: 100vh;
      z-index: 3;
      color: #000; }
      .search-component .search-hover.search-active.focus-attention {
        background: rgba(0, 0, 0, 0.6); }
  .search-component .card {
    position: absolute;
    width: 100%;
    max-height: 225px;
    overflow: auto;
    border: none;
    background: transparent;
    z-index: 4; }
    .search-component .card ul {
      background: transparent; }
      .search-component .card ul li.list-element-search-component {
        z-index: 4;
        cursor: pointer;
        font-size: .9rem;
        min-height: 25px;
        height: auto;
        line-height: 45px;
        padding: 0 .75rem;
        border: 1px solid #ccc;
        border-bottom-color: #FFF;
        box-shadow: 0 0 3px #E0E0E0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        .search-component .card ul li.list-element-search-component.text-overflow {
          line-height: 1.2rem; }
          .search-component .card ul li.list-element-search-component.text-overflow:hover {
            min-height: 40px; }
        .search-component .card ul li.list-element-search-component:last-child {
          border-bottom-color: #ccc; }
        .search-component .card ul li.list-element-search-component:hover {
          color: #000;
          background: #E3F2FD;
          border-color: #2196F3; }
          .search-component .card ul li.list-element-search-component:hover span {
            color: #2196F3; }
  .search-component .input-group.mini-mode i.fa {
    top: .125rem; }
  .search-component .input-group input {
    border: none;
    border-bottom: 1px solid #212121;
    border-radius: 0;
    background: #FAFAFA;
    font-size: .9rem;
    font-style: italic; }
    .search-component .input-group input.white-background {
      background: #FFF; }
    .search-component .input-group input.has-right-icon {
      padding-right: 2rem;
      padding-left: 1rem; }
    .search-component .input-group input.normal-style {
      font-style: normal; }
    .search-component .input-group input.text-overflow {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      line-height: 1.2; }
    .search-component .input-group input:hover {
      background: #E3F2FD;
      border-color: #2196F3; }
      .search-component .input-group input:hover::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #2196F3; }
      .search-component .input-group input:hover:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #2196F3;
        opacity: 1; }
      .search-component .input-group input:hover::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #2196F3;
        opacity: 1; }
      .search-component .input-group input:hover:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #2196F3; }
      .search-component .input-group input:hover i {
        z-index: 3;
        color: #2196F3; }
    .search-component .input-group input:focus {
      background: #E3F2FD;
      border-color: #2196F3; }
    .search-component .input-group input.mini-mode {
      padding: .2rem .5rem .15rem;
      font-size: .9rem; }
  .search-component .input-group i {
    z-index: 2;
    position: absolute;
    cursor: pointer; }
    .search-component .input-group i.fa {
      top: .5rem; }
      .search-component .input-group i.fa.fa-right {
        right: .5rem; }
        .search-component .input-group i.fa.fa-right.fa-second {
          right: 1.5rem; }
      .search-component .input-group i.fa.fa-front {
        z-index: 6; }
  .search-component.form-style .input-group input {
    padding: .25rem;
    font-size: 1rem; }
    .search-component.form-style .input-group input.has-right-icon {
      padding-right: 2rem;
      padding-left: 1rem; }
  .search-component.form-style .input-group i {
    top: .3rem; }
  .search-component.list-size-2x .card {
    width: 200%; }
    @media (max-width: 768px) {
      .search-component.list-size-2x .card {
        width: 100%; } }
  .search-component.list-size-3x .card {
    width: 300%; }
    @media (max-width: 768px) {
      .search-component.list-size-3x .card {
        width: 100%; } }
  .search-component.list-size-4x .card {
    width: 400%; }
    @media (max-width: 768px) {
      .search-component.list-size-4x .card {
        width: 100%; } }
  .search-component.search-active {
    z-index: 9; }
    .search-component.search-active .input-group i.fa {
      z-index: 3; }
  .search-component.invalid-field .input-group input {
    border-color: #d9534f; }
    .search-component.invalid-field .input-group input:active {
      border-color: #d9534f;
      background: #F5DBD9; }
    .search-component.invalid-field .input-group input:focus {
      border-color: #d9534f;
      background: #F5DBD9; }
    .search-component.invalid-field .input-group input:hover {
      border-color: #d9534f;
      background: #F5DBD9; }
  .search-component.invalid-field.invalid-highlight .input-group input {
    /* firefox 19+ */ }
    .search-component.invalid-field.invalid-highlight .input-group input::-webkit-input-placeholder {
      color: #d9534f; }
    .search-component.invalid-field.invalid-highlight .input-group input::-moz-placeholder {
      color: #d9534f; }
    .search-component.invalid-field.invalid-highlight .input-group input:-ms-input-placeholder {
      color: #d9534f; }
    .search-component.invalid-field.invalid-highlight .input-group input input:-moz-placeholder {
      color: #d9534f; }
    .search-component.invalid-field.invalid-highlight .input-group input:focus {
      /* firefox 19+ */ }
      .search-component.invalid-field.invalid-highlight .input-group input:focus::-webkit-input-placeholder {
        color: transparent; }
      .search-component.invalid-field.invalid-highlight .input-group input:focus::-moz-placeholder {
        color: transparent; }
      .search-component.invalid-field.invalid-highlight .input-group input:focus:-ms-input-placeholder {
        color: transparent; }
      .search-component.invalid-field.invalid-highlight .input-group input:focus input:-moz-placeholder {
        color: transparent; }
  .search-component.blue-highlight .input-group input {
    background: #E3F2FD;
    border-color: #2196F3;
    /* firefox 19+ */ }
    .search-component.blue-highlight .input-group input::-webkit-input-placeholder {
      color: #2196F3; }
    .search-component.blue-highlight .input-group input::-moz-placeholder {
      color: #2196F3; }
    .search-component.blue-highlight .input-group input:-ms-input-placeholder {
      color: #2196F3; }
    .search-component.blue-highlight .input-group input input:-moz-placeholder {
      color: #2196F3; }
    .search-component.blue-highlight .input-group input:focus {
      /* firefox 19+ */ }
      .search-component.blue-highlight .input-group input:focus::-webkit-input-placeholder {
        color: transparent; }
      .search-component.blue-highlight .input-group input:focus::-moz-placeholder {
        color: transparent; }
      .search-component.blue-highlight .input-group input:focus:-ms-input-placeholder {
        color: transparent; }
      .search-component.blue-highlight .input-group input:focus input:-moz-placeholder {
        color: transparent; }
