@import "../../../../assets/sass/sass.files";

.search-component {
  position: relative;
  z-index: 2;
  width: 100%;
  .search-hover {
    width: 0;
    height: 0;
    z-index: 1;
    &.search-active {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0 ;
      width: 100vw;
      height: 100vh;
      z-index: 3;
      color: $black;
      &.focus-attention {
        background: $black_06;
      }
    }
  }

  .card {
    position: absolute;
    width: 100%;
    max-height: 225px;
    overflow: auto;
    border: none;
    background: transparent;
    z-index: 4;
    ul {
      background: transparent;
      li.list-element-search-component {
        z-index: 4;
        cursor: pointer;
        font-size: .9rem;
        min-height: 25px;
        height: auto;
        line-height: 45px;
        padding: 0 .75rem;
        border: 1px solid $border-color;
        border-bottom-color: $white;
        box-shadow: 0 0 3px $gray300;
        @include border-radius(5px);
        &.text-overflow{
          line-height: 1.2rem;
          &:hover {
            min-height: 40px;
          }
        }
        &:last-child {
          border-bottom-color: $border-color;
        }
        &:hover {
          color: $black;
          background: $light-blue;
          border-color: $blue;
          span {
            color: $blue;
          }
        }
      }
    }
  }

  .input-group {
    &.mini-mode {
      i.fa{
        top: .125rem;
      }
    }

    input {
      border: none;
      border-bottom: 1px solid $gray-dark;
      border-radius: 0;
      background: $gray-light;
      font-size: .9rem;
      font-style: italic;
      &.white-background {
        background: $white;
      }
      &.has-right-icon {
        padding-right: 2rem;
        padding-left: 1rem;
      }
      &.normal-style {
        font-style: normal;
      }
      &.text-overflow{
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
      }
      &:hover {
        background: $light-blue;
        border-color: $blue;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $blue;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $blue;
          opacity: 1;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $blue;
          opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $blue;
        }
        i {
          z-index: 3;
          color: $blue;
        }
      }
      &:focus {
        background: $light-blue;
        border-color: $blue;
      }
      &.mini-mode {
        padding: .2rem .5rem .15rem;
        font-size: .9rem;
      }
    }

    i {
      z-index: 2;
      position: absolute;
      cursor: pointer;
      &.fa {
        top: .5rem;
        &.fa-right {
          right: .5rem;
          &.fa-second{
            right: 1.5rem;
          }
        }
        &.fa-front{
          z-index: 6;
        }
      }
    }
  }

  &.form-style {
    .input-group {
      input{
        padding: .25rem;
        font-size: 1rem;
        &.has-right-icon {
          padding-right: 2rem;
          padding-left: 1rem;
        }
      }
      i{
        top: .3rem;
      }
    }
  }

  &.list-size-2x{
    .card {
      width: 200%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &.list-size-3x{
    .card {
      width: 300%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  &.list-size-4x{
    .card {
      width: 400%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
  &.search-active {
    z-index: 9;
    .input-group {
      i {
        &.fa {
          z-index: 3;
        }
      }
    }
  }
  &.invalid-field{
    .input-group {
      input{
        border-color: $redBootstrap;
        &:active {
          border-color: $redBootstrap;
          background: $redAlert;
        }
        &:focus {
          border-color: $redBootstrap;
          background: $redAlert;
        }
        &:hover {
          border-color: $redBootstrap;
          background: $redAlert;
        }
      }
    }
    &.invalid-highlight{
      .input-group {
        input {
          &::-webkit-input-placeholder {
            color: $redBootstrap;
          }
          &::-moz-placeholder {
            color: $redBootstrap;
          }
          /* firefox 19+ */
          &:-ms-input-placeholder {
            color: $redBootstrap;
          }
          input:-moz-placeholder {
            color: $redBootstrap;
          }
          &:focus {
            &::-webkit-input-placeholder {
              color: transparent;
            }
            &::-moz-placeholder {
              color: transparent;
            }
            /* firefox 19+ */
            &:-ms-input-placeholder {
              color: transparent;
            }
            input:-moz-placeholder {
              color: transparent;
            }
          }
        }
      }
    }
  }
  &.blue-highlight{
    .input-group {
      input {
        background: $light-blue;
        border-color: $blue;
        &::-webkit-input-placeholder {
          color: $blue;
        }
        &::-moz-placeholder {
          color: $blue;
        }
        /* firefox 19+ */
        &:-ms-input-placeholder {
          color: $blue;
        }
        input:-moz-placeholder {
          color: $blue;
        }
        &:focus {
          &::-webkit-input-placeholder {
            color: transparent;
          }
          &::-moz-placeholder {
            color: transparent;
          }
          /* firefox 19+ */
          &:-ms-input-placeholder {
            color: transparent;
          }
          input:-moz-placeholder {
            color: transparent;
          }
        }
      }
    }
  }
}
