@import '../../../../assets/sass/sass.files';

.tab-mate-dashboard-component {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;

  .tab-mate-dashboard-widget-area {

    .dashboard-config-link {
      float: right;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }

  .tab-mate-dashboard-chart-area {
    min-height: 100vh;
  }

  .tab-mate-dashboard-notes-area {

  }

  .rigth-panel {
    position: relative;
    min-height: 85vh;
    left: 0;
    @include transition(all .3s ease-in-out);
    &.hide-area {
      left: -25%;
      -webkit-box-flex: 0;
      -webkit-flex: 0;
      -ms-flex: 0;
      flex: 0;
      max-width: 0%;
      &.hide-area-rigth {
        left: 125%;
      }
    }

    .mate-data-container {
      position: relative;
      background: $gray-bg;
      font-size: .85rem;
      overflow: visible;

      .mate-type {
        font-weight: bold;
      }

      .team-name-company {
        font-weight: bold;
      }
    }

    .sidebar-container {
      border-top: 1px solid $white;
      padding: 0;
      padding-top: 2rem;
      &.bg-sidebar-gray {
        background: $gray-bg;
      }
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .rigth-panel {
      min-height: 0;
      margin-bottom: 3rem;
    }
  }
}

