<section class="tab-mate-dashboard-component col-12 row no-gutters">

  <article *ngIf="isDashboardMain()"
           class="row col-md-10 col-12 no-gutters">

    <section class="tab-mate-dashboard-widget-area col-12 mt-2 no-gutters">

      <span class="dashboard-config-link"
            (click)="goToDashboardConfig()">Configurar el dashboard</span>

      <app-widget-container-component [dashboardMode]="false"
                                      [person]="person"
                                      [widgetType]="widgetType"></app-widget-container-component>
    </section>

    <section class="tab-mate-dashboard-chart-area col-12 mt-2 no-gutters">

      <app-mate-scope-analytics-component [person]="person"></app-mate-scope-analytics-component>

      <!--<app-scope-analytics-component #scopeAnalyticsComponent-->
                                     <!--[person]="person"></app-scope-analytics-component>-->
    </section>

  </article>

  <article *ngIf="isNotesMain()"
           class="row col-md-10 col-12 no-gutters">

    <section class="tab-mate-dashboard-notes-area col-12 no-gutters">

      <app-scope-notes-list #noteListComponent
                            [person]="person"
                            (outputEvent)="appScopeEvents($event)"></app-scope-notes-list>

    </section>

  </article>

  <article class="col-md-2 col-12 rigth-panel"
           [ngClass]="{'hide-area hide-area-rigth': isMainFullPage()}">

    <section *ngIf="isDashboardMain()"
             class="sidebar-container bg-sidebar-gray col-12 no-gutters">
      <app-scope-notes-board #noteBoardComponent
                             [person]="person"
                             (outputEvent)="appScopeEvents($event)"></app-scope-notes-board>

    </section>

    <section *ngIf="!isDashboardMain()"
             class="sidebar-container bg-sidebar-gray">
      <app-scope-notes-form #noteFormComponent
                            [person]="person"
                            (outputEvent)="appScopeEvents($event)"></app-scope-notes-form>
    </section>

  </article>

</section>
