<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container-fluid no-gutters mt- default-tree-team-group-component">

  <section class="tree-element">
    <ul *ngIf="hasData(); else defaultSidebar"
        class="element-container row no no-gutters list-unstyled">
      <li *ngFor="let node of data, let i = index"
          class="row col-12 tree-node-element no-gutters align-items-start justify-content-between cursor-pointer"
          [ngClass]="{'selected': isSelectedNode(node), 'not-selectable': isMate()}"
          (click)="onToggleSelectedNode(node)">

        <div class="col-auto node-circle-element">
          <i class="fa fa-circle"
             [style.color]="node.colour"></i>
        </div>

        <div class="col node-name text-overflow"
             [ngClass]="{'selected': isSelectedNode(node)}">
          <span>{{node.name}}</span>
        </div>

        <div *ngIf="!isMate()" class="col-auto justify-content-end node-counter noselect"
             [ngClass]="{'selected': isSelectedNode(node)}">
          <span>{{node.num_mates}}</span>
        </div>
      </li>
    </ul>

    <ng-template #defaultSidebar>
        <p *ngIf="!isMate()" class="placeholder-empty pl-2">No hay {{getComponentMode()}} para esta opción.</p>
        <p *ngIf="isMate()" class="placeholder-empty pl-2">No está asignado a ningún {{getComponentMode()}}.</p>
    </ng-template>

  </section>

</section>
