<section [id]="getComponentId()"
         [hidden]="!visible"
         class="container laboral-experience-item-area mb-2">

  <!--@ToDo: Pendiente de especificaciones para editar y eliminar experiencias-->

  <!--<article *ngIf="isEditMode()"-->
           <!--class="row col-12 no-gutters edit-experience">-->

    <!--<form #personForm="ngForm">-->

      <!--<article class="form-block">-->

        <!--<fieldset class="form-group">-->

          <!--<div class="form-row col-12 row no-gutters align-items-center mt-2">-->

            <!--<label for="name"-->
                   <!--class="col-10 text-muted col-form-label">Puesto ocupado</label>-->

            <!--<div class="col-2 no-gutters align-self-center text-right">-->
              <!--<i class="fa fa-lg fa-pencil mr-2 cursor-pointer hover-blue"-->
                 <!--[ngClass]="{'active': isEditMode()}"-->
                 <!--(click)="toggleEditExperience()"></i>-->
              <!--<i class="fa fa-lg fa-trash cursor-pointer hover-blue"></i>-->
            <!--</div>-->

            <!--<div class="col-12 no-gutters text-overflow">-->
              <!--<input #laboralExperienceName="ngModel"-->
                     <!--id="name"-->
                     <!--name="name"-->
                     <!--type="text"-->
                     <!--minlength="3"-->
                     <!--maxlength="255"-->
                     <!--maxlength="255"-->
                     <!--class="form-control itext"-->
                     <!--[ngClass]="{'invalid-field': hasErrorInput(laboralExperienceName)}"-->
                     <!--[(ngModel)]="laboralExperience.name"-->
                     <!--placeholder="Puesto ocupado">-->
              <!--<span *ngIf="hasErrorInput(laboralExperienceName)"-->
                    <!--class="error-field">Mínimo 3 caracteres</span>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-row col-12 row no-gutters align-items-center justify-content-between">-->

            <!--<div class="col-5 no-gutters align-self-center">-->
              <!--<label for="start_date"-->
                     <!--class="col-12 text-muted col-form-label">Desde</label>-->

              <!--<div class="col-12 no-gutters">-->

                <!--<p-calendar #startDatePicker-->
                            <!--id="start_date"-->
                            <!--name="start_date"-->
                            <!--dateFormat="mm/yy"-->
                            <!--placeholder="mm/yyyy"-->
                            <!--icon="fa-calendar"-->
                            <!--showIcon="true"-->
                            <!--yearRange="1920:2050"-->
                            <!--showButtonBar="true"-->
                            <!--[monthNavigator]="true"-->
                            <!--[yearNavigator]="true"-->
                            <!--[locale]="spanishCalendar"-->
                            <!--[(ngModel)]="laboralExperience.start_date"></p-calendar>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-5 no-gutters align-self-center">-->

              <!--<label for="end_date"-->
                     <!--class="col-12 text-muted col-form-label">Hasta</label>-->

              <!--<div class="col-12 no-gutters">-->

                <!--<p-calendar #endDatePicker-->
                            <!--id="end_date"-->
                            <!--name="end_date"-->
                            <!--dateFormat="mm/yy"-->
                            <!--placeholder="mm/yyyy"-->
                            <!--icon="fa-calendar"-->
                            <!--showIcon="true"-->
                            <!--yearRange="1920:2050"-->
                            <!--showButtonBar="true"-->
                            <!--[monthNavigator]="true"-->
                            <!--[yearNavigator]="true"-->
                            <!--[locale]="spanishCalendar"-->
                            <!--[(ngModel)]="laboralExperience.end_date"></p-calendar>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-row col-12 row no-gutters align-items-center justify-content-between">-->

            <!--<div class="col-4 no-gutters align-self-center">-->
              <!--<label for="company"-->
                     <!--class="col-12 text-muted pr-3 col-form-label">Lugar de trabajo</label>-->

              <!--<div class="col-12 no-gutters">-->
                <!--<input #laboralExperienceCompany="ngModel"-->
                       <!--id="company"-->
                       <!--name="company"-->
                       <!--type="text"-->
                       <!--minlength="3"-->
                       <!--maxlength="255"-->
                       <!--class="form-control itext"-->
                       <!--[ngClass]="{'invalid-field': hasErrorInput(laboralExperienceCompany)}"-->
                       <!--[(ngModel)]="laboralExperience.company"-->
                       <!--placeholder="Lugar de trabajo">-->
                <!--<span *ngIf="hasErrorInput(laboralExperienceCompany)"-->
                      <!--class="error-field">Mínimo 3 caracteres</span>-->
              <!--</div>-->

            <!--</div>-->

            <!--<div class="col-1 no-gutters align-self-end text-right">-->
              <!--<i class="fa fa-lg fa-map-marker"></i>-->
            <!--</div>-->

            <!--<div class="col-3 no-gutters align-self-center">-->

              <!--<label for="location"-->
                     <!--class="col-12 text-muted pr-3 col-form-label">Ciudad</label>-->

              <!--<div class="col-12 no-gutters">-->
                <!--<input #laboralExperienceLocation="ngModel"-->
                       <!--id="location"-->
                       <!--name="location"-->
                       <!--type="text"-->
                       <!--minlength="3"-->
                       <!--maxlength="255"-->
                       <!--class="form-control itext"-->
                       <!--[ngClass]="{'invalid-field': hasErrorInput(laboralExperienceLocation)}"-->
                       <!--[(ngModel)]="laboralExperience.location"-->
                       <!--placeholder="Ciudad">-->
                <!--<span *ngIf="hasErrorInput(laboralExperienceLocation)"-->
                      <!--class="error-field">Mínimo 3 caracteres</span>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="col-3 no-gutters align-self-center">-->
              <!--<label for="company"-->
                     <!--class="col-12 text-muted pr-3 col-form-label">País</label>-->

              <!--<div class="col-12 no-gutters">-->
                <!--<input #laboralExperienceCountry="ngModel"-->
                       <!--id="country"-->
                       <!--name="country"-->
                       <!--type="text"-->
                       <!--minlength="3"-->
                       <!--maxlength="255"-->
                       <!--class="form-control itext"-->
                       <!--[ngClass]="{'invalid-field': hasErrorInput(laboralExperienceCountry)}"-->
                       <!--[(ngModel)]="laboralExperience.country"-->
                       <!--placeholder="País">-->
                <!--<span *ngIf="hasErrorInput(laboralExperienceCountry)"-->
                      <!--class="error-field">Mínimo 3 caracteres</span>-->
              <!--</div>-->

            <!--</div>-->


          <!--</div>-->

          <!--<div class="form-row col-12 row no-gutters align-items-center">-->

            <!--<label for="summary"-->
                   <!--class="col-10 text-muted col-form-label">Descripción de las actividades del puesto</label>-->

            <!--<div class="col-12 no-gutters">-->
              <!--<textarea #laboralExperienceSummary="ngModel"-->
                        <!--id="summary"-->
                        <!--name="summary"-->
                        <!--rows="4"-->
                        <!--maxlength="20000"-->
                        <!--class="form-control"-->
                        <!--[ngClass]="{'invalid-field': hasErrorInput(laboralExperienceSummary)}"-->
                        <!--[(ngModel)]="laboralExperience.summary"-->
                        <!--placeholder="Deja un comentario (Opcional)"></textarea>-->
              <!--<span *ngIf="hasErrorInput(laboralExperienceSummary)"-->
                    <!--class="error-field">Mínimo 3 caracteres</span>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-row col-12 row no-gutters align-items-center">-->

            <!--<label for="knowledgeUsed"-->
                   <!--class="col-10 text-muted col-form-label">Conocimientos utilizados</label>-->

            <!--<div class="col-12 no-gutters text-overflow">-->
              <!--<input #laboralExperienceKnowledgeUsed="ngModel"-->
                     <!--id="knowledgeUsed"-->
                     <!--name="knowledgeUsed"-->
                     <!--required-->
                     <!--type="text"-->
                     <!--minlength="3"-->
                     <!--maxlength="255"-->
                     <!--class="form-control itext"-->
                     <!--[ngClass]="{'invalid-field': hasErrorInput(laboralExperienceKnowledgeUsed)}"-->
                     <!--[(ngModel)]="laboralExperience.country"-->
                     <!--placeholder="Conocimientos utilizados">-->
              <!--<span *ngIf="hasErrorInput(laboralExperienceKnowledgeUsed)"-->
                    <!--class="error-field">Mínimo 3 caracteres</span>-->
            <!--</div>-->
          <!--</div>-->

        <!--</fieldset>-->
      <!--</article>-->

    <!--</form>-->
  <!--</article>-->

  <article *ngIf="!isEditMode()"
           class="row col-12 no-gutters view-experience">

    <span class="col-12 no-gutters name-experience">{{laboralExperience.name}}</span>

    <div class="col-12 no-gutter align-self-center text-right">
      <i class="fa fa-lg fa-pencil mr-2 cursor-pointer hover-blue not-allowed"
         (click)="functionalityNotImplemented()"></i>
      <!--[ngClass]="{'active': isEditMode()}"-->
      <i class="fa fa-lg fa-trash cursor-pointer hover-blue not-allowed"
         (click)="functionalityNotImplemented()"></i>
    </div>

    <!--<span class="col-12 no-gutters date-experience">Desde {{laboralExperience.start_date | date: 'MMM yyyy'}} a {{laboralExperience.end_date | date: 'MMM yyyy'}}</span>-->

    <span class="col-4 no-gutters company-experience">{{laboralExperience.company}}</span>

    <div class="col-1 no-gutters align-self-end text-right">
      <i class="mr-1 fa fa-map-marker"></i>
    </div>

    <span class="col-3 no-gutters location-experience">{{laboralExperience.location}}</span>
    <span class="col-3 no-gutters country-experience">{{laboralExperience.country}}</span>

     <!--@ToDo: Campos no disponibles hasta implementación de contrato-->

    <span class="col-6 contract-experience">Contrato:</span>
    <span class="col-6 salary-experience">Sueldo:</span>

    <p class="col-12 no-gutters summary-experience">{{laboralExperience.summary}}</p>

  </article>

</section>
