@import "./colours.scss";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}


/** BORDER_RADIUS **/
@mixin border-radius($size){
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  border-radius: $size;
}

@mixin border-radius-full($size1, $size2, $size3, $size4){
  -moz-border-radius: $size1 $size2 $size3 $size4;
  -webkit-border-radius: $size1 $size2 $size3 $size4;
  border-radius: $size1 $size2 $size3 $size4;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin no-select() {
  -webkit-touch-callout: none;
/* iOS Safari */
  -webkit-user-select: none;
/* Safari */
  -khtml-user-select: none;
/* Konqueror HTML */
  -moz-user-select: none;
/* Firefox */
  -ms-user-select: none;
/* Internet Explorer/Edge */
  user-select: none;
/* Non-prefixed version, currently */
}

@mixin input-placeholder-size($size) {
  &::-webkit-input-placeholder {
    font-size: $size;
  }
  &::-moz-placeholder {
    font-size: $size;
  }
  /* firefox 19+ */
  &:-ms-input-placeholder {
    font-size: $size;
  }
  input:-moz-placeholder {
    font-size: $size;
  }
}

@mixin input-placeholder-style($style) {
  &::-webkit-input-placeholder {
    font-style: $style;
  }
  &::-moz-placeholder {
    font-style: $style;
  }
  /* firefox 19+ */
  &:-ms-input-placeholder {
    font-style: $style;
  }
  input:-moz-placeholder {
    font-style: $style;
  }
}


// MEDIA QUERIES
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
/** USE:  @include animation('slide-down 5s 3'); **/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/** USE:  @include transition(color .3s ease); **/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/** USE:  @include transform(rotate(45deg), 20% 40%); **/

@mixin transform($value, $origin) {
  -ms-transform: $value; /* IE 9 */
  -ms-transform-origin: $origin; /* IE 9 */
  -webkit-transform: $value; /* Chrome, Safari, Opera */
  -webkit-transform-origin: $origin; /* Chrome, Safari, Opera */
  transform: $value;
  transform-origin: $origin;
}
