/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/********************** GOOGLE MATERIAL COLOURS **********************/
/** RED CUSTOM **/
/** RED ALERT **/
/** GRAY **/
/** TEAL **/
/** BLUE **/
/** AMBER **/
/** ORANGE **/
/** GREEN **/
/** STANDAR **/
/** OPACITY **/
/** STYLE UX **/
/** BORDER_RADIUS **/
/** USE
@include bp-small {
  width: 100%;
  float: none;
  margin: 0;
}
**/
/** USE:  @include animation('slide-down 5s 3'); **/
/** USE:  @include transition(color .3s ease); **/
/** USE:  @include transform(rotate(45deg), 20% 40%); **/
.hidde-datatable .ui-datatable .ui-datatable-tablewrapper {
  height: 0; }

.ui-datatable {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  border: none !important;
  margin-top: 0 !important;
  cursor: default !important; }
  .ui-datatable.show-action-on-hover .ui-datatable-hoverable-rows tr {
    cursor: default !important;
    -webkit-user-select: none !important;
    /* Safari */
    -moz-user-select: none !important;
    /* Firefox */
    -ms-user-select: none !important;
    /* IE10+/Edge */
    user-select: none !important;
    /* Standard */ }
  .ui-datatable .ui-datatable-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none;
    background: transparent; }
    .ui-datatable .ui-datatable-header button {
      background: #0D47A1 !important;
      border-color: #0D47A1 !important; }
      .ui-datatable .ui-datatable-header button.not-allowed .ui-clickable {
        cursor: not-allowed !important; }
  .ui-datatable .ui-datatable-tablewrapper {
    border: none !important; }
    .ui-datatable .ui-datatable-tablewrapper table {
      border: none !important;
      table-layout: fixed !important; }
      .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead {
        border: none !important;
        background: rgba(0, 0, 0, 0.05) !important; }
        .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th {
          padding: .75rem .5rem !important;
          text-overflow: ellipsis !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.gray.ui-state-default {
            border: none !important;
            text-align: left !important;
            background: #FAFAFA !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.hide-filter {
            vertical-align: baseline !important;
            background: rgba(0, 0, 0, 0.05) !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-5 {
            width: 5% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-10 {
            width: 10% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-15 {
            width: 15% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-18 {
            width: 18% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-20 {
            width: 20% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-25 {
            width: 25% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-30 {
            width: 30% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-40 {
            width: 40% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-50 {
            width: 50% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-60 {
            width: 60% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-70 {
            width: 70% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-80 {
            width: 80% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-90 {
            width: 90% !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-100 {
            width: 100% !important; }
          @media (max-width: 768px) {
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-5, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-10, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-15, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-18, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-20, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-25, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-30 .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-40, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-50, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-60, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-70, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-80, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th.width-90 {
              width: 100% !important; } }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th p-dropdown .ui-dropdown {
            border: 1px solid #000 !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead th p-dropdown .ui-dropdown:hover {
              border-color: #0D47A1 !important; }
        .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default {
          border: none !important;
          text-align: left !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-title {
            border: none !important;
            color: #292b2c !important;
            font-weight: bold !important;
            margin-top: 0 !important;
            overflow-x: hidden !important;
            text-overflow: ellipsis !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-title:hover {
              white-space: inherit !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-title i {
              cursor: default !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-sortable-column {
            background: rgba(0, 0, 0, 0.05) !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-sortable-column .ui-sortable-column-icon {
              color: #292b2c !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-filter {
            margin: 0 !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-filter.ui-inputtext {
              background: none !important;
              border: none !important;
              border-bottom: 1px solid #3b3b3b !important;
              padding: .25rem !important;
              border-radius: 0 !important;
              outline: 0 !important;
              box-shadow: none !important;
              margin: 0 !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-filter.ui-inputtext:active {
                background: #E3F2FD !important;
                color: #2196F3 !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-filter.ui-inputtext:focus {
                background: #E3F2FD !important;
                border-color: #2196F3 !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-thead .ui-state-default .ui-column-filter.ui-inputtext:hover {
                background: #E3F2FD !important;
                border-color: #2196F3 !important; }
      .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data {
        border: none !important; }
        .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr {
          border: none !important;
          padding: 0 !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td {
            border: none !important;
            padding: .75rem .5rem !important;
            line-height: 1.2 !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td .gray {
              background: #FAFAFA !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-5 {
              width: 5% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-10 {
              width: 10% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-15 {
              width: 15% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-18 {
              width: 18% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-20 {
              width: 20% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-25 {
              width: 25% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-30 {
              width: 30% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-40 {
              width: 40% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-50 {
              width: 50% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-60 {
              width: 60% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-70 {
              width: 70% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-80 {
              width: 80% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-90 {
              width: 90% !important; }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-100 {
              width: 100% !important; }
            @media (max-width: 768px) {
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-5, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-10, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-15, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-18, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-20, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-25, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-30 .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-40, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-50, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-60, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-70, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-80, .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.width-90 {
                width: 100% !important; } }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.text-type {
              white-space: nowrap !important;
              text-overflow: ellipsis !important;
              overflow: hidden !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.text-type:hover {
                text-overflow: initial !important;
                white-space: initial !important;
                overflow: visible !important;
                overflow-wrap: break-word !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.text-type.text-center {
                text-align: center; }
                @media (max-width: 768px) {
                  .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.text-type.text-center {
                    text-align: left !important; } }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.text-type.text-right {
                text-align: right; }
                @media (max-width: 768px) {
                  .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.text-type.text-right {
                    text-align: left !important; } }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.dropdown-type {
              white-space: nowrap !important;
              text-overflow: ellipsis !important;
              overflow: visible !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.dropdown-type:hover {
                text-overflow: initial !important;
                white-space: initial !important;
                overflow: visible !important;
                overflow-wrap: break-word !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.dropdown-type.text-center {
                text-align: center; }
                @media (max-width: 768px) {
                  .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.dropdown-type.text-center {
                    text-align: left !important; } }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.dropdown-type.text-right {
                text-align: right; }
                @media (max-width: 768px) {
                  .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td.dropdown-type.text-right {
                    text-align: left !important; } }
            .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td .ui-cell-data {
              border: none !important;
              position: relative !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td .ui-cell-data .row-options {
                cursor: pointer !important;
                padding: 0 25% !important; }
              .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td .ui-cell-data .ui-overlaypanel {
                top: 0 !important;
                left: 0 !important;
                box-shadow: none !important; }
                .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data tr td .ui-cell-data .ui-overlaypanel .ui-overlaypanel-content {
                  padding: 0 !important; }
        .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data .ui-datatable-emptymessage {
          border: none !important; }
          .ui-datatable .ui-datatable-tablewrapper table .ui-datatable-data .ui-datatable-emptymessage .loading-datatable {
            text-align: center !important; }
  @media (max-width: 768px) {
    .ui-datatable.ui-datatable-reflow thead th, .ui-datatable.ui-datatable-reflow .tfoot td {
      display: none !important; }
    .ui-datatable.ui-datatable-reflow .ui-datatable-data.ui-widget-content {
      border: 0 none !important; }
    .ui-datatable.ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
      border-left: 0 none;
      border-right: 0 none; }
    .ui-datatable.ui-datatable-reflow .ui-datatable-data td {
      vertical-align: middle; }
      .ui-datatable.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
        width: 30%;
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.6em -.4em;
        font-weight: bold;
        overflow-x: hidden !important;
        text-overflow: ellipsis !important; }
      .ui-datatable.ui-datatable-reflow .ui-datatable-data td .ui-cell-data {
        padding: .4em; }
    .ui-datatable.ui-datatable-reflow .ui-datatable-data > tr > td {
      text-align: left;
      display: block;
      border: 0 none;
      width: 100% !important;
      box-sizing: border-box;
      float: left;
      clear: left; } }

.ui-overlaypanel {
  border: none !important;
  box-shadow: none !important; }
  .ui-overlaypanel .ui-overlaypanel-content {
    padding: 0 !important; }

.ui-paginator-bottom {
  border: none !important;
  background: rgba(0, 0, 0, 0.05) !important; }

p-dropdown {
  background: transparent !important;
  border: none !important;
  width: 100% !important; }
  p-dropdown:focus {
    box-shadow: none !important;
    outline: -webkit-focus-ring-color auto 0px !important; }
  p-dropdown .ui-dropdown {
    width: 100% !important;
    background: transparent !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    -webkit-transition: border ease-in-out 0.2s !important;
    -moz-transition: border ease-in-out 0.2s !important;
    -ms-transition: border ease-in-out 0.2s !important;
    -o-transition: border ease-in-out 0.2s !important;
    transition: border ease-in-out 0.2s !important; }
    p-dropdown .ui-dropdown:active {
      border: 1px solid #0D47A1 !important;
      outline: 0px auto transparent !important; }
    p-dropdown .ui-dropdown:focus {
      border: 1px solid #0D47A1 !important;
      box-shadow: none !important;
      outline: -webkit-focus-ring-color auto 0px !important; }
    p-dropdown .ui-dropdown:hover {
      border: 1px solid black !important; }
    p-dropdown .ui-dropdown.datatable-header .ui-dropdown-label {
      color: #292b2c !important;
      font-weight: bold !important; }
    p-dropdown .ui-dropdown.ui-state-focus {
      border: 1px solid transparent !important;
      box-shadow: none !important;
      outline: -webkit-focus-ring-color auto 0px !important; }
      p-dropdown .ui-dropdown.ui-state-focus:hover {
        border: 1px solid black !important; }
    p-dropdown .ui-dropdown.ui-dropdown-open {
      border: 1px solid #0D47A1 !important;
      box-shadow: none !important; }
      p-dropdown .ui-dropdown.ui-dropdown-open:hover {
        border: 1px solid #0D47A1 !important; }
    p-dropdown .ui-dropdown .ui-dropdown-label {
      background: transparent !important;
      box-shadow: none !important;
      outline: -webkit-focus-ring-color auto 0px !important;
      white-space: nowrap !important;
      overflow-x: hidden !important;
      text-overflow: ellipsis !important; }
      p-dropdown .ui-dropdown .ui-dropdown-label:focus {
        border: 1px solid #0D47A1 !important;
        box-shadow: none !important;
        outline: -webkit-focus-ring-color auto 0px !important; }
      p-dropdown .ui-dropdown .ui-dropdown-label:hover {
        white-space: inherit !important; }
    p-dropdown .ui-dropdown .ui-dropdown-trigger {
      background: transparent !important; }
      p-dropdown .ui-dropdown .ui-dropdown-trigger:focus {
        box-shadow: none !important;
        outline: -webkit-focus-ring-color auto 0px !important; }
      p-dropdown .ui-dropdown .ui-dropdown-trigger.ui-corner-right {
        border: none !important;
        height: 100% !important; }
    p-dropdown .ui-dropdown .ui-state-highlight {
      background: #0D47A1 !important;
      border-color: #0D47A1 !important; }
      p-dropdown .ui-dropdown .ui-state-highlight:hover {
        background: #0D47A1 !important;
        border-color: #0D47A1 !important;
        color: #FFF !important; }
    p-dropdown .ui-dropdown .ui-dropdown-panel {
      box-shadow: 1px 3px 7px 1px #bac0ca !important;
      border: none !important; }
      p-dropdown .ui-dropdown .ui-dropdown-panel .ui-dropdown-items {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important; }
        p-dropdown .ui-dropdown .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
          padding: 0.25rem !important;
          border: 1px solid #e0e0e0 !important;
          margin: 0; }
          p-dropdown .ui-dropdown .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight {
            background: #0D47A1 !important;
            border-color: #0D47A1 !important; }
            p-dropdown .ui-dropdown .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight:hover {
              background: #0D47A1 !important;
              border-color: #0D47A1 !important;
              color: #FFF !important; }
          p-dropdown .ui-dropdown .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:hover {
            background: transparent !important;
            border: 1px solid #2196F3 !important;
            color: #2196F3 !important; }

p-listbox {
  background: transparent !important;
  border: none !important; }
  p-listbox .ui-listbox {
    width: 100% !important;
    padding: 0 !important;
    box-shadow: 1px 3px 7px 1px #bac0ca !important;
    border: none !important; }
    p-listbox .ui-listbox .ui-listbox-list {
      background: transparent !important; }
      p-listbox .ui-listbox .ui-listbox-list .ui-listbox-item {
        background: transparent !important;
        padding: 0.25rem 1.5rem !important;
        border: 1px solid #e0e0e0 !important;
        margin: 0; }
        p-listbox .ui-listbox .ui-listbox-list .ui-listbox-item:hover {
          background: transparent !important;
          border: 1px solid #2196F3 !important;
          color: #2196F3 !important; }
        p-listbox .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
          background: #0D47A1 !important;
          border-color: #0D47A1 !important;
          color: white !important; }

.ui-chkbox-box:focus {
  outline: none; }

.ui-chkbox-box.ui-state-focus {
  box-shadow: none; }

.ui-chkbox-box.ui-state-active {
  background: #1057AA; }

.ui-chkbox-label {
  margin-bottom: 0; }

.ui-tabview {
  color: #555555 !important;
  padding: 0;
  margin-right: .5rem; }
  .ui-tabview .ui-tabview-nav {
    border: none !important; }
    .ui-tabview .ui-tabview-nav li {
      border: none !important;
      border-radius: 0 !important;
      border-top: .25rem solid transparent !important; }
      .ui-tabview .ui-tabview-nav li:hover {
        border-top: 0.25rem solid #2196F3 !important; }
      .ui-tabview .ui-tabview-nav li span {
        color: #555555 !important; }
      .ui-tabview .ui-tabview-nav li.ui-tabview-selected {
        border-top: 0.25rem solid #2196F3 !important; }
  .ui-tabview .ui-tabview-panels {
    padding-top: .5rem; }
    .ui-tabview .ui-tabview-panels .ui-tabview-panel {
      padding: 0; }

.ui-selectbutton {
  width: 100% !important;
  text-align: center !important; }
  .ui-selectbutton .ui-button {
    background: #F7F7F7 !important;
    padding: .5rem !important;
    margin-right: 1% !important;
    color: #555555 !important; }
    .ui-selectbutton .ui-button:hover {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      color: #555555 !important; }
    .ui-selectbutton .ui-button.ui-state-active {
      outline: 0px !important;
      box-shadow: none !important;
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      color: #555555 !important; }
    .ui-selectbutton .ui-button .ui-button-text {
      padding: 0 !important;
      font-size: .8rem !important; }

.select-button {
  width: 100% !important; }

.simulate-tab {
  width: 100% !important; }
  .simulate-tab.ui-selectbutton .ui-button {
    border: none;
    border-bottom: 0.25rem solid #212121; }
    .simulate-tab.ui-selectbutton .ui-button.ui-state-active {
      background: #0D47A1 !important;
      border-color: #2196F3 !important;
      color: #ffffff !important; }

p-calendar {
  width: 100%; }
  p-calendar.open-calendar {
    background: #E3F2FD !important;
    border-color: #2196F3 !important; }
    p-calendar.open-calendar .ui-calendar {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      box-shadow: none !important;
      outline: none !important; }
  p-calendar .ui-calendar {
    width: 100% !important;
    border-bottom: 1px solid #3b3b3b !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    p-calendar .ui-calendar:hover {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      cursor: pointer !important; }
    p-calendar .ui-calendar:focus {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      box-shadow: none !important;
      outline: none !important; }
    p-calendar .ui-calendar .ui-inputtext {
      width: 90% !important;
      background: transparent !important;
      border: none !important;
      height: 34px !important;
      padding: .25em !important;
      font-size: 0.95rem !important;
      white-space: nowrap !important;
      overflow-x: hidden !important;
      text-overflow: ellipsis !important;
      /* firefox 19+ */
      /* firefox 19+ */ }
      p-calendar .ui-calendar .ui-inputtext::-webkit-input-placeholder {
        font-size: 0.95rem; }
      p-calendar .ui-calendar .ui-inputtext::-moz-placeholder {
        font-size: 0.95rem; }
      p-calendar .ui-calendar .ui-inputtext:-ms-input-placeholder {
        font-size: 0.95rem; }
      p-calendar .ui-calendar .ui-inputtext input:-moz-placeholder {
        font-size: 0.95rem; }
      p-calendar .ui-calendar .ui-inputtext::-webkit-input-placeholder {
        font-style: italic; }
      p-calendar .ui-calendar .ui-inputtext::-moz-placeholder {
        font-style: italic; }
      p-calendar .ui-calendar .ui-inputtext:-ms-input-placeholder {
        font-style: italic; }
      p-calendar .ui-calendar .ui-inputtext input:-moz-placeholder {
        font-style: italic; }
      p-calendar .ui-calendar .ui-inputtext:focus {
        box-shadow: none !important;
        outline: none !important; }
      p-calendar .ui-calendar .ui-inputtext:hover {
        cursor: pointer !important;
        white-space: inherit !important; }
      p-calendar .ui-calendar .ui-inputtext.has-close-icon {
        padding-right: 1rem !important; }
    p-calendar .ui-calendar .ui-datepicker-trigger {
      width: 5% !important;
      background: transparent !important;
      color: #000 !important;
      border: none !important;
      right: 5px !important; }

dp-date-picker {
  width: 100%; }
  dp-date-picker.open-calendar {
    background: #E3F2FD !important;
    border-color: #2196F3 !important; }
    dp-date-picker.open-calendar .dp-input-container {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      box-shadow: none !important;
      outline: none !important; }
    dp-date-picker.open-calendar .dp-selected {
      border-radius: 0% !important;
      margin-bottom: 0.15rem !important; }
  dp-date-picker .dp-input-container {
    width: 100% !important;
    border-bottom: 1px solid #3b3b3b !important; }
    dp-date-picker .dp-input-container:hover {
      cursor: pointer !important; }
    dp-date-picker .dp-input-container:hover {
      cursor: pointer !important;
      background: #E3F2FD !important;
      border-color: #2196F3 !important; }
    dp-date-picker .dp-input-container:focus {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      outline: none !important; }
    dp-date-picker .dp-input-container .dp-picker-input {
      width: 90% !important;
      background: transparent !important;
      border: none !important;
      height: 34px !important;
      padding: .25rem 0rem .25rem .25rem !important;
      padding-right: 2rem !important;
      font-size: 0.95rem !important;
      font-family: Roboto !important;
      white-space: nowrap !important;
      overflow-x: hidden !important;
      text-overflow: ellipsis !important;
      /* firefox 19+ */
      /* firefox 19+ */ }
      dp-date-picker .dp-input-container .dp-picker-input::-webkit-input-placeholder {
        font-size: 0.95rem; }
      dp-date-picker .dp-input-container .dp-picker-input::-moz-placeholder {
        font-size: 0.95rem; }
      dp-date-picker .dp-input-container .dp-picker-input:-ms-input-placeholder {
        font-size: 0.95rem; }
      dp-date-picker .dp-input-container .dp-picker-input input:-moz-placeholder {
        font-size: 0.95rem; }
      dp-date-picker .dp-input-container .dp-picker-input::-webkit-input-placeholder {
        font-style: italic; }
      dp-date-picker .dp-input-container .dp-picker-input::-moz-placeholder {
        font-style: italic; }
      dp-date-picker .dp-input-container .dp-picker-input:-ms-input-placeholder {
        font-style: italic; }
      dp-date-picker .dp-input-container .dp-picker-input input:-moz-placeholder {
        font-style: italic; }
      dp-date-picker .dp-input-container .dp-picker-input:hover {
        cursor: pointer !important;
        white-space: inherit !important; }
      dp-date-picker .dp-input-container .dp-picker-input:focus {
        background: #E3F2FD !important;
        border-color: #2196F3 !important;
        box-shadow: none !important;
        outline: none !important; }
      dp-date-picker .dp-input-container .dp-picker-input:active {
        background: #E3F2FD !important;
        border-color: #2196F3 !important;
        box-shadow: none !important;
        outline: none !important; }

.hidde-datatable .ui-datatable-scrollable-wrapper {
  height: 0 !important;
  overflow: hidden !important; }

p-dataTable {
  width: 100% !important; }
  p-dataTable .status-periods-datatable .ui-datatable-header {
    padding-left: 0 !important; }
  p-dataTable .status-periods-datatable .ui-datatable-scrollable-header th {
    color: #000 !important; }
    p-dataTable .status-periods-datatable .ui-datatable-scrollable-header th.gray {
      background: #DDD !important; }
  p-dataTable .status-periods-datatable .ui-datatable-scrollable-body td {
    color: #000 !important; }
    p-dataTable .status-periods-datatable .ui-datatable-scrollable-body td.gray {
      background: #DDD !important; }
  p-dataTable .ui-datatable.no-selectable .ui-datatable-data tr {
    cursor: default; }
    p-dataTable .ui-datatable.no-selectable .ui-datatable-data tr td {
      cursor: default; }
    p-dataTable .ui-datatable.no-selectable .ui-datatable-data tr:hover {
      background: #ffffff !important;
      cursor: default !important; }
    p-dataTable .ui-datatable.no-selectable .ui-datatable-data tr:nth-child(2n):hover {
      background: #fafafb !important; }
  p-dataTable .ui-datatable.show-action-on-hover tr:hover td.show-action-on-hover i {
    opacity: 100 !important; }
  p-dataTable .ui-datatable.show-action-on-hover tr td.show-action-on-hover i {
    opacity: 0 !important; }
    p-dataTable .ui-datatable.show-action-on-hover tr td.show-action-on-hover i.is-editable {
      opacity: 100 !important; }

.calendar-component .ui-widget-content .fc-today.ui-state-highlight {
  background: #E3F2FD !important;
  border-color: #cccccc !important;
  color: #2196F3 !important; }

.calendar-component .ui-widget-content .fc-event-container .fc-event {
  border-color: #E3F2FD;
  background-color: #2196F3; }
  .calendar-component .ui-widget-content .fc-event-container .fc-event .fc-content {
    background-color: transparent;
    color: white;
    padding: .15rem .15rem .1rem;
    font-size: .8rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; }
    .calendar-component .ui-widget-content .fc-event-container .fc-event .fc-content .fc-title, .calendar-component .ui-widget-content .fc-event-container .fc-event .fc-content fc-time {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      cursor: default; }
  .calendar-component .ui-widget-content .fc-event-container .fc-event.fc-time-grid-event {
    background-color: #0277BD; }
  .calendar-component .ui-widget-content .fc-event-container .fc-event:hover {
    background-color: #1057AA; }

p-multiSelect {
  width: 100% !important;
  max-height: 30px !important; }
  p-multiSelect .ui-multiselect {
    width: 100% !important;
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: 0 !important;
    -webkit-transition: border ease-in-out 0.2s !important;
    -moz-transition: border ease-in-out 0.2s !important;
    -ms-transition: border ease-in-out 0.2s !important;
    -o-transition: border ease-in-out 0.2s !important;
    transition: border ease-in-out 0.2s !important;
    margin-bottom: 0px !important; }
    p-multiSelect .ui-multiselect:active {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      outline: 0px auto transparent !important; }
    p-multiSelect .ui-multiselect:focus {
      background: #E3F2FD !important;
      border-color: #2196F3 !important;
      box-shadow: none !important;
      outline: -webkit-focus-ring-color auto 0px !important; }
    p-multiSelect .ui-multiselect:hover {
      background: #E3F2FD !important;
      border-color: #2196F3 !important; }
  p-multiSelect .ui-multiselect-label-container {
    background: transparent !important; }
  p-multiSelect .ui-multiselect-label {
    margin-bottom: 0 !important;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    padding-left: 1rem !important;
    background: transparent !important; }
    p-multiSelect .ui-multiselect-label:hover {
      white-space: inherit !important; }
  p-multiSelect .ui-multiselect-trigger {
    border: none !important;
    background: transparent !important; }
    p-multiSelect .ui-multiselect-trigger span {
      margin-top: 0em !important; }
  p-multiSelect .ui-multiselect-filter-container {
    width: 80% !important; }
    p-multiSelect .ui-multiselect-filter-container input {
      background: none !important;
      border: none !important;
      border-bottom: 1px solid #3b3b3b !important;
      padding: .125em 1.25em .125em .5em !important;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      /* firefox 19+ */ }
      p-multiSelect .ui-multiselect-filter-container input::-webkit-input-placeholder {
        font-style: italic; }
      p-multiSelect .ui-multiselect-filter-container input::-moz-placeholder {
        font-style: italic; }
      p-multiSelect .ui-multiselect-filter-container input:-ms-input-placeholder {
        font-style: italic; }
      p-multiSelect .ui-multiselect-filter-container input input:-moz-placeholder {
        font-style: italic; }
      p-multiSelect .ui-multiselect-filter-container input:focus {
        background: #E3F2FD !important;
        border-color: #2196F3 !important;
        outline: none !important;
        box-shadow: none !important; }
      p-multiSelect .ui-multiselect-filter-container input:active {
        background: #E3F2FD !important;
        color: #2196F3 !important; }
      p-multiSelect .ui-multiselect-filter-container input:hover {
        background: #E3F2FD !important;
        border-color: #2196F3 !important; }
    p-multiSelect .ui-multiselect-filter-container span.fa {
      right: .125em !important;
      left: unset !important;
      padding-top: 0.125rem !important; }
  p-multiSelect .ui-multiselect-item label {
    margin-bottom: 0px !important; }

.not-allowed {
  cursor: not-allowed !important; }
  .not-allowed a, .not-allowed .ui-tabview-title {
    cursor: not-allowed !important; }

.btn-group-listbox {
  width: 100% !important;
  min-width: 5.75rem;
  padding: 0 !important;
  box-shadow: 1px 3px 7px 1px #bac0ca !important;
  border: none !important; }
  .btn-group-listbox .btn {
    background: transparent !important;
    border: 1px solid #e0e0e0 !important; }
    .btn-group-listbox .btn:hover {
      background: transparent !important;
      border: 1px solid #2196F3 !important;
      color: #2196F3 !important; }
    .btn-group-listbox .btn:focus {
      box-shadow: none; }

.ui-tooltip.minitool .ui-tooltip-text {
  font-size: .75rem; }
